soap/bill/src/main/wsdl/original/ru/bitel/bgbilling/modules/bill/common/service/DocTypeService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.bill.modules.bgbilling.bitel.ru/" name="DocTypeService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.bill.modules.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://service.common.bill.modules.bgbilling.bitel.ru/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:import namespace="http://service.common.bill.modules.bgbilling.bitel.ru/"/>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="mapHolder">
        <xsc:sequence>
          <xsc:element name="data" type="ns1:map" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.bill.modules.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="deleteDocType" type="tns:deleteDocType"/>

      <xs:element name="deleteDocTypeResponse" type="tns:deleteDocTypeResponse"/>

      <xs:element name="docTypeList" type="tns:docTypeList"/>

      <xs:element name="docTypeListForContract" type="tns:docTypeListForContract"/>

      <xs:element name="docTypeListForContractResponse" type="tns:docTypeListForContractResponse"/>

      <xs:element name="docTypeListResponse" type="tns:docTypeListResponse"/>

      <xs:element name="getDocType" type="tns:getDocType"/>

      <xs:element name="getDocTypeResponse" type="tns:getDocTypeResponse"/>

      <xs:element name="listPositions" type="tns:listPositions"/>

      <xs:element name="listPositionsResponse" type="tns:listPositionsResponse"/>

      <xs:element name="updateDocType" type="tns:updateDocType"/>

      <xs:element name="updateDocTypeResponse" type="tns:updateDocTypeResponse"/>

      <xs:element name="xmlComposition" type="tns:xmlComposition"/>

      <xs:element name="xmlCompositionResponse" type="tns:xmlCompositionResponse"/>

      <xs:complexType name="getDocType">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getDocTypeResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:docType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="docType">
        <xs:complexContent>
          <xs:extension base="ns2:idTitle">
            <xs:sequence>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="createWhenLessOrEqZero" type="xs:boolean"/>
              <xs:element name="createWhenStronglyLessZero" type="xs:boolean"/>
              <xs:element name="NSubContractPositions" type="xs:boolean"/>
              <xs:element name="npid" type="xs:int"/>
              <xs:element name="pattern" type="xs:string" minOccurs="0"/>
              <xs:element name="positionList" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="setupString" type="xs:string" minOccurs="0"/>
              <xs:element name="subContractPositions" type="xs:boolean"/>
              <xs:element name="type" type="xs:int"/>
              <xs:element name="xmlContractConsist" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="xmlModulesConsist" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="xmlPluginsConsist" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="xmlComposition">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="xmlCompositionResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:mapHolder" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="map">
        <xs:sequence>
          <xs:element name="entry" type="tns:entry" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="entry" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="key" type="xs:anyType" minOccurs="0"/>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractMapEntry" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="sortedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="linkedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="list" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="mapEntry">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="collection" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteDocType">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteDocTypeResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="docTypeList">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="docTypeListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:docType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="docTypeListForContract">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="docTypeListForContractResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:docType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listPositions">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listPositionsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:idTitle" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateDocType">
        <xs:sequence>
          <xs:element name="arg0" type="tns:docType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateDocTypeResponse">
        <xs:sequence/>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="deleteDocType">
    <part name="parameters" element="tns:deleteDocType"/>
  </message>
  <message name="deleteDocTypeResponse">
    <part name="parameters" element="tns:deleteDocTypeResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="getDocType">
    <part name="parameters" element="tns:getDocType"/>
  </message>
  <message name="getDocTypeResponse">
    <part name="parameters" element="tns:getDocTypeResponse"/>
  </message>
  <message name="docTypeList">
    <part name="parameters" element="tns:docTypeList"/>
  </message>
  <message name="docTypeListResponse">
    <part name="parameters" element="tns:docTypeListResponse"/>
  </message>
  <message name="docTypeListForContract">
    <part name="parameters" element="tns:docTypeListForContract"/>
  </message>
  <message name="docTypeListForContractResponse">
    <part name="parameters" element="tns:docTypeListForContractResponse"/>
  </message>
  <message name="listPositions">
    <part name="parameters" element="tns:listPositions"/>
  </message>
  <message name="listPositionsResponse">
    <part name="parameters" element="tns:listPositionsResponse"/>
  </message>
  <message name="updateDocType">
    <part name="parameters" element="tns:updateDocType"/>
  </message>
  <message name="updateDocTypeResponse">
    <part name="parameters" element="tns:updateDocTypeResponse"/>
  </message>
  <message name="xmlComposition">
    <part name="parameters" element="tns:xmlComposition"/>
  </message>
  <message name="xmlCompositionResponse">
    <part name="parameters" element="tns:xmlCompositionResponse"/>
  </message>
  <portType name="DocTypeService">
    <operation name="deleteDocType">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/deleteDocTypeRequest" message="tns:deleteDocType"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/deleteDocTypeResponse" message="tns:deleteDocTypeResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/deleteDocType/Fault/BGException"/>
    </operation>
    <operation name="getDocType">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/getDocTypeRequest" message="tns:getDocType"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/getDocTypeResponse" message="tns:getDocTypeResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/getDocType/Fault/BGException"/>
    </operation>
    <operation name="docTypeList">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/docTypeListRequest" message="tns:docTypeList"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/docTypeListResponse" message="tns:docTypeListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/docTypeList/Fault/BGException"/>
    </operation>
    <operation name="docTypeListForContract">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/docTypeListForContractRequest" message="tns:docTypeListForContract"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/docTypeListForContractResponse" message="tns:docTypeListForContractResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/docTypeListForContract/Fault/BGException"/>
    </operation>
    <operation name="listPositions">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/listPositionsRequest" message="tns:listPositions"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/listPositionsResponse" message="tns:listPositionsResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/listPositions/Fault/BGException"/>
    </operation>
    <operation name="updateDocType">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/updateDocTypeRequest" message="tns:updateDocType"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/updateDocTypeResponse" message="tns:updateDocTypeResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/updateDocType/Fault/BGException"/>
    </operation>
    <operation name="xmlComposition">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/xmlCompositionRequest" message="tns:xmlComposition"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/xmlCompositionResponse" message="tns:xmlCompositionResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/DocTypeService/xmlComposition/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="DocTypeServiceBinding" type="tns:DocTypeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="deleteDocType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getDocType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="docTypeList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="docTypeListForContract">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="listPositions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateDocType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="xmlComposition">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="DocTypeService">
    <port name="DocTypeService" binding="tns:DocTypeServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

