soap/bill/src/main/wsdl/original/ru/bitel/bgbilling/modules/bill/common/service/NumerationPoolService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.bill.modules.bgbilling.bitel.ru/" name="NumerationPoolService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.bill.modules.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="logEntry">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence>
              <xsc:element name="action" type="xsc:int"/>
              <xsc:element name="contractId" type="xsc:int"/>
              <xsc:element name="date" type="xsc:dateTime" minOccurs="0"/>
              <xsc:element name="description" type="xsc:string" minOccurs="0"/>
              <xsc:element name="objectId" type="xsc:int"/>
              <xsc:element name="userId" type="xsc:int"/>
              <xsc:element name="userName" type="xsc:string" minOccurs="0"/>
            </xsc:sequence>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.bill.modules.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="deleteNumerationPool" type="tns:deleteNumerationPool"/>

      <xs:element name="deleteNumerationPoolResponse" type="tns:deleteNumerationPoolResponse"/>

      <xs:element name="getNumerationPool" type="tns:getNumerationPool"/>

      <xs:element name="getNumerationPoolResponse" type="tns:getNumerationPoolResponse"/>

      <xs:element name="logList" type="tns:logList"/>

      <xs:element name="logListResponse" type="tns:logListResponse"/>

      <xs:element name="numerationPoolList" type="tns:numerationPoolList"/>

      <xs:element name="numerationPoolListResponse" type="tns:numerationPoolListResponse"/>

      <xs:element name="updateNumerationPool" type="tns:updateNumerationPool"/>

      <xs:element name="updateNumerationPoolResponse" type="tns:updateNumerationPoolResponse"/>

      <xs:complexType name="numerationPoolList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="numerationPoolListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:numerationPool" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="numerationPool">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="pattern" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateNumerationPool">
        <xs:sequence>
          <xs:element name="arg0" type="tns:numerationPool" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateNumerationPoolResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="logList">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
          <xs:element name="arg1" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="logListResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:logEntry" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getNumerationPool">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getNumerationPoolResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:numerationPool" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteNumerationPool">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteNumerationPoolResponse">
        <xs:sequence/>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="deleteNumerationPool">
    <part name="parameters" element="tns:deleteNumerationPool"/>
  </message>
  <message name="deleteNumerationPoolResponse">
    <part name="parameters" element="tns:deleteNumerationPoolResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="getNumerationPool">
    <part name="parameters" element="tns:getNumerationPool"/>
  </message>
  <message name="getNumerationPoolResponse">
    <part name="parameters" element="tns:getNumerationPoolResponse"/>
  </message>
  <message name="numerationPoolList">
    <part name="parameters" element="tns:numerationPoolList"/>
  </message>
  <message name="numerationPoolListResponse">
    <part name="parameters" element="tns:numerationPoolListResponse"/>
  </message>
  <message name="updateNumerationPool">
    <part name="parameters" element="tns:updateNumerationPool"/>
  </message>
  <message name="updateNumerationPoolResponse">
    <part name="parameters" element="tns:updateNumerationPoolResponse"/>
  </message>
  <message name="logList">
    <part name="parameters" element="tns:logList"/>
  </message>
  <message name="logListResponse">
    <part name="parameters" element="tns:logListResponse"/>
  </message>
  <portType name="NumerationPoolService">
    <operation name="deleteNumerationPool">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/NumerationPoolService/deleteNumerationPoolRequest" message="tns:deleteNumerationPool"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/NumerationPoolService/deleteNumerationPoolResponse" message="tns:deleteNumerationPoolResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/NumerationPoolService/deleteNumerationPool/Fault/BGException"/>
    </operation>
    <operation name="getNumerationPool">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/NumerationPoolService/getNumerationPoolRequest" message="tns:getNumerationPool"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/NumerationPoolService/getNumerationPoolResponse" message="tns:getNumerationPoolResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/NumerationPoolService/getNumerationPool/Fault/BGException"/>
    </operation>
    <operation name="numerationPoolList">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/NumerationPoolService/numerationPoolListRequest" message="tns:numerationPoolList"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/NumerationPoolService/numerationPoolListResponse" message="tns:numerationPoolListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/NumerationPoolService/numerationPoolList/Fault/BGException"/>
    </operation>
    <operation name="updateNumerationPool">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/NumerationPoolService/updateNumerationPoolRequest" message="tns:updateNumerationPool"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/NumerationPoolService/updateNumerationPoolResponse" message="tns:updateNumerationPoolResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/NumerationPoolService/updateNumerationPool/Fault/BGException"/>
    </operation>
    <operation name="logList">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/NumerationPoolService/logListRequest" message="tns:logList"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/NumerationPoolService/logListResponse" message="tns:logListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/NumerationPoolService/logList/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="NumerationPoolServiceBinding" type="tns:NumerationPoolService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="deleteNumerationPool">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getNumerationPool">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="numerationPoolList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateNumerationPool">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="logList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="NumerationPoolService">
    <port name="NumerationPoolService" binding="tns:NumerationPoolServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

