soap/kernel/src/main/wsdl/patched/ContractGroupService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.api.contract.kernel.bgbilling.bitel.ru/" name="ContractGroupService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.api.contract.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.api.contract.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

<!-- alexanderfefelov
      <xs:element name="contractGroupDelete" type="tns:contractGroupDelete"/>
-->

      <xs:element name="contractGroupDeleteResponse" type="tns:contractGroupDeleteResponse"/>

      <xs:element name="contractGroupGet" type="tns:contractGroupGet"/>

      <xs:element name="contractGroupGetResponse" type="tns:contractGroupGetResponse"/>

      <xs:element name="contractGroupList" type="tns:contractGroupList"/>

      <xs:element name="contractGroupListResponse" type="tns:contractGroupListResponse"/>

      <xs:element name="contractGroupUpdate" type="tns:contractGroupUpdate"/>

      <xs:element name="contractGroupUpdateResponse" type="tns:contractGroupUpdateResponse"/>

      <xs:complexType name="contractGroupList">
        <xs:sequence>
          <xs:element name="all" type="xs:boolean"/>
          <xs:element name="order" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractGroupListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contractGroup" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractGroup">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="enabled" type="xs:boolean"/>
              <xs:element name="notEditable" type="xs:boolean"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

<!-- alexanderfefelov: scalaxb 1.5.2 won't compile

[error] xmlprotocol.scala:16145: type mismatch;
...
[error] xmlprotocol.scala:16148: value toSeq is not a member of Any

      <xs:complexType name="contractGroupDelete">
        <xs:sequence>
          <xs:element name="ids" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
-->

      <xs:complexType name="contractGroupDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="contractGroupUpdate">
        <xs:sequence>
          <xs:element name="contractGroup" type="tns:contractGroup" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractGroupUpdateResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="contractGroupGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractGroupGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contractGroup" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
</xsc:schema>
  </types>
  <message name="contractGroupList">
    <part name="parameters" element="tns:contractGroupList"/>
  </message>
  <message name="contractGroupListResponse">
    <part name="parameters" element="tns:contractGroupListResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="contractGroupGet">
    <part name="parameters" element="tns:contractGroupGet"/>
  </message>
  <message name="contractGroupGetResponse">
    <part name="parameters" element="tns:contractGroupGetResponse"/>
  </message>
  <message name="contractGroupUpdate">
    <part name="parameters" element="tns:contractGroupUpdate"/>
  </message>
  <message name="contractGroupUpdateResponse">
    <part name="parameters" element="tns:contractGroupUpdateResponse"/>
  </message>
<!-- alexanderfefelov
  <message name="contractGroupDelete">
    <part name="parameters" element="tns:contractGroupDelete"/>
  </message>
-->
  <message name="contractGroupDeleteResponse">
    <part name="parameters" element="tns:contractGroupDeleteResponse"/>
  </message>
  <portType name="ContractGroupService">
    <operation name="contractGroupList">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractGroupService/contractGroupListRequest" message="tns:contractGroupList"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractGroupService/contractGroupListResponse" message="tns:contractGroupListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractGroupService/contractGroupList/Fault/BGException"/>
    </operation>
    <operation name="contractGroupGet">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractGroupService/contractGroupGetRequest" message="tns:contractGroupGet"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractGroupService/contractGroupGetResponse" message="tns:contractGroupGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractGroupService/contractGroupGet/Fault/BGException"/>
    </operation>
    <operation name="contractGroupUpdate">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractGroupService/contractGroupUpdateRequest" message="tns:contractGroupUpdate"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractGroupService/contractGroupUpdateResponse" message="tns:contractGroupUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractGroupService/contractGroupUpdate/Fault/BGException"/>
    </operation>
<!-- alexanderfefelov
    <operation name="contractGroupDelete">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractGroupService/contractGroupDeleteRequest" message="tns:contractGroupDelete"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractGroupService/contractGroupDeleteResponse" message="tns:contractGroupDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractGroupService/contractGroupDelete/Fault/BGException"/>
    </operation>
-->
  </portType>
  <binding name="ContractGroupServiceBinding" type="tns:ContractGroupService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="contractGroupList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractGroupGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractGroupUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
<!-- alexanderfefelov
    <operation name="contractGroupDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
-->
  </binding>
  <service name="ContractGroupService">
    <port name="ContractGroupService" binding="tns:ContractGroupServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

