soap/kernel/src/main/wsdl/patched/ContractLimitService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/" name="ContractLimitService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:import namespace="http://jaxb.dev.java.net/array"/>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>

      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="searchResult">
        <xsc:sequence>
          <xsc:element name="attributes" type="ns1:stringArray" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="list" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="page" type="tns:page" minOccurs="0"/>
          <xsc:element name="period" type="tns:period" minOccurs="0"/>
          <xsc:element name="sort" type="xsc:string" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="sum" type="xsc:decimal" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="stringArray" final="#all">
        <xs:sequence>
          <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://common.bitel.ru" xmlns:ns3="http://jaxb.dev.java.net/array">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:import namespace="http://jaxb.dev.java.net/array"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="BGMessageException" type="tns:BGMessageException"/>

<!-- alexanderfefelov
      <xs:element name="cancelLimitChangeTask" type="tns:cancelLimitChangeTask"/>
-->

      <xs:element name="cancelLimitChangeTaskResponse" type="tns:cancelLimitChangeTaskResponse"/>

      <xs:element name="contractLimitGet" type="tns:contractLimitGet"/>

      <xs:element name="contractLimitGetResponse" type="tns:contractLimitGetResponse"/>

      <xs:element name="contractLimitMove" type="tns:contractLimitMove"/>

      <xs:element name="contractLimitMoveResponse" type="tns:contractLimitMoveResponse"/>

      <xs:element name="contractLimitMovementList" type="tns:contractLimitMovementList"/>

      <xs:element name="contractLimitMovementListResponse" type="tns:contractLimitMovementListResponse"/>

      <xs:element name="contractLimitParametersGet" type="tns:contractLimitParametersGet"/>

      <xs:element name="contractLimitParametersGetResponse" type="tns:contractLimitParametersGetResponse"/>

      <xs:element name="searchContractLimitAvtoList" type="tns:searchContractLimitAvtoList"/>

      <xs:element name="searchContractLimitAvtoListResponse" type="tns:searchContractLimitAvtoListResponse"/>

      <xs:element name="searchContractLimitLogList" type="tns:searchContractLimitLogList"/>

      <xs:element name="searchContractLimitLogListResponse" type="tns:searchContractLimitLogListResponse"/>

      <xs:element name="updateContractLimitPeriod" type="tns:updateContractLimitPeriod"/>

      <xs:element name="updateContractLimitPeriodResponse" type="tns:updateContractLimitPeriodResponse"/>

      <xs:complexType name="contractLimitLog">
        <xs:complexContent>
          <xs:extension base="ns2:id">
            <xs:sequence>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="contractId" type="xs:int"/>
              <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="days" type="xs:int"/>
              <xs:element name="limitValue" type="xs:decimal" minOccurs="0"/>
              <xs:element name="userId" type="xs:int"/>
              <xs:element name="userName" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="contractLimitAvto">
        <xs:sequence>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="id" type="xs:int"/>
          <xs:element name="status" type="xs:string" minOccurs="0"/>
          <xs:element name="userId" type="xs:int"/>
          <xs:element name="value" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractLimitParametersGet">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractLimitParametersGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contractLimitParameters" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractLimitParameters">
        <xs:sequence/>
        <xs:attribute name="groups" type="xs:long" use="required"/>
        <xs:attribute name="maxDays" type="xs:int" use="required"/>
        <xs:attribute name="maxExpiredForBlock" type="xs:int" use="required"/>
        <xs:attribute name="maxNotPayoffed" type="xs:int" use="required"/>
        <xs:attribute name="maxPartialPayoffed" type="xs:int" use="required"/>
        <xs:attribute name="maxSumm" type="xs:decimal"/>
        <xs:attribute name="minDays" type="xs:int" use="required"/>
        <xs:attribute name="minLimit" type="xs:decimal"/>
        <xs:attribute name="minSumm" type="xs:decimal"/>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGMessageException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchContractLimitLogList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="period" type="ns2:period" minOccurs="0"/>
          <xs:element name="sort" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="page" type="ns2:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchContractLimitLogListResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:searchResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractLimitGet">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractLimitGetResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractLimitMove">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="amount" type="xs:decimal" minOccurs="0"/>
          <xs:element name="days" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractLimitMoveResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="searchContractLimitAvtoList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="status" type="xs:string" minOccurs="0"/>
          <xs:element name="sort" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="page" type="ns2:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchContractLimitAvtoListResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:searchResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateContractLimitPeriod">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="limit" type="xs:decimal" minOccurs="0"/>
          <xs:element name="period" type="xs:int"/>
          <xs:element name="comment" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateContractLimitPeriodResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="contractLimitMovementList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractLimitMovementListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contractLimitMovement" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractLimitMovement">
        <xs:complexContent>
          <xs:extension base="ns2:id">
            <xs:sequence/>
            <xs:attribute name="amount" type="xs:decimal"/>
            <xs:attribute name="dateFrom" type="xs:dateTime"/>
            <xs:attribute name="dateTo" type="xs:dateTime"/>
            <xs:attribute name="status" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

<!-- alexanderfefelov
      <xs:complexType name="cancelLimitChangeTask">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
-->

      <xs:complexType name="cancelLimitChangeTaskResponse">
        <xs:sequence/>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="searchContractLimitLogList">
    <part name="parameters" element="tns:searchContractLimitLogList"/>
  </message>
  <message name="searchContractLimitLogListResponse">
    <part name="parameters" element="tns:searchContractLimitLogListResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="searchContractLimitAvtoList">
    <part name="parameters" element="tns:searchContractLimitAvtoList"/>
  </message>
  <message name="searchContractLimitAvtoListResponse">
    <part name="parameters" element="tns:searchContractLimitAvtoListResponse"/>
  </message>
  <message name="updateContractLimitPeriod">
    <part name="parameters" element="tns:updateContractLimitPeriod"/>
  </message>
  <message name="updateContractLimitPeriodResponse">
    <part name="parameters" element="tns:updateContractLimitPeriodResponse"/>
  </message>
  <message name="contractLimitMove">
    <part name="parameters" element="tns:contractLimitMove"/>
  </message>
  <message name="contractLimitMoveResponse">
    <part name="parameters" element="tns:contractLimitMoveResponse"/>
  </message>
  <message name="contractLimitMovementList">
    <part name="parameters" element="tns:contractLimitMovementList"/>
  </message>
  <message name="contractLimitMovementListResponse">
    <part name="parameters" element="tns:contractLimitMovementListResponse"/>
  </message>
  <message name="BGMessageException">
    <part name="fault" element="tns:BGMessageException"/>
  </message>
  <message name="contractLimitParametersGet">
    <part name="parameters" element="tns:contractLimitParametersGet"/>
  </message>
  <message name="contractLimitParametersGetResponse">
    <part name="parameters" element="tns:contractLimitParametersGetResponse"/>
  </message>
  <message name="contractLimitGet">
    <part name="parameters" element="tns:contractLimitGet"/>
  </message>
  <message name="contractLimitGetResponse">
    <part name="parameters" element="tns:contractLimitGetResponse"/>
  </message>
  <message name="cancelLimitChangeTask">
    <part name="parameters" element="tns:cancelLimitChangeTask"/>
  </message>
  <message name="cancelLimitChangeTaskResponse">
    <part name="parameters" element="tns:cancelLimitChangeTaskResponse"/>
  </message>
  <portType name="ContractLimitService">
    <operation name="searchContractLimitLogList">
      <input wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/searchContractLimitLogListRequest" message="tns:searchContractLimitLogList"/>
      <output wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/searchContractLimitLogListResponse" message="tns:searchContractLimitLogListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/searchContractLimitLogList/Fault/BGException"/>
    </operation>
    <operation name="searchContractLimitAvtoList">
      <input wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/searchContractLimitAvtoListRequest" message="tns:searchContractLimitAvtoList"/>
      <output wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/searchContractLimitAvtoListResponse" message="tns:searchContractLimitAvtoListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/searchContractLimitAvtoList/Fault/BGException"/>
    </operation>
    <operation name="updateContractLimitPeriod">
      <input wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/updateContractLimitPeriodRequest" message="tns:updateContractLimitPeriod"/>
      <output wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/updateContractLimitPeriodResponse" message="tns:updateContractLimitPeriodResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/updateContractLimitPeriod/Fault/BGException"/>
    </operation>
    <operation name="contractLimitMove">
      <input wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/contractLimitMoveRequest" message="tns:contractLimitMove"/>
      <output wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/contractLimitMoveResponse" message="tns:contractLimitMoveResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/contractLimitMove/Fault/BGException"/>
    </operation>
    <operation name="contractLimitMovementList">
      <input wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/contractLimitMovementListRequest" message="tns:contractLimitMovementList"/>
      <output wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/contractLimitMovementListResponse" message="tns:contractLimitMovementListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/contractLimitMovementList/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/contractLimitMovementList/Fault/BGMessageException"/>
    </operation>
    <operation name="contractLimitParametersGet">
      <input wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/contractLimitParametersGetRequest" message="tns:contractLimitParametersGet"/>
      <output wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/contractLimitParametersGetResponse" message="tns:contractLimitParametersGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/contractLimitParametersGet/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/contractLimitParametersGet/Fault/BGMessageException"/>
    </operation>
    <operation name="contractLimitGet">
      <input wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/contractLimitGetRequest" message="tns:contractLimitGet"/>
      <output wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/contractLimitGetResponse" message="tns:contractLimitGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/contractLimitGet/Fault/BGException"/>
    </operation>
<!-- alexanderfefelov
    <operation name="cancelLimitChangeTask">
      <input wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/cancelLimitChangeTaskRequest" message="tns:cancelLimitChangeTask"/>
      <output wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/cancelLimitChangeTaskResponse" message="tns:cancelLimitChangeTaskResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/cancelLimitChangeTask/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.limit.contract.kernel.bgbilling.bitel.ru/ContractLimitService/cancelLimitChangeTask/Fault/BGMessageException"/>
    </operation>
-->
  </portType>
  <binding name="ContractLimitServiceBinding" type="tns:ContractLimitService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="searchContractLimitLogList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="searchContractLimitAvtoList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateContractLimitPeriod">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractLimitMove">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractLimitMovementList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractLimitParametersGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractLimitGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
<!-- alexanderfefelov
    <operation name="cancelLimitChangeTask">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
    </operation>
-->
  </binding>
  <service name="ContractLimitService">
    <port name="ContractLimitService" binding="tns:ContractLimitServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

