soap/subscription/src/main/wsdl/original/SubscriptionService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.subscription.modules.bgbilling.bitel.ru/" name="SubscriptionService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.subscription.modules.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.subscription.modules.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="RegistrationPeriod" type="tns:registrationPeriod"/>

      <xs:element name="groupOperationActivateSubscription" type="tns:groupOperationActivateSubscription"/>

      <xs:element name="groupOperationActivateSubscriptionResponse" type="tns:groupOperationActivateSubscriptionResponse"/>

      <xs:element name="groupOperationAddSubscription" type="tns:groupOperationAddSubscription"/>

      <xs:element name="groupOperationAddSubscriptionResponse" type="tns:groupOperationAddSubscriptionResponse"/>

      <xs:element name="groupOperationCloseSubscription" type="tns:groupOperationCloseSubscription"/>

      <xs:element name="groupOperationCloseSubscriptionResponse" type="tns:groupOperationCloseSubscriptionResponse"/>

      <xs:element name="subscription" type="tns:subscription"/>

      <xs:element name="subscriptionActivate" type="tns:subscriptionActivate"/>

      <xs:element name="subscriptionActivateResponse" type="tns:subscriptionActivateResponse"/>

      <xs:element name="subscriptionDelete" type="tns:subscriptionDelete"/>

      <xs:element name="subscriptionDeleteResponse" type="tns:subscriptionDeleteResponse"/>

      <xs:element name="subscriptionGet" type="tns:subscriptionGet"/>

      <xs:element name="subscriptionGetResponse" type="tns:subscriptionGetResponse"/>

      <xs:element name="subscriptionList" type="tns:subscriptionList"/>

      <xs:element name="subscriptionListResponse" type="tns:subscriptionListResponse"/>

      <xs:element name="subscriptionRegistrationPeriodList" type="tns:subscriptionRegistrationPeriodList"/>

      <xs:element name="subscriptionRegistrationPeriodListResponse" type="tns:subscriptionRegistrationPeriodListResponse"/>

      <xs:element name="subscriptionType" type="tns:subscriptionType"/>

      <xs:element name="subscriptionTypeDelete" type="tns:subscriptionTypeDelete"/>

      <xs:element name="subscriptionTypeDeleteResponse" type="tns:subscriptionTypeDeleteResponse"/>

      <xs:element name="subscriptionTypeGet" type="tns:subscriptionTypeGet"/>

      <xs:element name="subscriptionTypeGetResponse" type="tns:subscriptionTypeGetResponse"/>

      <xs:element name="subscriptionTypeList" type="tns:subscriptionTypeList"/>

      <xs:element name="subscriptionTypeListResponse" type="tns:subscriptionTypeListResponse"/>

      <xs:element name="subscriptionTypeUpdate" type="tns:subscriptionTypeUpdate"/>

      <xs:element name="subscriptionTypeUpdateResponse" type="tns:subscriptionTypeUpdateResponse"/>

      <xs:element name="subscriptionUpdate" type="tns:subscriptionUpdate"/>

      <xs:element name="subscriptionUpdateResponse" type="tns:subscriptionUpdateResponse"/>

      <xs:complexType name="subscriptionUpdate">
        <xs:sequence>
          <xs:element name="subscription" type="tns:subscription" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="subscription">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="registrationPeriodList" type="tns:registrationPeriod" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="subscriptionType" type="tns:subscriptionType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="avtoCommit" type="xs:boolean" use="required"/>
            <xs:attribute name="comment" type="xs:string"/>
            <xs:attribute name="contractId" type="xs:int" use="required"/>
            <xs:attribute name="jobId" type="xs:long" use="required"/>
            <xs:attribute name="period" type="xs:string"/>
            <xs:attribute name="registrationPeriodId" type="xs:int" use="required"/>
            <xs:attribute name="typeId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="registrationPeriod">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence/>
            <xs:attribute name="dateCreate" type="xs:string"/>
            <xs:attribute name="period" type="xs:string"/>
            <xs:attribute name="subscriptionId" type="xs:int" use="required"/>
            <xs:attribute name="whoCreate" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="subscriptionType">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="delay" type="tns:valueUnit" minOccurs="0"/>
              <xs:element name="duration" type="tns:valueUnit" minOccurs="0"/>
              <xs:element name="round" type="tns:valueUnit" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="avtoCommit" type="xs:boolean" use="required"/>
            <xs:attribute name="comment" type="xs:string"/>
            <xs:attribute name="config" type="xs:string"/>
            <xs:attribute name="period" type="xs:string"/>
            <xs:attribute name="serviceId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="valueUnit">
        <xs:sequence/>
        <xs:attribute name="unit" type="tns:unit"/>
        <xs:attribute name="value" type="xs:long" use="required"/>
      </xs:complexType>

      <xs:complexType name="subscriptionUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="groupOperationActivateSubscription">
        <xs:sequence>
          <xs:element name="contractIds" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="subscriptionTypeIds" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="groupOperationActivateSubscriptionResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="groupOperationAddSubscription">
        <xs:sequence>
          <xs:element name="contractIds" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="subscriptionTypeIds" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="subscription" type="tns:subscription" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="groupOperationAddSubscriptionResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="subscriptionDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="subscriptionDeleteResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="subscriptionList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="loadRegistrationPeriod" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="subscriptionListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:subscription" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="subscriptionActivate">
        <xs:sequence>
          <xs:element name="subscriptionId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="subscriptionActivateResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="subscriptionTypeList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="subscriptionTypeListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:subscriptionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="subscriptionTypeGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="subscriptionTypeGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:subscriptionType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="subscriptionTypeDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="subscriptionTypeDeleteResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="subscriptionRegistrationPeriodList">
        <xs:sequence>
          <xs:element name="subscriptionId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="subscriptionRegistrationPeriodListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:registrationPeriod" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="groupOperationCloseSubscription">
        <xs:sequence>
          <xs:element name="contractIds" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="subscriptionTypeIds" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="groupOperationCloseSubscriptionResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="subscriptionGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="subscriptionGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:subscription" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="subscriptionTypeUpdate">
        <xs:sequence>
          <xs:element name="type" type="tns:subscriptionType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="subscriptionTypeUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="unit">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SECOND"/>
          <xs:enumeration value="MINUTE"/>
          <xs:enumeration value="HOUR"/>
          <xs:enumeration value="DAY"/>
          <xs:enumeration value="WEEK"/>
          <xs:enumeration value="MONTH"/>
          <xs:enumeration value="YEAR"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="subscriptionActivate">
    <part name="parameters" element="tns:subscriptionActivate"/>
  </message>
  <message name="subscriptionActivateResponse">
    <part name="parameters" element="tns:subscriptionActivateResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="subscriptionList">
    <part name="parameters" element="tns:subscriptionList"/>
  </message>
  <message name="subscriptionListResponse">
    <part name="parameters" element="tns:subscriptionListResponse"/>
  </message>
  <message name="subscriptionRegistrationPeriodList">
    <part name="parameters" element="tns:subscriptionRegistrationPeriodList"/>
  </message>
  <message name="subscriptionRegistrationPeriodListResponse">
    <part name="parameters" element="tns:subscriptionRegistrationPeriodListResponse"/>
  </message>
  <message name="subscriptionGet">
    <part name="parameters" element="tns:subscriptionGet"/>
  </message>
  <message name="subscriptionGetResponse">
    <part name="parameters" element="tns:subscriptionGetResponse"/>
  </message>
  <message name="subscriptionUpdate">
    <part name="parameters" element="tns:subscriptionUpdate"/>
  </message>
  <message name="subscriptionUpdateResponse">
    <part name="parameters" element="tns:subscriptionUpdateResponse"/>
  </message>
  <message name="subscriptionDelete">
    <part name="parameters" element="tns:subscriptionDelete"/>
  </message>
  <message name="subscriptionDeleteResponse">
    <part name="parameters" element="tns:subscriptionDeleteResponse"/>
  </message>
  <message name="subscriptionTypeList">
    <part name="parameters" element="tns:subscriptionTypeList"/>
  </message>
  <message name="subscriptionTypeListResponse">
    <part name="parameters" element="tns:subscriptionTypeListResponse"/>
  </message>
  <message name="subscriptionTypeGet">
    <part name="parameters" element="tns:subscriptionTypeGet"/>
  </message>
  <message name="subscriptionTypeGetResponse">
    <part name="parameters" element="tns:subscriptionTypeGetResponse"/>
  </message>
  <message name="subscriptionTypeUpdate">
    <part name="parameters" element="tns:subscriptionTypeUpdate"/>
  </message>
  <message name="subscriptionTypeUpdateResponse">
    <part name="parameters" element="tns:subscriptionTypeUpdateResponse"/>
  </message>
  <message name="subscriptionTypeDelete">
    <part name="parameters" element="tns:subscriptionTypeDelete"/>
  </message>
  <message name="subscriptionTypeDeleteResponse">
    <part name="parameters" element="tns:subscriptionTypeDeleteResponse"/>
  </message>
  <message name="groupOperationAddSubscription">
    <part name="parameters" element="tns:groupOperationAddSubscription"/>
  </message>
  <message name="groupOperationAddSubscriptionResponse">
    <part name="parameters" element="tns:groupOperationAddSubscriptionResponse"/>
  </message>
  <message name="groupOperationCloseSubscription">
    <part name="parameters" element="tns:groupOperationCloseSubscription"/>
  </message>
  <message name="groupOperationCloseSubscriptionResponse">
    <part name="parameters" element="tns:groupOperationCloseSubscriptionResponse"/>
  </message>
  <message name="groupOperationActivateSubscription">
    <part name="parameters" element="tns:groupOperationActivateSubscription"/>
  </message>
  <message name="groupOperationActivateSubscriptionResponse">
    <part name="parameters" element="tns:groupOperationActivateSubscriptionResponse"/>
  </message>
  <portType name="SubscriptionService">
    <operation name="subscriptionActivate">
      <input wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionActivateRequest" message="tns:subscriptionActivate"/>
      <output wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionActivateResponse" message="tns:subscriptionActivateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionActivate/Fault/BGException"/>
    </operation>
    <operation name="subscriptionList">
      <input wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionListRequest" message="tns:subscriptionList"/>
      <output wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionListResponse" message="tns:subscriptionListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionList/Fault/BGException"/>
    </operation>
    <operation name="subscriptionRegistrationPeriodList">
      <input wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionRegistrationPeriodListRequest" message="tns:subscriptionRegistrationPeriodList"/>
      <output wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionRegistrationPeriodListResponse" message="tns:subscriptionRegistrationPeriodListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionRegistrationPeriodList/Fault/BGException"/>
    </operation>
    <operation name="subscriptionGet">
      <input wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionGetRequest" message="tns:subscriptionGet"/>
      <output wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionGetResponse" message="tns:subscriptionGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionGet/Fault/BGException"/>
    </operation>
    <operation name="subscriptionUpdate">
      <input wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionUpdateRequest" message="tns:subscriptionUpdate"/>
      <output wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionUpdateResponse" message="tns:subscriptionUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionUpdate/Fault/BGException"/>
    </operation>
    <operation name="subscriptionDelete">
      <input wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionDeleteRequest" message="tns:subscriptionDelete"/>
      <output wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionDeleteResponse" message="tns:subscriptionDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionDelete/Fault/BGException"/>
    </operation>
    <operation name="subscriptionTypeList">
      <input wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionTypeListRequest" message="tns:subscriptionTypeList"/>
      <output wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionTypeListResponse" message="tns:subscriptionTypeListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionTypeList/Fault/BGException"/>
    </operation>
    <operation name="subscriptionTypeGet">
      <input wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionTypeGetRequest" message="tns:subscriptionTypeGet"/>
      <output wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionTypeGetResponse" message="tns:subscriptionTypeGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionTypeGet/Fault/BGException"/>
    </operation>
    <operation name="subscriptionTypeUpdate">
      <input wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionTypeUpdateRequest" message="tns:subscriptionTypeUpdate"/>
      <output wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionTypeUpdateResponse" message="tns:subscriptionTypeUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionTypeUpdate/Fault/BGException"/>
    </operation>
    <operation name="subscriptionTypeDelete">
      <input wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionTypeDeleteRequest" message="tns:subscriptionTypeDelete"/>
      <output wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionTypeDeleteResponse" message="tns:subscriptionTypeDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/subscriptionTypeDelete/Fault/BGException"/>
    </operation>
    <operation name="groupOperationAddSubscription">
      <input wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/groupOperationAddSubscriptionRequest" message="tns:groupOperationAddSubscription"/>
      <output wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/groupOperationAddSubscriptionResponse" message="tns:groupOperationAddSubscriptionResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/groupOperationAddSubscription/Fault/BGException"/>
    </operation>
    <operation name="groupOperationCloseSubscription">
      <input wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/groupOperationCloseSubscriptionRequest" message="tns:groupOperationCloseSubscription"/>
      <output wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/groupOperationCloseSubscriptionResponse" message="tns:groupOperationCloseSubscriptionResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/groupOperationCloseSubscription/Fault/BGException"/>
    </operation>
    <operation name="groupOperationActivateSubscription">
      <input wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/groupOperationActivateSubscriptionRequest" message="tns:groupOperationActivateSubscription"/>
      <output wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/groupOperationActivateSubscriptionResponse" message="tns:groupOperationActivateSubscriptionResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.subscription.modules.bgbilling.bitel.ru/SubscriptionService/groupOperationActivateSubscription/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="SubscriptionServiceBinding" type="tns:SubscriptionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="subscriptionActivate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="subscriptionList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="subscriptionRegistrationPeriodList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="subscriptionGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="subscriptionUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="subscriptionDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="subscriptionTypeList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="subscriptionTypeGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="subscriptionTypeUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="subscriptionTypeDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="groupOperationAddSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="groupOperationCloseSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="groupOperationActivateSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SubscriptionService">
    <port name="SubscriptionService" binding="tns:SubscriptionServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

