moneta/src/main/wsdl/MonetaService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.moneta.modules.bgbilling.bitel.ru/" name="MonetaService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.moneta.modules.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:import namespace="http://jaxb.dev.java.net/array"/>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>

      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="searchResult">
        <xsc:sequence>
          <xsc:element name="attributes" type="ns1:stringArray" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="list" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="page" type="tns:page" minOccurs="0"/>
          <xsc:element name="period" type="tns:period" minOccurs="0"/>
          <xsc:element name="sort" type="xsc:string" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="sum" type="xsc:decimal" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="stringArray" final="#all">
        <xs:sequence>
          <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.moneta.modules.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://common.bitel.ru" xmlns:ns3="http://jaxb.dev.java.net/array">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:import namespace="http://jaxb.dev.java.net/array"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="searchTransactionList" type="tns:searchTransactionList"/>

      <xs:element name="searchTransactionListResponse" type="tns:searchTransactionListResponse"/>

      <xs:complexType name="transaction">
        <xs:complexContent>
          <xs:extension base="tns:bgAbstractTransaction">
            <xs:sequence/>
            <xs:attribute name="parameters" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="bgAbstractTransaction">
        <xs:complexContent>
          <xs:extension base="ns2:id">
            <xs:sequence>
              <xs:element name="autopayment" type="xs:boolean"/>
              <xs:element name="contractComment" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="contractId" type="xs:int" use="required"/>
            <xs:attribute name="contractTitle" type="xs:string"/>
            <xs:attribute name="createDate" type="xs:dateTime"/>
            <xs:attribute name="paymentId" type="xs:int" use="required"/>
            <xs:attribute name="status" type="xs:string"/>
            <xs:attribute name="sum" type="xs:decimal"/>
            <xs:attribute name="transactionDate" type="xs:dateTime"/>
            <xs:attribute name="transactionId" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="searchTransactionList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="contractTitle" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="xs:string" minOccurs="0"/>
          <xs:element name="period" type="ns2:period" minOccurs="0"/>
          <xs:element name="sort" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="page" type="ns2:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchTransactionListResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:searchResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="searchTransactionList">
    <part name="parameters" element="tns:searchTransactionList"/>
  </message>
  <message name="searchTransactionListResponse">
    <part name="parameters" element="tns:searchTransactionListResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <portType name="MonetaService">
    <operation name="searchTransactionList">
      <input wsam:Action="http://service.common.moneta.modules.bgbilling.bitel.ru/MonetaService/searchTransactionListRequest" message="tns:searchTransactionList"/>
      <output wsam:Action="http://service.common.moneta.modules.bgbilling.bitel.ru/MonetaService/searchTransactionListResponse" message="tns:searchTransactionListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.moneta.modules.bgbilling.bitel.ru/MonetaService/searchTransactionList/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="MonetaServiceBinding" type="tns:MonetaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="searchTransactionList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="MonetaService">
    <port name="MonetaService" binding="tns:MonetaServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

