soap/kernel/src/main/wsdl/ContractTariffService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.api.contract.kernel.bgbilling.bitel.ru/" name="ContractTariffService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.api.contract.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.api.contract.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="contractTariffCancelByCustomer" type="tns:contractTariffCancelByCustomer"/>

      <xs:element name="contractTariffCancelByCustomerResponse" type="tns:contractTariffCancelByCustomerResponse"/>

      <xs:element name="contractTariffChangeAvailableDateList" type="tns:contractTariffChangeAvailableDateList"/>

      <xs:element name="contractTariffChangeAvailableDateListResponse" type="tns:contractTariffChangeAvailableDateListResponse"/>

      <xs:element name="contractTariffChangeAvailableMap" type="tns:contractTariffChangeAvailableMap"/>

      <xs:element name="contractTariffChangeAvailableMapResponse" type="tns:contractTariffChangeAvailableMapResponse"/>

      <xs:element name="contractTariffChangeByCustomer" type="tns:contractTariffChangeByCustomer"/>

      <xs:element name="contractTariffChangeByCustomerResponse" type="tns:contractTariffChangeByCustomerResponse"/>

      <xs:element name="contractTariffDelete" type="tns:contractTariffDelete"/>

      <xs:element name="contractTariffDeleteResponse" type="tns:contractTariffDeleteResponse"/>

      <xs:element name="contractTariffEntryList" type="tns:contractTariffEntryList"/>

      <xs:element name="contractTariffEntryListResponse" type="tns:contractTariffEntryListResponse"/>

      <xs:element name="contractTariffGet" type="tns:contractTariffGet"/>

      <xs:element name="contractTariffGetResponse" type="tns:contractTariffGetResponse"/>

      <xs:element name="contractTariffGroupDelete" type="tns:contractTariffGroupDelete"/>

      <xs:element name="contractTariffGroupDeleteResponse" type="tns:contractTariffGroupDeleteResponse"/>

      <xs:element name="contractTariffGroupList" type="tns:contractTariffGroupList"/>

      <xs:element name="contractTariffGroupListResponse" type="tns:contractTariffGroupListResponse"/>

      <xs:element name="contractTariffGroupUpdate" type="tns:contractTariffGroupUpdate"/>

      <xs:element name="contractTariffGroupUpdateResponse" type="tns:contractTariffGroupUpdateResponse"/>

      <xs:element name="contractTariffList" type="tns:contractTariffList"/>

      <xs:element name="contractTariffListResponse" type="tns:contractTariffListResponse"/>

      <xs:element name="contractTariffUpdate" type="tns:contractTariffUpdate"/>

      <xs:element name="contractTariffUpdateResponse" type="tns:contractTariffUpdateResponse"/>

      <xs:complexType name="contractTariffGroupList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffGroupListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contractTariffGroup" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffGroup">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="contractId" type="xs:int" use="required"/>
            <xs:attribute name="dateFrom" type="xs:dateTime"/>
            <xs:attribute name="dateTo" type="xs:dateTime"/>
            <xs:attribute name="tariffGroupId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffUpdate">
        <xs:sequence>
          <xs:element name="contractTariff" type="tns:contractTariff" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariff">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="contractId" type="xs:int"/>
              <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="entityId" type="xs:int"/>
              <xs:element name="entityMid" type="xs:int"/>
              <xs:element name="position" type="xs:int"/>
              <xs:element name="replacedFromContractTariffId" type="xs:int"/>
              <xs:element name="tariffPlanId" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="contractTariffUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="entityMid" type="xs:int"/>
          <xs:element name="entityId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contractTariff" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffCancelByCustomer">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="contractTariffId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffCancelByCustomerResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffGroupUpdate">
        <xs:sequence>
          <xs:element name="contractTariffGroup" type="tns:contractTariffGroup" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffGroupUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="contractTariffChangeAvailableMap">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffChangeAvailableMapResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:mapHolder" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="map">
        <xs:sequence>
          <xs:element name="entry" type="tns:entry" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="entry" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="key" type="xs:anyType" minOccurs="0"/>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractMapEntry" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="sortedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="linkedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="list" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="mapEntry">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="collection" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffChangeAvailableDateList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="tariffGroupId" type="xs:int"/>
          <xs:element name="fromTariffPlanId" type="xs:int"/>
          <xs:element name="toTariffPlanId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffChangeAvailableDateListResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffGroupDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffGroupDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="contractTariffGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contractTariff" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffEntryList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="entityMid" type="xs:int"/>
          <xs:element name="entityId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffEntryListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contractTariffEntry" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffEntry">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="availableChangeDates" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="availableChangeTariffIds" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="canCancel" type="xs:boolean" use="required"/>
            <xs:attribute name="contractId" type="xs:int" use="required"/>
            <xs:attribute name="dateFrom" type="xs:date"/>
            <xs:attribute name="dateTo" type="xs:date"/>
            <xs:attribute name="entityId" type="xs:int" use="required"/>
            <xs:attribute name="entityMid" type="xs:int" use="required"/>
            <xs:attribute name="personal" type="xs:boolean" use="required"/>
            <xs:attribute name="position" type="xs:int" use="required"/>
            <xs:attribute name="replacedFromContractTariffId" type="xs:int" use="required"/>
            <xs:attribute name="replacedFromTariffId" type="xs:int" use="required"/>
            <xs:attribute name="tariffPlanId" type="xs:int" use="required"/>
            <xs:attribute name="treeId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="contractTariffChangeByCustomer">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="tariffGroupId" type="xs:int"/>
          <xs:element name="fromContractTariffId" type="xs:int"/>
          <xs:element name="toTariffPlanId" type="xs:int"/>
          <xs:element name="fromDate" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffChangeByCustomerResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://service.common.api.contract.kernel.bgbilling.bitel.ru/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:import namespace="http://service.common.api.contract.kernel.bgbilling.bitel.ru/"/>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="mapHolder">
        <xsc:sequence>
          <xsc:element name="data" type="ns2:map" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
</xsc:schema>
  </types>
  <message name="contractTariffGroupUpdate">
    <part name="parameters" element="tns:contractTariffGroupUpdate"/>
  </message>
  <message name="contractTariffGroupUpdateResponse">
    <part name="parameters" element="tns:contractTariffGroupUpdateResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="contractTariffGroupDelete">
    <part name="parameters" element="tns:contractTariffGroupDelete"/>
  </message>
  <message name="contractTariffGroupDeleteResponse">
    <part name="parameters" element="tns:contractTariffGroupDeleteResponse"/>
  </message>
  <message name="contractTariffGroupList">
    <part name="parameters" element="tns:contractTariffGroupList"/>
  </message>
  <message name="contractTariffGroupListResponse">
    <part name="parameters" element="tns:contractTariffGroupListResponse"/>
  </message>
  <message name="contractTariffList">
    <part name="parameters" element="tns:contractTariffList"/>
  </message>
  <message name="contractTariffListResponse">
    <part name="parameters" element="tns:contractTariffListResponse"/>
  </message>
  <message name="contractTariffGet">
    <part name="parameters" element="tns:contractTariffGet"/>
  </message>
  <message name="contractTariffGetResponse">
    <part name="parameters" element="tns:contractTariffGetResponse"/>
  </message>
  <message name="contractTariffUpdate">
    <part name="parameters" element="tns:contractTariffUpdate"/>
  </message>
  <message name="contractTariffUpdateResponse">
    <part name="parameters" element="tns:contractTariffUpdateResponse"/>
  </message>
  <message name="contractTariffDelete">
    <part name="parameters" element="tns:contractTariffDelete"/>
  </message>
  <message name="contractTariffDeleteResponse">
    <part name="parameters" element="tns:contractTariffDeleteResponse"/>
  </message>
  <message name="contractTariffEntryList">
    <part name="parameters" element="tns:contractTariffEntryList"/>
  </message>
  <message name="contractTariffEntryListResponse">
    <part name="parameters" element="tns:contractTariffEntryListResponse"/>
  </message>
  <message name="contractTariffChangeByCustomer">
    <part name="parameters" element="tns:contractTariffChangeByCustomer"/>
  </message>
  <message name="contractTariffChangeByCustomerResponse">
    <part name="parameters" element="tns:contractTariffChangeByCustomerResponse"/>
  </message>
  <message name="contractTariffChangeAvailableMap">
    <part name="parameters" element="tns:contractTariffChangeAvailableMap"/>
  </message>
  <message name="contractTariffChangeAvailableMapResponse">
    <part name="parameters" element="tns:contractTariffChangeAvailableMapResponse"/>
  </message>
  <message name="contractTariffChangeAvailableDateList">
    <part name="parameters" element="tns:contractTariffChangeAvailableDateList"/>
  </message>
  <message name="contractTariffChangeAvailableDateListResponse">
    <part name="parameters" element="tns:contractTariffChangeAvailableDateListResponse"/>
  </message>
  <message name="contractTariffCancelByCustomer">
    <part name="parameters" element="tns:contractTariffCancelByCustomer"/>
  </message>
  <message name="contractTariffCancelByCustomerResponse">
    <part name="parameters" element="tns:contractTariffCancelByCustomerResponse"/>
  </message>
  <portType name="ContractTariffService">
    <operation name="contractTariffGroupUpdate">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffGroupUpdateRequest" message="tns:contractTariffGroupUpdate"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffGroupUpdateResponse" message="tns:contractTariffGroupUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffGroupUpdate/Fault/BGException"/>
    </operation>
    <operation name="contractTariffGroupDelete">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffGroupDeleteRequest" message="tns:contractTariffGroupDelete"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffGroupDeleteResponse" message="tns:contractTariffGroupDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffGroupDelete/Fault/BGException"/>
    </operation>
    <operation name="contractTariffGroupList">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffGroupListRequest" message="tns:contractTariffGroupList"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffGroupListResponse" message="tns:contractTariffGroupListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffGroupList/Fault/BGException"/>
    </operation>
    <operation name="contractTariffList">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffListRequest" message="tns:contractTariffList"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffListResponse" message="tns:contractTariffListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffList/Fault/BGException"/>
    </operation>
    <operation name="contractTariffGet">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffGetRequest" message="tns:contractTariffGet"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffGetResponse" message="tns:contractTariffGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffGet/Fault/BGException"/>
    </operation>
    <operation name="contractTariffUpdate">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffUpdateRequest" message="tns:contractTariffUpdate"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffUpdateResponse" message="tns:contractTariffUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffUpdate/Fault/BGException"/>
    </operation>
    <operation name="contractTariffDelete">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffDeleteRequest" message="tns:contractTariffDelete"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffDeleteResponse" message="tns:contractTariffDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffDelete/Fault/BGException"/>
    </operation>
    <operation name="contractTariffEntryList">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffEntryListRequest" message="tns:contractTariffEntryList"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffEntryListResponse" message="tns:contractTariffEntryListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffEntryList/Fault/BGException"/>
    </operation>
    <operation name="contractTariffChangeByCustomer">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffChangeByCustomerRequest" message="tns:contractTariffChangeByCustomer"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffChangeByCustomerResponse" message="tns:contractTariffChangeByCustomerResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffChangeByCustomer/Fault/BGException"/>
    </operation>
    <operation name="contractTariffChangeAvailableMap">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffChangeAvailableMapRequest" message="tns:contractTariffChangeAvailableMap"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffChangeAvailableMapResponse" message="tns:contractTariffChangeAvailableMapResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffChangeAvailableMap/Fault/BGException"/>
    </operation>
    <operation name="contractTariffChangeAvailableDateList">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffChangeAvailableDateListRequest" message="tns:contractTariffChangeAvailableDateList"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffChangeAvailableDateListResponse" message="tns:contractTariffChangeAvailableDateListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffChangeAvailableDateList/Fault/BGException"/>
    </operation>
    <operation name="contractTariffCancelByCustomer">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffCancelByCustomerRequest" message="tns:contractTariffCancelByCustomer"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffCancelByCustomerResponse" message="tns:contractTariffCancelByCustomerResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractTariffService/contractTariffCancelByCustomer/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="ContractTariffServiceBinding" type="tns:ContractTariffService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="contractTariffGroupUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffGroupDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffGroupList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffEntryList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffChangeByCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffChangeAvailableMap">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffChangeAvailableDateList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffCancelByCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ContractTariffService">
    <port name="ContractTariffService" binding="tns:ContractTariffServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

