soap/kernel/src/main/wsdl/DirectoryService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.api.directory.kernel.bgbilling.bitel.ru/" name="DirectoryService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.api.directory.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.api.directory.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="getVersion" type="tns:getVersion"/>

      <xs:element name="getVersionResponse" type="tns:getVersionResponse"/>

      <xs:complexType name="getVersion">
        <xs:sequence>
          <xs:element name="directoryItemClass" type="xs:string" minOccurs="0"/>
          <xs:element name="moduleId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getVersionResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="getVersion">
    <part name="parameters" element="tns:getVersion"/>
  </message>
  <message name="getVersionResponse">
    <part name="parameters" element="tns:getVersionResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <portType name="DirectoryService">
    <operation name="getVersion">
      <input wsam:Action="http://service.common.api.directory.kernel.bgbilling.bitel.ru/DirectoryService/getVersionRequest" message="tns:getVersion"/>
      <output wsam:Action="http://service.common.api.directory.kernel.bgbilling.bitel.ru/DirectoryService/getVersionResponse" message="tns:getVersionResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.directory.kernel.bgbilling.bitel.ru/DirectoryService/getVersion/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="DirectoryServiceBinding" type="tns:DirectoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getVersion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="DirectoryService">
    <port name="DirectoryService" binding="tns:DirectoryServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

