soap/kernel/src/main/wsdl/TariffLabelService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.tariff.kernel.bgbilling.bitel.ru/" name="TariffLabelService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.tariff.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.tariff.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="getTariffLabelIds" type="tns:getTariffLabelIds"/>

      <xs:element name="getTariffLabelIdsResponse" type="tns:getTariffLabelIdsResponse"/>

      <xs:element name="getTariffLabelTreeItemList" type="tns:getTariffLabelTreeItemList"/>

      <xs:element name="getTariffLabelTreeItemListResponse" type="tns:getTariffLabelTreeItemListResponse"/>

      <xs:element name="removeTariffLabelTreeItem" type="tns:removeTariffLabelTreeItem"/>

      <xs:element name="removeTariffLabelTreeItemResponse" type="tns:removeTariffLabelTreeItemResponse"/>

      <xs:element name="setTariffLabelTreeItemList" type="tns:setTariffLabelTreeItemList"/>

      <xs:element name="setTariffLabelTreeItemListResponse" type="tns:setTariffLabelTreeItemListResponse"/>

      <xs:element name="updateTariffLabelTreeItem" type="tns:updateTariffLabelTreeItem"/>

      <xs:element name="updateTariffLabelTreeItemResponse" type="tns:updateTariffLabelTreeItemResponse"/>

      <xs:complexType name="getTariffLabelIds">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getTariffLabelIdsResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getTariffLabelTreeItemList">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getTariffLabelTreeItemListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:tariffLabelItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffLabelItem">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence/>
            <xs:attribute name="parentId" type="xs:int" use="required"/>
            <xs:attribute name="selected" type="xs:boolean" use="required"/>
            <xs:attribute name="tariffLinkCount" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="removeTariffLabelTreeItem">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="removeTariffLabelTreeItemResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="setTariffLabelTreeItemList">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="tns:tariffLabelItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="setTariffLabelTreeItemListResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="updateTariffLabelTreeItem">
        <xs:sequence>
          <xs:element name="arg0" type="tns:tariffLabelItem" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateTariffLabelTreeItemResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="getTariffLabelTreeItemList">
    <part name="parameters" element="tns:getTariffLabelTreeItemList"/>
  </message>
  <message name="getTariffLabelTreeItemListResponse">
    <part name="parameters" element="tns:getTariffLabelTreeItemListResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="setTariffLabelTreeItemList">
    <part name="parameters" element="tns:setTariffLabelTreeItemList"/>
  </message>
  <message name="setTariffLabelTreeItemListResponse">
    <part name="parameters" element="tns:setTariffLabelTreeItemListResponse"/>
  </message>
  <message name="getTariffLabelIds">
    <part name="parameters" element="tns:getTariffLabelIds"/>
  </message>
  <message name="getTariffLabelIdsResponse">
    <part name="parameters" element="tns:getTariffLabelIdsResponse"/>
  </message>
  <message name="updateTariffLabelTreeItem">
    <part name="parameters" element="tns:updateTariffLabelTreeItem"/>
  </message>
  <message name="updateTariffLabelTreeItemResponse">
    <part name="parameters" element="tns:updateTariffLabelTreeItemResponse"/>
  </message>
  <message name="removeTariffLabelTreeItem">
    <part name="parameters" element="tns:removeTariffLabelTreeItem"/>
  </message>
  <message name="removeTariffLabelTreeItemResponse">
    <part name="parameters" element="tns:removeTariffLabelTreeItemResponse"/>
  </message>
  <portType name="TariffLabelService">
    <operation name="getTariffLabelTreeItemList">
      <input wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffLabelService/getTariffLabelTreeItemListRequest" message="tns:getTariffLabelTreeItemList"/>
      <output wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffLabelService/getTariffLabelTreeItemListResponse" message="tns:getTariffLabelTreeItemListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffLabelService/getTariffLabelTreeItemList/Fault/BGException"/>
    </operation>
    <operation name="setTariffLabelTreeItemList">
      <input wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffLabelService/setTariffLabelTreeItemListRequest" message="tns:setTariffLabelTreeItemList"/>
      <output wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffLabelService/setTariffLabelTreeItemListResponse" message="tns:setTariffLabelTreeItemListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffLabelService/setTariffLabelTreeItemList/Fault/BGException"/>
    </operation>
    <operation name="getTariffLabelIds">
      <input wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffLabelService/getTariffLabelIdsRequest" message="tns:getTariffLabelIds"/>
      <output wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffLabelService/getTariffLabelIdsResponse" message="tns:getTariffLabelIdsResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffLabelService/getTariffLabelIds/Fault/BGException"/>
    </operation>
    <operation name="updateTariffLabelTreeItem">
      <input wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffLabelService/updateTariffLabelTreeItemRequest" message="tns:updateTariffLabelTreeItem"/>
      <output wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffLabelService/updateTariffLabelTreeItemResponse" message="tns:updateTariffLabelTreeItemResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffLabelService/updateTariffLabelTreeItem/Fault/BGException"/>
    </operation>
    <operation name="removeTariffLabelTreeItem">
      <input wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffLabelService/removeTariffLabelTreeItemRequest" message="tns:removeTariffLabelTreeItem"/>
      <output wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffLabelService/removeTariffLabelTreeItemResponse" message="tns:removeTariffLabelTreeItemResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffLabelService/removeTariffLabelTreeItem/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="TariffLabelServiceBinding" type="tns:TariffLabelService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getTariffLabelTreeItemList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="setTariffLabelTreeItemList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getTariffLabelIds">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateTariffLabelTreeItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeTariffLabelTreeItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="TariffLabelService">
    <port name="TariffLabelService" binding="tns:TariffLabelServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

