soap/rscm/src/main/wsdl/original/RSCMService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.rscm.modules.bgbilling.bitel.ru/" name="RSCMService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.rscm.modules.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.rscm.modules.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://jaxb.dev.java.net/array" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:import namespace="http://jaxb.dev.java.net/array"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="deleteRSCMContractService" type="tns:deleteRSCMContractService"/>

      <xs:element name="deleteRSCMContractServiceResponse" type="tns:deleteRSCMContractServiceResponse"/>

      <xs:element name="deleteRSCMService" type="tns:deleteRSCMService"/>

      <xs:element name="deleteRSCMServiceResponse" type="tns:deleteRSCMServiceResponse"/>

      <xs:element name="getRSCMContractService" type="tns:getRSCMContractService"/>

      <xs:element name="getRSCMContractServiceList" type="tns:getRSCMContractServiceList"/>

      <xs:element name="getRSCMContractServiceListResponse" type="tns:getRSCMContractServiceListResponse"/>

      <xs:element name="getRSCMContractServiceResponse" type="tns:getRSCMContractServiceResponse"/>

      <xs:element name="getRSCMService" type="tns:getRSCMService"/>

      <xs:element name="getRSCMServiceList" type="tns:getRSCMServiceList"/>

      <xs:element name="getRSCMServiceListResponse" type="tns:getRSCMServiceListResponse"/>

      <xs:element name="getRSCMServiceResponse" type="tns:getRSCMServiceResponse"/>

      <xs:element name="recalculate" type="tns:recalculate"/>

      <xs:element name="recalculateResponse" type="tns:recalculateResponse"/>

      <xs:element name="searchRSCMContractService" type="tns:searchRSCMContractService"/>

      <xs:element name="searchRSCMContractServiceResponse" type="tns:searchRSCMContractServiceResponse"/>

      <xs:element name="searchRSCMService" type="tns:searchRSCMService"/>

      <xs:element name="searchRSCMServiceResponse" type="tns:searchRSCMServiceResponse"/>

      <xs:element name="updateRSCMContractService" type="tns:updateRSCMContractService"/>

      <xs:element name="updateRSCMContractServiceResponse" type="tns:updateRSCMContractServiceResponse"/>

      <xs:element name="updateRSCMService" type="tns:updateRSCMService"/>

      <xs:element name="updateRSCMServiceResponse" type="tns:updateRSCMServiceResponse"/>

      <xs:complexType name="rscmService">
        <xs:sequence/>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="serviceId" type="xs:int" use="required"/>
        <xs:attribute name="serviceTitle" type="xs:string"/>
        <xs:attribute name="unit" type="xs:string"/>
      </xs:complexType>

      <xs:complexType name="rscmContractService">
        <xs:sequence>
          <xs:element name="serviceId" type="xs:int"/>
        </xs:sequence>
        <xs:attribute name="amount" type="xs:long" use="required"/>
        <xs:attribute name="comment" type="xs:string"/>
        <xs:attribute name="contractId" type="xs:int" use="required"/>
        <xs:attribute name="date" type="xs:dateTime"/>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="serviceTitle" type="xs:string"/>
        <xs:attribute name="unit" type="xs:string"/>
      </xs:complexType>

      <xs:complexType name="recalculate">
        <xs:sequence>
          <xs:element name="startMonth" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="email" type="xs:string" minOccurs="0"/>
          <xs:element name="contractIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="recalculateResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchRSCMContractService">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
          <xs:element name="sort" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="page" type="ns1:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchRSCMContractServiceResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:searchResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getRSCMServiceList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getRSCMServiceListResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:idTitle" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteRSCMContractService">
        <xs:sequence>
          <xs:element name="rscmContractServiceId" type="xs:int"/>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="month" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteRSCMContractServiceResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getRSCMService">
        <xs:sequence>
          <xs:element name="rscmServiceId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getRSCMServiceResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:rscmService" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateRSCMService">
        <xs:sequence>
          <xs:element name="rscmService" type="tns:rscmService" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateRSCMServiceResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getRSCMContractService">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="rscmContractServiceId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getRSCMContractServiceResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:rscmContractService" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchRSCMService">
        <xs:sequence>
          <xs:element name="sort" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="page" type="ns1:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchRSCMServiceResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:searchResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateRSCMContractService">
        <xs:sequence>
          <xs:element name="rscmContractService" type="tns:rscmContractService" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateRSCMContractServiceResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getRSCMContractServiceList">
        <xs:sequence>
          <xs:element name="isUsing" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getRSCMContractServiceListResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:idTitle" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteRSCMService">
        <xs:sequence>
          <xs:element name="rscmServiceId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteRSCMServiceResponse">
        <xs:sequence/>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:ns3="http://jaxb.dev.java.net/array" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:import namespace="http://jaxb.dev.java.net/array"/>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>

      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="searchResult">
        <xsc:sequence>
          <xsc:element name="attributes" type="ns3:stringArray" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="list" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="page" type="tns:page" minOccurs="0"/>
          <xsc:element name="period" type="tns:period" minOccurs="0"/>
          <xsc:element name="sort" type="xsc:string" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="sum" type="xsc:decimal" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="stringArray" final="#all">
        <xs:sequence>
          <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="searchRSCMContractService">
    <part name="parameters" element="tns:searchRSCMContractService"/>
  </message>
  <message name="searchRSCMContractServiceResponse">
    <part name="parameters" element="tns:searchRSCMContractServiceResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="searchRSCMService">
    <part name="parameters" element="tns:searchRSCMService"/>
  </message>
  <message name="searchRSCMServiceResponse">
    <part name="parameters" element="tns:searchRSCMServiceResponse"/>
  </message>
  <message name="getRSCMContractService">
    <part name="parameters" element="tns:getRSCMContractService"/>
  </message>
  <message name="getRSCMContractServiceResponse">
    <part name="parameters" element="tns:getRSCMContractServiceResponse"/>
  </message>
  <message name="getRSCMService">
    <part name="parameters" element="tns:getRSCMService"/>
  </message>
  <message name="getRSCMServiceResponse">
    <part name="parameters" element="tns:getRSCMServiceResponse"/>
  </message>
  <message name="updateRSCMContractService">
    <part name="parameters" element="tns:updateRSCMContractService"/>
  </message>
  <message name="updateRSCMContractServiceResponse">
    <part name="parameters" element="tns:updateRSCMContractServiceResponse"/>
  </message>
  <message name="updateRSCMService">
    <part name="parameters" element="tns:updateRSCMService"/>
  </message>
  <message name="updateRSCMServiceResponse">
    <part name="parameters" element="tns:updateRSCMServiceResponse"/>
  </message>
  <message name="deleteRSCMContractService">
    <part name="parameters" element="tns:deleteRSCMContractService"/>
  </message>
  <message name="deleteRSCMContractServiceResponse">
    <part name="parameters" element="tns:deleteRSCMContractServiceResponse"/>
  </message>
  <message name="deleteRSCMService">
    <part name="parameters" element="tns:deleteRSCMService"/>
  </message>
  <message name="deleteRSCMServiceResponse">
    <part name="parameters" element="tns:deleteRSCMServiceResponse"/>
  </message>
  <message name="recalculate">
    <part name="parameters" element="tns:recalculate"/>
  </message>
  <message name="recalculateResponse">
    <part name="parameters" element="tns:recalculateResponse"/>
  </message>
  <message name="getRSCMContractServiceList">
    <part name="parameters" element="tns:getRSCMContractServiceList"/>
  </message>
  <message name="getRSCMContractServiceListResponse">
    <part name="parameters" element="tns:getRSCMContractServiceListResponse"/>
  </message>
  <message name="getRSCMServiceList">
    <part name="parameters" element="tns:getRSCMServiceList"/>
  </message>
  <message name="getRSCMServiceListResponse">
    <part name="parameters" element="tns:getRSCMServiceListResponse"/>
  </message>
  <portType name="RSCMService">
    <operation name="searchRSCMContractService">
      <input wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/searchRSCMContractServiceRequest" message="tns:searchRSCMContractService"/>
      <output wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/searchRSCMContractServiceResponse" message="tns:searchRSCMContractServiceResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/searchRSCMContractService/Fault/BGException"/>
    </operation>
    <operation name="searchRSCMService">
      <input wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/searchRSCMServiceRequest" message="tns:searchRSCMService"/>
      <output wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/searchRSCMServiceResponse" message="tns:searchRSCMServiceResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/searchRSCMService/Fault/BGException"/>
    </operation>
    <operation name="getRSCMContractService">
      <input wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/getRSCMContractServiceRequest" message="tns:getRSCMContractService"/>
      <output wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/getRSCMContractServiceResponse" message="tns:getRSCMContractServiceResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/getRSCMContractService/Fault/BGException"/>
    </operation>
    <operation name="getRSCMService">
      <input wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/getRSCMServiceRequest" message="tns:getRSCMService"/>
      <output wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/getRSCMServiceResponse" message="tns:getRSCMServiceResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/getRSCMService/Fault/BGException"/>
    </operation>
    <operation name="updateRSCMContractService">
      <input wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/updateRSCMContractServiceRequest" message="tns:updateRSCMContractService"/>
      <output wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/updateRSCMContractServiceResponse" message="tns:updateRSCMContractServiceResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/updateRSCMContractService/Fault/BGException"/>
    </operation>
    <operation name="updateRSCMService">
      <input wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/updateRSCMServiceRequest" message="tns:updateRSCMService"/>
      <output wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/updateRSCMServiceResponse" message="tns:updateRSCMServiceResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/updateRSCMService/Fault/BGException"/>
    </operation>
    <operation name="deleteRSCMContractService">
      <input wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/deleteRSCMContractServiceRequest" message="tns:deleteRSCMContractService"/>
      <output wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/deleteRSCMContractServiceResponse" message="tns:deleteRSCMContractServiceResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/deleteRSCMContractService/Fault/BGException"/>
    </operation>
    <operation name="deleteRSCMService">
      <input wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/deleteRSCMServiceRequest" message="tns:deleteRSCMService"/>
      <output wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/deleteRSCMServiceResponse" message="tns:deleteRSCMServiceResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/deleteRSCMService/Fault/BGException"/>
    </operation>
    <operation name="recalculate">
      <input wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/recalculateRequest" message="tns:recalculate"/>
      <output wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/recalculateResponse" message="tns:recalculateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/recalculate/Fault/BGException"/>
    </operation>
    <operation name="getRSCMContractServiceList">
      <input wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/getRSCMContractServiceListRequest" message="tns:getRSCMContractServiceList"/>
      <output wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/getRSCMContractServiceListResponse" message="tns:getRSCMContractServiceListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/getRSCMContractServiceList/Fault/BGException"/>
    </operation>
    <operation name="getRSCMServiceList">
      <input wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/getRSCMServiceListRequest" message="tns:getRSCMServiceList"/>
      <output wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/getRSCMServiceListResponse" message="tns:getRSCMServiceListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.rscm.modules.bgbilling.bitel.ru/RSCMService/getRSCMServiceList/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="RSCMServiceBinding" type="tns:RSCMService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="searchRSCMContractService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="searchRSCMService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getRSCMContractService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getRSCMService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateRSCMContractService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateRSCMService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteRSCMContractService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteRSCMService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="recalculate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getRSCMContractServiceList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getRSCMServiceList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RSCMService">
    <port name="RSCMService" binding="tns:RSCMServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

