soap/kernel/src/main/wsdl/original/BalanceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://common.balance.contract.kernel.bgbilling.bitel.ru/" name="BalanceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://common.balance.contract.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://common.balance.contract.kernel.bgbilling.bitel.ru/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      
      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="balanceDetailList" type="tns:balanceDetailList"/>

      <xs:element name="balanceDetailListResponse" type="tns:balanceDetailListResponse"/>

      <xs:element name="contractAccountList" type="tns:contractAccountList"/>

      <xs:element name="contractAccountListResponse" type="tns:contractAccountListResponse"/>

      <xs:element name="contractBalanceGet" type="tns:contractBalanceGet"/>

      <xs:element name="contractBalanceGetResponse" type="tns:contractBalanceGetResponse"/>

      <xs:element name="contractBalanceList" type="tns:contractBalanceList"/>

      <xs:element name="contractBalanceListResponse" type="tns:contractBalanceListResponse"/>

      <xs:element name="getDataSource" type="tns:getDataSource"/>

      <xs:element name="getDataSourceResponse" type="tns:getDataSourceResponse"/>

      <xs:element name="sendEmail" type="tns:sendEmail"/>

      <xs:element name="sendEmailResponse" type="tns:sendEmailResponse"/>

      <xs:complexType name="contractBalanceList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractBalanceListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contractBalance" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractBalance">
        <xs:sequence/>
        <xs:attribute name="accounts" type="xs:decimal"/>
        <xs:attribute name="charges" type="xs:decimal"/>
        <xs:attribute name="incomingSaldo" type="xs:decimal"/>
        <xs:attribute name="month" type="xs:int" use="required"/>
        <xs:attribute name="payments" type="xs:decimal"/>
        <xs:attribute name="reserve" type="xs:decimal"/>
        <xs:attribute name="timestamp" type="xs:long" use="required"/>
        <xs:attribute name="year" type="xs:int" use="required"/>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractBalanceGet">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="year" type="xs:int"/>
          <xs:element name="month" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractBalanceGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contractBalance" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractAccountList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
          <xs:element name="members" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractAccountListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contractAccount" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="holderTotalSum" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractAccount">
        <xs:sequence/>
        <xs:attribute name="contractId" type="xs:int" use="required"/>
        <xs:attribute name="date" type="xs:dateTime"/>
        <xs:attribute name="serviceId" type="xs:int" use="required"/>
        <xs:attribute name="sum" type="xs:decimal"/>
      </xs:complexType>

      <xs:complexType name="getDataSource">
        <xs:sequence>
          <xs:element name="type" type="xs:string" minOccurs="0"/>
          <xs:element name="mode" type="xs:int"/>
          <xs:element name="cid" type="xs:int"/>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getDataSourceResponse">
        <xs:sequence>
          <xs:element name="data" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="sendEmail">
        <xs:sequence>
          <xs:element name="email" type="xs:string" minOccurs="0"/>
          <xs:element name="type" type="xs:string" minOccurs="0"/>
          <xs:element name="mode" type="xs:int"/>
          <xs:element name="cid" type="xs:int"/>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="sendEmailResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="balanceDetailList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
          <xs:element name="available" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="balanceDetailListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:balanceDetailItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="balanceDetailItem">
        <xs:sequence/>
        <xs:attribute name="comment" type="xs:string"/>
        <xs:attribute name="contractTitle" type="xs:string"/>
        <xs:attribute name="date" type="xs:dateTime"/>
        <xs:attribute name="sum" type="xs:decimal"/>
        <xs:attribute name="sumAfterChange" type="xs:decimal"/>
        <xs:attribute name="title" type="xs:string"/>
        <xs:attribute name="type" type="xs:int" use="required"/>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="balanceDetailList">
    <part name="parameters" element="tns:balanceDetailList"/>
  </message>
  <message name="balanceDetailListResponse">
    <part name="parameters" element="tns:balanceDetailListResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="contractBalanceList">
    <part name="parameters" element="tns:contractBalanceList"/>
  </message>
  <message name="contractBalanceListResponse">
    <part name="parameters" element="tns:contractBalanceListResponse"/>
  </message>
  <message name="contractAccountList">
    <part name="parameters" element="tns:contractAccountList"/>
  </message>
  <message name="contractAccountListResponse">
    <part name="parameters" element="tns:contractAccountListResponse"/>
  </message>
  <message name="contractBalanceGet">
    <part name="parameters" element="tns:contractBalanceGet"/>
  </message>
  <message name="contractBalanceGetResponse">
    <part name="parameters" element="tns:contractBalanceGetResponse"/>
  </message>
  <message name="getDataSource">
    <part name="parameters" element="tns:getDataSource"/>
  </message>
  <message name="getDataSourceResponse">
    <part name="parameters" element="tns:getDataSourceResponse"/>
  </message>
  <message name="sendEmail">
    <part name="parameters" element="tns:sendEmail"/>
  </message>
  <message name="sendEmailResponse">
    <part name="parameters" element="tns:sendEmailResponse"/>
  </message>
  <portType name="BalanceService">
    <operation name="balanceDetailList">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/BalanceService/balanceDetailListRequest" message="tns:balanceDetailList"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/BalanceService/balanceDetailListResponse" message="tns:balanceDetailListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/BalanceService/balanceDetailList/Fault/BGException"/>
    </operation>
    <operation name="contractBalanceList">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/BalanceService/contractBalanceListRequest" message="tns:contractBalanceList"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/BalanceService/contractBalanceListResponse" message="tns:contractBalanceListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/BalanceService/contractBalanceList/Fault/BGException"/>
    </operation>
    <operation name="contractAccountList">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/BalanceService/contractAccountListRequest" message="tns:contractAccountList"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/BalanceService/contractAccountListResponse" message="tns:contractAccountListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/BalanceService/contractAccountList/Fault/BGException"/>
    </operation>
    <operation name="contractBalanceGet">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/BalanceService/contractBalanceGetRequest" message="tns:contractBalanceGet"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/BalanceService/contractBalanceGetResponse" message="tns:contractBalanceGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/BalanceService/contractBalanceGet/Fault/BGException"/>
    </operation>
    <operation name="getDataSource">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/BalanceService/getDataSourceRequest" message="tns:getDataSource"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/BalanceService/getDataSourceResponse" message="tns:getDataSourceResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/BalanceService/getDataSource/Fault/BGException"/>
    </operation>
    <operation name="sendEmail">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/BalanceService/sendEmailRequest" message="tns:sendEmail"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/BalanceService/sendEmailResponse" message="tns:sendEmailResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/BalanceService/sendEmail/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="BalanceServiceBinding" type="tns:BalanceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="balanceDetailList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractBalanceList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractAccountList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractBalanceGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getDataSource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="sendEmail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="BalanceService">
    <port name="BalanceService" binding="tns:BalanceServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

