soap/kernel/src/main/wsdl/original/ContractAutopaymentService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.autopayment.contract.kernel.bgbilling.bitel.ru/" name="ContractAutopaymentService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.autopayment.contract.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.autopayment.contract.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://jaxb.dev.java.net/array" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:import namespace="http://jaxb.dev.java.net/array"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="isEnabled" type="tns:isEnabled"/>

      <xs:element name="isEnabledResponse" type="tns:isEnabledResponse"/>

      <xs:element name="searchContractAutopayment" type="tns:searchContractAutopayment"/>

      <xs:element name="searchContractAutopaymentResponse" type="tns:searchContractAutopaymentResponse"/>

      <xs:element name="setEnabled" type="tns:setEnabled"/>

      <xs:element name="setEnabledResponse" type="tns:setEnabledResponse"/>

      <xs:complexType name="contractAutopayment">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="contractId" type="xs:int"/>
              <xs:element name="moduleId" type="xs:int"/>
              <xs:element name="period" type="ns1:period" minOccurs="0"/>
              <xs:element name="userFromId" type="xs:int"/>
              <xs:element name="userFromName" type="xs:string" minOccurs="0"/>
              <xs:element name="userToId" type="xs:int"/>
              <xs:element name="userToName" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="isEnabled">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="isEnabledResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchContractAutopayment">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
          <xs:element name="sort" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="page" type="ns1:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchContractAutopaymentResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:searchResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="setEnabled">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="enabled" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="setEnabledResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:ns3="http://jaxb.dev.java.net/array" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:import namespace="http://jaxb.dev.java.net/array"/>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>

      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="searchResult">
        <xsc:sequence>
          <xsc:element name="attributes" type="ns3:stringArray" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="list" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="page" type="tns:page" minOccurs="0"/>
          <xsc:element name="period" type="tns:period" minOccurs="0"/>
          <xsc:element name="sort" type="xsc:string" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="sum" type="xsc:decimal" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="stringArray" final="#all">
        <xs:sequence>
          <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="isEnabled">
    <part name="parameters" element="tns:isEnabled"/>
  </message>
  <message name="isEnabledResponse">
    <part name="parameters" element="tns:isEnabledResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="searchContractAutopayment">
    <part name="parameters" element="tns:searchContractAutopayment"/>
  </message>
  <message name="searchContractAutopaymentResponse">
    <part name="parameters" element="tns:searchContractAutopaymentResponse"/>
  </message>
  <message name="setEnabled">
    <part name="parameters" element="tns:setEnabled"/>
  </message>
  <message name="setEnabledResponse">
    <part name="parameters" element="tns:setEnabledResponse"/>
  </message>
  <portType name="ContractAutopaymentService">
    <operation name="isEnabled">
      <input wsam:Action="http://service.common.autopayment.contract.kernel.bgbilling.bitel.ru/ContractAutopaymentService/isEnabledRequest" message="tns:isEnabled"/>
      <output wsam:Action="http://service.common.autopayment.contract.kernel.bgbilling.bitel.ru/ContractAutopaymentService/isEnabledResponse" message="tns:isEnabledResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.autopayment.contract.kernel.bgbilling.bitel.ru/ContractAutopaymentService/isEnabled/Fault/BGException"/>
    </operation>
    <operation name="searchContractAutopayment">
      <input wsam:Action="http://service.common.autopayment.contract.kernel.bgbilling.bitel.ru/ContractAutopaymentService/searchContractAutopaymentRequest" message="tns:searchContractAutopayment"/>
      <output wsam:Action="http://service.common.autopayment.contract.kernel.bgbilling.bitel.ru/ContractAutopaymentService/searchContractAutopaymentResponse" message="tns:searchContractAutopaymentResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.autopayment.contract.kernel.bgbilling.bitel.ru/ContractAutopaymentService/searchContractAutopayment/Fault/BGException"/>
    </operation>
    <operation name="setEnabled">
      <input wsam:Action="http://service.common.autopayment.contract.kernel.bgbilling.bitel.ru/ContractAutopaymentService/setEnabledRequest" message="tns:setEnabled"/>
      <output wsam:Action="http://service.common.autopayment.contract.kernel.bgbilling.bitel.ru/ContractAutopaymentService/setEnabledResponse" message="tns:setEnabledResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.autopayment.contract.kernel.bgbilling.bitel.ru/ContractAutopaymentService/setEnabled/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="ContractAutopaymentServiceBinding" type="tns:ContractAutopaymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="isEnabled">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="searchContractAutopayment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="setEnabled">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ContractAutopaymentService">
    <port name="ContractAutopaymentService" binding="tns:ContractAutopaymentServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

