soap/kernel/src/main/wsdl/original/ContractObjectService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.object.contract.kernel.bgbilling.bitel.ru/" name="ContractObjectService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.object.contract.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.object.contract.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="contractObjectList" type="tns:contractObjectList"/>

      <xs:element name="contractObjectListResponse" type="tns:contractObjectListResponse"/>

      <xs:complexType name="contractObjectList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractObjectListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contractObject" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractObject">
        <xs:complexContent>
          <xs:extension base="tns:abstractEntity">
            <xs:sequence/>
            <xs:attribute name="contractId" type="xs:int" use="required"/>
            <xs:attribute name="dateFrom" type="xs:dateTime"/>
            <xs:attribute name="dateTo" type="xs:dateTime"/>
            <xs:attribute name="position" type="xs:int" use="required"/>
            <xs:attribute name="typeId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractEntity" abstract="true">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="entityAttributes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="key" minOccurs="0" type="xs:int"/>
                          <xs:element name="value" minOccurs="0" type="tns:entityAttr"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="entitySpecId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttr" abstract="true">
        <xs:sequence>
          <xs:element name="entityId" type="xs:int"/>
          <xs:element name="entitySpecAttrId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="entityAttrText">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrInt">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrList">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrDate">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:dateTime"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrAddress">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence>
              <xs:element name="formatKey" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="comment" type="xs:string"/>
            <xs:attribute name="flat" type="xs:string"/>
            <xs:attribute name="floor" type="xs:int" use="required"/>
            <xs:attribute name="houseId" type="xs:int" use="required"/>
            <xs:attribute name="pod" type="xs:int" use="required"/>
            <xs:attribute name="room" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrEmail">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrContract">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrBoolean">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:boolean" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="contractObjectList">
    <part name="parameters" element="tns:contractObjectList"/>
  </message>
  <message name="contractObjectListResponse">
    <part name="parameters" element="tns:contractObjectListResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <portType name="ContractObjectService">
    <operation name="contractObjectList">
      <input wsam:Action="http://service.common.object.contract.kernel.bgbilling.bitel.ru/ContractObjectService/contractObjectListRequest" message="tns:contractObjectList"/>
      <output wsam:Action="http://service.common.object.contract.kernel.bgbilling.bitel.ru/ContractObjectService/contractObjectListResponse" message="tns:contractObjectListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.object.contract.kernel.bgbilling.bitel.ru/ContractObjectService/contractObjectList/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="ContractObjectServiceBinding" type="tns:ContractObjectService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="contractObjectList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ContractObjectService">
    <port name="ContractObjectService" binding="tns:ContractObjectServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

