soap/kernel/src/main/wsdl/original/RangeMapService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.phone.base.kernel.bgbilling.bitel.ru/" name="RangeMapService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.phone.base.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.phone.base.kernel.bgbilling.bitel.ru/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      
      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="rangeMap" type="tns:rangeMap"/>

      <xs:element name="rangeMapDelete" type="tns:rangeMapDelete"/>

      <xs:element name="rangeMapDeleteResponse" type="tns:rangeMapDeleteResponse"/>

      <xs:element name="rangeMapExport" type="tns:rangeMapExport"/>

      <xs:element name="rangeMapExportResponse" type="tns:rangeMapExportResponse"/>

      <xs:element name="rangeMapGet" type="tns:rangeMapGet"/>

      <xs:element name="rangeMapGetResponse" type="tns:rangeMapGetResponse"/>

      <xs:element name="rangeMapImport" type="tns:rangeMapImport"/>

      <xs:element name="rangeMapImportResponse" type="tns:rangeMapImportResponse"/>

      <xs:element name="rangeMapItem" type="tns:rangeMapItem"/>

      <xs:element name="rangeMapItemDelete" type="tns:rangeMapItemDelete"/>

      <xs:element name="rangeMapItemDeleteResponse" type="tns:rangeMapItemDeleteResponse"/>

      <xs:element name="rangeMapItemList" type="tns:rangeMapItemList"/>

      <xs:element name="rangeMapItemListResponse" type="tns:rangeMapItemListResponse"/>

      <xs:element name="rangeMapItemUpdate" type="tns:rangeMapItemUpdate"/>

      <xs:element name="rangeMapItemUpdateResponse" type="tns:rangeMapItemUpdateResponse"/>

      <xs:element name="rangeMapList" type="tns:rangeMapList"/>

      <xs:element name="rangeMapListResponse" type="tns:rangeMapListResponse"/>

      <xs:element name="rangeMapUpdate" type="tns:rangeMapUpdate"/>

      <xs:element name="rangeMapUpdateResponse" type="tns:rangeMapUpdateResponse"/>

      <xs:complexType name="rangeMapItemUpdate">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="tns:rangeMapItem" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="rangeMapItem">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="rangeFrom" type="xs:string" minOccurs="0"/>
              <xs:element name="rangeTo" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="c" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractGeographicCode">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="children" type="tns:abstractGeographicCode" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="code" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="c" type="xs:string"/>
            <xs:attribute name="dt" type="xs:string"/>
            <xs:attribute name="d" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="rangeMapItemUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="rangeMapList">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="rangeMapListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:rangeMap" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="rangeMap">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="rangeMapExport">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:string" minOccurs="0"/>
          <xs:element name="arg2" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="rangeMapExportResponse">
        <xs:sequence>
          <xs:element name="arg2" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="rangeMapUpdate">
        <xs:sequence>
          <xs:element name="arg0" type="tns:rangeMap" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="rangeMapUpdateResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="rangeMapGet">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="rangeMapGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:rangeMap" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="rangeMapItemList">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="rangeMapItemListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:rangeMapItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="rangeMapImport">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:boolean"/>
          <xs:element name="arg2" type="xs:string" minOccurs="0"/>
          <xs:element name="arg3" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="rangeMapImportResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="rangeMapItemDelete">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="rangeMapItemDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="rangeMapDelete">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="rangeMapDeleteResponse">
        <xs:sequence/>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="rangeMapList">
    <part name="parameters" element="tns:rangeMapList"/>
  </message>
  <message name="rangeMapListResponse">
    <part name="parameters" element="tns:rangeMapListResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="rangeMapGet">
    <part name="parameters" element="tns:rangeMapGet"/>
  </message>
  <message name="rangeMapGetResponse">
    <part name="parameters" element="tns:rangeMapGetResponse"/>
  </message>
  <message name="rangeMapUpdate">
    <part name="parameters" element="tns:rangeMapUpdate"/>
  </message>
  <message name="rangeMapUpdateResponse">
    <part name="parameters" element="tns:rangeMapUpdateResponse"/>
  </message>
  <message name="rangeMapDelete">
    <part name="parameters" element="tns:rangeMapDelete"/>
  </message>
  <message name="rangeMapDeleteResponse">
    <part name="parameters" element="tns:rangeMapDeleteResponse"/>
  </message>
  <message name="rangeMapItemList">
    <part name="parameters" element="tns:rangeMapItemList"/>
  </message>
  <message name="rangeMapItemListResponse">
    <part name="parameters" element="tns:rangeMapItemListResponse"/>
  </message>
  <message name="rangeMapItemUpdate">
    <part name="parameters" element="tns:rangeMapItemUpdate"/>
  </message>
  <message name="rangeMapItemUpdateResponse">
    <part name="parameters" element="tns:rangeMapItemUpdateResponse"/>
  </message>
  <message name="rangeMapItemDelete">
    <part name="parameters" element="tns:rangeMapItemDelete"/>
  </message>
  <message name="rangeMapItemDeleteResponse">
    <part name="parameters" element="tns:rangeMapItemDeleteResponse"/>
  </message>
  <message name="rangeMapImport">
    <part name="parameters" element="tns:rangeMapImport"/>
  </message>
  <message name="rangeMapImportResponse">
    <part name="parameters" element="tns:rangeMapImportResponse"/>
  </message>
  <message name="rangeMapExport">
    <part name="parameters" element="tns:rangeMapExport"/>
  </message>
  <message name="rangeMapExportResponse">
    <part name="parameters" element="tns:rangeMapExportResponse"/>
  </message>
  <portType name="RangeMapService">
    <operation name="rangeMapList">
      <input wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapListRequest" message="tns:rangeMapList"/>
      <output wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapListResponse" message="tns:rangeMapListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapList/Fault/BGException"/>
    </operation>
    <operation name="rangeMapGet">
      <input wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapGetRequest" message="tns:rangeMapGet"/>
      <output wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapGetResponse" message="tns:rangeMapGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapGet/Fault/BGException"/>
    </operation>
    <operation name="rangeMapUpdate">
      <input wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapUpdateRequest" message="tns:rangeMapUpdate"/>
      <output wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapUpdateResponse" message="tns:rangeMapUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapUpdate/Fault/BGException"/>
    </operation>
    <operation name="rangeMapDelete">
      <input wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapDeleteRequest" message="tns:rangeMapDelete"/>
      <output wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapDeleteResponse" message="tns:rangeMapDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapDelete/Fault/BGException"/>
    </operation>
    <operation name="rangeMapItemList">
      <input wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapItemListRequest" message="tns:rangeMapItemList"/>
      <output wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapItemListResponse" message="tns:rangeMapItemListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapItemList/Fault/BGException"/>
    </operation>
    <operation name="rangeMapItemUpdate">
      <input wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapItemUpdateRequest" message="tns:rangeMapItemUpdate"/>
      <output wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapItemUpdateResponse" message="tns:rangeMapItemUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapItemUpdate/Fault/BGException"/>
    </operation>
    <operation name="rangeMapItemDelete">
      <input wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapItemDeleteRequest" message="tns:rangeMapItemDelete"/>
      <output wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapItemDeleteResponse" message="tns:rangeMapItemDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapItemDelete/Fault/BGException"/>
    </operation>
    <operation name="rangeMapImport">
      <input wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapImportRequest" message="tns:rangeMapImport"/>
      <output wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapImportResponse" message="tns:rangeMapImportResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapImport/Fault/BGException"/>
    </operation>
    <operation name="rangeMapExport">
      <input wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapExportRequest" message="tns:rangeMapExport"/>
      <output wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapExportResponse" message="tns:rangeMapExportResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.phone.base.kernel.bgbilling.bitel.ru/RangeMapService/rangeMapExport/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="RangeMapServiceBinding" type="tns:RangeMapService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="rangeMapList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="rangeMapGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="rangeMapUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="rangeMapDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="rangeMapItemList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="rangeMapItemUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="rangeMapItemDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="rangeMapImport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="rangeMapExport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RangeMapService">
    <port name="RangeMapService" binding="tns:RangeMapServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

