soap/kernel/src/main/wsdl/original/SchedulerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://common.task.kernel.bgbilling.bitel.ru/" name="SchedulerService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://common.task.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://common.task.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://jaxb.dev.java.net/array" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:import namespace="http://jaxb.dev.java.net/array"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="deleteCurrentRunTask" type="tns:deleteCurrentRunTask"/>

      <xs:element name="deleteCurrentRunTaskResponse" type="tns:deleteCurrentRunTaskResponse"/>

      <xs:element name="deleteTask" type="tns:deleteTask"/>

      <xs:element name="deleteTaskResponse" type="tns:deleteTaskResponse"/>

      <xs:element name="getActiveTaskCount" type="tns:getActiveTaskCount"/>

      <xs:element name="getActiveTaskCountResponse" type="tns:getActiveTaskCountResponse"/>

      <xs:element name="getAvailableDependTasks" type="tns:getAvailableDependTasks"/>

      <xs:element name="getAvailableDependTasksResponse" type="tns:getAvailableDependTasksResponse"/>

      <xs:element name="getAvailableSchedulerTasks" type="tns:getAvailableSchedulerTasks"/>

      <xs:element name="getAvailableSchedulerTasksResponse" type="tns:getAvailableSchedulerTasksResponse"/>

      <xs:element name="getModuleAndPluginList" type="tns:getModuleAndPluginList"/>

      <xs:element name="getModuleAndPluginListResponse" type="tns:getModuleAndPluginListResponse"/>

      <xs:element name="getPeriodicTaskList" type="tns:getPeriodicTaskList"/>

      <xs:element name="getPeriodicTaskListResponse" type="tns:getPeriodicTaskListResponse"/>

      <xs:element name="getRunningTaskList" type="tns:getRunningTaskList"/>

      <xs:element name="getRunningTaskListResponse" type="tns:getRunningTaskListResponse"/>

      <xs:element name="getSchedulerTasks" type="tns:getSchedulerTasks"/>

      <xs:element name="getSchedulerTasksResponse" type="tns:getSchedulerTasksResponse"/>

      <xs:element name="getTaskLog" type="tns:getTaskLog"/>

      <xs:element name="getTaskLogResponse" type="tns:getTaskLogResponse"/>

      <xs:element name="immediateRun" type="tns:immediateRun"/>

      <xs:element name="immediateRunResponse" type="tns:immediateRunResponse"/>

      <xs:element name="updateTask" type="tns:updateTask"/>

      <xs:element name="updateTaskResponse" type="tns:updateTaskResponse"/>

      <xs:complexType name="schedulerTaskLog">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="finishTime" type="xs:long"/>
              <xs:element name="startTime" type="xs:long"/>
              <xs:element name="taskId" type="xs:int"/>
              <xs:element name="taskTitle" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="deleteTask">
        <xs:sequence>
          <xs:element name="taskId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteTaskResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getAvailableSchedulerTasks">
        <xs:sequence>
          <xs:element name="moduleId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getAvailableSchedulerTasksResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:pair" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getModuleAndPluginList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getModuleAndPluginListResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:pair" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getActiveTaskCount">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getActiveTaskCountResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getAvailableDependTasks">
        <xs:sequence>
          <xs:element name="moduleId" type="xs:string" minOccurs="0"/>
          <xs:element name="parentModule" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getAvailableDependTasksResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:pair" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getTaskLog">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="ns1:period" minOccurs="0"/>
          <xs:element name="arg2" type="ns1:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getTaskLogResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:searchResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="immediateRun">
        <xs:sequence>
          <xs:element name="task" type="tns:lightweightTaskData" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="lightweightTaskData">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="className" type="xs:string" minOccurs="0"/>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="day" type="xs:int"/>
              <xs:element name="dayOfWeek" type="xs:int"/>
              <xs:element name="dependModuleId" type="xs:string" minOccurs="0"/>
              <xs:element name="dependModuleName" type="xs:string" minOccurs="0"/>
              <xs:element name="dependTaskClass" type="xs:string" minOccurs="0"/>
              <xs:element name="dependTaskParams" type="xs:string" minOccurs="0"/>
              <xs:element name="dependTaskTitle" type="xs:string" minOccurs="0"/>
              <xs:element name="hour" type="xs:int"/>
              <xs:element name="min" type="xs:long"/>
              <xs:element name="moduleId" type="xs:string" minOccurs="0"/>
              <xs:element name="moduleName" type="xs:string" minOccurs="0"/>
              <xs:element name="month" type="xs:int"/>
              <xs:element name="params" type="xs:string" minOccurs="0"/>
              <xs:element name="period" type="ns1:period" minOccurs="0"/>
              <xs:element name="priority" type="xs:int"/>
              <xs:element name="status" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="immediateRunResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getPeriodicTaskList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getPeriodicTaskListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:periodicTask" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="periodicTask">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="amount" type="xs:int"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="getSchedulerTasks">
        <xs:sequence>
          <xs:element name="moduleId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getSchedulerTasksResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:lightweightTaskData" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateTask">
        <xs:sequence>
          <xs:element name="task" type="tns:lightweightTaskData" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateTaskResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="deleteCurrentRunTask">
        <xs:sequence>
          <xs:element name="taskId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteCurrentRunTaskResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getRunningTaskList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getRunningTaskListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:runningTask" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="runningTask">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="executed" type="xs:boolean"/>
              <xs:element name="startTime" type="xs:dateTime" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:ns3="http://jaxb.dev.java.net/array" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:import namespace="http://jaxb.dev.java.net/array"/>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="pair">
        <xsc:sequence>
          <xsc:element name="first" type="xsc:anyType" minOccurs="0"/>
          <xsc:element name="second" type="xsc:anyType" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>

      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="searchResult">
        <xsc:sequence>
          <xsc:element name="attributes" type="ns3:stringArray" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="list" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="page" type="tns:page" minOccurs="0"/>
          <xsc:element name="period" type="tns:period" minOccurs="0"/>
          <xsc:element name="sort" type="xsc:string" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="sum" type="xsc:decimal" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="stringArray" final="#all">
        <xs:sequence>
          <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="getSchedulerTasks">
    <part name="parameters" element="tns:getSchedulerTasks"/>
  </message>
  <message name="getSchedulerTasksResponse">
    <part name="parameters" element="tns:getSchedulerTasksResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="getModuleAndPluginList">
    <part name="parameters" element="tns:getModuleAndPluginList"/>
  </message>
  <message name="getModuleAndPluginListResponse">
    <part name="parameters" element="tns:getModuleAndPluginListResponse"/>
  </message>
  <message name="getAvailableSchedulerTasks">
    <part name="parameters" element="tns:getAvailableSchedulerTasks"/>
  </message>
  <message name="getAvailableSchedulerTasksResponse">
    <part name="parameters" element="tns:getAvailableSchedulerTasksResponse"/>
  </message>
  <message name="getAvailableDependTasks">
    <part name="parameters" element="tns:getAvailableDependTasks"/>
  </message>
  <message name="getAvailableDependTasksResponse">
    <part name="parameters" element="tns:getAvailableDependTasksResponse"/>
  </message>
  <message name="getActiveTaskCount">
    <part name="parameters" element="tns:getActiveTaskCount"/>
  </message>
  <message name="getActiveTaskCountResponse">
    <part name="parameters" element="tns:getActiveTaskCountResponse"/>
  </message>
  <message name="updateTask">
    <part name="parameters" element="tns:updateTask"/>
  </message>
  <message name="updateTaskResponse">
    <part name="parameters" element="tns:updateTaskResponse"/>
  </message>
  <message name="deleteTask">
    <part name="parameters" element="tns:deleteTask"/>
  </message>
  <message name="deleteTaskResponse">
    <part name="parameters" element="tns:deleteTaskResponse"/>
  </message>
  <message name="immediateRun">
    <part name="parameters" element="tns:immediateRun"/>
  </message>
  <message name="immediateRunResponse">
    <part name="parameters" element="tns:immediateRunResponse"/>
  </message>
  <message name="getRunningTaskList">
    <part name="parameters" element="tns:getRunningTaskList"/>
  </message>
  <message name="getRunningTaskListResponse">
    <part name="parameters" element="tns:getRunningTaskListResponse"/>
  </message>
  <message name="getPeriodicTaskList">
    <part name="parameters" element="tns:getPeriodicTaskList"/>
  </message>
  <message name="getPeriodicTaskListResponse">
    <part name="parameters" element="tns:getPeriodicTaskListResponse"/>
  </message>
  <message name="deleteCurrentRunTask">
    <part name="parameters" element="tns:deleteCurrentRunTask"/>
  </message>
  <message name="deleteCurrentRunTaskResponse">
    <part name="parameters" element="tns:deleteCurrentRunTaskResponse"/>
  </message>
  <message name="getTaskLog">
    <part name="parameters" element="tns:getTaskLog"/>
  </message>
  <message name="getTaskLogResponse">
    <part name="parameters" element="tns:getTaskLogResponse"/>
  </message>
  <portType name="SchedulerService">
    <operation name="getSchedulerTasks">
      <input wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getSchedulerTasksRequest" message="tns:getSchedulerTasks"/>
      <output wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getSchedulerTasksResponse" message="tns:getSchedulerTasksResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getSchedulerTasks/Fault/BGException"/>
    </operation>
    <operation name="getModuleAndPluginList">
      <input wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getModuleAndPluginListRequest" message="tns:getModuleAndPluginList"/>
      <output wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getModuleAndPluginListResponse" message="tns:getModuleAndPluginListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getModuleAndPluginList/Fault/BGException"/>
    </operation>
    <operation name="getAvailableSchedulerTasks">
      <input wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getAvailableSchedulerTasksRequest" message="tns:getAvailableSchedulerTasks"/>
      <output wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getAvailableSchedulerTasksResponse" message="tns:getAvailableSchedulerTasksResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getAvailableSchedulerTasks/Fault/BGException"/>
    </operation>
    <operation name="getAvailableDependTasks">
      <input wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getAvailableDependTasksRequest" message="tns:getAvailableDependTasks"/>
      <output wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getAvailableDependTasksResponse" message="tns:getAvailableDependTasksResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getAvailableDependTasks/Fault/BGException"/>
    </operation>
    <operation name="getActiveTaskCount">
      <input wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getActiveTaskCountRequest" message="tns:getActiveTaskCount"/>
      <output wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getActiveTaskCountResponse" message="tns:getActiveTaskCountResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getActiveTaskCount/Fault/BGException"/>
    </operation>
    <operation name="updateTask">
      <input wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/updateTaskRequest" message="tns:updateTask"/>
      <output wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/updateTaskResponse" message="tns:updateTaskResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/updateTask/Fault/BGException"/>
    </operation>
    <operation name="deleteTask">
      <input wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/deleteTaskRequest" message="tns:deleteTask"/>
      <output wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/deleteTaskResponse" message="tns:deleteTaskResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/deleteTask/Fault/BGException"/>
    </operation>
    <operation name="immediateRun">
      <input wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/immediateRunRequest" message="tns:immediateRun"/>
      <output wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/immediateRunResponse" message="tns:immediateRunResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/immediateRun/Fault/BGException"/>
    </operation>
    <operation name="getRunningTaskList">
      <input wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getRunningTaskListRequest" message="tns:getRunningTaskList"/>
      <output wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getRunningTaskListResponse" message="tns:getRunningTaskListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getRunningTaskList/Fault/BGException"/>
    </operation>
    <operation name="getPeriodicTaskList">
      <input wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getPeriodicTaskListRequest" message="tns:getPeriodicTaskList"/>
      <output wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getPeriodicTaskListResponse" message="tns:getPeriodicTaskListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getPeriodicTaskList/Fault/BGException"/>
    </operation>
    <operation name="deleteCurrentRunTask">
      <input wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/deleteCurrentRunTaskRequest" message="tns:deleteCurrentRunTask"/>
      <output wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/deleteCurrentRunTaskResponse" message="tns:deleteCurrentRunTaskResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/deleteCurrentRunTask/Fault/BGException"/>
    </operation>
    <operation name="getTaskLog">
      <input wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getTaskLogRequest" message="tns:getTaskLog"/>
      <output wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getTaskLogResponse" message="tns:getTaskLogResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.task.kernel.bgbilling.bitel.ru/SchedulerService/getTaskLog/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="SchedulerServiceBinding" type="tns:SchedulerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getSchedulerTasks">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getModuleAndPluginList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAvailableSchedulerTasks">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAvailableDependTasks">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getActiveTaskCount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateTask">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteTask">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="immediateRun">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getRunningTaskList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPeriodicTaskList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteCurrentRunTask">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getTaskLog">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SchedulerService">
    <port name="SchedulerService" binding="tns:SchedulerServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

