soap/kernel/src/main/wsdl/original/UserService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/" name="UserService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:import namespace="http://jaxb.dev.java.net/array"/>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="searchResult">
        <xsc:sequence>
          <xsc:element name="attributes" type="ns1:stringArray" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="list" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="page" type="tns:page" minOccurs="0"/>
          <xsc:element name="period" type="tns:period" minOccurs="0"/>
          <xsc:element name="sort" type="xsc:string" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="sum" type="xsc:decimal" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="stringArray" final="#all">
        <xs:sequence>
          <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://common.bitel.ru" xmlns:ns3="http://jaxb.dev.java.net/array">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:import namespace="http://jaxb.dev.java.net/array"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="deleteUser" type="tns:deleteUser"/>

      <xs:element name="deleteUserResponse" type="tns:deleteUserResponse"/>

      <xs:element name="findUsers" type="tns:findUsers"/>

      <xs:element name="findUsersResponse" type="tns:findUsersResponse"/>

      <xs:element name="getCurrentUserEmail" type="tns:getCurrentUserEmail"/>

      <xs:element name="getCurrentUserEmailResponse" type="tns:getCurrentUserEmailResponse"/>

      <xs:element name="getUser" type="tns:getUser"/>

      <xs:element name="getUserResponse" type="tns:getUserResponse"/>

      <xs:element name="listUsers" type="tns:listUsers"/>

      <xs:element name="listUsersResponse" type="tns:listUsersResponse"/>

      <xs:element name="loadUserActions" type="tns:loadUserActions"/>

      <xs:element name="loadUserActionsResponse" type="tns:loadUserActionsResponse"/>

      <xs:element name="updateUser" type="tns:updateUser"/>

      <xs:element name="updateUserResponse" type="tns:updateUserResponse"/>

      <xs:element name="userInfoGet" type="tns:userInfoGet"/>

      <xs:element name="userInfoGetResponse" type="tns:userInfoGetResponse"/>

      <xs:element name="userInfoList" type="tns:userInfoList"/>

      <xs:element name="userInfoListResponse" type="tns:userInfoListResponse"/>

      <xs:complexType name="user">
        <xs:complexContent>
          <xs:extension base="ns2:idTitle">
            <xs:sequence>
              <xs:element name="actionList" type="tns:bgsAction" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="config" type="xs:string" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="login" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="contractCid" type="xs:int" use="required"/>
            <xs:attribute name="contractGroups" type="xs:long" use="required"/>
            <xs:attribute name="contractGroupsMode" type="xs:int" use="required"/>
            <xs:attribute name="contractPid" type="xs:int" use="required"/>
            <xs:attribute name="contractTitle" type="xs:string"/>
            <xs:attribute name="date" type="xs:dateTime"/>
            <xs:attribute name="email" type="xs:string"/>
            <xs:attribute name="password" type="xs:string"/>
            <xs:attribute name="ruleAccessContractParameter">
              <xs:simpleType>
                <xs:list itemType="xs:string"/>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ruleAccessObjectParameter">
              <xs:simpleType>
                <xs:list itemType="xs:string"/>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="status" type="xs:int" use="required"/>
            <xs:attribute name="userGroups">
              <xs:simpleType>
                <xs:list itemType="xs:int"/>
              </xs:simpleType>
            </xs:attribute>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="bgsAction">
        <xs:sequence>
          <xs:element name="mid" type="xs:string" minOccurs="0"/>
          <xs:element name="actionID" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listUsers">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="listUsersResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="userInfoList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="userInfoListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:userInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="userInfo">
        <xs:complexContent>
          <xs:extension base="ns2:id">
            <xs:sequence/>
            <xs:attribute name="name" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="getUser">
        <xs:sequence>
          <xs:element name="userId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getUserResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:user" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getCurrentUserEmail">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getCurrentUserEmailResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="findUsers">
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="xs:int"/>
          <xs:element name="page" type="ns2:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="findUsersResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:searchResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="userInfoGet">
        <xs:sequence>
          <xs:element name="userId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="userInfoGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:userInfo" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteUser">
        <xs:sequence>
          <xs:element name="userId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteUserResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="updateUser">
        <xs:sequence>
          <xs:element name="name" type="tns:user" minOccurs="0"/>
          <xs:element name="groups" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateUserResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="loadUserActions">
        <xs:sequence>
          <xs:element name="userId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="loadUserActionsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:bgsAction" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="getCurrentUserEmail">
    <part name="parameters" element="tns:getCurrentUserEmail"/>
  </message>
  <message name="getCurrentUserEmailResponse">
    <part name="parameters" element="tns:getCurrentUserEmailResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="findUsers">
    <part name="parameters" element="tns:findUsers"/>
  </message>
  <message name="findUsersResponse">
    <part name="parameters" element="tns:findUsersResponse"/>
  </message>
  <message name="deleteUser">
    <part name="parameters" element="tns:deleteUser"/>
  </message>
  <message name="deleteUserResponse">
    <part name="parameters" element="tns:deleteUserResponse"/>
  </message>
  <message name="getUser">
    <part name="parameters" element="tns:getUser"/>
  </message>
  <message name="getUserResponse">
    <part name="parameters" element="tns:getUserResponse"/>
  </message>
  <message name="updateUser">
    <part name="parameters" element="tns:updateUser"/>
  </message>
  <message name="updateUserResponse">
    <part name="parameters" element="tns:updateUserResponse"/>
  </message>
  <message name="listUsers">
    <part name="parameters" element="tns:listUsers"/>
  </message>
  <message name="listUsersResponse">
    <part name="parameters" element="tns:listUsersResponse"/>
  </message>
  <message name="userInfoGet">
    <part name="parameters" element="tns:userInfoGet"/>
  </message>
  <message name="userInfoGetResponse">
    <part name="parameters" element="tns:userInfoGetResponse"/>
  </message>
  <message name="userInfoList">
    <part name="parameters" element="tns:userInfoList"/>
  </message>
  <message name="userInfoListResponse">
    <part name="parameters" element="tns:userInfoListResponse"/>
  </message>
  <message name="loadUserActions">
    <part name="parameters" element="tns:loadUserActions"/>
  </message>
  <message name="loadUserActionsResponse">
    <part name="parameters" element="tns:loadUserActionsResponse"/>
  </message>
  <portType name="UserService">
    <operation name="getCurrentUserEmail">
      <input wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/getCurrentUserEmailRequest" message="tns:getCurrentUserEmail"/>
      <output wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/getCurrentUserEmailResponse" message="tns:getCurrentUserEmailResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/getCurrentUserEmail/Fault/BGException"/>
    </operation>
    <operation name="findUsers">
      <input wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/findUsersRequest" message="tns:findUsers"/>
      <output wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/findUsersResponse" message="tns:findUsersResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/findUsers/Fault/BGException"/>
    </operation>
    <operation name="deleteUser">
      <input wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/deleteUserRequest" message="tns:deleteUser"/>
      <output wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/deleteUserResponse" message="tns:deleteUserResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/deleteUser/Fault/BGException"/>
    </operation>
    <operation name="getUser">
      <input wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/getUserRequest" message="tns:getUser"/>
      <output wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/getUserResponse" message="tns:getUserResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/getUser/Fault/BGException"/>
    </operation>
    <operation name="updateUser">
      <input wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/updateUserRequest" message="tns:updateUser"/>
      <output wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/updateUserResponse" message="tns:updateUserResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/updateUser/Fault/BGException"/>
    </operation>
    <operation name="listUsers">
      <input wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/listUsersRequest" message="tns:listUsers"/>
      <output wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/listUsersResponse" message="tns:listUsersResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/listUsers/Fault/BGException"/>
    </operation>
    <operation name="userInfoGet">
      <input wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/userInfoGetRequest" message="tns:userInfoGet"/>
      <output wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/userInfoGetResponse" message="tns:userInfoGetResponse"/>
    </operation>
    <operation name="userInfoList">
      <input wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/userInfoListRequest" message="tns:userInfoList"/>
      <output wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/userInfoListResponse" message="tns:userInfoListResponse"/>
    </operation>
    <operation name="loadUserActions">
      <input wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/loadUserActionsRequest" message="tns:loadUserActions"/>
      <output wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/loadUserActionsResponse" message="tns:loadUserActionsResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bgsecure.kernel.bgbilling.bitel.ru/UserService/loadUserActions/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="UserServiceBinding" type="tns:UserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getCurrentUserEmail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="findUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="listUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="userInfoGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="userInfoList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="loadUserActions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="UserService">
    <port name="UserService" binding="tns:UserServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

