soap/kernel/src/main/wsdl/original/WebMenuService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/" name="WebMenuService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="setWebMenuIdForContract" type="tns:setWebMenuIdForContract"/>

      <xs:element name="setWebMenuIdForContractResponse" type="tns:setWebMenuIdForContractResponse"/>

      <xs:element name="webMenuContractList" type="tns:webMenuContractList"/>

      <xs:element name="webMenuContractListResponse" type="tns:webMenuContractListResponse"/>

      <xs:element name="webMenuDataDelete" type="tns:webMenuDataDelete"/>

      <xs:element name="webMenuDataDeleteResponse" type="tns:webMenuDataDeleteResponse"/>

      <xs:element name="webMenuDataGet" type="tns:webMenuDataGet"/>

      <xs:element name="webMenuDataGetResponse" type="tns:webMenuDataGetResponse"/>

      <xs:element name="webMenuDataUpdate" type="tns:webMenuDataUpdate"/>

      <xs:element name="webMenuDataUpdateResponse" type="tns:webMenuDataUpdateResponse"/>

      <xs:element name="webMenuInfoGet" type="tns:webMenuInfoGet"/>

      <xs:element name="webMenuInfoGetResponse" type="tns:webMenuInfoGetResponse"/>

      <xs:element name="webMenuInfoUpdate" type="tns:webMenuInfoUpdate"/>

      <xs:element name="webMenuInfoUpdateResponse" type="tns:webMenuInfoUpdateResponse"/>

      <xs:element name="webMenuKernelItems" type="tns:webMenuKernelItems"/>

      <xs:element name="webMenuKernelItemsResponse" type="tns:webMenuKernelItemsResponse"/>

      <xs:element name="webMenuList" type="tns:webMenuList"/>

      <xs:element name="webMenuListResponse" type="tns:webMenuListResponse"/>

      <xs:element name="webMenuModuleItems" type="tns:webMenuModuleItems"/>

      <xs:element name="webMenuModuleItemsResponse" type="tns:webMenuModuleItemsResponse"/>

      <xs:element name="webMenuPluginItems" type="tns:webMenuPluginItems"/>

      <xs:element name="webMenuPluginItemsResponse" type="tns:webMenuPluginItemsResponse"/>

      <xs:complexType name="webMenuDataUpdate">
        <xs:sequence>
          <xs:element name="webMenuItemId" type="xs:int"/>
          <xs:element name="webMenuItemData" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="webMenuDataUpdateResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="webMenuDataDelete">
        <xs:sequence>
          <xs:element name="webMenuItemId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="webMenuDataDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="webMenuContractList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="webMenuContractListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:webMenuItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="webMenuItem">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="count" type="xs:int"/>
              <xs:element name="default" type="xs:boolean"/>
              <xs:element name="selected" type="xs:boolean"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="webMenuInfoGet">
        <xs:sequence>
          <xs:element name="webMenuItemId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="webMenuInfoGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:webMenuItem" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="webMenuKernelItems">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="webMenuKernelItemsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:webMenuModuleItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="webMenuModuleItem">
        <xs:sequence/>
        <xs:attribute name="action" type="xs:string"/>
        <xs:attribute name="moduleId" type="xs:int" use="required"/>
        <xs:attribute name="moduleName" type="xs:string"/>
        <xs:attribute name="moduleTitle" type="xs:string"/>
        <xs:attribute name="title" type="xs:string"/>
      </xs:complexType>

      <xs:complexType name="webMenuInfoUpdate">
        <xs:sequence>
          <xs:element name="webMenuItem" type="tns:webMenuItem" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="webMenuInfoUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:webMenuItem" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="webMenuModuleItems">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="webMenuModuleItemsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:webMenuModuleItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="webMenuList">
        <xs:sequence>
          <xs:element name="loadCount" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="webMenuListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:webMenuItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="webMenuDataGet">
        <xs:sequence>
          <xs:element name="webMenuItemId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="webMenuDataGetResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="setWebMenuIdForContract">
        <xs:sequence>
          <xs:element name="webMenuItemId" type="xs:int"/>
          <xs:element name="contractId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="setWebMenuIdForContractResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="webMenuPluginItems">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="webMenuPluginItemsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:webMenuModuleItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
</xsc:schema>
  </types>
  <message name="webMenuList">
    <part name="parameters" element="tns:webMenuList"/>
  </message>
  <message name="webMenuListResponse">
    <part name="parameters" element="tns:webMenuListResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="webMenuContractList">
    <part name="parameters" element="tns:webMenuContractList"/>
  </message>
  <message name="webMenuContractListResponse">
    <part name="parameters" element="tns:webMenuContractListResponse"/>
  </message>
  <message name="webMenuInfoUpdate">
    <part name="parameters" element="tns:webMenuInfoUpdate"/>
  </message>
  <message name="webMenuInfoUpdateResponse">
    <part name="parameters" element="tns:webMenuInfoUpdateResponse"/>
  </message>
  <message name="webMenuInfoGet">
    <part name="parameters" element="tns:webMenuInfoGet"/>
  </message>
  <message name="webMenuInfoGetResponse">
    <part name="parameters" element="tns:webMenuInfoGetResponse"/>
  </message>
  <message name="setWebMenuIdForContract">
    <part name="parameters" element="tns:setWebMenuIdForContract"/>
  </message>
  <message name="setWebMenuIdForContractResponse">
    <part name="parameters" element="tns:setWebMenuIdForContractResponse"/>
  </message>
  <message name="webMenuDataUpdate">
    <part name="parameters" element="tns:webMenuDataUpdate"/>
  </message>
  <message name="webMenuDataUpdateResponse">
    <part name="parameters" element="tns:webMenuDataUpdateResponse"/>
  </message>
  <message name="webMenuDataGet">
    <part name="parameters" element="tns:webMenuDataGet"/>
  </message>
  <message name="webMenuDataGetResponse">
    <part name="parameters" element="tns:webMenuDataGetResponse"/>
  </message>
  <message name="webMenuDataDelete">
    <part name="parameters" element="tns:webMenuDataDelete"/>
  </message>
  <message name="webMenuDataDeleteResponse">
    <part name="parameters" element="tns:webMenuDataDeleteResponse"/>
  </message>
  <message name="webMenuModuleItems">
    <part name="parameters" element="tns:webMenuModuleItems"/>
  </message>
  <message name="webMenuModuleItemsResponse">
    <part name="parameters" element="tns:webMenuModuleItemsResponse"/>
  </message>
  <message name="webMenuKernelItems">
    <part name="parameters" element="tns:webMenuKernelItems"/>
  </message>
  <message name="webMenuKernelItemsResponse">
    <part name="parameters" element="tns:webMenuKernelItemsResponse"/>
  </message>
  <message name="webMenuPluginItems">
    <part name="parameters" element="tns:webMenuPluginItems"/>
  </message>
  <message name="webMenuPluginItemsResponse">
    <part name="parameters" element="tns:webMenuPluginItemsResponse"/>
  </message>
  <portType name="WebMenuService">
    <operation name="webMenuList">
      <input wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuListRequest" message="tns:webMenuList"/>
      <output wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuListResponse" message="tns:webMenuListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuList/Fault/BGException"/>
    </operation>
    <operation name="webMenuContractList">
      <input wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuContractListRequest" message="tns:webMenuContractList"/>
      <output wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuContractListResponse" message="tns:webMenuContractListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuContractList/Fault/BGException"/>
    </operation>
    <operation name="webMenuInfoUpdate">
      <input wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuInfoUpdateRequest" message="tns:webMenuInfoUpdate"/>
      <output wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuInfoUpdateResponse" message="tns:webMenuInfoUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuInfoUpdate/Fault/BGException"/>
    </operation>
    <operation name="webMenuInfoGet">
      <input wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuInfoGetRequest" message="tns:webMenuInfoGet"/>
      <output wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuInfoGetResponse" message="tns:webMenuInfoGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuInfoGet/Fault/BGException"/>
    </operation>
    <operation name="setWebMenuIdForContract">
      <input wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/setWebMenuIdForContractRequest" message="tns:setWebMenuIdForContract"/>
      <output wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/setWebMenuIdForContractResponse" message="tns:setWebMenuIdForContractResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/setWebMenuIdForContract/Fault/BGException"/>
    </operation>
    <operation name="webMenuDataUpdate">
      <input wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuDataUpdateRequest" message="tns:webMenuDataUpdate"/>
      <output wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuDataUpdateResponse" message="tns:webMenuDataUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuDataUpdate/Fault/BGException"/>
    </operation>
    <operation name="webMenuDataGet">
      <input wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuDataGetRequest" message="tns:webMenuDataGet"/>
      <output wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuDataGetResponse" message="tns:webMenuDataGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuDataGet/Fault/BGException"/>
    </operation>
    <operation name="webMenuDataDelete">
      <input wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuDataDeleteRequest" message="tns:webMenuDataDelete"/>
      <output wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuDataDeleteResponse" message="tns:webMenuDataDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuDataDelete/Fault/BGException"/>
    </operation>
    <operation name="webMenuModuleItems">
      <input wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuModuleItemsRequest" message="tns:webMenuModuleItems"/>
      <output wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuModuleItemsResponse" message="tns:webMenuModuleItemsResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuModuleItems/Fault/BGException"/>
    </operation>
    <operation name="webMenuKernelItems">
      <input wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuKernelItemsRequest" message="tns:webMenuKernelItems"/>
      <output wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuKernelItemsResponse" message="tns:webMenuKernelItemsResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuKernelItems/Fault/BGException"/>
    </operation>
    <operation name="webMenuPluginItems">
      <input wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuPluginItemsRequest" message="tns:webMenuPluginItems"/>
      <output wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuPluginItemsResponse" message="tns:webMenuPluginItemsResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.webmenu.admin.kernel.bgbilling.bitel.ru/WebMenuService/webMenuPluginItems/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="WebMenuServiceBinding" type="tns:WebMenuService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="webMenuList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="webMenuContractList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="webMenuInfoUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="webMenuInfoGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="setWebMenuIdForContract">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="webMenuDataUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="webMenuDataGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="webMenuDataDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="webMenuModuleItems">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="webMenuKernelItems">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="webMenuPluginItems">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="WebMenuService">
    <port name="WebMenuService" binding="tns:WebMenuServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

