soap/oss/src/main/wsdl/handmade/AddressService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://service.common.address.directories.kernel.oss.bitel.ru/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://service.common.address.directories.kernel.oss.bitel.ru/" name="AddressService">
    <types>
        <xs:schema xmlns:tns="http://service.common.address.directories.kernel.oss.bitel.ru/"
                   xmlns:ns1="http://common.bitel.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
                   targetNamespace="http://service.common.address.directories.kernel.oss.bitel.ru/">
            <xs:element name="BGException" type="tns:BGException"/>
            <xs:element name="addressFormat" type="tns:addressFormat"/>
            <xs:element name="addressFormatResponse" type="tns:addressFormatResponse"/>
            <xs:element name="areaDelete" type="tns:areaDelete"/>
            <xs:element name="areaDeleteResponse" type="tns:areaDeleteResponse"/>
            <xs:element name="areaGet" type="tns:areaGet"/>
            <xs:element name="areaGetResponse" type="tns:areaGetResponse"/>
            <xs:element name="areaList" type="tns:areaList"/>
            <xs:element name="areaListResponse" type="tns:areaListResponse"/>
            <xs:element name="areaUpdate" type="tns:areaUpdate"/>
            <xs:element name="areaUpdateResponse" type="tns:areaUpdateResponse"/>
            <xs:element name="cityDelete" type="tns:cityDelete"/>
            <xs:element name="cityDeleteResponse" type="tns:cityDeleteResponse"/>
            <xs:element name="cityGet" type="tns:cityGet"/>
            <xs:element name="cityGetResponse" type="tns:cityGetResponse"/>
            <xs:element name="cityList" type="tns:cityList"/>
            <xs:element name="cityListResponse" type="tns:cityListResponse"/>
            <xs:element name="cityUpdate" type="tns:cityUpdate"/>
            <xs:element name="cityUpdateResponse" type="tns:cityUpdateResponse"/>
            <xs:element name="countryDelete" type="tns:countryDelete"/>
            <xs:element name="countryDeleteResponse" type="tns:countryDeleteResponse"/>
            <xs:element name="countryGet" type="tns:countryGet"/>
            <xs:element name="countryGetResponse" type="tns:countryGetResponse"/>
            <xs:element name="countryList" type="tns:countryList"/>
            <xs:element name="countryListResponse" type="tns:countryListResponse"/>
            <xs:element name="countryUpdate" type="tns:countryUpdate"/>
            <xs:element name="countryUpdateResponse" type="tns:countryUpdateResponse"/>
            <xs:element name="houseDelete" type="tns:houseDelete"/>
            <xs:element name="houseDeleteResponse" type="tns:houseDeleteResponse"/>
            <xs:element name="houseGet" type="tns:houseGet"/>
            <xs:element name="houseGetResponse" type="tns:houseGetResponse"/>
            <xs:element name="houseList" type="tns:houseList"/>
            <xs:element name="houseListResponse" type="tns:houseListResponse"/>
            <xs:element name="houseUpdate" type="tns:houseUpdate"/>
            <xs:element name="houseUpdateResponse" type="tns:houseUpdateResponse"/>
            <xs:element name="postIndexGet" type="tns:postIndexGet"/>
            <xs:element name="postIndexGetResponse" type="tns:postIndexGetResponse"/>
            <xs:element name="quarterDelete" type="tns:quarterDelete"/>
            <xs:element name="quarterDeleteResponse" type="tns:quarterDeleteResponse"/>
            <xs:element name="quarterGet" type="tns:quarterGet"/>
            <xs:element name="quarterGetResponse" type="tns:quarterGetResponse"/>
            <xs:element name="quarterList" type="tns:quarterList"/>
            <xs:element name="quarterListResponse" type="tns:quarterListResponse"/>
            <xs:element name="quarterUpdate" type="tns:quarterUpdate"/>
            <xs:element name="quarterUpdateResponse" type="tns:quarterUpdateResponse"/>
            <xs:element name="streetDelete" type="tns:streetDelete"/>
            <xs:element name="streetDeleteResponse" type="tns:streetDeleteResponse"/>
            <xs:element name="streetGet" type="tns:streetGet"/>
            <xs:element name="streetGetResponse" type="tns:streetGetResponse"/>
            <xs:element name="streetList" type="tns:streetList"/>
            <xs:element name="streetListResponse" type="tns:streetListResponse"/>
            <xs:element name="streetSearch" type="tns:streetSearch"/>
            <xs:element name="streetSearchResponse" type="tns:streetSearchResponse"/>
            <xs:element name="streetUpdate" type="tns:streetUpdate"/>
            <xs:element name="streetUpdateResponse" type="tns:streetUpdateResponse"/>
            <xs:complexType name="houseList">
                <xs:sequence>
                    <xs:element name="cityId" type="xs:int"/>
                    <xs:element name="areaId" type="xs:int"/>
                    <xs:element name="streetId" type="xs:int"/>
                    <xs:element name="quarterId" type="xs:int"/>
                    <xs:element name="house" type="xs:int"/>
                    <xs:element name="frac" type="xs:string" minOccurs="0"/>
                    <xs:element name="page" type="ns1:page" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="houseListResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:house" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="house">
                <xs:complexContent>
                    <xs:extension base="ns1:id">
                        <xs:sequence>
                            <xs:element name="comment" type="xs:string" minOccurs="0"/>
                            <xs:element name="params">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="key" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="value" minOccurs="0" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="amount" type="xs:int" use="required"/>
                        <xs:attribute name="areaId" type="xs:int" use="required"/>
                        <xs:attribute name="areaTitle" type="xs:string"/>
                        <xs:attribute name="cityId" type="xs:int" use="required"/>
                        <xs:attribute name="cityTitle" type="xs:string"/>
                        <xs:attribute name="date" type="xs:dateTime"/>
                        <xs:attribute name="frac" type="xs:string"/>
                        <xs:attribute name="house" type="xs:int" use="required"/>
                        <xs:attribute name="houseFrac" type="xs:string"/>
                        <xs:attribute name="pod" type="xs:string"/>
                        <xs:attribute name="postIndex" type="xs:string"/>
                        <xs:attribute name="quarterId" type="xs:int" use="required"/>
                        <xs:attribute name="quarterTitle" type="xs:string"/>
                        <xs:attribute name="streetId" type="xs:int" use="required"/>
                        <xs:attribute name="streetTitle" type="xs:string"/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="BGException">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                    <xs:element name="tag" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="countryDelete">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="countryDeleteResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="areaGet">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="areaGetResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:area" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="area">
                <xs:complexContent>
                    <xs:extension base="ns1:idTitle">
                        <xs:sequence>
                            <xs:element name="cityId" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="quarterGet">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="quarterGetResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:quarter" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="quarter">
                <xs:complexContent>
                    <xs:extension base="ns1:idTitle">
                        <xs:sequence/>
                        <xs:attribute name="cityId" type="xs:int" use="required"/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="postIndexGet">
                <xs:sequence>
                    <xs:element name="streetId" type="xs:int"/>
                    <xs:element name="houseAndFrac" type="xs:string" minOccurs="0"/>
                    <xs:element name="house" type="xs:int"/>
                    <xs:element name="frac" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="postIndexGetResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="streetUpdate">
                <xs:sequence>
                    <xs:element name="street" type="tns:street" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="street">
                <xs:complexContent>
                    <xs:extension base="ns1:idTitle">
                        <xs:sequence/>
                        <xs:attribute name="cityId" type="xs:int" use="required"/>
                        <xs:attribute name="cityTitle" type="xs:string"/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="streetUpdateResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="streetDelete">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="streetDeleteResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="quarterList">
                <xs:sequence>
                    <xs:element name="cityId" type="xs:int"/>
                    <xs:element name="title" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="quarterListResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:quarter" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="houseDelete">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="houseDeleteResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="areaList">
                <xs:sequence>
                    <xs:element name="cityId" type="xs:int"/>
                    <xs:element name="title" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="areaListResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:area" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addressFormat">
                <xs:sequence>
                    <xs:element name="houseId" type="xs:int"/>
                    <xs:element name="pod" type="xs:int"/>
                    <xs:element name="floor" type="xs:int"/>
                    <xs:element name="flat" type="xs:string" minOccurs="0"/>
                    <xs:element name="room" type="xs:string" minOccurs="0"/>
                    <xs:element name="comment" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addressFormatResponse">
                <xs:sequence>
                    <xs:element name="return" type="ns1:keyValue" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="streetSearch">
                <xs:sequence>
                    <xs:element name="cityId" type="xs:int"/>
                    <xs:element name="title" type="xs:string" minOccurs="0"/>
                    <xs:element name="cityTitle" type="xs:string" minOccurs="0"/>
                    <xs:element name="page" type="ns1:page" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="streetSearchResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:street" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="houseUpdate">
                <xs:sequence>
                    <xs:element name="house" type="tns:house" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="houseUpdateResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cityUpdate">
                <xs:sequence>
                    <xs:element name="city" type="tns:city" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="city">
                <xs:complexContent>
                    <xs:extension base="ns1:idTitle">
                        <xs:sequence/>
                        <xs:attribute name="countryId" type="xs:int" use="required"/>
                        <xs:attribute name="positionIndex" type="xs:int" use="required"/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="cityUpdateResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="countryList">
                <xs:sequence>
                    <xs:element name="title" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="countryListResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:country" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="country">
                <xs:complexContent>
                    <xs:extension base="ns1:idTitle">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="houseGet">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="houseGetResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:house" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cityDelete">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cityDeleteResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="cityList">
                <xs:sequence>
                    <xs:element name="countryId" type="xs:int"/>
                    <xs:element name="title" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cityListResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:city" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="quarterUpdate">
                <xs:sequence>
                    <xs:element name="quarter" type="tns:quarter" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="quarterUpdateResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="areaUpdate">
                <xs:sequence>
                    <xs:element name="area" type="tns:area" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="areaUpdateResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="areaDelete">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="areaDeleteResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="streetGet">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="streetGetResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:street" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="countryUpdate">
                <xs:sequence>
                    <xs:element name="country" type="tns:country" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="countryUpdateResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="countryGet">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="countryGetResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:country" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="streetList">
                <xs:sequence>
                    <xs:element name="cityId" type="xs:int"/>
                    <xs:element name="title" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="streetListResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:street" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="quarterDelete">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="quarterDeleteResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="cityGet">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cityGetResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:city" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xsc:schema xmlns:tns="http://common.bitel.ru" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xmlns:common="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema"
                    elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru">
            <xsc:complexType name="page">
                <xsc:sequence/>
                <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
                <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
                <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
                <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
            </xsc:complexType>
            <xsc:complexType name="id">
                <xsc:sequence/>
                <xsc:attribute name="id" type="xsc:int" use="required"/>
            </xsc:complexType>
            <xsc:complexType name="idTitle">
                <xsc:complexContent>
                    <xsc:extension base="tns:id">
                        <xsc:sequence/>
                        <xsc:attribute name="title" type="xsc:string"/>
                    </xsc:extension>
                </xsc:complexContent>
            </xsc:complexType>
            <xsc:complexType name="keyValue">
                <xsc:sequence>
                    <xsc:element name="key" type="xsc:anyType" minOccurs="0"/>
                    <xsc:element name="value" type="xsc:anyType" minOccurs="0"/>
                </xsc:sequence>
            </xsc:complexType>
        </xsc:schema>
    </types>
    <message name="countryUpdate">
        <part name="parameters" element="tns:countryUpdate">
        </part>
    </message>
    <message name="countryUpdateResponse">
        <part name="parameters" element="tns:countryUpdateResponse">
        </part>
    </message>
    <message name="BGException">
        <part name="fault" element="tns:BGException">
        </part>
    </message>
    <message name="countryDelete">
        <part name="parameters" element="tns:countryDelete">
        </part>
    </message>
    <message name="countryDeleteResponse">
        <part name="parameters" element="tns:countryDeleteResponse">
        </part>
    </message>
    <message name="cityGet">
        <part name="parameters" element="tns:cityGet">
        </part>
    </message>
    <message name="cityGetResponse">
        <part name="parameters" element="tns:cityGetResponse">
        </part>
    </message>
    <message name="cityList">
        <part name="parameters" element="tns:cityList">
        </part>
    </message>
    <message name="cityListResponse">
        <part name="parameters" element="tns:cityListResponse">
        </part>
    </message>
    <message name="countryGet">
        <part name="parameters" element="tns:countryGet">
        </part>
    </message>
    <message name="countryGetResponse">
        <part name="parameters" element="tns:countryGetResponse">
        </part>
    </message>
    <message name="countryList">
        <part name="parameters" element="tns:countryList">
        </part>
    </message>
    <message name="countryListResponse">
        <part name="parameters" element="tns:countryListResponse">
        </part>
    </message>
    <message name="cityUpdate">
        <part name="parameters" element="tns:cityUpdate">
        </part>
    </message>
    <message name="cityUpdateResponse">
        <part name="parameters" element="tns:cityUpdateResponse">
        </part>
    </message>
    <message name="cityDelete">
        <part name="parameters" element="tns:cityDelete">
        </part>
    </message>
    <message name="cityDeleteResponse">
        <part name="parameters" element="tns:cityDeleteResponse">
        </part>
    </message>
    <message name="areaGet">
        <part name="parameters" element="tns:areaGet">
        </part>
    </message>
    <message name="areaGetResponse">
        <part name="parameters" element="tns:areaGetResponse">
        </part>
    </message>
    <message name="areaList">
        <part name="parameters" element="tns:areaList">
        </part>
    </message>
    <message name="areaListResponse">
        <part name="parameters" element="tns:areaListResponse">
        </part>
    </message>
    <message name="areaUpdate">
        <part name="parameters" element="tns:areaUpdate">
        </part>
    </message>
    <message name="areaUpdateResponse">
        <part name="parameters" element="tns:areaUpdateResponse">
        </part>
    </message>
    <message name="areaDelete">
        <part name="parameters" element="tns:areaDelete">
        </part>
    </message>
    <message name="areaDeleteResponse">
        <part name="parameters" element="tns:areaDeleteResponse">
        </part>
    </message>
    <message name="streetGet">
        <part name="parameters" element="tns:streetGet">
        </part>
    </message>
    <message name="streetGetResponse">
        <part name="parameters" element="tns:streetGetResponse">
        </part>
    </message>
    <message name="streetList">
        <part name="parameters" element="tns:streetList">
        </part>
    </message>
    <message name="streetListResponse">
        <part name="parameters" element="tns:streetListResponse">
        </part>
    </message>
    <message name="streetSearch">
        <part name="parameters" element="tns:streetSearch">
        </part>
    </message>
    <message name="streetSearchResponse">
        <part name="parameters" element="tns:streetSearchResponse">
        </part>
    </message>
    <message name="streetUpdate">
        <part name="parameters" element="tns:streetUpdate">
        </part>
    </message>
    <message name="streetUpdateResponse">
        <part name="parameters" element="tns:streetUpdateResponse">
        </part>
    </message>
    <message name="streetDelete">
        <part name="parameters" element="tns:streetDelete">
        </part>
    </message>
    <message name="streetDeleteResponse">
        <part name="parameters" element="tns:streetDeleteResponse">
        </part>
    </message>
    <message name="quarterGet">
        <part name="parameters" element="tns:quarterGet">
        </part>
    </message>
    <message name="quarterGetResponse">
        <part name="parameters" element="tns:quarterGetResponse">
        </part>
    </message>
    <message name="quarterList">
        <part name="parameters" element="tns:quarterList">
        </part>
    </message>
    <message name="quarterListResponse">
        <part name="parameters" element="tns:quarterListResponse">
        </part>
    </message>
    <message name="quarterUpdate">
        <part name="parameters" element="tns:quarterUpdate">
        </part>
    </message>
    <message name="quarterUpdateResponse">
        <part name="parameters" element="tns:quarterUpdateResponse">
        </part>
    </message>
    <message name="quarterDelete">
        <part name="parameters" element="tns:quarterDelete">
        </part>
    </message>
    <message name="quarterDeleteResponse">
        <part name="parameters" element="tns:quarterDeleteResponse">
        </part>
    </message>
    <message name="postIndexGet">
        <part name="parameters" element="tns:postIndexGet">
        </part>
    </message>
    <message name="postIndexGetResponse">
        <part name="parameters" element="tns:postIndexGetResponse">
        </part>
    </message>
    <message name="houseGet">
        <part name="parameters" element="tns:houseGet">
        </part>
    </message>
    <message name="houseGetResponse">
        <part name="parameters" element="tns:houseGetResponse">
        </part>
    </message>
    <message name="houseList">
        <part name="parameters" element="tns:houseList">
        </part>
    </message>
    <message name="houseListResponse">
        <part name="parameters" element="tns:houseListResponse">
        </part>
    </message>
    <message name="houseUpdate">
        <part name="parameters" element="tns:houseUpdate">
        </part>
    </message>
    <message name="houseUpdateResponse">
        <part name="parameters" element="tns:houseUpdateResponse">
        </part>
    </message>
    <message name="houseDelete">
        <part name="parameters" element="tns:houseDelete">
        </part>
    </message>
    <message name="houseDeleteResponse">
        <part name="parameters" element="tns:houseDeleteResponse">
        </part>
    </message>
    <message name="addressFormat">
        <part name="parameters" element="tns:addressFormat">
        </part>
    </message>
    <message name="addressFormatResponse">
        <part name="parameters" element="tns:addressFormatResponse">
        </part>
    </message>
    <portType name="AddressService">
        <operation name="countryUpdate">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/countryUpdateRequest"
                   message="tns:countryUpdate">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/countryUpdateResponse"
                    message="tns:countryUpdateResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/countryUpdate/Fault/BGException">
            </fault>
        </operation>
        <operation name="countryDelete">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/countryDeleteRequest"
                   message="tns:countryDelete">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/countryDeleteResponse"
                    message="tns:countryDeleteResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/countryDelete/Fault/BGException">
            </fault>
        </operation>
        <operation name="cityGet">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/cityGetRequest"
                   message="tns:cityGet">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/cityGetResponse"
                    message="tns:cityGetResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/cityGet/Fault/BGException">
            </fault>
        </operation>
        <operation name="cityList">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/cityListRequest"
                   message="tns:cityList">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/cityListResponse"
                    message="tns:cityListResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/cityList/Fault/BGException">
            </fault>
        </operation>
        <operation name="countryGet">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/countryGetRequest"
                   message="tns:countryGet">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/countryGetResponse"
                    message="tns:countryGetResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/countryGet/Fault/BGException">
            </fault>
        </operation>
        <operation name="countryList">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/countryListRequest"
                   message="tns:countryList">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/countryListResponse"
                    message="tns:countryListResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/countryList/Fault/BGException">
            </fault>
        </operation>
        <operation name="cityUpdate">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/cityUpdateRequest"
                   message="tns:cityUpdate">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/cityUpdateResponse"
                    message="tns:cityUpdateResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/cityUpdate/Fault/BGException">
            </fault>
        </operation>
        <operation name="cityDelete">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/cityDeleteRequest"
                   message="tns:cityDelete">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/cityDeleteResponse"
                    message="tns:cityDeleteResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/cityDelete/Fault/BGException">
            </fault>
        </operation>
        <operation name="areaGet">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/areaGetRequest"
                   message="tns:areaGet">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/areaGetResponse"
                    message="tns:areaGetResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/areaGet/Fault/BGException">
            </fault>
        </operation>
        <operation name="areaList">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/areaListRequest"
                   message="tns:areaList">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/areaListResponse"
                    message="tns:areaListResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/areaList/Fault/BGException">
            </fault>
        </operation>
        <operation name="areaUpdate">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/areaUpdateRequest"
                   message="tns:areaUpdate">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/areaUpdateResponse"
                    message="tns:areaUpdateResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/areaUpdate/Fault/BGException">
            </fault>
        </operation>
        <operation name="areaDelete">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/areaDeleteRequest"
                   message="tns:areaDelete">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/areaDeleteResponse"
                    message="tns:areaDeleteResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/areaDelete/Fault/BGException">
            </fault>
        </operation>
        <operation name="streetGet">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/streetGetRequest"
                   message="tns:streetGet">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/streetGetResponse"
                    message="tns:streetGetResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/streetGet/Fault/BGException">
            </fault>
        </operation>
        <operation name="streetList">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/streetListRequest"
                   message="tns:streetList">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/streetListResponse"
                    message="tns:streetListResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/streetList/Fault/BGException">
            </fault>
        </operation>
        <operation name="streetSearch">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/streetSearchRequest"
                   message="tns:streetSearch">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/streetSearchResponse"
                    message="tns:streetSearchResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/streetSearch/Fault/BGException">
            </fault>
        </operation>
        <operation name="streetUpdate">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/streetUpdateRequest"
                   message="tns:streetUpdate">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/streetUpdateResponse"
                    message="tns:streetUpdateResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/streetUpdate/Fault/BGException">
            </fault>
        </operation>
        <operation name="streetDelete">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/streetDeleteRequest"
                   message="tns:streetDelete">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/streetDeleteResponse"
                    message="tns:streetDeleteResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/streetDelete/Fault/BGException">
            </fault>
        </operation>
        <operation name="quarterGet">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/quarterGetRequest"
                   message="tns:quarterGet">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/quarterGetResponse"
                    message="tns:quarterGetResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/quarterGet/Fault/BGException">
            </fault>
        </operation>
        <operation name="quarterList">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/quarterListRequest"
                   message="tns:quarterList">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/quarterListResponse"
                    message="tns:quarterListResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/quarterList/Fault/BGException">
            </fault>
        </operation>
        <operation name="quarterUpdate">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/quarterUpdateRequest"
                   message="tns:quarterUpdate">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/quarterUpdateResponse"
                    message="tns:quarterUpdateResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/quarterUpdate/Fault/BGException">
            </fault>
        </operation>
        <operation name="quarterDelete">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/quarterDeleteRequest"
                   message="tns:quarterDelete">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/quarterDeleteResponse"
                    message="tns:quarterDeleteResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/quarterDelete/Fault/BGException">
            </fault>
        </operation>
        <operation name="postIndexGet">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/postIndexGetRequest"
                   message="tns:postIndexGet">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/postIndexGetResponse"
                    message="tns:postIndexGetResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/postIndexGet/Fault/BGException">
            </fault>
        </operation>
        <operation name="houseGet">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/houseGetRequest"
                   message="tns:houseGet">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/houseGetResponse"
                    message="tns:houseGetResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/houseGet/Fault/BGException">
            </fault>
        </operation>
        <operation name="houseList">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/houseListRequest"
                   message="tns:houseList">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/houseListResponse"
                    message="tns:houseListResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/houseList/Fault/BGException">
            </fault>
        </operation>
        <operation name="houseUpdate">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/houseUpdateRequest"
                   message="tns:houseUpdate">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/houseUpdateResponse"
                    message="tns:houseUpdateResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/houseUpdate/Fault/BGException">
            </fault>
        </operation>
        <operation name="houseDelete">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/houseDeleteRequest"
                   message="tns:houseDelete">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/houseDeleteResponse"
                    message="tns:houseDeleteResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/houseDelete/Fault/BGException">
            </fault>
        </operation>
        <operation name="addressFormat">
            <input wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/addressFormatRequest"
                   message="tns:addressFormat">
            </input>
            <output wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/addressFormatResponse"
                    message="tns:addressFormatResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.address.directories.kernel.oss.bitel.ru/AddressService/addressFormat/Fault/BGException">
            </fault>
        </operation>
    </portType>
    <binding name="AddressServiceBinding" type="tns:AddressService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document">
        </soap:binding>
        <operation name="countryUpdate">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="countryDelete">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="cityGet">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="cityList">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="countryGet">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="countryList">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="cityUpdate">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="cityDelete">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="areaGet">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="areaList">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="areaUpdate">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="areaDelete">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="streetGet">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="streetList">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="streetSearch">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="streetUpdate">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="streetDelete">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="quarterGet">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="quarterList">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="quarterUpdate">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="quarterDelete">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="postIndexGet">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="houseGet">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="houseList">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="houseUpdate">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="houseDelete">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="addressFormat">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
    </binding>
    <service name="AddressService">
        <port name="AddressService" binding="tns:AddressServiceBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL">
            </soap:address>
        </port>
    </service>
</definitions>
