soap/oss/src/main/wsdl/handmade/DomainService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.common.domain.directories.kernel.oss.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.common.domain.directories.kernel.oss.bitel.ru/" name="DomainService">
  <types>
    <xs:schema xmlns:tns="http://service.common.domain.directories.kernel.oss.bitel.ru/" xmlns:ns1="http://common.bitel.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.common.domain.directories.kernel.oss.bitel.ru/">
      <xs:element name="BGException" type="tns:BGException"/>
      <xs:element name="BGIllegalAccessException" type="tns:BGIllegalAccessException"/>
      <xs:element name="BGIllegalArgumentException" type="tns:BGIllegalArgumentException"/>
      <xs:element name="BGMessageException" type="tns:BGMessageException"/>
      <xs:element name="domainDelete" type="tns:domainDelete"/>
      <xs:element name="domainDeleteResponse" type="tns:domainDeleteResponse"/>
      <xs:element name="domainGet" type="tns:domainGet"/>
      <xs:element name="domainGetResponse" type="tns:domainGetResponse"/>
      <xs:element name="domainList" type="tns:domainList"/>
      <xs:element name="domainListResponse" type="tns:domainListResponse"/>
      <xs:element name="domainMove" type="tns:domainMove"/>
      <xs:element name="domainMoveResponse" type="tns:domainMoveResponse"/>
      <xs:element name="domainTree" type="tns:domainTree"/>
      <xs:element name="domainTreeResponse" type="tns:domainTreeResponse"/>
      <xs:element name="domainUpdate" type="tns:domainUpdate"/>
      <xs:element name="domainUpdateResponse" type="tns:domainUpdateResponse"/>
      <xs:complexType name="domainMove">
        <xs:sequence>
          <xs:element name="newParentId" type="xs:int"/>
          <xs:element name="ids" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domainMoveResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BGMessageException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BGIllegalArgumentException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BGIllegalAccessException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domainDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domainDeleteResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="domainTree">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="domainTreeResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:domain" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domain">
        <xs:complexContent>
          <xs:extension base="ns1:abstractTreeNode">
            <xs:sequence>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="domainGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domainGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:domain" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domainList">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="domainListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:domain" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domainUpdate">
        <xs:sequence>
          <xs:element name="domain" type="tns:domain" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domainUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xsc:schema xmlns:tns="http://common.bitel.ru" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:common="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru">
      <xsc:complexType name="abstractTreeNode" abstract="true">
        <xsc:complexContent>
          <xsc:extension base="tns:idTitle">
            <xsc:sequence>
              <xsc:element name="children" minOccurs="0">
                <xsc:complexType>
                  <xsc:sequence>
                    <xsc:element name="child" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
                  </xsc:sequence>
                </xsc:complexType>
              </xsc:element>
            </xsc:sequence>
            <xsc:attribute name="parentId" type="xsc:int" use="required"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
    </xsc:schema>
  </types>
  <message name="domainGet">
    <part name="parameters" element="tns:domainGet">
    </part>
  </message>
  <message name="domainGetResponse">
    <part name="parameters" element="tns:domainGetResponse">
    </part>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException">
    </part>
  </message>
  <message name="BGMessageException">
    <part name="fault" element="tns:BGMessageException">
    </part>
  </message>
  <message name="BGIllegalArgumentException">
    <part name="fault" element="tns:BGIllegalArgumentException">
    </part>
  </message>
  <message name="BGIllegalAccessException">
    <part name="fault" element="tns:BGIllegalAccessException">
    </part>
  </message>
  <message name="domainList">
    <part name="parameters" element="tns:domainList">
    </part>
  </message>
  <message name="domainListResponse">
    <part name="parameters" element="tns:domainListResponse">
    </part>
  </message>
  <message name="domainUpdate">
    <part name="parameters" element="tns:domainUpdate">
    </part>
  </message>
  <message name="domainUpdateResponse">
    <part name="parameters" element="tns:domainUpdateResponse">
    </part>
  </message>
  <message name="domainDelete">
    <part name="parameters" element="tns:domainDelete">
    </part>
  </message>
  <message name="domainDeleteResponse">
    <part name="parameters" element="tns:domainDeleteResponse">
    </part>
  </message>
  <message name="domainTree">
    <part name="parameters" element="tns:domainTree">
    </part>
  </message>
  <message name="domainTreeResponse">
    <part name="parameters" element="tns:domainTreeResponse">
    </part>
  </message>
  <message name="domainMove">
    <part name="parameters" element="tns:domainMove">
    </part>
  </message>
  <message name="domainMoveResponse">
    <part name="parameters" element="tns:domainMoveResponse">
    </part>
  </message>
  <portType name="DomainService">
    <operation name="domainGet">
      <input wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainGetRequest" message="tns:domainGet">
      </input>
      <output wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainGetResponse" message="tns:domainGetResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainGet/Fault/BGException">
      </fault>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainGet/Fault/BGMessageException">
      </fault>
      <fault message="tns:BGIllegalArgumentException" name="BGIllegalArgumentException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainGet/Fault/BGIllegalArgumentException">
      </fault>
      <fault message="tns:BGIllegalAccessException" name="BGIllegalAccessException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainGet/Fault/BGIllegalAccessException">
      </fault>
    </operation>
    <operation name="domainList">
      <input wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainListRequest" message="tns:domainList">
      </input>
      <output wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainListResponse" message="tns:domainListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainList/Fault/BGException">
      </fault>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainList/Fault/BGMessageException">
      </fault>
      <fault message="tns:BGIllegalArgumentException" name="BGIllegalArgumentException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainList/Fault/BGIllegalArgumentException">
      </fault>
      <fault message="tns:BGIllegalAccessException" name="BGIllegalAccessException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainList/Fault/BGIllegalAccessException">
      </fault>
    </operation>
    <operation name="domainUpdate">
      <input wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainUpdateRequest" message="tns:domainUpdate">
      </input>
      <output wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainUpdateResponse" message="tns:domainUpdateResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainUpdate/Fault/BGException">
      </fault>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainUpdate/Fault/BGMessageException">
      </fault>
      <fault message="tns:BGIllegalArgumentException" name="BGIllegalArgumentException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainUpdate/Fault/BGIllegalArgumentException">
      </fault>
      <fault message="tns:BGIllegalAccessException" name="BGIllegalAccessException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainUpdate/Fault/BGIllegalAccessException">
      </fault>
    </operation>
    <operation name="domainDelete">
      <input wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainDeleteRequest" message="tns:domainDelete">
      </input>
      <output wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainDeleteResponse" message="tns:domainDeleteResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainDelete/Fault/BGException">
      </fault>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainDelete/Fault/BGMessageException">
      </fault>
      <fault message="tns:BGIllegalArgumentException" name="BGIllegalArgumentException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainDelete/Fault/BGIllegalArgumentException">
      </fault>
      <fault message="tns:BGIllegalAccessException" name="BGIllegalAccessException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainDelete/Fault/BGIllegalAccessException">
      </fault>
    </operation>
    <operation name="domainTree">
      <input wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainTreeRequest" message="tns:domainTree">
      </input>
      <output wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainTreeResponse" message="tns:domainTreeResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainTree/Fault/BGException">
      </fault>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainTree/Fault/BGMessageException">
      </fault>
      <fault message="tns:BGIllegalArgumentException" name="BGIllegalArgumentException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainTree/Fault/BGIllegalArgumentException">
      </fault>
      <fault message="tns:BGIllegalAccessException" name="BGIllegalAccessException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainTree/Fault/BGIllegalAccessException">
      </fault>
    </operation>
    <operation name="domainMove">
      <input wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainMoveRequest" message="tns:domainMove">
      </input>
      <output wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainMoveResponse" message="tns:domainMoveResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainMove/Fault/BGException">
      </fault>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainMove/Fault/BGMessageException">
      </fault>
      <fault message="tns:BGIllegalArgumentException" name="BGIllegalArgumentException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainMove/Fault/BGIllegalArgumentException">
      </fault>
      <fault message="tns:BGIllegalAccessException" name="BGIllegalAccessException" wsam:Action="http://service.common.domain.directories.kernel.oss.bitel.ru/DomainService/domainMove/Fault/BGIllegalAccessException">
      </fault>
    </operation>
  </portType>
  <binding name="DomainServiceBinding" type="tns:DomainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document">
    </soap:binding>
    <operation name="domainGet">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGIllegalArgumentException">
        <soap:fault name="BGIllegalArgumentException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGIllegalAccessException">
        <soap:fault name="BGIllegalAccessException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="domainList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGIllegalArgumentException">
        <soap:fault name="BGIllegalArgumentException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGIllegalAccessException">
        <soap:fault name="BGIllegalAccessException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="domainUpdate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGIllegalArgumentException">
        <soap:fault name="BGIllegalArgumentException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGIllegalAccessException">
        <soap:fault name="BGIllegalAccessException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="domainDelete">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGIllegalArgumentException">
        <soap:fault name="BGIllegalArgumentException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGIllegalAccessException">
        <soap:fault name="BGIllegalAccessException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="domainTree">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGIllegalArgumentException">
        <soap:fault name="BGIllegalArgumentException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGIllegalAccessException">
        <soap:fault name="BGIllegalAccessException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="domainMove">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGIllegalArgumentException">
        <soap:fault name="BGIllegalArgumentException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGIllegalAccessException">
        <soap:fault name="BGIllegalAccessException" use="literal">
        </soap:fault>
      </fault>
    </operation>
  </binding>
  <service name="DomainService">
    <port name="DomainService" binding="tns:DomainServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL">
      </soap:address>
    </port>
  </service>
</definitions>
