soap/oss/src/main/wsdl/handmade/EntityService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://service.common.entity.kernel.oss.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://service.common.entity.kernel.oss.bitel.ru/" name="EntityService">
    <types>
        <xs:schema xmlns:tns="http://service.common.entity.kernel.oss.bitel.ru/" xmlns:ns1="http://common.bitel.ru"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
                   targetNamespace="http://service.common.entity.kernel.oss.bitel.ru/">
            <xs:element name="BGException" type="tns:BGException"/>
            <xs:element name="entitySpecAttrDelete" type="tns:entitySpecAttrDelete"/>
            <xs:element name="entitySpecAttrDeleteResponse" type="tns:entitySpecAttrDeleteResponse"/>
            <xs:element name="entitySpecAttrGet" type="tns:entitySpecAttrGet"/>
            <xs:element name="entitySpecAttrGetResponse" type="tns:entitySpecAttrGetResponse"/>
            <xs:element name="entitySpecAttrList" type="tns:entitySpecAttrList"/>
            <xs:element name="entitySpecAttrListByType" type="tns:entitySpecAttrListByType"/>
            <xs:element name="entitySpecAttrListByTypeResponse" type="tns:entitySpecAttrListByTypeResponse"/>
            <xs:element name="entitySpecAttrListItemDelete" type="tns:entitySpecAttrListItemDelete"/>
            <xs:element name="entitySpecAttrListItemDeleteResponse" type="tns:entitySpecAttrListItemDeleteResponse"/>
            <xs:element name="entitySpecAttrListItemList" type="tns:entitySpecAttrListItemList"/>
            <xs:element name="entitySpecAttrListItemListResponse" type="tns:entitySpecAttrListItemListResponse"/>
            <xs:element name="entitySpecAttrListItemUpdate" type="tns:entitySpecAttrListItemUpdate"/>
            <xs:element name="entitySpecAttrListItemUpdateResponse" type="tns:entitySpecAttrListItemUpdateResponse"/>
            <xs:element name="entitySpecAttrListResponse" type="tns:entitySpecAttrListResponse"/>
            <xs:element name="entitySpecAttrUpdate" type="tns:entitySpecAttrUpdate"/>
            <xs:element name="entitySpecAttrUpdateResponse" type="tns:entitySpecAttrUpdateResponse"/>
            <xs:element name="entitySpecGet" type="tns:entitySpecGet"/>
            <xs:element name="entitySpecGetResponse" type="tns:entitySpecGetResponse"/>
            <xs:element name="entitySpecList" type="tns:entitySpecList"/>
            <xs:element name="entitySpecListResponse" type="tns:entitySpecListResponse"/>
            <xs:element name="entitySpecUpdate" type="tns:entitySpecUpdate"/>
            <xs:element name="entitySpecUpdateResponse" type="tns:entitySpecUpdateResponse"/>
            <xs:complexType name="entitySpecAttrListByType">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpecAttrListByTypeResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:entitySpecAttr" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpecAttr">
                <xs:complexContent>
                    <xs:extension base="ns1:idTitle">
                        <xs:sequence>
                            <xs:element name="comment" type="xs:string" minOccurs="0"/>
                            <xs:element name="history" type="xs:boolean"/>
                            <xs:element name="type" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="BGException">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                    <xs:element name="tag" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpecAttrList">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="entitySpecAttrListResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:entitySpecAttr" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpecAttrListItemList">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpecAttrListItemListResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:entitySpecAttrListItem" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpecAttrListItem">
                <xs:complexContent>
                    <xs:extension base="ns1:idTitle">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="entitySpecList">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="entitySpecListResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:entitySpec" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpec">
                <xs:complexContent>
                    <xs:extension base="ns1:idTitle">
                        <xs:sequence>
                            <xs:element name="attributeList" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="attributeList" type="tns:entitySpecAttr" nillable="true"
                                                    minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="comment" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="entitySpecTypeId" type="xs:int" use="required"/>
                        <xs:attribute name="entityTitleMacros" type="xs:string"/>
                        <xs:attribute name="hidden" type="xs:boolean" use="required"/>
                        <xs:attribute name="moduleIds">
                            <xs:simpleType>
                                <xs:list itemType="xs:int"/>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="entitySpecAttrListItemDelete">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                    <xs:element name="arg1" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpecAttrListItemDeleteResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="entitySpecUpdate">
                <xs:sequence>
                    <xs:element name="arg0" type="tns:entitySpec" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpecUpdateResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpecAttrUpdate">
                <xs:sequence>
                    <xs:element name="arg0" type="tns:entitySpecAttr" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpecAttrUpdateResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpecAttrListItemUpdate">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                    <xs:element name="arg1" type="tns:entitySpecAttrListItem" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpecAttrListItemUpdateResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpecAttrGet">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpecAttrGetResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:entitySpecAttr" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpecGet">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpecGetResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:entitySpec" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpecAttrDelete">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="entitySpecAttrDeleteResponse">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xsc:schema xmlns:tns="http://common.bitel.ru" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xmlns:common="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema"
                    elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru">
            <xsc:complexType name="idTitle">
                <xsc:complexContent>
                    <xsc:extension base="tns:id">
                        <xsc:sequence/>
                        <xsc:attribute name="title" type="xsc:string"/>
                    </xsc:extension>
                </xsc:complexContent>
            </xsc:complexType>
            <xsc:complexType name="id">
                <xsc:sequence/>
                <xsc:attribute name="id" type="xsc:int" use="required"/>
            </xsc:complexType>
        </xsc:schema>
    </types>
    <message name="entitySpecAttrListItemUpdate">
        <part name="parameters" element="tns:entitySpecAttrListItemUpdate">
        </part>
    </message>
    <message name="entitySpecAttrListItemUpdateResponse">
        <part name="parameters" element="tns:entitySpecAttrListItemUpdateResponse">
        </part>
    </message>
    <message name="BGException">
        <part name="fault" element="tns:BGException">
        </part>
    </message>
    <message name="entitySpecList">
        <part name="parameters" element="tns:entitySpecList">
        </part>
    </message>
    <message name="entitySpecListResponse">
        <part name="parameters" element="tns:entitySpecListResponse">
        </part>
    </message>
    <message name="entitySpecGet">
        <part name="parameters" element="tns:entitySpecGet">
        </part>
    </message>
    <message name="entitySpecGetResponse">
        <part name="parameters" element="tns:entitySpecGetResponse">
        </part>
    </message>
    <message name="entitySpecUpdate">
        <part name="parameters" element="tns:entitySpecUpdate">
        </part>
    </message>
    <message name="entitySpecUpdateResponse">
        <part name="parameters" element="tns:entitySpecUpdateResponse">
        </part>
    </message>
    <message name="entitySpecAttrList">
        <part name="parameters" element="tns:entitySpecAttrList">
        </part>
    </message>
    <message name="entitySpecAttrListResponse">
        <part name="parameters" element="tns:entitySpecAttrListResponse">
        </part>
    </message>
    <message name="entitySpecAttrListByType">
        <part name="parameters" element="tns:entitySpecAttrListByType">
        </part>
    </message>
    <message name="entitySpecAttrListByTypeResponse">
        <part name="parameters" element="tns:entitySpecAttrListByTypeResponse">
        </part>
    </message>
    <message name="entitySpecAttrGet">
        <part name="parameters" element="tns:entitySpecAttrGet">
        </part>
    </message>
    <message name="entitySpecAttrGetResponse">
        <part name="parameters" element="tns:entitySpecAttrGetResponse">
        </part>
    </message>
    <message name="entitySpecAttrUpdate">
        <part name="parameters" element="tns:entitySpecAttrUpdate">
        </part>
    </message>
    <message name="entitySpecAttrUpdateResponse">
        <part name="parameters" element="tns:entitySpecAttrUpdateResponse">
        </part>
    </message>
    <message name="entitySpecAttrListItemList">
        <part name="parameters" element="tns:entitySpecAttrListItemList">
        </part>
    </message>
    <message name="entitySpecAttrListItemListResponse">
        <part name="parameters" element="tns:entitySpecAttrListItemListResponse">
        </part>
    </message>
    <message name="entitySpecAttrListItemDelete">
        <part name="parameters" element="tns:entitySpecAttrListItemDelete">
        </part>
    </message>
    <message name="entitySpecAttrListItemDeleteResponse">
        <part name="parameters" element="tns:entitySpecAttrListItemDeleteResponse">
        </part>
    </message>
    <message name="entitySpecAttrDelete">
        <part name="parameters" element="tns:entitySpecAttrDelete">
        </part>
    </message>
    <message name="entitySpecAttrDeleteResponse">
        <part name="parameters" element="tns:entitySpecAttrDeleteResponse">
        </part>
    </message>
    <portType name="EntityService">
        <operation name="entitySpecAttrListItemUpdate">
            <input wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrListItemUpdateRequest"
                   message="tns:entitySpecAttrListItemUpdate">
            </input>
            <output wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrListItemUpdateResponse"
                    message="tns:entitySpecAttrListItemUpdateResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrListItemUpdate/Fault/BGException">
            </fault>
        </operation>
        <operation name="entitySpecList">
            <input wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecListRequest"
                   message="tns:entitySpecList">
            </input>
            <output wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecListResponse"
                    message="tns:entitySpecListResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecList/Fault/BGException">
            </fault>
        </operation>
        <operation name="entitySpecGet">
            <input wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecGetRequest"
                   message="tns:entitySpecGet">
            </input>
            <output wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecGetResponse"
                    message="tns:entitySpecGetResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecGet/Fault/BGException">
            </fault>
        </operation>
        <operation name="entitySpecUpdate">
            <input wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecUpdateRequest"
                   message="tns:entitySpecUpdate">
            </input>
            <output wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecUpdateResponse"
                    message="tns:entitySpecUpdateResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecUpdate/Fault/BGException">
            </fault>
        </operation>
        <operation name="entitySpecAttrList">
            <input wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrListRequest"
                   message="tns:entitySpecAttrList">
            </input>
            <output wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrListResponse"
                    message="tns:entitySpecAttrListResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrList/Fault/BGException">
            </fault>
        </operation>
        <operation name="entitySpecAttrListByType">
            <input wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrListByTypeRequest"
                   message="tns:entitySpecAttrListByType">
            </input>
            <output wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrListByTypeResponse"
                    message="tns:entitySpecAttrListByTypeResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrListByType/Fault/BGException">
            </fault>
        </operation>
        <operation name="entitySpecAttrGet">
            <input wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrGetRequest"
                   message="tns:entitySpecAttrGet">
            </input>
            <output wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrGetResponse"
                    message="tns:entitySpecAttrGetResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrGet/Fault/BGException">
            </fault>
        </operation>
        <operation name="entitySpecAttrUpdate">
            <input wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrUpdateRequest"
                   message="tns:entitySpecAttrUpdate">
            </input>
            <output wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrUpdateResponse"
                    message="tns:entitySpecAttrUpdateResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrUpdate/Fault/BGException">
            </fault>
        </operation>
        <operation name="entitySpecAttrListItemList">
            <input wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrListItemListRequest"
                   message="tns:entitySpecAttrListItemList">
            </input>
            <output wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrListItemListResponse"
                    message="tns:entitySpecAttrListItemListResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrListItemList/Fault/BGException">
            </fault>
        </operation>
        <operation name="entitySpecAttrListItemDelete">
            <input wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrListItemDeleteRequest"
                   message="tns:entitySpecAttrListItemDelete">
            </input>
            <output wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrListItemDeleteResponse"
                    message="tns:entitySpecAttrListItemDeleteResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrListItemDelete/Fault/BGException">
            </fault>
        </operation>
        <operation name="entitySpecAttrDelete">
            <input wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrDeleteRequest"
                   message="tns:entitySpecAttrDelete">
            </input>
            <output wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrDeleteResponse"
                    message="tns:entitySpecAttrDeleteResponse">
            </output>
            <fault message="tns:BGException" name="BGException"
                   wsam:Action="http://service.common.entity.kernel.oss.bitel.ru/EntityService/entitySpecAttrDelete/Fault/BGException">
            </fault>
        </operation>
    </portType>
    <binding name="EntityServiceBinding" type="tns:EntityService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document">
        </soap:binding>
        <operation name="entitySpecAttrListItemUpdate">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="entitySpecList">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="entitySpecGet">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="entitySpecUpdate">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="entitySpecAttrList">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="entitySpecAttrListByType">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="entitySpecAttrGet">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="entitySpecAttrUpdate">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="entitySpecAttrListItemList">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="entitySpecAttrListItemDelete">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
        <operation name="entitySpecAttrDelete">
            <soap:operation soapAction="">
            </soap:operation>
            <input>
                <soap:body use="literal">
                </soap:body>
            </input>
            <output>
                <soap:body use="literal">
                </soap:body>
            </output>
            <fault name="BGException">
                <soap:fault name="BGException" use="literal">
                </soap:fault>
            </fault>
        </operation>
    </binding>
    <service name="EntityService">
        <port name="EntityService" binding="tns:EntityServiceBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL">
            </soap:address>
        </port>
    </service>
</definitions>
