inet/src/main/wsdl/CalculateService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/" name="CalculateService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="calculate" type="tns:calculate"/>

      <xs:element name="calculateResponse" type="tns:calculateResponse"/>

      <xs:complexType name="calculate">
        <xs:sequence>
          <xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg1" type="xs:int" minOccurs="0"/>
          <xs:element name="arg2" type="xs:string" minOccurs="0"/>
          <xs:element name="arg3" type="xs:string" minOccurs="0"/>
          <xs:element name="arg4" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="calculateResponse">
        <xs:sequence/>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="calculate">
    <part name="parameters" element="tns:calculate"/>
  </message>
  <message name="calculateResponse">
    <part name="parameters" element="tns:calculateResponse"/>
  </message>
  <portType name="CalculateService">
    <operation name="calculate">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/CalculateService/calculateRequest" message="tns:calculate"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/CalculateService/calculateResponse" message="tns:calculateResponse"/>
    </operation>
  </portType>
  <binding name="CalculateServiceBinding" type="tns:CalculateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="calculate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CalculateService">
    <port name="CalculateService" binding="tns:CalculateServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

