inet/src/main/wsdl/InetDirectoriesService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/" name="InetDirectoriesService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="BGIllegalAccessException" type="tns:BGIllegalAccessException"/>

      <xs:element name="BGIllegalArgumentException" type="tns:BGIllegalArgumentException"/>

      <xs:element name="BGMessageException" type="tns:BGMessageException"/>

      <xs:element name="trafficRangeSpecDelete" type="tns:trafficRangeSpecDelete"/>

      <xs:element name="trafficRangeSpecDeleteResponse" type="tns:trafficRangeSpecDeleteResponse"/>

      <xs:element name="trafficRangeSpecGet" type="tns:trafficRangeSpecGet"/>

      <xs:element name="trafficRangeSpecGetResponse" type="tns:trafficRangeSpecGetResponse"/>

      <xs:element name="trafficRangeSpecList" type="tns:trafficRangeSpecList"/>

      <xs:element name="trafficRangeSpecListResponse" type="tns:trafficRangeSpecListResponse"/>

      <xs:element name="trafficRangeSpecUpdate" type="tns:trafficRangeSpecUpdate"/>

      <xs:element name="trafficRangeSpecUpdateResponse" type="tns:trafficRangeSpecUpdateResponse"/>

      <xs:complexType name="trafficRangeSpecUpdate">
        <xs:sequence>
          <xs:element name="trafficRangeSpec" type="tns:trafficRangeSpec" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficRangeSpec">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="maxAmount" type="xs:long" use="required"/>
            <xs:attribute name="maxAmountType" type="xs:int" use="required"/>
            <xs:attribute name="mode" type="xs:int" use="required"/>
            <xs:attribute name="tariffOptionDeactivate" type="xs:boolean" use="required"/>
            <xs:attribute name="tariffOptionId" type="xs:int" use="required"/>
            <xs:attribute name="titleForCustomer" type="xs:string"/>
            <xs:attribute name="type" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="trafficRangeSpecUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGMessageException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGIllegalArgumentException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGIllegalAccessException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficRangeSpecGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficRangeSpecGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:trafficRangeSpec" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficRangeSpecDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficRangeSpecDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="trafficRangeSpecList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="trafficRangeSpecListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:trafficRangeSpec" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="trafficRangeSpecList">
    <part name="parameters" element="tns:trafficRangeSpecList"/>
  </message>
  <message name="trafficRangeSpecListResponse">
    <part name="parameters" element="tns:trafficRangeSpecListResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="BGMessageException">
    <part name="fault" element="tns:BGMessageException"/>
  </message>
  <message name="BGIllegalArgumentException">
    <part name="fault" element="tns:BGIllegalArgumentException"/>
  </message>
  <message name="BGIllegalAccessException">
    <part name="fault" element="tns:BGIllegalAccessException"/>
  </message>
  <message name="trafficRangeSpecGet">
    <part name="parameters" element="tns:trafficRangeSpecGet"/>
  </message>
  <message name="trafficRangeSpecGetResponse">
    <part name="parameters" element="tns:trafficRangeSpecGetResponse"/>
  </message>
  <message name="trafficRangeSpecUpdate">
    <part name="parameters" element="tns:trafficRangeSpecUpdate"/>
  </message>
  <message name="trafficRangeSpecUpdateResponse">
    <part name="parameters" element="tns:trafficRangeSpecUpdateResponse"/>
  </message>
  <message name="trafficRangeSpecDelete">
    <part name="parameters" element="tns:trafficRangeSpecDelete"/>
  </message>
  <message name="trafficRangeSpecDeleteResponse">
    <part name="parameters" element="tns:trafficRangeSpecDeleteResponse"/>
  </message>
  <portType name="InetDirectoriesService">
    <operation name="trafficRangeSpecList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecListRequest" message="tns:trafficRangeSpecList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecListResponse" message="tns:trafficRangeSpecListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecList/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecList/Fault/BGMessageException"/>
      <fault message="tns:BGIllegalArgumentException" name="BGIllegalArgumentException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecList/Fault/BGIllegalArgumentException"/>
      <fault message="tns:BGIllegalAccessException" name="BGIllegalAccessException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecList/Fault/BGIllegalAccessException"/>
    </operation>
    <operation name="trafficRangeSpecGet">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecGetRequest" message="tns:trafficRangeSpecGet"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecGetResponse" message="tns:trafficRangeSpecGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecGet/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecGet/Fault/BGMessageException"/>
      <fault message="tns:BGIllegalArgumentException" name="BGIllegalArgumentException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecGet/Fault/BGIllegalArgumentException"/>
      <fault message="tns:BGIllegalAccessException" name="BGIllegalAccessException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecGet/Fault/BGIllegalAccessException"/>
    </operation>
    <operation name="trafficRangeSpecUpdate">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecUpdateRequest" message="tns:trafficRangeSpecUpdate"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecUpdateResponse" message="tns:trafficRangeSpecUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecUpdate/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecUpdate/Fault/BGMessageException"/>
      <fault message="tns:BGIllegalArgumentException" name="BGIllegalArgumentException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecUpdate/Fault/BGIllegalArgumentException"/>
      <fault message="tns:BGIllegalAccessException" name="BGIllegalAccessException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecUpdate/Fault/BGIllegalAccessException"/>
    </operation>
    <operation name="trafficRangeSpecDelete">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecDeleteRequest" message="tns:trafficRangeSpecDelete"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecDeleteResponse" message="tns:trafficRangeSpecDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecDelete/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecDelete/Fault/BGMessageException"/>
      <fault message="tns:BGIllegalArgumentException" name="BGIllegalArgumentException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecDelete/Fault/BGIllegalArgumentException"/>
      <fault message="tns:BGIllegalAccessException" name="BGIllegalAccessException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDirectoriesService/trafficRangeSpecDelete/Fault/BGIllegalAccessException"/>
    </operation>
  </portType>
  <binding name="InetDirectoriesServiceBinding" type="tns:InetDirectoriesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="trafficRangeSpecList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
      <fault name="BGIllegalArgumentException">
        <soap:fault name="BGIllegalArgumentException" use="literal"/>
      </fault>
      <fault name="BGIllegalAccessException">
        <soap:fault name="BGIllegalAccessException" use="literal"/>
      </fault>
    </operation>
    <operation name="trafficRangeSpecGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
      <fault name="BGIllegalArgumentException">
        <soap:fault name="BGIllegalArgumentException" use="literal"/>
      </fault>
      <fault name="BGIllegalAccessException">
        <soap:fault name="BGIllegalAccessException" use="literal"/>
      </fault>
    </operation>
    <operation name="trafficRangeSpecUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
      <fault name="BGIllegalArgumentException">
        <soap:fault name="BGIllegalArgumentException" use="literal"/>
      </fault>
      <fault name="BGIllegalAccessException">
        <soap:fault name="BGIllegalAccessException" use="literal"/>
      </fault>
    </operation>
    <operation name="trafficRangeSpecDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
      <fault name="BGIllegalArgumentException">
        <soap:fault name="BGIllegalArgumentException" use="literal"/>
      </fault>
      <fault name="BGIllegalAccessException">
        <soap:fault name="BGIllegalAccessException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="InetDirectoriesService">
    <port name="InetDirectoriesService" binding="tns:InetDirectoriesServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

