inet/src/main/wsdl/InetServService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/" name="InetServService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="abstractTreeNode" abstract="true">
        <xsc:complexContent>
          <xsc:extension base="tns:idTitle">
            <xsc:sequence>
              <xsc:element name="children" minOccurs="0">
                <xsc:complexType>
                  <xsc:sequence>
                    <xsc:element name="child" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
                  </xsc:sequence>
                </xsc:complexType>
              </xsc:element>
            </xsc:sequence>
            <xsc:attribute name="parentId" type="xsc:int" use="required"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="authorizationRequest" type="tns:authorizationRequest"/>

      <xs:element name="authorizationRequestResponse" type="tns:authorizationRequestResponse"/>

      <xs:element name="inetGetIpFromParent" type="tns:inetGetIpFromParent"/>

      <xs:element name="inetGetIpFromParentResponse" type="tns:inetGetIpFromParentResponse"/>

      <xs:element name="inetOptionDelete" type="tns:inetOptionDelete"/>

      <xs:element name="inetOptionDeleteResponse" type="tns:inetOptionDeleteResponse"/>

      <xs:element name="inetOptionGet" type="tns:inetOptionGet"/>

      <xs:element name="inetOptionGetResponse" type="tns:inetOptionGetResponse"/>

      <xs:element name="inetOptionList" type="tns:inetOptionList"/>

      <xs:element name="inetOptionListResponse" type="tns:inetOptionListResponse"/>

      <xs:element name="inetOptionMove" type="tns:inetOptionMove"/>

      <xs:element name="inetOptionMoveResponse" type="tns:inetOptionMoveResponse"/>

      <xs:element name="inetOptionTree" type="tns:inetOptionTree"/>

      <xs:element name="inetOptionTreeResponse" type="tns:inetOptionTreeResponse"/>

      <xs:element name="inetOptionUpdate" type="tns:inetOptionUpdate"/>

      <xs:element name="inetOptionUpdateResponse" type="tns:inetOptionUpdateResponse"/>

      <xs:element name="inetServDelete" type="tns:inetServDelete"/>

      <xs:element name="inetServDeleteOld" type="tns:inetServDeleteOld"/>

      <xs:element name="inetServDeleteOldResponse" type="tns:inetServDeleteOldResponse"/>

      <xs:element name="inetServDeleteResponse" type="tns:inetServDeleteResponse"/>

      <xs:element name="inetServGet" type="tns:inetServGet"/>

      <xs:element name="inetServGetResponse" type="tns:inetServGetResponse"/>

      <xs:element name="inetServIsActive" type="tns:inetServIsActive"/>

      <xs:element name="inetServIsActiveResponse" type="tns:inetServIsActiveResponse"/>

      <xs:element name="inetServList" type="tns:inetServList"/>

      <xs:element name="inetServListOld" type="tns:inetServListOld"/>

      <xs:element name="inetServListOldResponse" type="tns:inetServListOldResponse"/>

      <xs:element name="inetServListResponse" type="tns:inetServListResponse"/>

      <xs:element name="inetServLoginGenerate" type="tns:inetServLoginGenerate"/>

      <xs:element name="inetServLoginGenerateResponse" type="tns:inetServLoginGenerateResponse"/>

      <xs:element name="inetServMove" type="tns:inetServMove"/>

      <xs:element name="inetServMoveResponse" type="tns:inetServMoveResponse"/>

      <xs:element name="inetServOptionList" type="tns:inetServOptionList"/>

      <xs:element name="inetServOptionListResponse" type="tns:inetServOptionListResponse"/>

      <xs:element name="inetServPasswordGenerate" type="tns:inetServPasswordGenerate"/>

      <xs:element name="inetServPasswordGenerateResponse" type="tns:inetServPasswordGenerateResponse"/>

      <xs:element name="inetServRestrictionList" type="tns:inetServRestrictionList"/>

      <xs:element name="inetServRestrictionListResponse" type="tns:inetServRestrictionListResponse"/>

      <xs:element name="inetServRestrictionListUpdate" type="tns:inetServRestrictionListUpdate"/>

      <xs:element name="inetServRestrictionListUpdateResponse" type="tns:inetServRestrictionListUpdateResponse"/>

      <xs:element name="inetServSaReinit" type="tns:inetServSaReinit"/>

      <xs:element name="inetServSaReinitResponse" type="tns:inetServSaReinitResponse"/>

      <xs:element name="inetServStateModify" type="tns:inetServStateModify"/>

      <xs:element name="inetServStateModifyResponse" type="tns:inetServStateModifyResponse"/>

      <xs:element name="inetServTree" type="tns:inetServTree"/>

      <xs:element name="inetServTreeResponse" type="tns:inetServTreeResponse"/>

      <xs:element name="inetServTypeDelete" type="tns:inetServTypeDelete"/>

      <xs:element name="inetServTypeDeleteResponse" type="tns:inetServTypeDeleteResponse"/>

      <xs:element name="inetServTypeGet" type="tns:inetServTypeGet"/>

      <xs:element name="inetServTypeGetResponse" type="tns:inetServTypeGetResponse"/>

      <xs:element name="inetServTypeList" type="tns:inetServTypeList"/>

      <xs:element name="inetServTypeListResponse" type="tns:inetServTypeListResponse"/>

      <xs:element name="inetServTypeUpdate" type="tns:inetServTypeUpdate"/>

      <xs:element name="inetServTypeUpdateResponse" type="tns:inetServTypeUpdateResponse"/>

      <xs:element name="inetServUpdate" type="tns:inetServUpdate"/>

      <xs:element name="inetServUpdateResponse" type="tns:inetServUpdateResponse"/>

      <xs:element name="inetServWrap" type="tns:inetServWrap"/>

      <xs:element name="inetServWrapResponse" type="tns:inetServWrapResponse"/>

      <xs:element name="ipResourceCategoryIds" type="tns:ipResourceCategoryIds"/>

      <xs:element name="ipResourceCategoryIdsResponse" type="tns:ipResourceCategoryIdsResponse"/>

      <xs:element name="ipResourceLinkCheck" type="tns:ipResourceLinkCheck"/>

      <xs:element name="ipResourceLinkCheckResponse" type="tns:ipResourceLinkCheckResponse"/>

      <xs:element name="ipResourceLinkSet" type="tns:ipResourceLinkSet"/>

      <xs:element name="ipResourceLinkSetResponse" type="tns:ipResourceLinkSetResponse"/>

      <xs:element name="searchInetServ" type="tns:searchInetServ"/>

      <xs:element name="searchInetServResponse" type="tns:searchInetServResponse"/>

      <xs:element name="trafficTypeDelete" type="tns:trafficTypeDelete"/>

      <xs:element name="trafficTypeDeleteResponse" type="tns:trafficTypeDeleteResponse"/>

      <xs:element name="trafficTypeGet" type="tns:trafficTypeGet"/>

      <xs:element name="trafficTypeGetResponse" type="tns:trafficTypeGetResponse"/>

      <xs:element name="trafficTypeLinkDelete" type="tns:trafficTypeLinkDelete"/>

      <xs:element name="trafficTypeLinkDeleteResponse" type="tns:trafficTypeLinkDeleteResponse"/>

      <xs:element name="trafficTypeLinkGet" type="tns:trafficTypeLinkGet"/>

      <xs:element name="trafficTypeLinkGetResponse" type="tns:trafficTypeLinkGetResponse"/>

      <xs:element name="trafficTypeLinkList" type="tns:trafficTypeLinkList"/>

      <xs:element name="trafficTypeLinkListResponse" type="tns:trafficTypeLinkListResponse"/>

      <xs:element name="trafficTypeLinkUpdate" type="tns:trafficTypeLinkUpdate"/>

      <xs:element name="trafficTypeLinkUpdateResponse" type="tns:trafficTypeLinkUpdateResponse"/>

      <xs:element name="trafficTypeList" type="tns:trafficTypeList"/>

      <xs:element name="trafficTypeListResponse" type="tns:trafficTypeListResponse"/>

      <xs:element name="trafficTypeUpdate" type="tns:trafficTypeUpdate"/>

      <xs:element name="trafficTypeUpdateResponse" type="tns:trafficTypeUpdateResponse"/>

      <xs:element name="vlanResourceCategoryId" type="tns:vlanResourceCategoryId"/>

      <xs:element name="vlanResourceCategoryIdResponse" type="tns:vlanResourceCategoryIdResponse"/>

      <xs:element name="vlanResourceCategoryIds" type="tns:vlanResourceCategoryIds"/>

      <xs:element name="vlanResourceCategoryIdsResponse" type="tns:vlanResourceCategoryIdsResponse"/>

      <xs:complexType name="inetServOption">
        <xs:sequence/>
        <xs:attribute name="dateFrom" type="xs:dateTime"/>
        <xs:attribute name="dateTo" type="xs:dateTime"/>
        <xs:attribute name="optionId" type="xs:int" use="required"/>
        <xs:attribute name="serviceId" type="xs:int" use="required"/>
      </xs:complexType>

      <xs:complexType name="inetServRestriction">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="amount" type="xs:decimal" minOccurs="0"/>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="inetServId" type="xs:int"/>
              <xs:element name="order" type="xs:int"/>
              <xs:element name="serviceIds" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="type" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="trafficTypeUpdate">
        <xs:sequence>
          <xs:element name="traficType" type="tns:trafficType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficType">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence/>
            <xs:attribute name="unit" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="trafficTypeUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServSaReinit">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServSaReinitResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="trafficTypeDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficTypeDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetServUpdate">
        <xs:sequence>
          <xs:element name="inetServ" type="tns:inetServ" minOccurs="0"/>
          <xs:element name="optionList" type="tns:inetServOption" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="generateLogin" type="xs:boolean"/>
          <xs:element name="generatePassword" type="xs:boolean"/>
          <xs:element name="saWaitTimeout" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServ" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="ns1:abstractTreeNode">
            <xs:sequence>
              <xs:element name="accessCodeTitle" type="xs:string" minOccurs="0"/>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="config" type="xs:string" minOccurs="0"/>
              <xs:element name="identifierList" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="identifier" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="macList" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="mac" type="xs:base64Binary" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="accessCode" type="xs:int" use="required"/>
            <xs:attribute name="addrFrom" type="xs:base64Binary"/>
            <xs:attribute name="addrTo" type="xs:base64Binary"/>
            <xs:attribute name="contractComment" type="xs:string"/>
            <xs:attribute name="cid" type="xs:int" use="required"/>
            <xs:attribute name="coid" type="xs:int" use="required"/>
            <xs:attribute name="contractTitle" type="xs:string"/>
            <xs:attribute name="dateFrom" type="xs:dateTime"/>
            <xs:attribute name="dateTo" type="xs:dateTime"/>
            <xs:attribute name="did" type="xs:int" use="required"/>
            <xs:attribute name="devOpts">
              <xs:simpleType>
                <xs:list itemType="xs:int"/>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="devState" type="xs:short" use="required"/>
            <xs:attribute name="deviceTitle" type="xs:string"/>
            <xs:attribute name="ifaceId" type="xs:int" use="required"/>
            <xs:attribute name="interfaceTitle" type="xs:string"/>
            <xs:attribute name="ipResId" type="xs:int" use="required"/>
            <xs:attribute name="ipResSubsriptionId" type="xs:int" use="required"/>
            <xs:attribute name="uname" type="xs:string"/>
            <xs:attribute name="passw" type="xs:string"/>
            <xs:attribute name="sessCntLimit" type="xs:int" use="required"/>
            <xs:attribute name="status" type="xs:int" use="required"/>
            <xs:attribute name="scid" type="xs:int" use="required"/>
            <xs:attribute name="typeId" type="xs:int" use="required"/>
            <xs:attribute name="typeTitle" type="xs:string"/>
            <xs:attribute name="vlan" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="inetServUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchInetServ">
        <xs:sequence>
          <xs:element name="login" type="xs:string" minOccurs="0"/>
          <xs:element name="ip" type="tns:ipRange" minOccurs="0"/>
          <xs:element name="inetServTypeId" type="xs:int"/>
          <xs:element name="vlan" type="xs:int"/>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
          <xs:element name="identifier" type="xs:string" minOccurs="0"/>
          <xs:element name="macAddress" type="xs:string" minOccurs="0"/>
          <xs:element name="loginStrictCheck" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ipRange">
        <xs:sequence/>
        <xs:attribute name="from" type="xs:base64Binary"/>
        <xs:attribute name="to" type="xs:base64Binary"/>
      </xs:complexType>

      <xs:complexType name="searchInetServResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetServ" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetOptionGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetOptionGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetOption" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetOption">
        <xs:complexContent>
          <xs:extension base="ns1:abstractTreeNode">
            <xs:sequence>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="config" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="groupIntersection" type="xs:boolean" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="inetServTree">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServTreeResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetServ" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficTypeLinkGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficTypeLinkGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:trafficTypeLink" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficTypeLink">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="trafficTypeLinkRuleList" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="trafficTypeLinkRuleList" type="tns:trafficTypeLinkRule" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="trafficTypeLinkRule">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="timeFrom" type="xs:long"/>
              <xs:element name="timeTo" type="xs:long"/>
              <xs:element name="type" type="xs:int"/>
              <xs:element name="counterRealm" type="xs:string" minOccurs="0"/>
              <xs:element name="counterService" type="xs:string" minOccurs="0"/>
              <xs:element name="counterVendor" type="xs:int"/>
              <xs:element name="counterType" type="xs:int"/>
              <xs:element name="counterPrefix" type="xs:string" minOccurs="0"/>
              <xs:element name="sourceId" type="xs:int"/>
              <xs:element name="interfaceId" type="xs:int"/>
              <xs:element name="direction" type="xs:int"/>
              <xs:element name="addressFrom" type="tns:ipAddress" minOccurs="0"/>
              <xs:element name="addressTo" type="tns:ipAddress" minOccurs="0"/>
              <xs:element name="portFrom" type="xs:int"/>
              <xs:element name="portTo" type="xs:int"/>
              <xs:element name="diffServ" type="xs:int"/>
              <xs:element name="diffServMask" type="xs:int"/>
              <xs:element name="diffServString" type="xs:string" minOccurs="0"/>
              <xs:element name="trafficTypeId" type="xs:int" minOccurs="0"/>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="ipAddress">
        <xs:sequence/>
        <xs:attribute name="addr" type="xs:base64Binary"/>
      </xs:complexType>

      <xs:complexType name="inetServRestrictionListUpdate">
        <xs:sequence>
          <xs:element name="inetServId" type="xs:int"/>
          <xs:element name="restrictionList" type="tns:inetServRestriction" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServRestrictionListUpdateResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetServRestrictionList">
        <xs:sequence>
          <xs:element name="inetServId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServRestrictionListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetServRestriction" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServTypeGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServTypeGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetServType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServType">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="config" type="xs:string" minOccurs="0"/>
              <xs:element name="ipFromParentRange" type="xs:boolean"/>
            </xs:sequence>
            <xs:attribute name="addressAllInterface" type="xs:boolean" use="required"/>
            <xs:attribute name="addressType" type="xs:int" use="required"/>
            <xs:attribute name="deviceGroupIds">
              <xs:simpleType>
                <xs:list itemType="xs:int"/>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="deviceTypeIds">
              <xs:simpleType>
                <xs:list itemType="xs:int"/>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="needContractObject" type="xs:boolean" use="required"/>
            <xs:attribute name="needDevice" type="xs:boolean" use="required"/>
            <xs:attribute name="needIdentifier" type="xs:boolean" use="required"/>
            <xs:attribute name="needInterface" type="xs:boolean" use="required"/>
            <xs:attribute name="needLogin" type="xs:boolean" use="required"/>
            <xs:attribute name="needMacAddress" type="xs:boolean" use="required"/>
            <xs:attribute name="needRestriction" type="xs:boolean" use="required"/>
            <xs:attribute name="needVlan" type="xs:boolean" use="required"/>
            <xs:attribute name="parentTypeIds">
              <xs:simpleType>
                <xs:list itemType="xs:int"/>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="personalInterface" type="xs:boolean" use="required"/>
            <xs:attribute name="personalVlan" type="xs:boolean" use="required"/>
            <xs:attribute name="sessionCountLimit" type="xs:int" use="required"/>
            <xs:attribute name="sessionCountLimitLock" type="xs:boolean" use="required"/>
            <xs:attribute name="sessionInitiationType" type="xs:int" use="required"/>
            <xs:attribute name="trafficTypeLinkId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="inetServTypeDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServTypeDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetServDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
          <xs:element name="force" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetServDeleteOld">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServDeleteOldResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="trafficTypeGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficTypeGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:trafficType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServGet">
        <xs:sequence>
          <xs:element name="inetServId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetServ" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="vlanResourceCategoryId">
        <xs:sequence>
          <xs:element name="deviceId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="vlanResourceCategoryIdResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetOptionMove">
        <xs:sequence>
          <xs:element name="newParentId" type="xs:int"/>
          <xs:element name="ids" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetOptionMoveResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetServStateModify">
        <xs:sequence>
          <xs:element name="inetServId" type="xs:int"/>
          <xs:element name="deviceState" type="xs:short"/>
          <xs:element name="accessCode" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServStateModifyResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetServLoginGenerate">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetServLoginGenerateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServTypeList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetServTypeListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetServType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="authorizationRequest">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="servId" type="xs:int"/>
          <xs:element name="accountingPeriodActivate" type="xs:boolean"/>
          <xs:element name="timeout" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="authorizationRequestResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetOptionUpdate">
        <xs:sequence>
          <xs:element name="inetOption" type="tns:inetOption" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetOptionUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetOptionDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetOptionDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetServIsActive">
        <xs:sequence>
          <xs:element name="inetServ" type="tns:inetServ" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServIsActiveResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetServPasswordGenerate">
        <xs:sequence>
          <xs:element name="inetServTypeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServPasswordGenerateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ipResourceLinkSet">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="ipResourceLinkSetResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetServOptionList">
        <xs:sequence>
          <xs:element name="inetServId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServOptionListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetServOption" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficTypeLinkDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficTypeLinkDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="ipResourceLinkCheck">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="ipResourceLinkCheckResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficTypeLinkUpdate">
        <xs:sequence>
          <xs:element name="trafficTypeLink" type="tns:trafficTypeLink" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficTypeLinkUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetOptionTree">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetOptionTreeResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetOption" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficTypeList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="trafficTypeListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:trafficType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetOptionList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetOptionListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetOption" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServWrap">
        <xs:sequence>
          <xs:element name="inetServ" type="tns:inetServ" minOccurs="0"/>
          <xs:element name="cidTo" type="xs:int"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServWrapResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="trafficTypeLinkList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="trafficTypeLinkListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:trafficTypeLink" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="orderBy" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetServ" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServListOld">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServListOldResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetServ" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServTypeUpdate">
        <xs:sequence>
          <xs:element name="inetServType" type="tns:inetServType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServTypeUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServMove">
        <xs:sequence>
          <xs:element name="inetServ" type="tns:inetServ" minOccurs="0"/>
          <xs:element name="cidTo" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServMoveResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetGetIpFromParent">
        <xs:sequence>
          <xs:element name="arg0" type="tns:inetServ" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetGetIpFromParentResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ipResourceCategoryIds">
        <xs:sequence>
          <xs:element name="deviceId" type="xs:int"/>
          <xs:element name="interfaceId" type="xs:int"/>
          <xs:element name="serviceTypeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ipResourceCategoryIdsResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="vlanResourceCategoryIds">
        <xs:sequence>
          <xs:element name="deviceId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="vlanResourceCategoryIdsResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="inetServTypeGet">
    <part name="parameters" element="tns:inetServTypeGet"/>
  </message>
  <message name="inetServTypeGetResponse">
    <part name="parameters" element="tns:inetServTypeGetResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="inetServTypeList">
    <part name="parameters" element="tns:inetServTypeList"/>
  </message>
  <message name="inetServTypeListResponse">
    <part name="parameters" element="tns:inetServTypeListResponse"/>
  </message>
  <message name="inetServTypeUpdate">
    <part name="parameters" element="tns:inetServTypeUpdate"/>
  </message>
  <message name="inetServTypeUpdateResponse">
    <part name="parameters" element="tns:inetServTypeUpdateResponse"/>
  </message>
  <message name="inetServTypeDelete">
    <part name="parameters" element="tns:inetServTypeDelete"/>
  </message>
  <message name="inetServTypeDeleteResponse">
    <part name="parameters" element="tns:inetServTypeDeleteResponse"/>
  </message>
  <message name="inetServGet">
    <part name="parameters" element="tns:inetServGet"/>
  </message>
  <message name="inetServGetResponse">
    <part name="parameters" element="tns:inetServGetResponse"/>
  </message>
  <message name="inetServList">
    <part name="parameters" element="tns:inetServList"/>
  </message>
  <message name="inetServListResponse">
    <part name="parameters" element="tns:inetServListResponse"/>
  </message>
  <message name="inetServListOld">
    <part name="parameters" element="tns:inetServListOld"/>
  </message>
  <message name="inetServListOldResponse">
    <part name="parameters" element="tns:inetServListOldResponse"/>
  </message>
  <message name="inetServTree">
    <part name="parameters" element="tns:inetServTree"/>
  </message>
  <message name="inetServTreeResponse">
    <part name="parameters" element="tns:inetServTreeResponse"/>
  </message>
  <message name="inetServStateModify">
    <part name="parameters" element="tns:inetServStateModify"/>
  </message>
  <message name="inetServStateModifyResponse">
    <part name="parameters" element="tns:inetServStateModifyResponse"/>
  </message>
  <message name="inetServUpdate">
    <part name="parameters" element="tns:inetServUpdate"/>
  </message>
  <message name="inetServUpdateResponse">
    <part name="parameters" element="tns:inetServUpdateResponse"/>
  </message>
  <message name="vlanResourceCategoryId">
    <part name="parameters" element="tns:vlanResourceCategoryId"/>
  </message>
  <message name="vlanResourceCategoryIdResponse">
    <part name="parameters" element="tns:vlanResourceCategoryIdResponse"/>
  </message>
  <message name="ipResourceCategoryIds">
    <part name="parameters" element="tns:ipResourceCategoryIds"/>
  </message>
  <message name="ipResourceCategoryIdsResponse">
    <part name="parameters" element="tns:ipResourceCategoryIdsResponse"/>
  </message>
  <message name="inetServIsActive">
    <part name="parameters" element="tns:inetServIsActive"/>
  </message>
  <message name="inetServIsActiveResponse">
    <part name="parameters" element="tns:inetServIsActiveResponse"/>
  </message>
  <message name="inetServDelete">
    <part name="parameters" element="tns:inetServDelete"/>
  </message>
  <message name="inetServDeleteResponse">
    <part name="parameters" element="tns:inetServDeleteResponse"/>
  </message>
  <message name="inetServDeleteOld">
    <part name="parameters" element="tns:inetServDeleteOld"/>
  </message>
  <message name="inetServDeleteOldResponse">
    <part name="parameters" element="tns:inetServDeleteOldResponse"/>
  </message>
  <message name="inetServLoginGenerate">
    <part name="parameters" element="tns:inetServLoginGenerate"/>
  </message>
  <message name="inetServLoginGenerateResponse">
    <part name="parameters" element="tns:inetServLoginGenerateResponse"/>
  </message>
  <message name="inetServPasswordGenerate">
    <part name="parameters" element="tns:inetServPasswordGenerate"/>
  </message>
  <message name="inetServPasswordGenerateResponse">
    <part name="parameters" element="tns:inetServPasswordGenerateResponse"/>
  </message>
  <message name="inetServMove">
    <part name="parameters" element="tns:inetServMove"/>
  </message>
  <message name="inetServMoveResponse">
    <part name="parameters" element="tns:inetServMoveResponse"/>
  </message>
  <message name="inetServWrap">
    <part name="parameters" element="tns:inetServWrap"/>
  </message>
  <message name="inetServWrapResponse">
    <part name="parameters" element="tns:inetServWrapResponse"/>
  </message>
  <message name="inetOptionGet">
    <part name="parameters" element="tns:inetOptionGet"/>
  </message>
  <message name="inetOptionGetResponse">
    <part name="parameters" element="tns:inetOptionGetResponse"/>
  </message>
  <message name="inetOptionList">
    <part name="parameters" element="tns:inetOptionList"/>
  </message>
  <message name="inetOptionListResponse">
    <part name="parameters" element="tns:inetOptionListResponse"/>
  </message>
  <message name="inetOptionTree">
    <part name="parameters" element="tns:inetOptionTree"/>
  </message>
  <message name="inetOptionTreeResponse">
    <part name="parameters" element="tns:inetOptionTreeResponse"/>
  </message>
  <message name="inetOptionUpdate">
    <part name="parameters" element="tns:inetOptionUpdate"/>
  </message>
  <message name="inetOptionUpdateResponse">
    <part name="parameters" element="tns:inetOptionUpdateResponse"/>
  </message>
  <message name="inetOptionDelete">
    <part name="parameters" element="tns:inetOptionDelete"/>
  </message>
  <message name="inetOptionDeleteResponse">
    <part name="parameters" element="tns:inetOptionDeleteResponse"/>
  </message>
  <message name="inetOptionMove">
    <part name="parameters" element="tns:inetOptionMove"/>
  </message>
  <message name="inetOptionMoveResponse">
    <part name="parameters" element="tns:inetOptionMoveResponse"/>
  </message>
  <message name="trafficTypeGet">
    <part name="parameters" element="tns:trafficTypeGet"/>
  </message>
  <message name="trafficTypeGetResponse">
    <part name="parameters" element="tns:trafficTypeGetResponse"/>
  </message>
  <message name="trafficTypeList">
    <part name="parameters" element="tns:trafficTypeList"/>
  </message>
  <message name="trafficTypeListResponse">
    <part name="parameters" element="tns:trafficTypeListResponse"/>
  </message>
  <message name="trafficTypeUpdate">
    <part name="parameters" element="tns:trafficTypeUpdate"/>
  </message>
  <message name="trafficTypeUpdateResponse">
    <part name="parameters" element="tns:trafficTypeUpdateResponse"/>
  </message>
  <message name="trafficTypeDelete">
    <part name="parameters" element="tns:trafficTypeDelete"/>
  </message>
  <message name="trafficTypeDeleteResponse">
    <part name="parameters" element="tns:trafficTypeDeleteResponse"/>
  </message>
  <message name="trafficTypeLinkGet">
    <part name="parameters" element="tns:trafficTypeLinkGet"/>
  </message>
  <message name="trafficTypeLinkGetResponse">
    <part name="parameters" element="tns:trafficTypeLinkGetResponse"/>
  </message>
  <message name="trafficTypeLinkList">
    <part name="parameters" element="tns:trafficTypeLinkList"/>
  </message>
  <message name="trafficTypeLinkListResponse">
    <part name="parameters" element="tns:trafficTypeLinkListResponse"/>
  </message>
  <message name="trafficTypeLinkUpdate">
    <part name="parameters" element="tns:trafficTypeLinkUpdate"/>
  </message>
  <message name="trafficTypeLinkUpdateResponse">
    <part name="parameters" element="tns:trafficTypeLinkUpdateResponse"/>
  </message>
  <message name="trafficTypeLinkDelete">
    <part name="parameters" element="tns:trafficTypeLinkDelete"/>
  </message>
  <message name="trafficTypeLinkDeleteResponse">
    <part name="parameters" element="tns:trafficTypeLinkDeleteResponse"/>
  </message>
  <message name="inetServOptionList">
    <part name="parameters" element="tns:inetServOptionList"/>
  </message>
  <message name="inetServOptionListResponse">
    <part name="parameters" element="tns:inetServOptionListResponse"/>
  </message>
  <message name="inetServRestrictionList">
    <part name="parameters" element="tns:inetServRestrictionList"/>
  </message>
  <message name="inetServRestrictionListResponse">
    <part name="parameters" element="tns:inetServRestrictionListResponse"/>
  </message>
  <message name="inetServRestrictionListUpdate">
    <part name="parameters" element="tns:inetServRestrictionListUpdate"/>
  </message>
  <message name="inetServRestrictionListUpdateResponse">
    <part name="parameters" element="tns:inetServRestrictionListUpdateResponse"/>
  </message>
  <message name="vlanResourceCategoryIds">
    <part name="parameters" element="tns:vlanResourceCategoryIds"/>
  </message>
  <message name="vlanResourceCategoryIdsResponse">
    <part name="parameters" element="tns:vlanResourceCategoryIdsResponse"/>
  </message>
  <message name="searchInetServ">
    <part name="parameters" element="tns:searchInetServ"/>
  </message>
  <message name="searchInetServResponse">
    <part name="parameters" element="tns:searchInetServResponse"/>
  </message>
  <message name="inetServSaReinit">
    <part name="parameters" element="tns:inetServSaReinit"/>
  </message>
  <message name="inetServSaReinitResponse">
    <part name="parameters" element="tns:inetServSaReinitResponse"/>
  </message>
  <message name="ipResourceLinkCheck">
    <part name="parameters" element="tns:ipResourceLinkCheck"/>
  </message>
  <message name="ipResourceLinkCheckResponse">
    <part name="parameters" element="tns:ipResourceLinkCheckResponse"/>
  </message>
  <message name="ipResourceLinkSet">
    <part name="parameters" element="tns:ipResourceLinkSet"/>
  </message>
  <message name="ipResourceLinkSetResponse">
    <part name="parameters" element="tns:ipResourceLinkSetResponse"/>
  </message>
  <message name="inetGetIpFromParent">
    <part name="parameters" element="tns:inetGetIpFromParent"/>
  </message>
  <message name="inetGetIpFromParentResponse">
    <part name="parameters" element="tns:inetGetIpFromParentResponse"/>
  </message>
  <message name="authorizationRequest">
    <part name="parameters" element="tns:authorizationRequest"/>
  </message>
  <message name="authorizationRequestResponse">
    <part name="parameters" element="tns:authorizationRequestResponse"/>
  </message>
  <portType name="InetServService">
    <operation name="inetServTypeGet">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServTypeGetRequest" message="tns:inetServTypeGet"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServTypeGetResponse" message="tns:inetServTypeGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServTypeGet/Fault/BGException"/>
    </operation>
    <operation name="inetServTypeList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServTypeListRequest" message="tns:inetServTypeList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServTypeListResponse" message="tns:inetServTypeListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServTypeList/Fault/BGException"/>
    </operation>
    <operation name="inetServTypeUpdate">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServTypeUpdateRequest" message="tns:inetServTypeUpdate"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServTypeUpdateResponse" message="tns:inetServTypeUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServTypeUpdate/Fault/BGException"/>
    </operation>
    <operation name="inetServTypeDelete">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServTypeDeleteRequest" message="tns:inetServTypeDelete"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServTypeDeleteResponse" message="tns:inetServTypeDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServTypeDelete/Fault/BGException"/>
    </operation>
    <operation name="inetServGet">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServGetRequest" message="tns:inetServGet"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServGetResponse" message="tns:inetServGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServGet/Fault/BGException"/>
    </operation>
    <operation name="inetServList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServListRequest" message="tns:inetServList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServListResponse" message="tns:inetServListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServList/Fault/BGException"/>
    </operation>
    <operation name="inetServListOld">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServListOldRequest" message="tns:inetServListOld"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServListOldResponse" message="tns:inetServListOldResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServListOld/Fault/BGException"/>
    </operation>
    <operation name="inetServTree">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServTreeRequest" message="tns:inetServTree"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServTreeResponse" message="tns:inetServTreeResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServTree/Fault/BGException"/>
    </operation>
    <operation name="inetServStateModify">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServStateModifyRequest" message="tns:inetServStateModify"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServStateModifyResponse" message="tns:inetServStateModifyResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServStateModify/Fault/BGException"/>
    </operation>
    <operation name="inetServUpdate">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServUpdateRequest" message="tns:inetServUpdate"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServUpdateResponse" message="tns:inetServUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServUpdate/Fault/BGException"/>
    </operation>
    <operation name="vlanResourceCategoryId">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/vlanResourceCategoryIdRequest" message="tns:vlanResourceCategoryId"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/vlanResourceCategoryIdResponse" message="tns:vlanResourceCategoryIdResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/vlanResourceCategoryId/Fault/BGException"/>
    </operation>
    <operation name="ipResourceCategoryIds">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/ipResourceCategoryIdsRequest" message="tns:ipResourceCategoryIds"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/ipResourceCategoryIdsResponse" message="tns:ipResourceCategoryIdsResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/ipResourceCategoryIds/Fault/BGException"/>
    </operation>
    <operation name="inetServIsActive">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServIsActiveRequest" message="tns:inetServIsActive"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServIsActiveResponse" message="tns:inetServIsActiveResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServIsActive/Fault/BGException"/>
    </operation>
    <operation name="inetServDelete">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServDeleteRequest" message="tns:inetServDelete"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServDeleteResponse" message="tns:inetServDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServDelete/Fault/BGException"/>
    </operation>
    <operation name="inetServDeleteOld">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServDeleteOldRequest" message="tns:inetServDeleteOld"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServDeleteOldResponse" message="tns:inetServDeleteOldResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServDeleteOld/Fault/BGException"/>
    </operation>
    <operation name="inetServLoginGenerate">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServLoginGenerateRequest" message="tns:inetServLoginGenerate"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServLoginGenerateResponse" message="tns:inetServLoginGenerateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServLoginGenerate/Fault/BGException"/>
    </operation>
    <operation name="inetServPasswordGenerate">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServPasswordGenerateRequest" message="tns:inetServPasswordGenerate"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServPasswordGenerateResponse" message="tns:inetServPasswordGenerateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServPasswordGenerate/Fault/BGException"/>
    </operation>
    <operation name="inetServMove">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServMoveRequest" message="tns:inetServMove"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServMoveResponse" message="tns:inetServMoveResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServMove/Fault/BGException"/>
    </operation>
    <operation name="inetServWrap">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServWrapRequest" message="tns:inetServWrap"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServWrapResponse" message="tns:inetServWrapResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServWrap/Fault/BGException"/>
    </operation>
    <operation name="inetOptionGet">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetOptionGetRequest" message="tns:inetOptionGet"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetOptionGetResponse" message="tns:inetOptionGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetOptionGet/Fault/BGException"/>
    </operation>
    <operation name="inetOptionList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetOptionListRequest" message="tns:inetOptionList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetOptionListResponse" message="tns:inetOptionListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetOptionList/Fault/BGException"/>
    </operation>
    <operation name="inetOptionTree">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetOptionTreeRequest" message="tns:inetOptionTree"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetOptionTreeResponse" message="tns:inetOptionTreeResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetOptionTree/Fault/BGException"/>
    </operation>
    <operation name="inetOptionUpdate">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetOptionUpdateRequest" message="tns:inetOptionUpdate"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetOptionUpdateResponse" message="tns:inetOptionUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetOptionUpdate/Fault/BGException"/>
    </operation>
    <operation name="inetOptionDelete">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetOptionDeleteRequest" message="tns:inetOptionDelete"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetOptionDeleteResponse" message="tns:inetOptionDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetOptionDelete/Fault/BGException"/>
    </operation>
    <operation name="inetOptionMove">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetOptionMoveRequest" message="tns:inetOptionMove"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetOptionMoveResponse" message="tns:inetOptionMoveResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetOptionMove/Fault/BGException"/>
    </operation>
    <operation name="trafficTypeGet">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeGetRequest" message="tns:trafficTypeGet"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeGetResponse" message="tns:trafficTypeGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeGet/Fault/BGException"/>
    </operation>
    <operation name="trafficTypeList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeListRequest" message="tns:trafficTypeList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeListResponse" message="tns:trafficTypeListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeList/Fault/BGException"/>
    </operation>
    <operation name="trafficTypeUpdate">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeUpdateRequest" message="tns:trafficTypeUpdate"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeUpdateResponse" message="tns:trafficTypeUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeUpdate/Fault/BGException"/>
    </operation>
    <operation name="trafficTypeDelete">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeDeleteRequest" message="tns:trafficTypeDelete"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeDeleteResponse" message="tns:trafficTypeDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeDelete/Fault/BGException"/>
    </operation>
    <operation name="trafficTypeLinkGet">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeLinkGetRequest" message="tns:trafficTypeLinkGet"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeLinkGetResponse" message="tns:trafficTypeLinkGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeLinkGet/Fault/BGException"/>
    </operation>
    <operation name="trafficTypeLinkList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeLinkListRequest" message="tns:trafficTypeLinkList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeLinkListResponse" message="tns:trafficTypeLinkListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeLinkList/Fault/BGException"/>
    </operation>
    <operation name="trafficTypeLinkUpdate">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeLinkUpdateRequest" message="tns:trafficTypeLinkUpdate"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeLinkUpdateResponse" message="tns:trafficTypeLinkUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeLinkUpdate/Fault/BGException"/>
    </operation>
    <operation name="trafficTypeLinkDelete">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeLinkDeleteRequest" message="tns:trafficTypeLinkDelete"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeLinkDeleteResponse" message="tns:trafficTypeLinkDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/trafficTypeLinkDelete/Fault/BGException"/>
    </operation>
    <operation name="inetServOptionList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServOptionListRequest" message="tns:inetServOptionList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServOptionListResponse" message="tns:inetServOptionListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServOptionList/Fault/BGException"/>
    </operation>
    <operation name="inetServRestrictionList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServRestrictionListRequest" message="tns:inetServRestrictionList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServRestrictionListResponse" message="tns:inetServRestrictionListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServRestrictionList/Fault/BGException"/>
    </operation>
    <operation name="inetServRestrictionListUpdate">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServRestrictionListUpdateRequest" message="tns:inetServRestrictionListUpdate"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServRestrictionListUpdateResponse" message="tns:inetServRestrictionListUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServRestrictionListUpdate/Fault/BGException"/>
    </operation>
    <operation name="vlanResourceCategoryIds">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/vlanResourceCategoryIdsRequest" message="tns:vlanResourceCategoryIds"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/vlanResourceCategoryIdsResponse" message="tns:vlanResourceCategoryIdsResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/vlanResourceCategoryIds/Fault/BGException"/>
    </operation>
    <operation name="searchInetServ">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/searchInetServRequest" message="tns:searchInetServ"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/searchInetServResponse" message="tns:searchInetServResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/searchInetServ/Fault/BGException"/>
    </operation>
    <operation name="inetServSaReinit">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServSaReinitRequest" message="tns:inetServSaReinit"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServSaReinitResponse" message="tns:inetServSaReinitResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetServSaReinit/Fault/BGException"/>
    </operation>
    <operation name="ipResourceLinkCheck">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/ipResourceLinkCheckRequest" message="tns:ipResourceLinkCheck"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/ipResourceLinkCheckResponse" message="tns:ipResourceLinkCheckResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/ipResourceLinkCheck/Fault/BGException"/>
    </operation>
    <operation name="ipResourceLinkSet">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/ipResourceLinkSetRequest" message="tns:ipResourceLinkSet"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/ipResourceLinkSetResponse" message="tns:ipResourceLinkSetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/ipResourceLinkSet/Fault/BGException"/>
    </operation>
    <operation name="inetGetIpFromParent">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetGetIpFromParentRequest" message="tns:inetGetIpFromParent"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetGetIpFromParentResponse" message="tns:inetGetIpFromParentResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/inetGetIpFromParent/Fault/BGException"/>
    </operation>
    <operation name="authorizationRequest">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/authorizationRequestRequest" message="tns:authorizationRequest"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/authorizationRequestResponse" message="tns:authorizationRequestResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetServService/authorizationRequest/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="InetServServiceBinding" type="tns:InetServService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="inetServTypeGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServTypeList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServTypeUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServTypeDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServListOld">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServTree">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServStateModify">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="vlanResourceCategoryId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="ipResourceCategoryIds">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServIsActive">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServDeleteOld">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServLoginGenerate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServPasswordGenerate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServMove">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServWrap">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetOptionGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetOptionList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetOptionTree">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetOptionUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetOptionDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetOptionMove">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="trafficTypeGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="trafficTypeList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="trafficTypeUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="trafficTypeDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="trafficTypeLinkGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="trafficTypeLinkList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="trafficTypeLinkUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="trafficTypeLinkDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServOptionList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServRestrictionList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServRestrictionListUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="vlanResourceCategoryIds">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="searchInetServ">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetServSaReinit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="ipResourceLinkCheck">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="ipResourceLinkSet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetGetIpFromParent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="authorizationRequest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="InetServService">
    <port name="InetServService" binding="tns:InetServServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

