inet/src/main/wsdl/RequestLogService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/" name="RequestLogService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="authErrorLog" type="tns:authErrorLog"/>

      <xs:element name="authErrorLogResponse" type="tns:authErrorLogResponse"/>

      <xs:element name="inetConnectionLog" type="tns:inetConnectionLog"/>

      <xs:element name="inetConnectionLogResponse" type="tns:inetConnectionLogResponse"/>

      <xs:complexType name="inetConnectionLog">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:long"/>
          <xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetConnectionLogResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="authErrorLog">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg2" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="authErrorLogResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="inetConnectionLog">
    <part name="parameters" element="tns:inetConnectionLog"/>
  </message>
  <message name="inetConnectionLogResponse">
    <part name="parameters" element="tns:inetConnectionLogResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="authErrorLog">
    <part name="parameters" element="tns:authErrorLog"/>
  </message>
  <message name="authErrorLogResponse">
    <part name="parameters" element="tns:authErrorLogResponse"/>
  </message>
  <portType name="RequestLogService">
    <operation name="inetConnectionLog">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/RequestLogService/inetConnectionLogRequest" message="tns:inetConnectionLog"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/RequestLogService/inetConnectionLogResponse" message="tns:inetConnectionLogResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/RequestLogService/inetConnectionLog/Fault/BGException"/>
    </operation>
    <operation name="authErrorLog">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/RequestLogService/authErrorLogRequest" message="tns:authErrorLog"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/RequestLogService/authErrorLogResponse" message="tns:authErrorLogResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/RequestLogService/authErrorLog/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="RequestLogServiceBinding" type="tns:RequestLogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="inetConnectionLog">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="authErrorLog">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RequestLogService">
    <port name="RequestLogService" binding="tns:RequestLogServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

