soap/card/src/main/wsdl/original/CardService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.card.modules.bgbilling.bitel.ru/" name="CardService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.card.modules.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.card.modules.bgbilling.bitel.ru/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      
      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="dealerList" type="tns:dealerList"/>

      <xs:element name="dealerListResponse" type="tns:dealerListResponse"/>

      <xs:element name="paymentList" type="tns:paymentList"/>

      <xs:element name="paymentListExport" type="tns:paymentListExport"/>

      <xs:element name="paymentListExportResponse" type="tns:paymentListExportResponse"/>

      <xs:element name="paymentListResponse" type="tns:paymentListResponse"/>

      <xs:complexType name="dealerPayment">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="paymentComment" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="contractComment" type="xs:string"/>
            <xs:attribute name="contractId" type="xs:int" use="required"/>
            <xs:attribute name="contractTitle" type="xs:string"/>
            <xs:attribute name="dateTime" type="xs:string"/>
            <xs:attribute name="dealerId" type="xs:int" use="required"/>
            <xs:attribute name="dealerTitle" type="xs:string"/>
            <xs:attribute name="paymentId" type="xs:int" use="required"/>
            <xs:attribute name="paymentType" type="xs:int" use="required"/>
            <xs:attribute name="status" type="xs:int" use="required"/>
            <xs:attribute name="summa" type="xs:decimal"/>
            <xs:attribute name="transId" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="paymentList">
        <xs:sequence>
          <xs:element name="dealerIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="type" type="xs:int"/>
          <xs:element name="trans" type="xs:string" minOccurs="0"/>
          <xs:element name="contract" type="xs:string" minOccurs="0"/>
          <xs:element name="contractGroups" type="xs:long"/>
          <xs:element name="contractFilter" type="tns:filterEntityAttr" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="page" type="ns1:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filterEntityAttr" abstract="true">
        <xs:sequence/>
        <xs:attribute name="entitySpecAttrIds">
          <xs:simpleType>
            <xs:list itemType="xs:int"/>
          </xs:simpleType>
        </xs:attribute>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrAddress">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="cityId" type="xs:int" use="required"/>
            <xs:attribute name="flat" type="xs:string"/>
            <xs:attribute name="frac" type="xs:string"/>
            <xs:attribute name="house" type="xs:string"/>
            <xs:attribute name="pod" type="xs:int" use="required"/>
            <xs:attribute name="room" type="xs:string"/>
            <xs:attribute name="streetId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrDate">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="periodFrom" type="xs:dateTime"/>
            <xs:attribute name="periodTo" type="xs:dateTime"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrHouse">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrInt">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrList">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrMultiList">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttrList">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrText">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrEmail">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrContract">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrBoolean">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:boolean" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="paymentListResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:result" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="list" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="mapEntry">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractMapEntry" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="map">
        <xs:sequence>
          <xs:element name="entry" type="tns:entry" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="entry" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="key" type="xs:anyType" minOccurs="0"/>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="sortedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="linkedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="collection" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="dealerList">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="dealerListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:dealer" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="dealer">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="allowcontracts" type="xs:long"/>
              <xs:element name="canselTime" type="xs:int"/>
              <xs:element name="cardContract" type="xs:string" minOccurs="0"/>
              <xs:element name="cardPercent" type="xs:float"/>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="contractId" type="xs:int"/>
              <xs:element name="date1" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="date2" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="error" type="xs:int"/>
              <xs:element name="findmodes" type="xs:long"/>
              <xs:element name="ip" type="xs:string" minOccurs="0"/>
              <xs:element name="login" type="xs:string" minOccurs="0"/>
              <xs:element name="params" type="xs:int"/>
              <xs:element name="password" type="xs:string" minOccurs="0"/>
              <xs:element name="payComissionType" type="xs:int"/>
              <xs:element name="payContract" type="xs:string" minOccurs="0"/>
              <xs:element name="payPercent" type="xs:float"/>
              <xs:element name="pt" type="xs:string" minOccurs="0"/>
              <xs:element name="statFinded" type="xs:int"/>
              <xs:element name="statPayed" type="xs:int"/>
              <xs:element name="statRequest" type="xs:int"/>
              <xs:element name="type" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="paymentListExport">
        <xs:sequence>
          <xs:element name="dealerIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="type" type="xs:int"/>
          <xs:element name="trans" type="xs:string" minOccurs="0"/>
          <xs:element name="contract" type="xs:string" minOccurs="0"/>
          <xs:element name="contractGroups" type="xs:long"/>
          <xs:element name="contractFilter" type="tns:filterEntityAttr" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="page" type="ns1:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentListExportResponse">
        <xs:sequence>
          <xs:element name="data" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://service.common.card.modules.bgbilling.bitel.ru/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:import namespace="http://service.common.card.modules.bgbilling.bitel.ru/"/>

      <xsc:element name="result" type="tns:result"/>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="result">
        <xsc:sequence>
          <xsc:element name="data" minOccurs="0">
            <xsc:complexType>
              <xsc:sequence>
                <xsc:element name="item" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
              </xsc:sequence>
            </xsc:complexType>
          </xsc:element>
          <xsc:element name="page" type="tns:page" minOccurs="0"/>
          <xsc:element name="attributes" type="ns2:list" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
</xsc:schema>
  </types>
  <message name="paymentList">
    <part name="parameters" element="tns:paymentList"/>
  </message>
  <message name="paymentListResponse">
    <part name="parameters" element="tns:paymentListResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="paymentListExport">
    <part name="parameters" element="tns:paymentListExport"/>
  </message>
  <message name="paymentListExportResponse">
    <part name="parameters" element="tns:paymentListExportResponse"/>
  </message>
  <message name="dealerList">
    <part name="parameters" element="tns:dealerList"/>
  </message>
  <message name="dealerListResponse">
    <part name="parameters" element="tns:dealerListResponse"/>
  </message>
  <portType name="CardService">
    <operation name="paymentList">
      <input wsam:Action="http://service.common.card.modules.bgbilling.bitel.ru/CardService/paymentListRequest" message="tns:paymentList"/>
      <output wsam:Action="http://service.common.card.modules.bgbilling.bitel.ru/CardService/paymentListResponse" message="tns:paymentListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.card.modules.bgbilling.bitel.ru/CardService/paymentList/Fault/BGException"/>
    </operation>
    <operation name="paymentListExport">
      <input wsam:Action="http://service.common.card.modules.bgbilling.bitel.ru/CardService/paymentListExportRequest" message="tns:paymentListExport"/>
      <output wsam:Action="http://service.common.card.modules.bgbilling.bitel.ru/CardService/paymentListExportResponse" message="tns:paymentListExportResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.card.modules.bgbilling.bitel.ru/CardService/paymentListExport/Fault/BGException"/>
    </operation>
    <operation name="dealerList">
      <input wsam:Action="http://service.common.card.modules.bgbilling.bitel.ru/CardService/dealerListRequest" message="tns:dealerList"/>
      <output wsam:Action="http://service.common.card.modules.bgbilling.bitel.ru/CardService/dealerListResponse" message="tns:dealerListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.card.modules.bgbilling.bitel.ru/CardService/dealerList/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="CardServiceBinding" type="tns:CardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="paymentList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="paymentListExport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="dealerList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="CardService">
    <port name="CardService" binding="tns:CardServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

