soap/kernel/src/main/wsdl/handmade/ConfigService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.common.config.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.common.config.kernel.bgbilling.bitel.ru/" name="ConfigService">
  <types>
    <xs:schema xmlns:tns="http://service.common.config.kernel.bgbilling.bitel.ru/" xmlns:ns1="http://common.bitel.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.common.config.kernel.bgbilling.bitel.ru/">
      <xs:element name="BGException" type="tns:BGException"/>
      <xs:element name="deleteModuleConfig" type="tns:deleteModuleConfig"/>
      <xs:element name="deleteModuleConfigResponse" type="tns:deleteModuleConfigResponse"/>
      <xs:element name="getModuleConfig" type="tns:getModuleConfig"/>
      <xs:element name="getModuleConfigList" type="tns:getModuleConfigList"/>
      <xs:element name="getModuleConfigListResponse" type="tns:getModuleConfigListResponse"/>
      <xs:element name="getModuleConfigResponse" type="tns:getModuleConfigResponse"/>
      <xs:element name="setActiveModuleConfig" type="tns:setActiveModuleConfig"/>
      <xs:element name="setActiveModuleConfigResponse" type="tns:setActiveModuleConfigResponse"/>
      <xs:element name="updateModuleConfig" type="tns:updateModuleConfig"/>
      <xs:element name="updateModuleConfigResponse" type="tns:updateModuleConfigResponse"/>
      <xs:complexType name="updateModuleConfig">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="tns:configData" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="configData">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="active" type="xs:boolean"/>
              <xs:element name="config" type="xs:string" minOccurs="0"/>
              <xs:element name="lastEdited" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="moduleId" type="xs:int"/>
              <xs:element name="userId" type="xs:int"/>
              <xs:element name="userName" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="updateModuleConfigResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getModuleConfigList">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getModuleConfigListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:configData" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getModuleConfig">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getModuleConfigResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:configData" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteModuleConfig">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteModuleConfigResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="setActiveModuleConfig">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setActiveModuleConfigResponse">
        <xs:sequence/>
      </xs:complexType>
    </xs:schema>
    <xsc:schema xmlns:tns="http://common.bitel.ru" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:common="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru">
      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
    </xsc:schema>
  </types>
  <message name="getModuleConfig">
    <part name="parameters" element="tns:getModuleConfig">
    </part>
  </message>
  <message name="getModuleConfigResponse">
    <part name="parameters" element="tns:getModuleConfigResponse">
    </part>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException">
    </part>
  </message>
  <message name="getModuleConfigList">
    <part name="parameters" element="tns:getModuleConfigList">
    </part>
  </message>
  <message name="getModuleConfigListResponse">
    <part name="parameters" element="tns:getModuleConfigListResponse">
    </part>
  </message>
  <message name="setActiveModuleConfig">
    <part name="parameters" element="tns:setActiveModuleConfig">
    </part>
  </message>
  <message name="setActiveModuleConfigResponse">
    <part name="parameters" element="tns:setActiveModuleConfigResponse">
    </part>
  </message>
  <message name="deleteModuleConfig">
    <part name="parameters" element="tns:deleteModuleConfig">
    </part>
  </message>
  <message name="deleteModuleConfigResponse">
    <part name="parameters" element="tns:deleteModuleConfigResponse">
    </part>
  </message>
  <message name="updateModuleConfig">
    <part name="parameters" element="tns:updateModuleConfig">
    </part>
  </message>
  <message name="updateModuleConfigResponse">
    <part name="parameters" element="tns:updateModuleConfigResponse">
    </part>
  </message>
  <portType name="ConfigService">
    <operation name="getModuleConfig">
      <input wsam:Action="http://service.common.config.kernel.bgbilling.bitel.ru/ConfigService/getModuleConfigRequest" message="tns:getModuleConfig">
      </input>
      <output wsam:Action="http://service.common.config.kernel.bgbilling.bitel.ru/ConfigService/getModuleConfigResponse" message="tns:getModuleConfigResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.config.kernel.bgbilling.bitel.ru/ConfigService/getModuleConfig/Fault/BGException">
      </fault>
    </operation>
    <operation name="getModuleConfigList">
      <input wsam:Action="http://service.common.config.kernel.bgbilling.bitel.ru/ConfigService/getModuleConfigListRequest" message="tns:getModuleConfigList">
      </input>
      <output wsam:Action="http://service.common.config.kernel.bgbilling.bitel.ru/ConfigService/getModuleConfigListResponse" message="tns:getModuleConfigListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.config.kernel.bgbilling.bitel.ru/ConfigService/getModuleConfigList/Fault/BGException">
      </fault>
    </operation>
    <operation name="setActiveModuleConfig">
      <input wsam:Action="http://service.common.config.kernel.bgbilling.bitel.ru/ConfigService/setActiveModuleConfigRequest" message="tns:setActiveModuleConfig">
      </input>
      <output wsam:Action="http://service.common.config.kernel.bgbilling.bitel.ru/ConfigService/setActiveModuleConfigResponse" message="tns:setActiveModuleConfigResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.config.kernel.bgbilling.bitel.ru/ConfigService/setActiveModuleConfig/Fault/BGException">
      </fault>
    </operation>
    <operation name="deleteModuleConfig">
      <input wsam:Action="http://service.common.config.kernel.bgbilling.bitel.ru/ConfigService/deleteModuleConfigRequest" message="tns:deleteModuleConfig">
      </input>
      <output wsam:Action="http://service.common.config.kernel.bgbilling.bitel.ru/ConfigService/deleteModuleConfigResponse" message="tns:deleteModuleConfigResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.config.kernel.bgbilling.bitel.ru/ConfigService/deleteModuleConfig/Fault/BGException">
      </fault>
    </operation>
    <operation name="updateModuleConfig">
      <input wsam:Action="http://service.common.config.kernel.bgbilling.bitel.ru/ConfigService/updateModuleConfigRequest" message="tns:updateModuleConfig">
      </input>
      <output wsam:Action="http://service.common.config.kernel.bgbilling.bitel.ru/ConfigService/updateModuleConfigResponse" message="tns:updateModuleConfigResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.config.kernel.bgbilling.bitel.ru/ConfigService/updateModuleConfig/Fault/BGException">
      </fault>
    </operation>
  </portType>
  <binding name="ConfigServiceBinding" type="tns:ConfigService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document">
    </soap:binding>
    <operation name="getModuleConfig">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="getModuleConfigList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="setActiveModuleConfig">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="deleteModuleConfig">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="updateModuleConfig">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
  </binding>
  <service name="ConfigService">
    <port name="ConfigService" binding="tns:ConfigServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL">
      </soap:address>
    </port>
  </service>
</definitions>
