soap/kernel/src/main/wsdl/original/ru/bitel/bgbilling/kernel/contract/api/common/service/ContractPatternService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.api.contract.kernel.bgbilling.bitel.ru/" name="ContractPatternService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.api.contract.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.api.contract.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="deleteNamedNumber" type="tns:deleteNamedNumber"/>

      <xs:element name="deleteNamedNumberResponse" type="tns:deleteNamedNumberResponse"/>

      <xs:element name="getNextNamedNumberIndex" type="tns:getNextNamedNumberIndex"/>

      <xs:element name="getNextNamedNumberIndexResponse" type="tns:getNextNamedNumberIndexResponse"/>

      <xs:element name="numedNumberPatternList" type="tns:numedNumberPatternList"/>

      <xs:element name="numedNumberPatternListResponse" type="tns:numedNumberPatternListResponse"/>

      <xs:element name="updateNamedNumber" type="tns:updateNamedNumber"/>

      <xs:element name="updateNamedNumberResponse" type="tns:updateNamedNumberResponse"/>

      <xs:complexType name="updateNamedNumber">
        <xs:sequence>
          <xs:element name="namedNumber" type="tns:contractPatternNamedNumber" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractPatternNamedNumber">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence/>
            <xs:attribute name="comment" type="xs:string"/>
            <xs:attribute name="countNumber" type="xs:int" use="required"/>
            <xs:attribute name="index" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="updateNamedNumberResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="numedNumberPatternList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="numedNumberPatternListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contractPatternNamedNumber" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteNamedNumber">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteNamedNumberResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getNextNamedNumberIndex">
        <xs:sequence>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getNextNamedNumberIndexResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="numedNumberPatternList">
    <part name="parameters" element="tns:numedNumberPatternList"/>
  </message>
  <message name="numedNumberPatternListResponse">
    <part name="parameters" element="tns:numedNumberPatternListResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="updateNamedNumber">
    <part name="parameters" element="tns:updateNamedNumber"/>
  </message>
  <message name="updateNamedNumberResponse">
    <part name="parameters" element="tns:updateNamedNumberResponse"/>
  </message>
  <message name="getNextNamedNumberIndex">
    <part name="parameters" element="tns:getNextNamedNumberIndex"/>
  </message>
  <message name="getNextNamedNumberIndexResponse">
    <part name="parameters" element="tns:getNextNamedNumberIndexResponse"/>
  </message>
  <message name="deleteNamedNumber">
    <part name="parameters" element="tns:deleteNamedNumber"/>
  </message>
  <message name="deleteNamedNumberResponse">
    <part name="parameters" element="tns:deleteNamedNumberResponse"/>
  </message>
  <portType name="ContractPatternService">
    <operation name="numedNumberPatternList">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractPatternService/numedNumberPatternListRequest" message="tns:numedNumberPatternList"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractPatternService/numedNumberPatternListResponse" message="tns:numedNumberPatternListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractPatternService/numedNumberPatternList/Fault/BGException"/>
    </operation>
    <operation name="updateNamedNumber">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractPatternService/updateNamedNumberRequest" message="tns:updateNamedNumber"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractPatternService/updateNamedNumberResponse" message="tns:updateNamedNumberResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractPatternService/updateNamedNumber/Fault/BGException"/>
    </operation>
    <operation name="getNextNamedNumberIndex">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractPatternService/getNextNamedNumberIndexRequest" message="tns:getNextNamedNumberIndex"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractPatternService/getNextNamedNumberIndexResponse" message="tns:getNextNamedNumberIndexResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractPatternService/getNextNamedNumberIndex/Fault/BGException"/>
    </operation>
    <operation name="deleteNamedNumber">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractPatternService/deleteNamedNumberRequest" message="tns:deleteNamedNumber"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractPatternService/deleteNamedNumberResponse" message="tns:deleteNamedNumberResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractPatternService/deleteNamedNumber/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="ContractPatternServiceBinding" type="tns:ContractPatternService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="numedNumberPatternList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateNamedNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getNextNamedNumberIndex">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteNamedNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ContractPatternService">
    <port name="ContractPatternService" binding="tns:ContractPatternServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

