soap/kernel/src/main/wsdl/original/ru/bitel/bgbilling/kernel/contract/api/common/service/ContractService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.api.contract.kernel.bgbilling.bitel.ru/" name="ContractService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.api.contract.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="stringArray" final="#all">
        <xs:sequence>
          <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://service.common.api.contract.kernel.bgbilling.bitel.ru/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:import namespace="http://jaxb.dev.java.net/array"/>

      <xsc:import namespace="http://service.common.api.contract.kernel.bgbilling.bitel.ru/"/>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="searchResult">
        <xsc:sequence>
          <xsc:element name="attributes" type="ns1:stringArray" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="list" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="page" type="tns:page" minOccurs="0"/>
          <xsc:element name="period" type="tns:period" minOccurs="0"/>
          <xsc:element name="sort" type="xsc:string" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="sum" type="xsc:decimal" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>

      <xsc:complexType name="mapHolder">
        <xsc:sequence>
          <xsc:element name="data" type="ns2:map" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.api.contract.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns4="http://jaxb.dev.java.net/array" xmlns:ns3="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:import namespace="http://jaxb.dev.java.net/array"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="contractDomainUpdate" type="tns:contractDomainUpdate"/>

      <xs:element name="contractDomainUpdateResponse" type="tns:contractDomainUpdateResponse"/>

      <xs:element name="contractGet" type="tns:contractGet"/>

      <xs:element name="contractGetResponse" type="tns:contractGetResponse"/>

      <xs:element name="contractGroupAdd" type="tns:contractGroupAdd"/>

      <xs:element name="contractGroupAddResponse" type="tns:contractGroupAddResponse"/>

      <xs:element name="contractGroupRemove" type="tns:contractGroupRemove"/>

      <xs:element name="contractGroupRemoveResponse" type="tns:contractGroupRemoveResponse"/>

      <xs:element name="contractList" type="tns:contractList"/>

      <xs:element name="contractListResponse" type="tns:contractListResponse"/>

      <xs:element name="contractModuleConfigGet" type="tns:contractModuleConfigGet"/>

      <xs:element name="contractModuleConfigGetResponse" type="tns:contractModuleConfigGetResponse"/>

      <xs:element name="contractModuleConfigSet" type="tns:contractModuleConfigSet"/>

      <xs:element name="contractModuleConfigSetResponse" type="tns:contractModuleConfigSetResponse"/>

      <xs:element name="contractParameterGroupGet" type="tns:contractParameterGroupGet"/>

      <xs:element name="contractParameterGroupGetResponse" type="tns:contractParameterGroupGetResponse"/>

      <xs:element name="contractParameterGroupList" type="tns:contractParameterGroupList"/>

      <xs:element name="contractParameterGroupListResponse" type="tns:contractParameterGroupListResponse"/>

      <xs:element name="contractParameterMap" type="tns:contractParameterMap"/>

      <xs:element name="contractParameterMapResponse" type="tns:contractParameterMapResponse"/>

      <xs:element name="contractPasswordOnceCheck" type="tns:contractPasswordOnceCheck"/>

      <xs:element name="contractPasswordOnceCheckResponse" type="tns:contractPasswordOnceCheckResponse"/>

      <xs:element name="contractPasswordReset" type="tns:contractPasswordReset"/>

      <xs:element name="contractPasswordResetResponse" type="tns:contractPasswordResetResponse"/>

      <xs:element name="contractPasswordUpdate" type="tns:contractPasswordUpdate"/>

      <xs:element name="contractPasswordUpdateResponse" type="tns:contractPasswordUpdateResponse"/>

      <xs:element name="contractSubList" type="tns:contractSubList"/>

      <xs:element name="contractSubListResponse" type="tns:contractSubListResponse"/>

      <xs:element name="hasModuleInstance" type="tns:hasModuleInstance"/>

      <xs:element name="hasModuleInstanceResponse" type="tns:hasModuleInstanceResponse"/>

      <xs:element name="searchContractHistoryRecord" type="tns:searchContractHistoryRecord"/>

      <xs:element name="searchContractHistoryRecordResponse" type="tns:searchContractHistoryRecordResponse"/>

      <xs:element name="updateContractHistoryRecord" type="tns:updateContractHistoryRecord"/>

      <xs:element name="updateContractHistoryRecordResponse" type="tns:updateContractHistoryRecordResponse"/>

      <xs:complexType name="entityAttr" abstract="true">
        <xs:sequence>
          <xs:element name="entityId" type="xs:int"/>
          <xs:element name="entitySpecAttrId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="entityAttrText">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrInt">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrList">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrDate">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:dateTime"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrAddress">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence>
              <xs:element name="formatKey" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="comment" type="xs:string"/>
            <xs:attribute name="flat" type="xs:string"/>
            <xs:attribute name="floor" type="xs:int" use="required"/>
            <xs:attribute name="houseId" type="xs:int" use="required"/>
            <xs:attribute name="pod" type="xs:int" use="required"/>
            <xs:attribute name="room" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrEmail">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrContract">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrBoolean">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:boolean" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="contractHistoryRecord">
        <xs:sequence>
          <xs:element name="contractComment" type="xs:string" minOccurs="0"/>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="contractTitle" type="xs:string" minOccurs="0"/>
          <xs:element name="lastOpen" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="userId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractGroupAdd">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="contractGroupId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractGroupAddResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractSubList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="subMode" type="xs:int"/>
          <xs:element name="withSuperCid" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractSubListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contract" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contract">
        <xs:complexContent>
          <xs:extension base="ns3:idTitle">
            <xs:sequence>
              <xs:element name="balanceLimit" type="xs:decimal" minOccurs="0"/>
              <xs:element name="balanceMode" type="xs:byte"/>
              <xs:element name="balanceSubMode" type="xs:byte"/>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="dependSubList" type="xs:string" minOccurs="0"/>
              <xs:element name="domainId" type="xs:int"/>
              <xs:element name="groups" type="xs:long"/>
              <xs:element name="hidden" type="xs:boolean"/>
              <xs:element name="paramGroupId" type="xs:int"/>
              <xs:element name="password" type="xs:string" minOccurs="0"/>
              <xs:element name="personType" type="xs:byte"/>
              <xs:element name="status" type="xs:byte"/>
              <xs:element name="statusTimeChange" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="superCid" type="xs:int"/>
              <xs:element name="titlePatternId" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="contractModuleConfigGet">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="moduleId" type="xs:int"/>
          <xs:element name="key" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractModuleConfigGetResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchContractHistoryRecord">
        <xs:sequence>
          <xs:element name="page" type="ns3:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchContractHistoryRecordResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:searchResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractPasswordReset">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="email" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractPasswordResetResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="contractParameterGroupList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="contractParameterGroupListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contractParameterGroup" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractParameterGroup">
        <xs:complexContent>
          <xs:extension base="tns:entitySpec">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entitySpec">
        <xs:complexContent>
          <xs:extension base="ns3:idTitle">
            <xs:sequence>
              <xs:element name="attributeList" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="attributeList" type="tns:entitySpecAttr" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="entitySpecTypeId" type="xs:int" use="required"/>
            <xs:attribute name="entityTitleMacros" type="xs:string"/>
            <xs:attribute name="hidden" type="xs:boolean" use="required"/>
            <xs:attribute name="moduleIds">
              <xs:simpleType>
                <xs:list itemType="xs:int"/>
              </xs:simpleType>
            </xs:attribute>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entitySpecAttr">
        <xs:complexContent>
          <xs:extension base="ns3:idTitle">
            <xs:sequence>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="history" type="xs:boolean"/>
              <xs:element name="type" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="contractParameterGroupAttr">
        <xs:complexContent>
          <xs:extension base="tns:entitySpecAttr">
            <xs:sequence/>
            <xs:attribute name="customerRead" type="xs:boolean" use="required"/>
            <xs:attribute name="customerWrite" type="xs:boolean" use="required"/>
            <xs:attribute name="order" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="contractList">
        <xs:sequence>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
          <xs:element name="comment" type="xs:string" minOccurs="0"/>
          <xs:element name="fc" type="xs:int"/>
          <xs:element name="groupMask" type="xs:long"/>
          <xs:element name="entityFilter" type="tns:filterEntityAttr" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="subContracts" type="xs:boolean"/>
          <xs:element name="closed" type="xs:boolean"/>
          <xs:element name="hidden" type="xs:boolean"/>
          <xs:element name="page" type="ns3:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filterEntityAttr" abstract="true">
        <xs:sequence/>
        <xs:attribute name="entitySpecAttrIds">
          <xs:simpleType>
            <xs:list itemType="xs:int"/>
          </xs:simpleType>
        </xs:attribute>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrAddress">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="cityId" type="xs:int" use="required"/>
            <xs:attribute name="flat" type="xs:string"/>
            <xs:attribute name="frac" type="xs:string"/>
            <xs:attribute name="house" type="xs:string"/>
            <xs:attribute name="pod" type="xs:int" use="required"/>
            <xs:attribute name="room" type="xs:string"/>
            <xs:attribute name="streetId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrDate">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="periodFrom" type="xs:dateTime"/>
            <xs:attribute name="periodTo" type="xs:dateTime"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrHouse">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrInt">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrList">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrMultiList">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttrList">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrText">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrEmail">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrContract">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrBoolean">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:boolean" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="contractListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="page" type="ns3:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractParameterMap">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="paramGroupId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractParameterMapResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:mapHolder" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="map">
        <xs:sequence>
          <xs:element name="entry" type="tns:entry" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="entry" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="key" type="xs:anyType" minOccurs="0"/>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractMapEntry" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="sortedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="linkedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="list" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="mapEntry">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="collection" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractGroupRemove">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="contractGroupId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractGroupRemoveResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="contractDomainUpdate">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="domainId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractDomainUpdateResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="contractGet">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contract" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractParameterGroupGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractParameterGroupGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contractParameterGroup" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="hasModuleInstance">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="hasModuleInstanceResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractPasswordUpdate">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="password" type="xs:string" minOccurs="0"/>
          <xs:element name="generate" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractPasswordUpdateResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="updateContractHistoryRecord">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateContractHistoryRecordResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="contractPasswordOnceCheck">
        <xs:sequence>
          <xs:element name="passwordOnce" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractPasswordOnceCheckResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractModuleConfigSet">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="moduleId" type="xs:int"/>
          <xs:element name="key" type="xs:string" minOccurs="0"/>
          <xs:element name="value" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractModuleConfigSetResponse">
        <xs:sequence/>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="contractGet">
    <part name="parameters" element="tns:contractGet"/>
  </message>
  <message name="contractGetResponse">
    <part name="parameters" element="tns:contractGetResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="contractGroupRemove">
    <part name="parameters" element="tns:contractGroupRemove"/>
  </message>
  <message name="contractGroupRemoveResponse">
    <part name="parameters" element="tns:contractGroupRemoveResponse"/>
  </message>
  <message name="contractGroupAdd">
    <part name="parameters" element="tns:contractGroupAdd"/>
  </message>
  <message name="contractGroupAddResponse">
    <part name="parameters" element="tns:contractGroupAddResponse"/>
  </message>
  <message name="contractSubList">
    <part name="parameters" element="tns:contractSubList"/>
  </message>
  <message name="contractSubListResponse">
    <part name="parameters" element="tns:contractSubListResponse"/>
  </message>
  <message name="contractList">
    <part name="parameters" element="tns:contractList"/>
  </message>
  <message name="contractListResponse">
    <part name="parameters" element="tns:contractListResponse"/>
  </message>
  <message name="contractPasswordUpdate">
    <part name="parameters" element="tns:contractPasswordUpdate"/>
  </message>
  <message name="contractPasswordUpdateResponse">
    <part name="parameters" element="tns:contractPasswordUpdateResponse"/>
  </message>
  <message name="hasModuleInstance">
    <part name="parameters" element="tns:hasModuleInstance"/>
  </message>
  <message name="hasModuleInstanceResponse">
    <part name="parameters" element="tns:hasModuleInstanceResponse"/>
  </message>
  <message name="contractPasswordReset">
    <part name="parameters" element="tns:contractPasswordReset"/>
  </message>
  <message name="contractPasswordResetResponse">
    <part name="parameters" element="tns:contractPasswordResetResponse"/>
  </message>
  <message name="contractPasswordOnceCheck">
    <part name="parameters" element="tns:contractPasswordOnceCheck"/>
  </message>
  <message name="contractPasswordOnceCheckResponse">
    <part name="parameters" element="tns:contractPasswordOnceCheckResponse"/>
  </message>
  <message name="contractParameterMap">
    <part name="parameters" element="tns:contractParameterMap"/>
  </message>
  <message name="contractParameterMapResponse">
    <part name="parameters" element="tns:contractParameterMapResponse"/>
  </message>
  <message name="contractParameterGroupGet">
    <part name="parameters" element="tns:contractParameterGroupGet"/>
  </message>
  <message name="contractParameterGroupGetResponse">
    <part name="parameters" element="tns:contractParameterGroupGetResponse"/>
  </message>
  <message name="contractParameterGroupList">
    <part name="parameters" element="tns:contractParameterGroupList"/>
  </message>
  <message name="contractParameterGroupListResponse">
    <part name="parameters" element="tns:contractParameterGroupListResponse"/>
  </message>
  <message name="searchContractHistoryRecord">
    <part name="parameters" element="tns:searchContractHistoryRecord"/>
  </message>
  <message name="searchContractHistoryRecordResponse">
    <part name="parameters" element="tns:searchContractHistoryRecordResponse"/>
  </message>
  <message name="updateContractHistoryRecord">
    <part name="parameters" element="tns:updateContractHistoryRecord"/>
  </message>
  <message name="updateContractHistoryRecordResponse">
    <part name="parameters" element="tns:updateContractHistoryRecordResponse"/>
  </message>
  <message name="contractModuleConfigGet">
    <part name="parameters" element="tns:contractModuleConfigGet"/>
  </message>
  <message name="contractModuleConfigGetResponse">
    <part name="parameters" element="tns:contractModuleConfigGetResponse"/>
  </message>
  <message name="contractModuleConfigSet">
    <part name="parameters" element="tns:contractModuleConfigSet"/>
  </message>
  <message name="contractModuleConfigSetResponse">
    <part name="parameters" element="tns:contractModuleConfigSetResponse"/>
  </message>
  <message name="contractDomainUpdate">
    <part name="parameters" element="tns:contractDomainUpdate"/>
  </message>
  <message name="contractDomainUpdateResponse">
    <part name="parameters" element="tns:contractDomainUpdateResponse"/>
  </message>
  <portType name="ContractService">
    <operation name="contractGet">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractGetRequest" message="tns:contractGet"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractGetResponse" message="tns:contractGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractGet/Fault/BGException"/>
    </operation>
    <operation name="contractGroupRemove">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractGroupRemoveRequest" message="tns:contractGroupRemove"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractGroupRemoveResponse" message="tns:contractGroupRemoveResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractGroupRemove/Fault/BGException"/>
    </operation>
    <operation name="contractGroupAdd">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractGroupAddRequest" message="tns:contractGroupAdd"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractGroupAddResponse" message="tns:contractGroupAddResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractGroupAdd/Fault/BGException"/>
    </operation>
    <operation name="contractSubList">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractSubListRequest" message="tns:contractSubList"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractSubListResponse" message="tns:contractSubListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractSubList/Fault/BGException"/>
    </operation>
    <operation name="contractList">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractListRequest" message="tns:contractList"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractListResponse" message="tns:contractListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractList/Fault/BGException"/>
    </operation>
    <operation name="contractPasswordUpdate">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractPasswordUpdateRequest" message="tns:contractPasswordUpdate"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractPasswordUpdateResponse" message="tns:contractPasswordUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractPasswordUpdate/Fault/BGException"/>
    </operation>
    <operation name="hasModuleInstance">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/hasModuleInstanceRequest" message="tns:hasModuleInstance"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/hasModuleInstanceResponse" message="tns:hasModuleInstanceResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/hasModuleInstance/Fault/BGException"/>
    </operation>
    <operation name="contractPasswordReset">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractPasswordResetRequest" message="tns:contractPasswordReset"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractPasswordResetResponse" message="tns:contractPasswordResetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractPasswordReset/Fault/BGException"/>
    </operation>
    <operation name="contractPasswordOnceCheck">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractPasswordOnceCheckRequest" message="tns:contractPasswordOnceCheck"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractPasswordOnceCheckResponse" message="tns:contractPasswordOnceCheckResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractPasswordOnceCheck/Fault/BGException"/>
    </operation>
    <operation name="contractParameterMap">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractParameterMapRequest" message="tns:contractParameterMap"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractParameterMapResponse" message="tns:contractParameterMapResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractParameterMap/Fault/BGException"/>
    </operation>
    <operation name="contractParameterGroupGet">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractParameterGroupGetRequest" message="tns:contractParameterGroupGet"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractParameterGroupGetResponse" message="tns:contractParameterGroupGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractParameterGroupGet/Fault/BGException"/>
    </operation>
    <operation name="contractParameterGroupList">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractParameterGroupListRequest" message="tns:contractParameterGroupList"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractParameterGroupListResponse" message="tns:contractParameterGroupListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractParameterGroupList/Fault/BGException"/>
    </operation>
    <operation name="searchContractHistoryRecord">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/searchContractHistoryRecordRequest" message="tns:searchContractHistoryRecord"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/searchContractHistoryRecordResponse" message="tns:searchContractHistoryRecordResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/searchContractHistoryRecord/Fault/BGException"/>
    </operation>
    <operation name="updateContractHistoryRecord">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/updateContractHistoryRecordRequest" message="tns:updateContractHistoryRecord"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/updateContractHistoryRecordResponse" message="tns:updateContractHistoryRecordResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/updateContractHistoryRecord/Fault/BGException"/>
    </operation>
    <operation name="contractModuleConfigGet">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractModuleConfigGetRequest" message="tns:contractModuleConfigGet"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractModuleConfigGetResponse" message="tns:contractModuleConfigGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractModuleConfigGet/Fault/BGException"/>
    </operation>
    <operation name="contractModuleConfigSet">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractModuleConfigSetRequest" message="tns:contractModuleConfigSet"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractModuleConfigSetResponse" message="tns:contractModuleConfigSetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractModuleConfigSet/Fault/BGException"/>
    </operation>
    <operation name="contractDomainUpdate">
      <input wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractDomainUpdateRequest" message="tns:contractDomainUpdate"/>
      <output wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractDomainUpdateResponse" message="tns:contractDomainUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.contract.kernel.bgbilling.bitel.ru/ContractService/contractDomainUpdate/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="ContractServiceBinding" type="tns:ContractService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="contractGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractGroupRemove">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractGroupAdd">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractSubList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractPasswordUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="hasModuleInstance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractPasswordReset">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractPasswordOnceCheck">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractParameterMap">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractParameterGroupGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractParameterGroupList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="searchContractHistoryRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateContractHistoryRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractModuleConfigGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractModuleConfigSet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractDomainUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ContractService">
    <port name="ContractService" binding="tns:ContractServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

