soap/bonus/src/main/wsdl/handmade/BonusService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.common.bonus.plugins.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.common.bonus.plugins.bgbilling.bitel.ru/" name="BonusService">
  <types>
    <xs:schema xmlns:tns="http://service.common.bonus.plugins.bgbilling.bitel.ru/" xmlns:ns1="http://common.bitel.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.common.bonus.plugins.bgbilling.bitel.ru/">
      <xs:element name="BGException" type="tns:BGException"/>
      <xs:element name="BGMessageException" type="tns:BGMessageException"/>
      <xs:element name="balance" type="tns:balance"/>
      <xs:element name="balanceAdvanced" type="tns:balanceAdvanced"/>
      <xs:element name="balanceAdvancedResponse" type="tns:balanceAdvancedResponse"/>
      <xs:element name="balanceList" type="tns:balanceList"/>
      <xs:element name="balanceListResponse" type="tns:balanceListResponse"/>
      <xs:element name="balanceNotActive" type="tns:balanceNotActive"/>
      <xs:element name="balanceNotActiveResponse" type="tns:balanceNotActiveResponse"/>
      <xs:element name="balanceResponse" type="tns:balanceResponse"/>
      <xs:element name="bonusSummaMax" type="tns:bonusSummaMax"/>
      <xs:element name="bonusSummaMaxAdvanced" type="tns:bonusSummaMaxAdvanced"/>
      <xs:element name="bonusSummaMaxAdvancedResponse" type="tns:bonusSummaMaxAdvancedResponse"/>
      <xs:element name="bonusSummaMaxResponse" type="tns:bonusSummaMaxResponse"/>
      <xs:element name="chargeBonus" type="tns:chargeBonus"/>
      <xs:element name="chargeBonusResponse" type="tns:chargeBonusResponse"/>
      <xs:element name="chargeDeleteByContractChargeId" type="tns:chargeDeleteByContractChargeId"/>
      <xs:element name="chargeDeleteByContractChargeIdResponse" type="tns:chargeDeleteByContractChargeIdResponse"/>
      <xs:element name="chargeDetailsList" type="tns:chargeDetailsList"/>
      <xs:element name="chargeDetailsListResponse" type="tns:chargeDetailsListResponse"/>
      <xs:element name="chargeList" type="tns:chargeList"/>
      <xs:element name="chargeListResponse" type="tns:chargeListResponse"/>
      <xs:element name="chargeUpdate" type="tns:chargeUpdate"/>
      <xs:element name="chargeUpdateResponse" type="tns:chargeUpdateResponse"/>
      <xs:element name="checkProgramPeriodOnCrossing" type="tns:checkProgramPeriodOnCrossing"/>
      <xs:element name="checkProgramPeriodOnCrossingResponse" type="tns:checkProgramPeriodOnCrossingResponse"/>
      <xs:element name="paymentDelete" type="tns:paymentDelete"/>
      <xs:element name="paymentDeleteResponse" type="tns:paymentDeleteResponse"/>
      <xs:element name="paymentDetailsList" type="tns:paymentDetailsList"/>
      <xs:element name="paymentDetailsListResponse" type="tns:paymentDetailsListResponse"/>
      <xs:element name="paymentList" type="tns:paymentList"/>
      <xs:element name="paymentListResponse" type="tns:paymentListResponse"/>
      <xs:element name="paymentTypeDelete" type="tns:paymentTypeDelete"/>
      <xs:element name="paymentTypeDeleteResponse" type="tns:paymentTypeDeleteResponse"/>
      <xs:element name="paymentTypeList" type="tns:paymentTypeList"/>
      <xs:element name="paymentTypeListResponse" type="tns:paymentTypeListResponse"/>
      <xs:element name="paymentTypeUpdate" type="tns:paymentTypeUpdate"/>
      <xs:element name="paymentTypeUpdateResponse" type="tns:paymentTypeUpdateResponse"/>
      <xs:element name="paymentUpdate" type="tns:paymentUpdate"/>
      <xs:element name="paymentUpdateResponse" type="tns:paymentUpdateResponse"/>
      <xs:element name="paymentsNotActiveNow" type="tns:paymentsNotActiveNow"/>
      <xs:element name="paymentsNotActiveNowResponse" type="tns:paymentsNotActiveNowResponse"/>
      <xs:element name="percentOfBonus" type="tns:percentOfBonus"/>
      <xs:element name="percentOfBonusResponse" type="tns:percentOfBonusResponse"/>
      <xs:element name="pluginInclude" type="tns:pluginInclude"/>
      <xs:element name="pluginIncludeResponse" type="tns:pluginIncludeResponse"/>
      <xs:element name="programContractList" type="tns:programContractList"/>
      <xs:element name="programContractListResponse" type="tns:programContractListResponse"/>
      <xs:element name="programContractUpdate" type="tns:programContractUpdate"/>
      <xs:element name="programContractUpdateResponse" type="tns:programContractUpdateResponse"/>
      <xs:element name="programDelete" type="tns:programDelete"/>
      <xs:element name="programDeleteResponse" type="tns:programDeleteResponse"/>
      <xs:element name="programInContractList" type="tns:programInContractList"/>
      <xs:element name="programInContractListResponse" type="tns:programInContractListResponse"/>
      <xs:element name="programList" type="tns:programList"/>
      <xs:element name="programListResponse" type="tns:programListResponse"/>
      <xs:element name="programTypeMap" type="tns:programTypeMap"/>
      <xs:element name="programTypeMapResponse" type="tns:programTypeMapResponse"/>
      <xs:element name="programUpdate" type="tns:programUpdate"/>
      <xs:element name="programUpdateResponse" type="tns:programUpdateResponse"/>
      <xs:element name="rate" type="tns:rate"/>
      <xs:element name="rateResponse" type="tns:rateResponse"/>
      <xs:element name="treeNodeTitle" type="tns:treeNodeTitle"/>
      <xs:element name="treeNodeTitleResponse" type="tns:treeNodeTitleResponse"/>
      <xs:element name="updatePluginInclude" type="tns:updatePluginInclude"/>
      <xs:element name="updatePluginIncludeResponse" type="tns:updatePluginIncludeResponse"/>
      <xs:element name="updateProgramAndPluginIncludeGroupOperation" type="tns:updateProgramAndPluginIncludeGroupOperation"/>
      <xs:element name="updateProgramAndPluginIncludeGroupOperationResponse" type="tns:updateProgramAndPluginIncludeGroupOperationResponse"/>
      <xs:complexType name="bonusPaymentType">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="used" type="xs:boolean"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="paymentTypeDelete">
        <xs:sequence>
          <xs:element name="paymentId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentTypeDeleteResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="pluginInclude">
        <xs:sequence>
          <xs:element name="cid" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="pluginIncludeResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentTypeUpdate">
        <xs:sequence>
          <xs:element name="paymentType" type="tns:bonusPaymentType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentTypeUpdateResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="programInContractList">
        <xs:sequence>
          <xs:element name="idProgram" type="xs:int"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="programInContractListResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="balanceAdvanced">
        <xs:sequence>
          <xs:element name="cid" type="xs:int"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="chargeId" type="xs:int" minOccurs="0"/>
          <xs:element name="withFutureCharge" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="balanceAdvancedResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="rate">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="rateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="balance">
        <xs:sequence>
          <xs:element name="cid" type="xs:int"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="balanceResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentUpdate">
        <xs:sequence>
          <xs:element name="cid" type="xs:int"/>
          <xs:element name="payment" type="tns:bonusPayment" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="bonusPayment">
        <xs:complexContent>
          <xs:extension base="tns:abstractBonusBalanceBean">
            <xs:sequence/>
            <xs:attribute name="comment" type="xs:string"/>
            <xs:attribute name="dateFrom" type="xs:dateTime"/>
            <xs:attribute name="datePeriod" type="xs:string"/>
            <xs:attribute name="dateTo" type="xs:dateTime"/>
            <xs:attribute name="typeTitle" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractBonusBalanceBean" abstract="true">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence/>
            <xs:attribute name="date" type="xs:dateTime"/>
            <xs:attribute name="dateString" type="xs:string"/>
            <xs:attribute name="sum" type="xs:decimal"/>
            <xs:attribute name="typeId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="paymentUpdateResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="programTypeMap">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="programTypeMapResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:dataMap" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="map">
        <xs:sequence>
          <xs:element name="entry" type="tns:entry" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="entry" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="key" type="xs:anyType" minOccurs="0"/>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractMapEntry" abstract="true">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="sortedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="linkedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="list" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mapEntry">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="collection" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="programDelete">
        <xs:sequence>
          <xs:element name="programId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="programDeleteResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="paymentDelete">
        <xs:sequence>
          <xs:element name="paymentId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentDeleteResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="chargeDetailsList">
        <xs:sequence>
          <xs:element name="paymentId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="chargeDetailsListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:bonusCharge" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="bonusCharge">
        <xs:complexContent>
          <xs:extension base="tns:abstractBonusBalanceBean">
            <xs:sequence/>
            <xs:attribute name="contractChargeId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="chargeBonus">
        <xs:sequence>
          <xs:element name="contractChargeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="chargeBonusResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:bonusCharge" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentDetailsList">
        <xs:sequence>
          <xs:element name="chargeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentDetailsListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:bonusPayment" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="treeNodeTitle">
        <xs:sequence>
          <xs:element name="cid" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="treeNodeTitleResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="bonusSummaMaxAdvanced">
        <xs:sequence>
          <xs:element name="cid" type="xs:int"/>
          <xs:element name="contractChargeId" type="xs:int"/>
          <xs:element name="chargeSum" type="xs:decimal" minOccurs="0"/>
          <xs:element name="bonusSum" type="xs:boolean"/>
          <xs:element name="MaxSum" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="bonusSummaMaxAdvancedResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="balanceList">
        <xs:sequence>
          <xs:element name="cid" type="xs:int"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="balanceListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:bonusBalance" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="bonusBalance">
        <xs:complexContent>
          <xs:extension base="tns:abstractBonusBalanceBean">
            <xs:sequence/>
            <xs:attribute name="debitSum" type="xs:decimal"/>
            <xs:attribute name="rest" type="xs:decimal"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="programList">
        <xs:sequence>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="programListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:bonusProgram" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="bonusProgram">
        <xs:sequence>
          <xs:element name="activeTime" type="xs:string" minOccurs="0"/>
          <xs:element name="id" type="xs:int"/>
          <xs:element name="nameForDynamicClass" type="xs:string" minOccurs="0"/>
          <xs:element name="params">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:string"/>
                      <xs:element name="value" minOccurs="0" type="xs:string"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="paymentTypeId" type="xs:int"/>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
          <xs:element name="programTypeId" type="xs:int"/>
          <xs:element name="specificationTitle" type="xs:string" minOccurs="0"/>
          <xs:element name="timeLag" type="xs:string" minOccurs="0"/>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="programContractUpdate">
        <xs:sequence>
          <xs:element name="bonusContractProgram" type="tns:bonusContractProgram" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="bonusContractProgram">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
          <xs:element name="program" type="tns:bonusProgram" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="programContractUpdateResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="BGMessageException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentTypeList">
        <xs:sequence>
          <xs:element name="usedOnly" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentTypeListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:bonusPaymentType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="programUpdate">
        <xs:sequence>
          <xs:element name="program" type="tns:bonusProgram" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="programUpdateResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="chargeList">
        <xs:sequence>
          <xs:element name="cid" type="xs:int"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="chargeListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:bonusCharge" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="checkProgramPeriodOnCrossing">
        <xs:sequence>
          <xs:element name="bonusProgram" type="tns:bonusProgram" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="checkProgramPeriodOnCrossingResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentsNotActiveNow">
        <xs:sequence>
          <xs:element name="cid" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentsNotActiveNowResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:bonusPayment" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentList">
        <xs:sequence>
          <xs:element name="cid" type="xs:int"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:bonusPayment" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="bonusSummaMax">
        <xs:sequence>
          <xs:element name="cid" type="xs:int"/>
          <xs:element name="contractChargeId" type="xs:int"/>
          <xs:element name="chargeSum" type="xs:decimal" minOccurs="0"/>
          <xs:element name="bonusSum" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="bonusSummaMaxResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="balanceNotActive">
        <xs:sequence>
          <xs:element name="cid" type="xs:int"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="balanceNotActiveResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updatePluginInclude">
        <xs:sequence>
          <xs:element name="cid" type="xs:int"/>
          <xs:element name="include" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updatePluginIncludeResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="programContractList">
        <xs:sequence>
          <xs:element name="cid" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="programContractListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:bonusContractProgram" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateProgramAndPluginIncludeGroupOperation">
        <xs:sequence>
          <xs:element name="programs" type="tns:bonusProgram" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="cids" type="xs:string" minOccurs="0"/>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
          <xs:element name="include" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateProgramAndPluginIncludeGroupOperationResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="chargeUpdate">
        <xs:sequence>
          <xs:element name="cid" type="xs:int"/>
          <xs:element name="charge" type="tns:bonusCharge" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="chargeUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="chargeDeleteByContractChargeId">
        <xs:sequence>
          <xs:element name="contractChargeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="chargeDeleteByContractChargeIdResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="percentOfBonus">
        <xs:sequence>
          <xs:element name="contractChargeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="percentOfBonusResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xsc:schema xmlns:tns="http://common.bitel.ru" xmlns:ns1="http://service.common.bonus.plugins.bgbilling.bitel.ru/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:common="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru">
      <xsc:import namespace="http://service.common.bonus.plugins.bgbilling.bitel.ru/"/>
      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
      <xsc:complexType name="dataMap">
        <xsc:sequence>
          <xsc:element name="data" type="ns1:map" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>
      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>
    </xsc:schema>
  </types>
  <message name="paymentList">
    <part name="parameters" element="tns:paymentList">
    </part>
  </message>
  <message name="paymentListResponse">
    <part name="parameters" element="tns:paymentListResponse">
    </part>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException">
    </part>
  </message>
  <message name="paymentTypeList">
    <part name="parameters" element="tns:paymentTypeList">
    </part>
  </message>
  <message name="paymentTypeListResponse">
    <part name="parameters" element="tns:paymentTypeListResponse">
    </part>
  </message>
  <message name="paymentTypeUpdate">
    <part name="parameters" element="tns:paymentTypeUpdate">
    </part>
  </message>
  <message name="paymentTypeUpdateResponse">
    <part name="parameters" element="tns:paymentTypeUpdateResponse">
    </part>
  </message>
  <message name="paymentTypeDelete">
    <part name="parameters" element="tns:paymentTypeDelete">
    </part>
  </message>
  <message name="paymentTypeDeleteResponse">
    <part name="parameters" element="tns:paymentTypeDeleteResponse">
    </part>
  </message>
  <message name="paymentsNotActiveNow">
    <part name="parameters" element="tns:paymentsNotActiveNow">
    </part>
  </message>
  <message name="paymentsNotActiveNowResponse">
    <part name="parameters" element="tns:paymentsNotActiveNowResponse">
    </part>
  </message>
  <message name="chargeList">
    <part name="parameters" element="tns:chargeList">
    </part>
  </message>
  <message name="chargeListResponse">
    <part name="parameters" element="tns:chargeListResponse">
    </part>
  </message>
  <message name="chargeBonus">
    <part name="parameters" element="tns:chargeBonus">
    </part>
  </message>
  <message name="chargeBonusResponse">
    <part name="parameters" element="tns:chargeBonusResponse">
    </part>
  </message>
  <message name="paymentUpdate">
    <part name="parameters" element="tns:paymentUpdate">
    </part>
  </message>
  <message name="paymentUpdateResponse">
    <part name="parameters" element="tns:paymentUpdateResponse">
    </part>
  </message>
  <message name="chargeUpdate">
    <part name="parameters" element="tns:chargeUpdate">
    </part>
  </message>
  <message name="chargeUpdateResponse">
    <part name="parameters" element="tns:chargeUpdateResponse">
    </part>
  </message>
  <message name="paymentDelete">
    <part name="parameters" element="tns:paymentDelete">
    </part>
  </message>
  <message name="paymentDeleteResponse">
    <part name="parameters" element="tns:paymentDeleteResponse">
    </part>
  </message>
  <message name="chargeDeleteByContractChargeId">
    <part name="parameters" element="tns:chargeDeleteByContractChargeId">
    </part>
  </message>
  <message name="chargeDeleteByContractChargeIdResponse">
    <part name="parameters" element="tns:chargeDeleteByContractChargeIdResponse">
    </part>
  </message>
  <message name="paymentDetailsList">
    <part name="parameters" element="tns:paymentDetailsList">
    </part>
  </message>
  <message name="paymentDetailsListResponse">
    <part name="parameters" element="tns:paymentDetailsListResponse">
    </part>
  </message>
  <message name="chargeDetailsList">
    <part name="parameters" element="tns:chargeDetailsList">
    </part>
  </message>
  <message name="chargeDetailsListResponse">
    <part name="parameters" element="tns:chargeDetailsListResponse">
    </part>
  </message>
  <message name="balanceList">
    <part name="parameters" element="tns:balanceList">
    </part>
  </message>
  <message name="balanceListResponse">
    <part name="parameters" element="tns:balanceListResponse">
    </part>
  </message>
  <message name="balanceAdvanced">
    <part name="parameters" element="tns:balanceAdvanced">
    </part>
  </message>
  <message name="balanceAdvancedResponse">
    <part name="parameters" element="tns:balanceAdvancedResponse">
    </part>
  </message>
  <message name="balanceNotActive">
    <part name="parameters" element="tns:balanceNotActive">
    </part>
  </message>
  <message name="balanceNotActiveResponse">
    <part name="parameters" element="tns:balanceNotActiveResponse">
    </part>
  </message>
  <message name="percentOfBonus">
    <part name="parameters" element="tns:percentOfBonus">
    </part>
  </message>
  <message name="percentOfBonusResponse">
    <part name="parameters" element="tns:percentOfBonusResponse">
    </part>
  </message>
  <message name="rate">
    <part name="parameters" element="tns:rate">
    </part>
  </message>
  <message name="rateResponse">
    <part name="parameters" element="tns:rateResponse">
    </part>
  </message>
  <message name="bonusSummaMax">
    <part name="parameters" element="tns:bonusSummaMax">
    </part>
  </message>
  <message name="bonusSummaMaxResponse">
    <part name="parameters" element="tns:bonusSummaMaxResponse">
    </part>
  </message>
  <message name="bonusSummaMaxAdvanced">
    <part name="parameters" element="tns:bonusSummaMaxAdvanced">
    </part>
  </message>
  <message name="bonusSummaMaxAdvancedResponse">
    <part name="parameters" element="tns:bonusSummaMaxAdvancedResponse">
    </part>
  </message>
  <message name="treeNodeTitle">
    <part name="parameters" element="tns:treeNodeTitle">
    </part>
  </message>
  <message name="treeNodeTitleResponse">
    <part name="parameters" element="tns:treeNodeTitleResponse">
    </part>
  </message>
  <message name="programTypeMap">
    <part name="parameters" element="tns:programTypeMap">
    </part>
  </message>
  <message name="programTypeMapResponse">
    <part name="parameters" element="tns:programTypeMapResponse">
    </part>
  </message>
  <message name="programList">
    <part name="parameters" element="tns:programList">
    </part>
  </message>
  <message name="programListResponse">
    <part name="parameters" element="tns:programListResponse">
    </part>
  </message>
  <message name="programUpdate">
    <part name="parameters" element="tns:programUpdate">
    </part>
  </message>
  <message name="programUpdateResponse">
    <part name="parameters" element="tns:programUpdateResponse">
    </part>
  </message>
  <message name="programContractList">
    <part name="parameters" element="tns:programContractList">
    </part>
  </message>
  <message name="programContractListResponse">
    <part name="parameters" element="tns:programContractListResponse">
    </part>
  </message>
  <message name="programContractUpdate">
    <part name="parameters" element="tns:programContractUpdate">
    </part>
  </message>
  <message name="programContractUpdateResponse">
    <part name="parameters" element="tns:programContractUpdateResponse">
    </part>
  </message>
  <message name="BGMessageException">
    <part name="fault" element="tns:BGMessageException">
    </part>
  </message>
  <message name="checkProgramPeriodOnCrossing">
    <part name="parameters" element="tns:checkProgramPeriodOnCrossing">
    </part>
  </message>
  <message name="checkProgramPeriodOnCrossingResponse">
    <part name="parameters" element="tns:checkProgramPeriodOnCrossingResponse">
    </part>
  </message>
  <message name="programInContractList">
    <part name="parameters" element="tns:programInContractList">
    </part>
  </message>
  <message name="programInContractListResponse">
    <part name="parameters" element="tns:programInContractListResponse">
    </part>
  </message>
  <message name="programDelete">
    <part name="parameters" element="tns:programDelete">
    </part>
  </message>
  <message name="programDeleteResponse">
    <part name="parameters" element="tns:programDeleteResponse">
    </part>
  </message>
  <message name="updateProgramAndPluginIncludeGroupOperation">
    <part name="parameters" element="tns:updateProgramAndPluginIncludeGroupOperation">
    </part>
  </message>
  <message name="updateProgramAndPluginIncludeGroupOperationResponse">
    <part name="parameters" element="tns:updateProgramAndPluginIncludeGroupOperationResponse">
    </part>
  </message>
  <message name="updatePluginInclude">
    <part name="parameters" element="tns:updatePluginInclude">
    </part>
  </message>
  <message name="updatePluginIncludeResponse">
    <part name="parameters" element="tns:updatePluginIncludeResponse">
    </part>
  </message>
  <message name="pluginInclude">
    <part name="parameters" element="tns:pluginInclude">
    </part>
  </message>
  <message name="pluginIncludeResponse">
    <part name="parameters" element="tns:pluginIncludeResponse">
    </part>
  </message>
  <message name="balance">
    <part name="parameters" element="tns:balance">
    </part>
  </message>
  <message name="balanceResponse">
    <part name="parameters" element="tns:balanceResponse">
    </part>
  </message>
  <portType name="BonusService">
    <operation name="paymentList">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentListRequest" message="tns:paymentList">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentListResponse" message="tns:paymentListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentList/Fault/BGException">
      </fault>
    </operation>
    <operation name="paymentTypeList">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentTypeListRequest" message="tns:paymentTypeList">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentTypeListResponse" message="tns:paymentTypeListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentTypeList/Fault/BGException">
      </fault>
    </operation>
    <operation name="paymentTypeUpdate">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentTypeUpdateRequest" message="tns:paymentTypeUpdate">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentTypeUpdateResponse" message="tns:paymentTypeUpdateResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentTypeUpdate/Fault/BGException">
      </fault>
    </operation>
    <operation name="paymentTypeDelete">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentTypeDeleteRequest" message="tns:paymentTypeDelete">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentTypeDeleteResponse" message="tns:paymentTypeDeleteResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentTypeDelete/Fault/BGException">
      </fault>
    </operation>
    <operation name="paymentsNotActiveNow">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentsNotActiveNowRequest" message="tns:paymentsNotActiveNow">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentsNotActiveNowResponse" message="tns:paymentsNotActiveNowResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentsNotActiveNow/Fault/BGException">
      </fault>
    </operation>
    <operation name="chargeList">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/chargeListRequest" message="tns:chargeList">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/chargeListResponse" message="tns:chargeListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/chargeList/Fault/BGException">
      </fault>
    </operation>
    <operation name="chargeBonus">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/chargeBonusRequest" message="tns:chargeBonus">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/chargeBonusResponse" message="tns:chargeBonusResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/chargeBonus/Fault/BGException">
      </fault>
    </operation>
    <operation name="paymentUpdate">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentUpdateRequest" message="tns:paymentUpdate">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentUpdateResponse" message="tns:paymentUpdateResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentUpdate/Fault/BGException">
      </fault>
    </operation>
    <operation name="chargeUpdate">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/chargeUpdateRequest" message="tns:chargeUpdate">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/chargeUpdateResponse" message="tns:chargeUpdateResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/chargeUpdate/Fault/BGException">
      </fault>
    </operation>
    <operation name="paymentDelete">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentDeleteRequest" message="tns:paymentDelete">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentDeleteResponse" message="tns:paymentDeleteResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentDelete/Fault/BGException">
      </fault>
    </operation>
    <operation name="chargeDeleteByContractChargeId">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/chargeDeleteByContractChargeIdRequest" message="tns:chargeDeleteByContractChargeId">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/chargeDeleteByContractChargeIdResponse" message="tns:chargeDeleteByContractChargeIdResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/chargeDeleteByContractChargeId/Fault/BGException">
      </fault>
    </operation>
    <operation name="paymentDetailsList">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentDetailsListRequest" message="tns:paymentDetailsList">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentDetailsListResponse" message="tns:paymentDetailsListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/paymentDetailsList/Fault/BGException">
      </fault>
    </operation>
    <operation name="chargeDetailsList">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/chargeDetailsListRequest" message="tns:chargeDetailsList">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/chargeDetailsListResponse" message="tns:chargeDetailsListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/chargeDetailsList/Fault/BGException">
      </fault>
    </operation>
    <operation name="balanceList">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/balanceListRequest" message="tns:balanceList">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/balanceListResponse" message="tns:balanceListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/balanceList/Fault/BGException">
      </fault>
    </operation>
    <operation name="balanceAdvanced">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/balanceAdvancedRequest" message="tns:balanceAdvanced">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/balanceAdvancedResponse" message="tns:balanceAdvancedResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/balanceAdvanced/Fault/BGException">
      </fault>
    </operation>
    <operation name="balanceNotActive">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/balanceNotActiveRequest" message="tns:balanceNotActive">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/balanceNotActiveResponse" message="tns:balanceNotActiveResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/balanceNotActive/Fault/BGException">
      </fault>
    </operation>
    <operation name="percentOfBonus">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/percentOfBonusRequest" message="tns:percentOfBonus">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/percentOfBonusResponse" message="tns:percentOfBonusResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/percentOfBonus/Fault/BGException">
      </fault>
    </operation>
    <operation name="rate">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/rateRequest" message="tns:rate">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/rateResponse" message="tns:rateResponse">
      </output>
    </operation>
    <operation name="bonusSummaMax">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/bonusSummaMaxRequest" message="tns:bonusSummaMax">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/bonusSummaMaxResponse" message="tns:bonusSummaMaxResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/bonusSummaMax/Fault/BGException">
      </fault>
    </operation>
    <operation name="bonusSummaMaxAdvanced">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/bonusSummaMaxAdvancedRequest" message="tns:bonusSummaMaxAdvanced">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/bonusSummaMaxAdvancedResponse" message="tns:bonusSummaMaxAdvancedResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/bonusSummaMaxAdvanced/Fault/BGException">
      </fault>
    </operation>
    <operation name="treeNodeTitle">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/treeNodeTitleRequest" message="tns:treeNodeTitle">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/treeNodeTitleResponse" message="tns:treeNodeTitleResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/treeNodeTitle/Fault/BGException">
      </fault>
    </operation>
    <operation name="programTypeMap">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programTypeMapRequest" message="tns:programTypeMap">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programTypeMapResponse" message="tns:programTypeMapResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programTypeMap/Fault/BGException">
      </fault>
    </operation>
    <operation name="programList">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programListRequest" message="tns:programList">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programListResponse" message="tns:programListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programList/Fault/BGException">
      </fault>
    </operation>
    <operation name="programUpdate">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programUpdateRequest" message="tns:programUpdate">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programUpdateResponse" message="tns:programUpdateResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programUpdate/Fault/BGException">
      </fault>
    </operation>
    <operation name="programContractList">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programContractListRequest" message="tns:programContractList">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programContractListResponse" message="tns:programContractListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programContractList/Fault/BGException">
      </fault>
    </operation>
    <operation name="programContractUpdate">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programContractUpdateRequest" message="tns:programContractUpdate">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programContractUpdateResponse" message="tns:programContractUpdateResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programContractUpdate/Fault/BGException">
      </fault>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programContractUpdate/Fault/BGMessageException">
      </fault>
    </operation>
    <operation name="checkProgramPeriodOnCrossing">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/checkProgramPeriodOnCrossingRequest" message="tns:checkProgramPeriodOnCrossing">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/checkProgramPeriodOnCrossingResponse" message="tns:checkProgramPeriodOnCrossingResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/checkProgramPeriodOnCrossing/Fault/BGException">
      </fault>
    </operation>
    <operation name="programInContractList">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programInContractListRequest" message="tns:programInContractList">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programInContractListResponse" message="tns:programInContractListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programInContractList/Fault/BGException">
      </fault>
    </operation>
    <operation name="programDelete">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programDeleteRequest" message="tns:programDelete">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programDeleteResponse" message="tns:programDeleteResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/programDelete/Fault/BGException">
      </fault>
    </operation>
    <operation name="updateProgramAndPluginIncludeGroupOperation">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/updateProgramAndPluginIncludeGroupOperationRequest" message="tns:updateProgramAndPluginIncludeGroupOperation">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/updateProgramAndPluginIncludeGroupOperationResponse" message="tns:updateProgramAndPluginIncludeGroupOperationResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/updateProgramAndPluginIncludeGroupOperation/Fault/BGException">
      </fault>
    </operation>
    <operation name="updatePluginInclude">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/updatePluginIncludeRequest" message="tns:updatePluginInclude">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/updatePluginIncludeResponse" message="tns:updatePluginIncludeResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/updatePluginInclude/Fault/BGException">
      </fault>
    </operation>
    <operation name="pluginInclude">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/pluginIncludeRequest" message="tns:pluginInclude">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/pluginIncludeResponse" message="tns:pluginIncludeResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/pluginInclude/Fault/BGException">
      </fault>
    </operation>
    <operation name="balance">
      <input wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/balanceRequest" message="tns:balance">
      </input>
      <output wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/balanceResponse" message="tns:balanceResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bonus.plugins.bgbilling.bitel.ru/BonusService/balance/Fault/BGException">
      </fault>
    </operation>
  </portType>
  <binding name="BonusServiceBinding" type="tns:BonusService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document">
    </soap:binding>
    <operation name="paymentList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="paymentTypeList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="paymentTypeUpdate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="paymentTypeDelete">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="paymentsNotActiveNow">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="chargeList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="chargeBonus">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="paymentUpdate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="chargeUpdate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="paymentDelete">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="chargeDeleteByContractChargeId">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="paymentDetailsList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="chargeDetailsList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="balanceList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="balanceAdvanced">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="balanceNotActive">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="percentOfBonus">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="rate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
    </operation>
    <operation name="bonusSummaMax">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="bonusSummaMaxAdvanced">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="treeNodeTitle">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="programTypeMap">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="programList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="programUpdate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="programContractList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="programContractUpdate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="checkProgramPeriodOnCrossing">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="programInContractList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="programDelete">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="updateProgramAndPluginIncludeGroupOperation">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="updatePluginInclude">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="pluginInclude">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="balance">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
  </binding>
  <service name="BonusService">
    <port name="BonusService" binding="tns:BonusServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL">
      </soap:address>
    </port>
  </service>
</definitions>
