soap/inet/src/main/wsdl/InetAuthErrorService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/" name="InetAuthErrorService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:import namespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/"/>

      <xsc:element name="result" type="tns:result"/>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="result">
        <xsc:sequence>
          <xsc:element name="data" minOccurs="0">
            <xsc:complexType>
              <xsc:sequence>
                <xsc:element name="item" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
              </xsc:sequence>
            </xsc:complexType>
          </xsc:element>
          <xsc:element name="page" type="tns:page" minOccurs="0"/>
          <xsc:element name="attributes" type="ns1:list" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="authErrorDateList" type="tns:authErrorDateList"/>

      <xs:element name="authErrorDateListResponse" type="tns:authErrorDateListResponse"/>

      <xs:complexType name="inetAuthError">
        <xs:complexContent>
          <xs:extension base="ns2:id">
            <xs:sequence/>
            <xs:attribute name="contractId" type="xs:int" use="required"/>
            <xs:attribute name="contractTitle" type="xs:string"/>
            <xs:attribute name="deviceId" type="xs:int" use="required"/>
            <xs:attribute name="deviceTitle" type="xs:string"/>
            <xs:attribute name="errorCode" type="xs:int" use="required"/>
            <xs:attribute name="errorCount" type="xs:int" use="required"/>
            <xs:attribute name="errorText" type="xs:string"/>
            <xs:attribute name="lastErrorTime" type="xs:dateTime"/>
            <xs:attribute name="logCoordinateRecordId" type="xs:int" use="required"/>
            <xs:attribute name="servId" type="xs:int" use="required"/>
            <xs:attribute name="servTitle" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="authErrorDateList">
        <xs:sequence>
          <xs:element name="timeFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="timeTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="deviceIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="contractIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="serviceIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="contract" type="xs:string" minOccurs="0"/>
          <xs:element name="login" type="xs:string" minOccurs="0"/>
          <xs:element name="page" type="ns2:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="authErrorDateListResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:result" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="list" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="mapEntry">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractMapEntry" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="map">
        <xs:sequence>
          <xs:element name="entry" type="tns:entry" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="entry" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="key" type="xs:anyType" minOccurs="0"/>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="sortedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="linkedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="collection" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="authErrorDateList">
    <part name="parameters" element="tns:authErrorDateList"/>
  </message>
  <message name="authErrorDateListResponse">
    <part name="parameters" element="tns:authErrorDateListResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <portType name="InetAuthErrorService">
    <operation name="authErrorDateList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetAuthErrorService/authErrorDateListRequest" message="tns:authErrorDateList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetAuthErrorService/authErrorDateListResponse" message="tns:authErrorDateListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetAuthErrorService/authErrorDateList/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="InetAuthErrorServiceBinding" type="tns:InetAuthErrorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="authErrorDateList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="InetAuthErrorService">
    <port name="InetAuthErrorService" binding="tns:InetAuthErrorServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

