soap/bill/src/main/wsdl/original/AttributeService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.bill.modules.bgbilling.bitel.ru/" name="AttributeService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.bill.modules.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.bill.modules.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="attributeList" type="tns:attributeList"/>

      <xs:element name="attributeListResponse" type="tns:attributeListResponse"/>

      <xs:element name="attributeTypeList" type="tns:attributeTypeList"/>

      <xs:element name="attributeTypeListResponse" type="tns:attributeTypeListResponse"/>

      <xs:element name="deleteAttribute" type="tns:deleteAttribute"/>

      <xs:element name="deleteAttributeResponse" type="tns:deleteAttributeResponse"/>

      <xs:element name="deleteAttributeType" type="tns:deleteAttributeType"/>

      <xs:element name="deleteAttributeTypeResponse" type="tns:deleteAttributeTypeResponse"/>

      <xs:element name="updateAttribute" type="tns:updateAttribute"/>

      <xs:element name="updateAttributeResponse" type="tns:updateAttributeResponse"/>

      <xs:element name="updateAttributeType" type="tns:updateAttributeType"/>

      <xs:element name="updateAttributeTypeResponse" type="tns:updateAttributeTypeResponse"/>

      <xs:complexType name="deleteAttributeType">
        <xs:sequence>
          <xs:element name="attributeTypeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteAttributeTypeResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteAttribute">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="attributeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteAttributeResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="attributeList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="attributeListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:attribute" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="attribute">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="contractId" type="xs:int"/>
              <xs:element name="contractParamPrefId" type="xs:int"/>
              <xs:element name="period" type="ns1:period" minOccurs="0"/>
              <xs:element name="useSuperContract" type="xs:boolean"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="updateAttribute">
        <xs:sequence>
          <xs:element name="attribute" type="tns:attribute" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateAttributeResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="updateAttributeType">
        <xs:sequence>
          <xs:element name="attributeType" type="tns:attributeType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="attributeType">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="check" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="updateAttributeTypeResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="attributeTypeList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="attributeTypeListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:attributeType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="updateAttributeType">
    <part name="parameters" element="tns:updateAttributeType"/>
  </message>
  <message name="updateAttributeTypeResponse">
    <part name="parameters" element="tns:updateAttributeTypeResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="deleteAttributeType">
    <part name="parameters" element="tns:deleteAttributeType"/>
  </message>
  <message name="deleteAttributeTypeResponse">
    <part name="parameters" element="tns:deleteAttributeTypeResponse"/>
  </message>
  <message name="attributeTypeList">
    <part name="parameters" element="tns:attributeTypeList"/>
  </message>
  <message name="attributeTypeListResponse">
    <part name="parameters" element="tns:attributeTypeListResponse"/>
  </message>
  <message name="attributeList">
    <part name="parameters" element="tns:attributeList"/>
  </message>
  <message name="attributeListResponse">
    <part name="parameters" element="tns:attributeListResponse"/>
  </message>
  <message name="updateAttribute">
    <part name="parameters" element="tns:updateAttribute"/>
  </message>
  <message name="updateAttributeResponse">
    <part name="parameters" element="tns:updateAttributeResponse"/>
  </message>
  <message name="deleteAttribute">
    <part name="parameters" element="tns:deleteAttribute"/>
  </message>
  <message name="deleteAttributeResponse">
    <part name="parameters" element="tns:deleteAttributeResponse"/>
  </message>
  <portType name="AttributeService">
    <operation name="updateAttributeType">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/AttributeService/updateAttributeTypeRequest" message="tns:updateAttributeType"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/AttributeService/updateAttributeTypeResponse" message="tns:updateAttributeTypeResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/AttributeService/updateAttributeType/Fault/BGException"/>
    </operation>
    <operation name="deleteAttributeType">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/AttributeService/deleteAttributeTypeRequest" message="tns:deleteAttributeType"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/AttributeService/deleteAttributeTypeResponse" message="tns:deleteAttributeTypeResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/AttributeService/deleteAttributeType/Fault/BGException"/>
    </operation>
    <operation name="attributeTypeList">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/AttributeService/attributeTypeListRequest" message="tns:attributeTypeList"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/AttributeService/attributeTypeListResponse" message="tns:attributeTypeListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/AttributeService/attributeTypeList/Fault/BGException"/>
    </operation>
    <operation name="attributeList">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/AttributeService/attributeListRequest" message="tns:attributeList"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/AttributeService/attributeListResponse" message="tns:attributeListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/AttributeService/attributeList/Fault/BGException"/>
    </operation>
    <operation name="updateAttribute">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/AttributeService/updateAttributeRequest" message="tns:updateAttribute"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/AttributeService/updateAttributeResponse" message="tns:updateAttributeResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/AttributeService/updateAttribute/Fault/BGException"/>
    </operation>
    <operation name="deleteAttribute">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/AttributeService/deleteAttributeRequest" message="tns:deleteAttribute"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/AttributeService/deleteAttributeResponse" message="tns:deleteAttributeResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/AttributeService/deleteAttribute/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="AttributeServiceBinding" type="tns:AttributeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="updateAttributeType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteAttributeType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="attributeTypeList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="attributeList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateAttribute">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteAttribute">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AttributeService">
    <port name="AttributeService" binding="tns:AttributeServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

