soap/bill/src/main/wsdl/original/BillAccountReportService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.bill.modules.bgbilling.bitel.ru/" name="BillAccountReportService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.bill.modules.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="stringArray" final="#all">
        <xs:sequence>
          <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.bill.modules.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://jaxb.dev.java.net/array" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:import namespace="http://jaxb.dev.java.net/array"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="searchAccountContractReport" type="tns:searchAccountContractReport"/>

      <xs:element name="searchAccountContractReportResponse" type="tns:searchAccountContractReportResponse"/>

      <xs:element name="searchAccountReport" type="tns:searchAccountReport"/>

      <xs:element name="searchAccountReportResponse" type="tns:searchAccountReportResponse"/>

      <xs:complexType name="accountReport">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="contractComment" type="xs:string" minOccurs="0"/>
              <xs:element name="contractId" type="xs:int"/>
              <xs:element name="contractTitle" type="xs:string" minOccurs="0"/>
              <xs:element name="createDate" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="creditSum" type="xs:decimal" minOccurs="0"/>
              <xs:element name="debetSum" type="xs:decimal" minOccurs="0"/>
              <xs:element name="document" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="accountContractReport">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="contractComment" type="xs:string" minOccurs="0"/>
              <xs:element name="contractTitle" type="xs:string" minOccurs="0"/>
              <xs:element name="saldoCreditIn" type="xs:decimal" minOccurs="0"/>
              <xs:element name="saldoCreditOut" type="xs:decimal" minOccurs="0"/>
              <xs:element name="saldoDebetIn" type="xs:decimal" minOccurs="0"/>
              <xs:element name="saldoDebetOut" type="xs:decimal" minOccurs="0"/>
              <xs:element name="turnoverCredit" type="xs:decimal" minOccurs="0"/>
              <xs:element name="turnoverDebet" type="xs:decimal" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="searchAccountReport">
        <xs:sequence>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
          <xs:element name="cotractIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchAccountReportResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:searchResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchAccountContractReport">
        <xs:sequence>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
          <xs:element name="cotractIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchAccountContractReportResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:searchResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:ns3="http://jaxb.dev.java.net/array" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:import namespace="http://jaxb.dev.java.net/array"/>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>

      <xsc:complexType name="searchResult">
        <xsc:sequence>
          <xsc:element name="attributes" type="ns3:stringArray" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="list" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="page" type="tns:page" minOccurs="0"/>
          <xsc:element name="period" type="tns:period" minOccurs="0"/>
          <xsc:element name="sort" type="xsc:string" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="sum" type="xsc:decimal" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>

      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>
</xsc:schema>
  </types>
  <message name="searchAccountReport">
    <part name="parameters" element="tns:searchAccountReport"/>
  </message>
  <message name="searchAccountReportResponse">
    <part name="parameters" element="tns:searchAccountReportResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="searchAccountContractReport">
    <part name="parameters" element="tns:searchAccountContractReport"/>
  </message>
  <message name="searchAccountContractReportResponse">
    <part name="parameters" element="tns:searchAccountContractReportResponse"/>
  </message>
  <portType name="BillAccountReportService">
    <operation name="searchAccountReport">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/BillAccountReportService/searchAccountReportRequest" message="tns:searchAccountReport"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/BillAccountReportService/searchAccountReportResponse" message="tns:searchAccountReportResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/BillAccountReportService/searchAccountReport/Fault/BGException"/>
    </operation>
    <operation name="searchAccountContractReport">
      <input wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/BillAccountReportService/searchAccountContractReportRequest" message="tns:searchAccountContractReport"/>
      <output wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/BillAccountReportService/searchAccountContractReportResponse" message="tns:searchAccountContractReportResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.bill.modules.bgbilling.bitel.ru/BillAccountReportService/searchAccountContractReport/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="BillAccountReportServiceBinding" type="tns:BillAccountReportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="searchAccountReport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="searchAccountContractReport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="BillAccountReportService">
    <port name="BillAccountReportService" binding="tns:BillAccountReportServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

