kernel/src/main/wsdl/ChargeService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://common.balance.contract.kernel.bgbilling.bitel.ru/" name="ChargeService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://common.balance.contract.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://common.balance.contract.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="BGMessageException" type="tns:BGMessageException"/>

      <xs:element name="chargeDelete" type="tns:chargeDelete"/>

      <xs:element name="chargeDeleteById" type="tns:chargeDeleteById"/>

      <xs:element name="chargeDeleteByIdResponse" type="tns:chargeDeleteByIdResponse"/>

      <xs:element name="chargeDeleteResponse" type="tns:chargeDeleteResponse"/>

      <xs:element name="chargeGet" type="tns:chargeGet"/>

      <xs:element name="chargeGetResponse" type="tns:chargeGetResponse"/>

      <xs:element name="chargeList" type="tns:chargeList"/>

      <xs:element name="chargeListResponse" type="tns:chargeListResponse"/>

      <xs:element name="chargeTypeDelete" type="tns:chargeTypeDelete"/>

      <xs:element name="chargeTypeDeleteResponse" type="tns:chargeTypeDeleteResponse"/>

      <xs:element name="chargeTypeGet" type="tns:chargeTypeGet"/>

      <xs:element name="chargeTypeGetResponse" type="tns:chargeTypeGetResponse"/>

      <xs:element name="chargeTypeList" type="tns:chargeTypeList"/>

      <xs:element name="chargeTypeListResponse" type="tns:chargeTypeListResponse"/>

      <xs:element name="chargeTypeMove" type="tns:chargeTypeMove"/>

      <xs:element name="chargeTypeMoveResponse" type="tns:chargeTypeMoveResponse"/>

      <xs:element name="chargeTypeTree" type="tns:chargeTypeTree"/>

      <xs:element name="chargeTypeTreeResponse" type="tns:chargeTypeTreeResponse"/>

      <xs:element name="chargeTypeUpdate" type="tns:chargeTypeUpdate"/>

      <xs:element name="chargeTypeUpdateResponse" type="tns:chargeTypeUpdateResponse"/>

      <xs:element name="chargeUpdate" type="tns:chargeUpdate"/>

      <xs:element name="chargeUpdateResponse" type="tns:chargeUpdateResponse"/>

      <xs:element name="paybackList" type="tns:paybackList"/>

      <xs:element name="paybackListResponse" type="tns:paybackListResponse"/>

      <xs:complexType name="chargeType">
        <xs:complexContent>
          <xs:extension base="tns:balanceBaseType">
            <xs:sequence/>
            <xs:attribute name="payback" type="xs:boolean" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="balanceBaseType">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence/>
            <xs:attribute name="editable" type="xs:boolean" use="required"/>
            <xs:attribute name="parentId" type="xs:int"/>
            <xs:attribute name="type" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="chargeTypeMove">
        <xs:sequence>
          <xs:element name="chargeTypeId" type="xs:int"/>
          <xs:element name="idList" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeTypeMoveResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeTypeUpdate">
        <xs:sequence>
          <xs:element name="chargeType" type="tns:chargeType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeTypeUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGMessageException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeTypeList">
        <xs:sequence>
          <xs:element name="editable" type="xs:int" minOccurs="0"/>
          <xs:element name="type" type="xs:int" minOccurs="0"/>
          <xs:element name="isPayback" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeTypeListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:chargeType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="type" type="xs:int"/>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
          <xs:element name="members" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:charge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="holderTotalSum" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="charge">
        <xs:complexContent>
          <xs:extension base="tns:abstractBalanceBean">
            <xs:sequence/>
            <xs:attribute name="payback" type="xs:boolean" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractBalanceBean" abstract="true">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="contractId" type="xs:int" use="required"/>
            <xs:attribute name="date" type="xs:dateTime"/>
            <xs:attribute name="sum" type="xs:decimal"/>
            <xs:attribute name="summa" type="xs:decimal"/>
            <xs:attribute name="timeChange" type="xs:dateTime"/>
            <xs:attribute name="typeId" type="xs:int" use="required"/>
            <xs:attribute name="userId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="chargeUpdate">
        <xs:sequence>
          <xs:element name="charge" type="tns:charge" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeTypeTree">
        <xs:sequence>
          <xs:element name="editable" type="xs:int"/>
          <xs:element name="isPayback" type="xs:boolean"/>
          <xs:element name="showEmptyRoot" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeTypeTreeResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:paymentTypeItem" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentTypeItem">
        <xs:complexContent>
          <xs:extension base="tns:abstractPaymentTypes">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractPaymentTypes">
        <xs:complexContent>
          <xs:extension base="tns:paymentType">
            <xs:sequence>
              <xs:element name="children" type="tns:abstractPaymentTypes" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="paymentType">
        <xs:complexContent>
          <xs:extension base="tns:balanceBaseType">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="chargeTypeDelete">
        <xs:sequence>
          <xs:element name="chargeTypeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeTypeDeleteResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeGet">
        <xs:sequence>
          <xs:element name="chargeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:charge" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paybackList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="type" type="xs:int"/>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
          <xs:element name="members" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paybackListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:charge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="holderTotalSum" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeDelete">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="chargeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeDeleteResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeDeleteById">
        <xs:sequence>
          <xs:element name="chargeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeDeleteByIdResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeTypeGet">
        <xs:sequence>
          <xs:element name="chargeTypeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeTypeGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:chargeType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="chargeGet">
    <part name="parameters" element="tns:chargeGet"/>
  </message>
  <message name="chargeGetResponse">
    <part name="parameters" element="tns:chargeGetResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="chargeList">
    <part name="parameters" element="tns:chargeList"/>
  </message>
  <message name="chargeListResponse">
    <part name="parameters" element="tns:chargeListResponse"/>
  </message>
  <message name="paybackList">
    <part name="parameters" element="tns:paybackList"/>
  </message>
  <message name="paybackListResponse">
    <part name="parameters" element="tns:paybackListResponse"/>
  </message>
  <message name="chargeDelete">
    <part name="parameters" element="tns:chargeDelete"/>
  </message>
  <message name="chargeDeleteResponse">
    <part name="parameters" element="tns:chargeDeleteResponse"/>
  </message>
  <message name="BGMessageException">
    <part name="fault" element="tns:BGMessageException"/>
  </message>
  <message name="chargeDeleteById">
    <part name="parameters" element="tns:chargeDeleteById"/>
  </message>
  <message name="chargeDeleteByIdResponse">
    <part name="parameters" element="tns:chargeDeleteByIdResponse"/>
  </message>
  <message name="chargeUpdate">
    <part name="parameters" element="tns:chargeUpdate"/>
  </message>
  <message name="chargeUpdateResponse">
    <part name="parameters" element="tns:chargeUpdateResponse"/>
  </message>
  <message name="chargeTypeGet">
    <part name="parameters" element="tns:chargeTypeGet"/>
  </message>
  <message name="chargeTypeGetResponse">
    <part name="parameters" element="tns:chargeTypeGetResponse"/>
  </message>
  <message name="chargeTypeList">
    <part name="parameters" element="tns:chargeTypeList"/>
  </message>
  <message name="chargeTypeListResponse">
    <part name="parameters" element="tns:chargeTypeListResponse"/>
  </message>
  <message name="chargeTypeTree">
    <part name="parameters" element="tns:chargeTypeTree"/>
  </message>
  <message name="chargeTypeTreeResponse">
    <part name="parameters" element="tns:chargeTypeTreeResponse"/>
  </message>
  <message name="chargeTypeMove">
    <part name="parameters" element="tns:chargeTypeMove"/>
  </message>
  <message name="chargeTypeMoveResponse">
    <part name="parameters" element="tns:chargeTypeMoveResponse"/>
  </message>
  <message name="chargeTypeUpdate">
    <part name="parameters" element="tns:chargeTypeUpdate"/>
  </message>
  <message name="chargeTypeUpdateResponse">
    <part name="parameters" element="tns:chargeTypeUpdateResponse"/>
  </message>
  <message name="chargeTypeDelete">
    <part name="parameters" element="tns:chargeTypeDelete"/>
  </message>
  <message name="chargeTypeDeleteResponse">
    <part name="parameters" element="tns:chargeTypeDeleteResponse"/>
  </message>
  <portType name="ChargeService">
    <operation name="chargeGet">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeGetRequest" message="tns:chargeGet"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeGetResponse" message="tns:chargeGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeGet/Fault/BGException"/>
    </operation>
    <operation name="chargeList">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeListRequest" message="tns:chargeList"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeListResponse" message="tns:chargeListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeList/Fault/BGException"/>
    </operation>
    <operation name="paybackList">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/paybackListRequest" message="tns:paybackList"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/paybackListResponse" message="tns:paybackListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/paybackList/Fault/BGException"/>
    </operation>
    <operation name="chargeDelete">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeDeleteRequest" message="tns:chargeDelete"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeDeleteResponse" message="tns:chargeDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeDelete/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeDelete/Fault/BGMessageException"/>
    </operation>
    <operation name="chargeDeleteById">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeDeleteByIdRequest" message="tns:chargeDeleteById"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeDeleteByIdResponse" message="tns:chargeDeleteByIdResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeDeleteById/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeDeleteById/Fault/BGMessageException"/>
    </operation>
    <operation name="chargeUpdate">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeUpdateRequest" message="tns:chargeUpdate"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeUpdateResponse" message="tns:chargeUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeUpdate/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeUpdate/Fault/BGMessageException"/>
    </operation>
    <operation name="chargeTypeGet">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeGetRequest" message="tns:chargeTypeGet"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeGetResponse" message="tns:chargeTypeGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeGet/Fault/BGException"/>
    </operation>
    <operation name="chargeTypeList">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeListRequest" message="tns:chargeTypeList"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeListResponse" message="tns:chargeTypeListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeList/Fault/BGException"/>
    </operation>
    <operation name="chargeTypeTree">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeTreeRequest" message="tns:chargeTypeTree"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeTreeResponse" message="tns:chargeTypeTreeResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeTree/Fault/BGException"/>
    </operation>
    <operation name="chargeTypeMove">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeMoveRequest" message="tns:chargeTypeMove"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeMoveResponse" message="tns:chargeTypeMoveResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeMove/Fault/BGException"/>
    </operation>
    <operation name="chargeTypeUpdate">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeUpdateRequest" message="tns:chargeTypeUpdate"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeUpdateResponse" message="tns:chargeTypeUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeUpdate/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeUpdate/Fault/BGMessageException"/>
    </operation>
    <operation name="chargeTypeDelete">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeDeleteRequest" message="tns:chargeTypeDelete"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeDeleteResponse" message="tns:chargeTypeDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeDelete/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ChargeService/chargeTypeDelete/Fault/BGMessageException"/>
    </operation>
  </portType>
  <binding name="ChargeServiceBinding" type="tns:ChargeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="chargeGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="chargeList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="paybackList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="chargeDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
    </operation>
    <operation name="chargeDeleteById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
    </operation>
    <operation name="chargeUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
    </operation>
    <operation name="chargeTypeGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="chargeTypeList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="chargeTypeTree">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="chargeTypeMove">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="chargeTypeUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
    </operation>
    <operation name="chargeTypeDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ChargeService">
    <port name="ChargeService" binding="tns:ChargeServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

