kernel/src/main/wsdl/ContractStatusMonitorService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.status.contract.kernel.bgbilling.bitel.ru/" name="ContractStatusMonitorService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.status.contract.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="stringArray" final="#all">
        <xs:sequence>
          <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:import namespace="http://jaxb.dev.java.net/array"/>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="searchResult">
        <xsc:sequence>
          <xsc:element name="attributes" type="ns1:stringArray" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="list" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="page" type="tns:page" minOccurs="0"/>
          <xsc:element name="period" type="tns:period" minOccurs="0"/>
          <xsc:element name="sort" type="xsc:string" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="sum" type="xsc:decimal" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.status.contract.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://common.bitel.ru" xmlns:ns3="http://jaxb.dev.java.net/array">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:import namespace="http://jaxb.dev.java.net/array"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="changeContractStatus" type="tns:changeContractStatus"/>

      <xs:element name="changeContractStatusResponse" type="tns:changeContractStatusResponse"/>

      <xs:element name="contractSearch" type="tns:contractSearch"/>

      <xs:element name="contractSearchResponse" type="tns:contractSearchResponse"/>

      <xs:element name="createBalanceDump" type="tns:createBalanceDump"/>

      <xs:element name="createBalanceDumpResponse" type="tns:createBalanceDumpResponse"/>

      <xs:element name="getStatusList" type="tns:getStatusList"/>

      <xs:element name="getStatusListResponse" type="tns:getStatusListResponse"/>

      <xs:complexType name="monitorStatusResult">
        <xs:sequence>
          <xs:element name="cid" type="xs:int"/>
          <xs:element name="contractComment" type="xs:string" minOccurs="0"/>
          <xs:element name="contractTitile" type="xs:string" minOccurs="0"/>
          <xs:element name="saldo" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="xs:string" minOccurs="0"/>
          <xs:element name="statusDate" type="xs:string" minOccurs="0"/>
          <xs:element name="statusDateTo" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getStatusList">
        <xs:sequence>
          <xs:element name="onlyManual" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getStatusListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:status" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="status">
        <xs:complexContent>
          <xs:extension base="ns2:idTitle">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="changeContractStatus">
        <xs:sequence>
          <xs:element name="cid" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="statusId" type="xs:int"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="comment" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="changeContractStatusResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="createBalanceDump">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="createBalanceDumpResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="contractSearch">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:int"/>
          <xs:element name="arg2" type="xs:string" minOccurs="0"/>
          <xs:element name="arg3" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="arg4" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="arg5" type="xs:string" minOccurs="0"/>
          <xs:element name="arg6" type="xs:string" minOccurs="0"/>
          <xs:element name="arg7" type="xs:string" minOccurs="0"/>
          <xs:element name="arg8" type="xs:string" minOccurs="0"/>
          <xs:element name="arg9" type="xs:int"/>
          <xs:element name="arg10" type="ns2:page" minOccurs="0"/>
          <xs:element name="arg11" type="xs:int"/>
          <xs:element name="arg12" type="xs:decimal" minOccurs="0"/>
          <xs:element name="arg13" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="arg14" type="xs:float"/>
          <xs:element name="arg15" type="xs:int"/>
          <xs:element name="arg16" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractSearchResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:searchResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="createBalanceDump">
    <part name="parameters" element="tns:createBalanceDump"/>
  </message>
  <message name="createBalanceDumpResponse">
    <part name="parameters" element="tns:createBalanceDumpResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="contractSearch">
    <part name="parameters" element="tns:contractSearch"/>
  </message>
  <message name="contractSearchResponse">
    <part name="parameters" element="tns:contractSearchResponse"/>
  </message>
  <message name="getStatusList">
    <part name="parameters" element="tns:getStatusList"/>
  </message>
  <message name="getStatusListResponse">
    <part name="parameters" element="tns:getStatusListResponse"/>
  </message>
  <message name="changeContractStatus">
    <part name="parameters" element="tns:changeContractStatus"/>
  </message>
  <message name="changeContractStatusResponse">
    <part name="parameters" element="tns:changeContractStatusResponse"/>
  </message>
  <portType name="ContractStatusMonitorService">
    <operation name="createBalanceDump">
      <input wsam:Action="http://service.common.status.contract.kernel.bgbilling.bitel.ru/ContractStatusMonitorService/createBalanceDumpRequest" message="tns:createBalanceDump"/>
      <output wsam:Action="http://service.common.status.contract.kernel.bgbilling.bitel.ru/ContractStatusMonitorService/createBalanceDumpResponse" message="tns:createBalanceDumpResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.status.contract.kernel.bgbilling.bitel.ru/ContractStatusMonitorService/createBalanceDump/Fault/BGException"/>
    </operation>
    <operation name="contractSearch">
      <input wsam:Action="http://service.common.status.contract.kernel.bgbilling.bitel.ru/ContractStatusMonitorService/contractSearchRequest" message="tns:contractSearch"/>
      <output wsam:Action="http://service.common.status.contract.kernel.bgbilling.bitel.ru/ContractStatusMonitorService/contractSearchResponse" message="tns:contractSearchResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.status.contract.kernel.bgbilling.bitel.ru/ContractStatusMonitorService/contractSearch/Fault/BGException"/>
    </operation>
    <operation name="getStatusList">
      <input wsam:Action="http://service.common.status.contract.kernel.bgbilling.bitel.ru/ContractStatusMonitorService/getStatusListRequest" message="tns:getStatusList"/>
      <output wsam:Action="http://service.common.status.contract.kernel.bgbilling.bitel.ru/ContractStatusMonitorService/getStatusListResponse" message="tns:getStatusListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.status.contract.kernel.bgbilling.bitel.ru/ContractStatusMonitorService/getStatusList/Fault/BGException"/>
    </operation>
    <operation name="changeContractStatus">
      <input wsam:Action="http://service.common.status.contract.kernel.bgbilling.bitel.ru/ContractStatusMonitorService/changeContractStatusRequest" message="tns:changeContractStatus"/>
      <output wsam:Action="http://service.common.status.contract.kernel.bgbilling.bitel.ru/ContractStatusMonitorService/changeContractStatusResponse" message="tns:changeContractStatusResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.status.contract.kernel.bgbilling.bitel.ru/ContractStatusMonitorService/changeContractStatus/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="ContractStatusMonitorServiceBinding" type="tns:ContractStatusMonitorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createBalanceDump">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractSearch">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getStatusList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="changeContractStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ContractStatusMonitorService">
    <port name="ContractStatusMonitorService" binding="tns:ContractStatusMonitorServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

