kernel/src/main/wsdl/ContractModuleConfigService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.config.contract.kernel.bgbilling.bitel.ru/" name="ContractModuleConfigService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.config.contract.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.config.contract.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://jaxb.dev.java.net/array" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:import namespace="http://jaxb.dev.java.net/array"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="Exception" type="tns:Exception"/>

      <xs:element name="getKeyList" type="tns:getKeyList"/>

      <xs:element name="getKeyListResponse" type="tns:getKeyListResponse"/>

      <xs:element name="searchContractModuleConfig" type="tns:searchContractModuleConfig"/>

      <xs:element name="searchContractModuleConfigResponse" type="tns:searchContractModuleConfigResponse"/>

      <xs:complexType name="contractModuleConfig">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="contractTitle" type="xs:string" minOccurs="0"/>
          <xs:element name="key" type="xs:string" minOccurs="0"/>
          <xs:element name="value" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchContractModuleConfig">
        <xs:sequence>
          <xs:element name="moduleId" type="xs:int"/>
          <xs:element name="contractTitle" type="xs:string" minOccurs="0"/>
          <xs:element name="keys" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="sort" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="page" type="ns1:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchContractModuleConfigResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:searchResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getKeyList">
        <xs:sequence>
          <xs:element name="moduleId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getKeyListResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:ns3="http://jaxb.dev.java.net/array" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:import namespace="http://jaxb.dev.java.net/array"/>

      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="searchResult">
        <xsc:sequence>
          <xsc:element name="attributes" type="ns3:stringArray" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="list" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="page" type="tns:page" minOccurs="0"/>
          <xsc:element name="period" type="tns:period" minOccurs="0"/>
          <xsc:element name="sort" type="xsc:string" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="sum" type="xsc:decimal" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="stringArray" final="#all">
        <xs:sequence>
          <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="getKeyList">
    <part name="parameters" element="tns:getKeyList"/>
  </message>
  <message name="getKeyListResponse">
    <part name="parameters" element="tns:getKeyListResponse"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="searchContractModuleConfig">
    <part name="parameters" element="tns:searchContractModuleConfig"/>
  </message>
  <message name="searchContractModuleConfigResponse">
    <part name="parameters" element="tns:searchContractModuleConfigResponse"/>
  </message>
  <portType name="ContractModuleConfigService">
    <operation name="getKeyList">
      <input wsam:Action="http://service.common.config.contract.kernel.bgbilling.bitel.ru/ContractModuleConfigService/getKeyListRequest" message="tns:getKeyList"/>
      <output wsam:Action="http://service.common.config.contract.kernel.bgbilling.bitel.ru/ContractModuleConfigService/getKeyListResponse" message="tns:getKeyListResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://service.common.config.contract.kernel.bgbilling.bitel.ru/ContractModuleConfigService/getKeyList/Fault/Exception"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.config.contract.kernel.bgbilling.bitel.ru/ContractModuleConfigService/getKeyList/Fault/BGException"/>
    </operation>
    <operation name="searchContractModuleConfig">
      <input wsam:Action="http://service.common.config.contract.kernel.bgbilling.bitel.ru/ContractModuleConfigService/searchContractModuleConfigRequest" message="tns:searchContractModuleConfig"/>
      <output wsam:Action="http://service.common.config.contract.kernel.bgbilling.bitel.ru/ContractModuleConfigService/searchContractModuleConfigResponse" message="tns:searchContractModuleConfigResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://service.common.config.contract.kernel.bgbilling.bitel.ru/ContractModuleConfigService/searchContractModuleConfig/Fault/Exception"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.config.contract.kernel.bgbilling.bitel.ru/ContractModuleConfigService/searchContractModuleConfig/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="ContractModuleConfigServiceBinding" type="tns:ContractModuleConfigService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getKeyList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="searchContractModuleConfig">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ContractModuleConfigService">
    <port name="ContractModuleConfigService" binding="tns:ContractModuleConfigServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

