kernel/src/main/wsdl/GlobalScriptService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://common.script.kernel.bgbilling.bitel.ru/" name="GlobalScriptService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://common.script.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://common.script.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="BGMessageException" type="tns:BGMessageException"/>

      <xs:element name="deleteGlobalScriptLink" type="tns:deleteGlobalScriptLink"/>

      <xs:element name="deleteGlobalScriptLinkResponse" type="tns:deleteGlobalScriptLinkResponse"/>

      <xs:element name="executeGlobalScript" type="tns:executeGlobalScript"/>

      <xs:element name="executeGlobalScriptParams" type="tns:executeGlobalScriptParams"/>

      <xs:element name="executeGlobalScriptParamsResponse" type="tns:executeGlobalScriptParamsResponse"/>

      <xs:element name="executeGlobalScriptResponse" type="tns:executeGlobalScriptResponse"/>

      <xs:element name="getGlobalScriptLink" type="tns:getGlobalScriptLink"/>

      <xs:element name="getGlobalScriptLinkList" type="tns:getGlobalScriptLinkList"/>

      <xs:element name="getGlobalScriptLinkListResponse" type="tns:getGlobalScriptLinkListResponse"/>

      <xs:element name="getGlobalScriptLinkResponse" type="tns:getGlobalScriptLinkResponse"/>

      <xs:element name="getGlobalScriptLogList" type="tns:getGlobalScriptLogList"/>

      <xs:element name="getGlobalScriptLogListResponse" type="tns:getGlobalScriptLogListResponse"/>

      <xs:element name="getInterfaceName" type="tns:getInterfaceName"/>

      <xs:element name="getInterfaceNameResponse" type="tns:getInterfaceNameResponse"/>

      <xs:element name="getScriptLogTitleList" type="tns:getScriptLogTitleList"/>

      <xs:element name="getScriptLogTitleListResponse" type="tns:getScriptLogTitleListResponse"/>

      <xs:element name="getSuperclassName" type="tns:getSuperclassName"/>

      <xs:element name="getSuperclassNameResponse" type="tns:getSuperclassNameResponse"/>

      <xs:element name="updateGlobalScriptLink" type="tns:updateGlobalScriptLink"/>

      <xs:element name="updateGlobalScriptLinkResponse" type="tns:updateGlobalScriptLinkResponse"/>

      <xs:complexType name="getScriptLogTitleList">
        <xs:sequence>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getScriptLogTitleListResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGMessageException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteGlobalScriptLink">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteGlobalScriptLinkResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getSuperclassName">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getSuperclassNameResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateGlobalScriptLink">
        <xs:sequence>
          <xs:element name="arg0" type="tns:globalScriptLink" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="globalScriptLink">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="className" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="updateGlobalScriptLinkResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="executeGlobalScriptParams">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="tns:parameterMap" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="parameterMap" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="executeGlobalScriptParamsResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getGlobalScriptLogList">
        <xs:sequence>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
          <xs:element name="pageHolder" type="ns1:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getGlobalScriptLogListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:globalScriptLog" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="pageHolder" type="ns1:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="globalScriptLog">
        <xs:sequence>
          <xs:element name="data" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="date" type="xs:dateTime"/>
        <xs:attribute name="title" type="xs:string"/>
      </xs:complexType>

      <xs:complexType name="getInterfaceName">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getInterfaceNameResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getGlobalScriptLinkList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getGlobalScriptLinkListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:globalScriptLink" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="executeGlobalScript">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="executeGlobalScriptResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getGlobalScriptLink">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getGlobalScriptLinkResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:globalScriptLink" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="updateGlobalScriptLink">
    <part name="parameters" element="tns:updateGlobalScriptLink"/>
  </message>
  <message name="updateGlobalScriptLinkResponse">
    <part name="parameters" element="tns:updateGlobalScriptLinkResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="getGlobalScriptLink">
    <part name="parameters" element="tns:getGlobalScriptLink"/>
  </message>
  <message name="getGlobalScriptLinkResponse">
    <part name="parameters" element="tns:getGlobalScriptLinkResponse"/>
  </message>
  <message name="getGlobalScriptLinkList">
    <part name="parameters" element="tns:getGlobalScriptLinkList"/>
  </message>
  <message name="getGlobalScriptLinkListResponse">
    <part name="parameters" element="tns:getGlobalScriptLinkListResponse"/>
  </message>
  <message name="deleteGlobalScriptLink">
    <part name="parameters" element="tns:deleteGlobalScriptLink"/>
  </message>
  <message name="deleteGlobalScriptLinkResponse">
    <part name="parameters" element="tns:deleteGlobalScriptLinkResponse"/>
  </message>
  <message name="executeGlobalScript">
    <part name="parameters" element="tns:executeGlobalScript"/>
  </message>
  <message name="executeGlobalScriptResponse">
    <part name="parameters" element="tns:executeGlobalScriptResponse"/>
  </message>
  <message name="executeGlobalScriptParams">
    <part name="parameters" element="tns:executeGlobalScriptParams"/>
  </message>
  <message name="executeGlobalScriptParamsResponse">
    <part name="parameters" element="tns:executeGlobalScriptParamsResponse"/>
  </message>
  <message name="getInterfaceName">
    <part name="parameters" element="tns:getInterfaceName"/>
  </message>
  <message name="getInterfaceNameResponse">
    <part name="parameters" element="tns:getInterfaceNameResponse"/>
  </message>
  <message name="getSuperclassName">
    <part name="parameters" element="tns:getSuperclassName"/>
  </message>
  <message name="getSuperclassNameResponse">
    <part name="parameters" element="tns:getSuperclassNameResponse"/>
  </message>
  <message name="getGlobalScriptLogList">
    <part name="parameters" element="tns:getGlobalScriptLogList"/>
  </message>
  <message name="getGlobalScriptLogListResponse">
    <part name="parameters" element="tns:getGlobalScriptLogListResponse"/>
  </message>
  <message name="BGMessageException">
    <part name="fault" element="tns:BGMessageException"/>
  </message>
  <message name="getScriptLogTitleList">
    <part name="parameters" element="tns:getScriptLogTitleList"/>
  </message>
  <message name="getScriptLogTitleListResponse">
    <part name="parameters" element="tns:getScriptLogTitleListResponse"/>
  </message>
  <portType name="GlobalScriptService">
    <operation name="updateGlobalScriptLink">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/updateGlobalScriptLinkRequest" message="tns:updateGlobalScriptLink"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/updateGlobalScriptLinkResponse" message="tns:updateGlobalScriptLinkResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/updateGlobalScriptLink/Fault/BGException"/>
    </operation>
    <operation name="getGlobalScriptLink">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/getGlobalScriptLinkRequest" message="tns:getGlobalScriptLink"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/getGlobalScriptLinkResponse" message="tns:getGlobalScriptLinkResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/getGlobalScriptLink/Fault/BGException"/>
    </operation>
    <operation name="getGlobalScriptLinkList">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/getGlobalScriptLinkListRequest" message="tns:getGlobalScriptLinkList"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/getGlobalScriptLinkListResponse" message="tns:getGlobalScriptLinkListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/getGlobalScriptLinkList/Fault/BGException"/>
    </operation>
    <operation name="deleteGlobalScriptLink">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/deleteGlobalScriptLinkRequest" message="tns:deleteGlobalScriptLink"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/deleteGlobalScriptLinkResponse" message="tns:deleteGlobalScriptLinkResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/deleteGlobalScriptLink/Fault/BGException"/>
    </operation>
    <operation name="executeGlobalScript">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/executeGlobalScriptRequest" message="tns:executeGlobalScript"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/executeGlobalScriptResponse" message="tns:executeGlobalScriptResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/executeGlobalScript/Fault/BGException"/>
    </operation>
    <operation name="executeGlobalScriptParams">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/executeGlobalScriptParamsRequest" message="tns:executeGlobalScriptParams"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/executeGlobalScriptParamsResponse" message="tns:executeGlobalScriptParamsResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/executeGlobalScriptParams/Fault/BGException"/>
    </operation>
    <operation name="getInterfaceName">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/getInterfaceNameRequest" message="tns:getInterfaceName"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/getInterfaceNameResponse" message="tns:getInterfaceNameResponse"/>
    </operation>
    <operation name="getSuperclassName">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/getSuperclassNameRequest" message="tns:getSuperclassName"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/getSuperclassNameResponse" message="tns:getSuperclassNameResponse"/>
    </operation>
    <operation name="getGlobalScriptLogList">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/getGlobalScriptLogListRequest" message="tns:getGlobalScriptLogList"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/getGlobalScriptLogListResponse" message="tns:getGlobalScriptLogListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/getGlobalScriptLogList/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/getGlobalScriptLogList/Fault/BGMessageException"/>
    </operation>
    <operation name="getScriptLogTitleList">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/getScriptLogTitleListRequest" message="tns:getScriptLogTitleList"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/getScriptLogTitleListResponse" message="tns:getScriptLogTitleListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/getScriptLogTitleList/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/GlobalScriptService/getScriptLogTitleList/Fault/BGMessageException"/>
    </operation>
  </portType>
  <binding name="GlobalScriptServiceBinding" type="tns:GlobalScriptService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="updateGlobalScriptLink">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getGlobalScriptLink">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getGlobalScriptLinkList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteGlobalScriptLink">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="executeGlobalScript">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="executeGlobalScriptParams">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getInterfaceName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSuperclassName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getGlobalScriptLogList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
    </operation>
    <operation name="getScriptLogTitleList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="GlobalScriptService">
    <port name="GlobalScriptService" binding="tns:GlobalScriptServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

