kernel/src/main/wsdl/ModuleConfigService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.module.kernel.bgbilling.bitel.ru/" name="ModuleConfigService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.module.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.module.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="delete" type="tns:delete"/>

      <xs:element name="deleteResponse" type="tns:deleteResponse"/>

      <xs:element name="get" type="tns:get"/>

      <xs:element name="getActive" type="tns:getActive"/>

      <xs:element name="getActiveResponse" type="tns:getActiveResponse"/>

      <xs:element name="getResponse" type="tns:getResponse"/>

      <xs:element name="list" type="tns:list"/>

      <xs:element name="listResponse" type="tns:listResponse"/>

      <xs:element name="setActive" type="tns:setActive"/>

      <xs:element name="setActiveResponse" type="tns:setActiveResponse"/>

      <xs:element name="update" type="tns:update"/>

      <xs:element name="updateResponse" type="tns:updateResponse"/>

      <xs:complexType name="list">
        <xs:sequence>
          <xs:element name="moduleId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:moduleConfig" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="moduleConfig">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="active" type="xs:boolean"/>
              <xs:element name="config" type="xs:string" minOccurs="0"/>
              <xs:element name="moduleId" type="xs:int"/>
              <xs:element name="updatedTime" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="userId" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="delete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getActive">
        <xs:sequence>
          <xs:element name="moduleId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getActiveResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="update">
        <xs:sequence>
          <xs:element name="config" type="tns:moduleConfig" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="get">
        <xs:sequence>
          <xs:element name="moduleId" type="xs:int"/>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:moduleConfig" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="setActive">
        <xs:sequence>
          <xs:element name="moduleId" type="xs:int"/>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="setActiveResponse">
        <xs:sequence/>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
</xsc:schema>
  </types>
  <message name="setActive">
    <part name="parameters" element="tns:setActive"/>
  </message>
  <message name="setActiveResponse">
    <part name="parameters" element="tns:setActiveResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="getActive">
    <part name="parameters" element="tns:getActive"/>
  </message>
  <message name="getActiveResponse">
    <part name="parameters" element="tns:getActiveResponse"/>
  </message>
  <message name="get">
    <part name="parameters" element="tns:get"/>
  </message>
  <message name="getResponse">
    <part name="parameters" element="tns:getResponse"/>
  </message>
  <message name="update">
    <part name="parameters" element="tns:update"/>
  </message>
  <message name="updateResponse">
    <part name="parameters" element="tns:updateResponse"/>
  </message>
  <message name="delete">
    <part name="parameters" element="tns:delete"/>
  </message>
  <message name="deleteResponse">
    <part name="parameters" element="tns:deleteResponse"/>
  </message>
  <message name="list">
    <part name="parameters" element="tns:list"/>
  </message>
  <message name="listResponse">
    <part name="parameters" element="tns:listResponse"/>
  </message>
  <portType name="ModuleConfigService">
    <operation name="setActive">
      <input wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleConfigService/setActiveRequest" message="tns:setActive"/>
      <output wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleConfigService/setActiveResponse" message="tns:setActiveResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleConfigService/setActive/Fault/BGException"/>
    </operation>
    <operation name="getActive">
      <input wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleConfigService/getActiveRequest" message="tns:getActive"/>
      <output wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleConfigService/getActiveResponse" message="tns:getActiveResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleConfigService/getActive/Fault/BGException"/>
    </operation>
    <operation name="get">
      <input wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleConfigService/getRequest" message="tns:get"/>
      <output wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleConfigService/getResponse" message="tns:getResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleConfigService/get/Fault/BGException"/>
    </operation>
    <operation name="update">
      <input wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleConfigService/updateRequest" message="tns:update"/>
      <output wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleConfigService/updateResponse" message="tns:updateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleConfigService/update/Fault/BGException"/>
    </operation>
    <operation name="delete">
      <input wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleConfigService/deleteRequest" message="tns:delete"/>
      <output wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleConfigService/deleteResponse" message="tns:deleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleConfigService/delete/Fault/BGException"/>
    </operation>
    <operation name="list">
      <input wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleConfigService/listRequest" message="tns:list"/>
      <output wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleConfigService/listResponse" message="tns:listResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleConfigService/list/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="ModuleConfigServiceBinding" type="tns:ModuleConfigService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="setActive">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getActive">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="get">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="update">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="list">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ModuleConfigService">
    <port name="ModuleConfigService" binding="tns:ModuleConfigServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

