kernel/src/main/wsdl/NewsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.news.admin.kernel.bgbilling.bitel.ru/" name="NewsService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.news.admin.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.news.admin.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="newsDelete" type="tns:newsDelete"/>

      <xs:element name="newsDeleteResponse" type="tns:newsDeleteResponse"/>

      <xs:element name="newsList" type="tns:newsList"/>

      <xs:element name="newsListForContract" type="tns:newsListForContract"/>

      <xs:element name="newsListForContractResponse" type="tns:newsListForContractResponse"/>

      <xs:element name="newsListResponse" type="tns:newsListResponse"/>

      <xs:element name="newsUpdate" type="tns:newsUpdate"/>

      <xs:element name="newsUpdateResponse" type="tns:newsUpdateResponse"/>

      <xs:complexType name="newsList">
        <xs:sequence>
          <xs:element name="page" type="ns1:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="newsListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:news" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="news">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence/>
            <xs:attribute name="body" type="xs:string"/>
            <xs:attribute name="date" type="xs:dateTime"/>
            <xs:attribute name="groups" type="xs:long" use="required"/>
            <xs:attribute name="text" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="newsUpdate">
        <xs:sequence>
          <xs:element name="news" type="tns:news" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="newsUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="newsListForContract">
        <xs:sequence>
          <xs:element name="groups" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="newsListForContractResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:news" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="newsDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="newsDeleteResponse">
        <xs:sequence/>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
</xsc:schema>
  </types>
  <message name="newsUpdate">
    <part name="parameters" element="tns:newsUpdate"/>
  </message>
  <message name="newsUpdateResponse">
    <part name="parameters" element="tns:newsUpdateResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="newsList">
    <part name="parameters" element="tns:newsList"/>
  </message>
  <message name="newsListResponse">
    <part name="parameters" element="tns:newsListResponse"/>
  </message>
  <message name="newsListForContract">
    <part name="parameters" element="tns:newsListForContract"/>
  </message>
  <message name="newsListForContractResponse">
    <part name="parameters" element="tns:newsListForContractResponse"/>
  </message>
  <message name="newsDelete">
    <part name="parameters" element="tns:newsDelete"/>
  </message>
  <message name="newsDeleteResponse">
    <part name="parameters" element="tns:newsDeleteResponse"/>
  </message>
  <portType name="NewsService">
    <operation name="newsUpdate">
      <input wsam:Action="http://service.common.news.admin.kernel.bgbilling.bitel.ru/NewsService/newsUpdateRequest" message="tns:newsUpdate"/>
      <output wsam:Action="http://service.common.news.admin.kernel.bgbilling.bitel.ru/NewsService/newsUpdateResponse" message="tns:newsUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.news.admin.kernel.bgbilling.bitel.ru/NewsService/newsUpdate/Fault/BGException"/>
    </operation>
    <operation name="newsList">
      <input wsam:Action="http://service.common.news.admin.kernel.bgbilling.bitel.ru/NewsService/newsListRequest" message="tns:newsList"/>
      <output wsam:Action="http://service.common.news.admin.kernel.bgbilling.bitel.ru/NewsService/newsListResponse" message="tns:newsListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.news.admin.kernel.bgbilling.bitel.ru/NewsService/newsList/Fault/BGException"/>
    </operation>
    <operation name="newsListForContract">
      <input wsam:Action="http://service.common.news.admin.kernel.bgbilling.bitel.ru/NewsService/newsListForContractRequest" message="tns:newsListForContract"/>
      <output wsam:Action="http://service.common.news.admin.kernel.bgbilling.bitel.ru/NewsService/newsListForContractResponse" message="tns:newsListForContractResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.news.admin.kernel.bgbilling.bitel.ru/NewsService/newsListForContract/Fault/BGException"/>
    </operation>
    <operation name="newsDelete">
      <input wsam:Action="http://service.common.news.admin.kernel.bgbilling.bitel.ru/NewsService/newsDeleteRequest" message="tns:newsDelete"/>
      <output wsam:Action="http://service.common.news.admin.kernel.bgbilling.bitel.ru/NewsService/newsDeleteResponse" message="tns:newsDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.news.admin.kernel.bgbilling.bitel.ru/NewsService/newsDelete/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="NewsServiceBinding" type="tns:NewsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="newsUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="newsList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="newsListForContract">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="newsDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="NewsService">
    <port name="NewsService" binding="tns:NewsServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

