kernel/src/main/wsdl/NumberResourceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.resource.kernel.bgbilling.bitel.ru/" name="NumberResourceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.resource.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.resource.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="removeReserveDate" type="tns:removeReserveDate"/>

      <xs:element name="removeReserveDateResponse" type="tns:removeReserveDateResponse"/>

      <xs:element name="setReserveDate" type="tns:setReserveDate"/>

      <xs:element name="setReserveDateResponse" type="tns:setReserveDateResponse"/>

      <xs:complexType name="removeReserveDate">
        <xs:sequence>
          <xs:element name="resourceId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="removeReserveDateResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="setReserveDate">
        <xs:sequence>
          <xs:element name="resourceId" type="xs:int"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="comment" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="setReserveDateResponse">
        <xs:sequence/>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="setReserveDate">
    <part name="parameters" element="tns:setReserveDate"/>
  </message>
  <message name="setReserveDateResponse">
    <part name="parameters" element="tns:setReserveDateResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="removeReserveDate">
    <part name="parameters" element="tns:removeReserveDate"/>
  </message>
  <message name="removeReserveDateResponse">
    <part name="parameters" element="tns:removeReserveDateResponse"/>
  </message>
  <portType name="NumberResourceService">
    <operation name="setReserveDate">
      <input wsam:Action="http://service.common.resource.kernel.bgbilling.bitel.ru/NumberResourceService/setReserveDateRequest" message="tns:setReserveDate"/>
      <output wsam:Action="http://service.common.resource.kernel.bgbilling.bitel.ru/NumberResourceService/setReserveDateResponse" message="tns:setReserveDateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.resource.kernel.bgbilling.bitel.ru/NumberResourceService/setReserveDate/Fault/BGException"/>
    </operation>
    <operation name="removeReserveDate">
      <input wsam:Action="http://service.common.resource.kernel.bgbilling.bitel.ru/NumberResourceService/removeReserveDateRequest" message="tns:removeReserveDate"/>
      <output wsam:Action="http://service.common.resource.kernel.bgbilling.bitel.ru/NumberResourceService/removeReserveDateResponse" message="tns:removeReserveDateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.resource.kernel.bgbilling.bitel.ru/NumberResourceService/removeReserveDate/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="NumberResourceServiceBinding" type="tns:NumberResourceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="setReserveDate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeReserveDate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="NumberResourceService">
    <port name="NumberResourceService" binding="tns:NumberResourceServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

