kernel/src/main/wsdl/PaymentAndChargeService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://common.balance.contract.kernel.bgbilling.bitel.ru/" name="PaymentAndChargeService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://common.balance.contract.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://common.balance.contract.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="getChargeTree" type="tns:getChargeTree"/>

      <xs:element name="getChargeTreeResponse" type="tns:getChargeTreeResponse"/>

      <xs:element name="getPaymentTree" type="tns:getPaymentTree"/>

      <xs:element name="getPaymentTreeResponse" type="tns:getPaymentTreeResponse"/>

      <xs:complexType name="getChargeTree">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getChargeTreeResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:paymentTypeItem" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentTypeItem">
        <xs:complexContent>
          <xs:extension base="tns:abstractPaymentTypes">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractPaymentTypes">
        <xs:complexContent>
          <xs:extension base="tns:paymentType">
            <xs:sequence>
              <xs:element name="children" type="tns:abstractPaymentTypes" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="paymentType">
        <xs:complexContent>
          <xs:extension base="tns:balanceBaseType">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="balanceBaseType">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence/>
            <xs:attribute name="editable" type="xs:boolean" use="required"/>
            <xs:attribute name="parentId" type="xs:int"/>
            <xs:attribute name="type" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getPaymentTree">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getPaymentTreeResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:paymentTypeItem" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="getPaymentTree">
    <part name="parameters" element="tns:getPaymentTree"/>
  </message>
  <message name="getPaymentTreeResponse">
    <part name="parameters" element="tns:getPaymentTreeResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="getChargeTree">
    <part name="parameters" element="tns:getChargeTree"/>
  </message>
  <message name="getChargeTreeResponse">
    <part name="parameters" element="tns:getChargeTreeResponse"/>
  </message>
  <portType name="PaymentAndChargeService">
    <operation name="getPaymentTree">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentAndChargeService/getPaymentTreeRequest" message="tns:getPaymentTree"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentAndChargeService/getPaymentTreeResponse" message="tns:getPaymentTreeResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentAndChargeService/getPaymentTree/Fault/BGException"/>
    </operation>
    <operation name="getChargeTree">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentAndChargeService/getChargeTreeRequest" message="tns:getChargeTree"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentAndChargeService/getChargeTreeResponse" message="tns:getChargeTreeResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentAndChargeService/getChargeTree/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="PaymentAndChargeServiceBinding" type="tns:PaymentAndChargeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getPaymentTree">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getChargeTree">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="PaymentAndChargeService">
    <port name="PaymentAndChargeService" binding="tns:PaymentAndChargeServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

