kernel/src/main/wsdl/PaymentService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://common.balance.contract.kernel.bgbilling.bitel.ru/" name="PaymentService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://common.balance.contract.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://common.balance.contract.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="BGMessageException" type="tns:BGMessageException"/>

      <xs:element name="paymentDelete" type="tns:paymentDelete"/>

      <xs:element name="paymentDeleteResponse" type="tns:paymentDeleteResponse"/>

      <xs:element name="paymentGet" type="tns:paymentGet"/>

      <xs:element name="paymentGetResponse" type="tns:paymentGetResponse"/>

      <xs:element name="paymentList" type="tns:paymentList"/>

      <xs:element name="paymentListResponse" type="tns:paymentListResponse"/>

      <xs:element name="paymentTypeDelete" type="tns:paymentTypeDelete"/>

      <xs:element name="paymentTypeDeleteResponse" type="tns:paymentTypeDeleteResponse"/>

      <xs:element name="paymentTypeGet" type="tns:paymentTypeGet"/>

      <xs:element name="paymentTypeGetResponse" type="tns:paymentTypeGetResponse"/>

      <xs:element name="paymentTypeList" type="tns:paymentTypeList"/>

      <xs:element name="paymentTypeListResponse" type="tns:paymentTypeListResponse"/>

      <xs:element name="paymentTypeMove" type="tns:paymentTypeMove"/>

      <xs:element name="paymentTypeMoveResponse" type="tns:paymentTypeMoveResponse"/>

      <xs:element name="paymentTypeTree" type="tns:paymentTypeTree"/>

      <xs:element name="paymentTypeTreeResponse" type="tns:paymentTypeTreeResponse"/>

      <xs:element name="paymentTypeUpdate" type="tns:paymentTypeUpdate"/>

      <xs:element name="paymentTypeUpdateResponse" type="tns:paymentTypeUpdateResponse"/>

      <xs:element name="paymentUpdate" type="tns:paymentUpdate"/>

      <xs:element name="paymentUpdateResponse" type="tns:paymentUpdateResponse"/>

      <xs:complexType name="paymentUpdate">
        <xs:sequence>
          <xs:element name="payment" type="tns:payment" minOccurs="0"/>
          <xs:element name="distribution" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="payment">
        <xs:complexContent>
          <xs:extension base="tns:abstractBalanceBean">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractBalanceBean" abstract="true">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="contractId" type="xs:int" use="required"/>
            <xs:attribute name="date" type="xs:dateTime"/>
            <xs:attribute name="sum" type="xs:decimal"/>
            <xs:attribute name="summa" type="xs:decimal"/>
            <xs:attribute name="timeChange" type="xs:dateTime"/>
            <xs:attribute name="typeId" type="xs:int" use="required"/>
            <xs:attribute name="userId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="paymentUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGMessageException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentTypeList">
        <xs:sequence>
          <xs:element name="editable" type="xs:int" minOccurs="0"/>
          <xs:element name="type" type="xs:int" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentTypeListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:paymentType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentType">
        <xs:complexContent>
          <xs:extension base="tns:balanceBaseType">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="balanceBaseType">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence/>
            <xs:attribute name="editable" type="xs:boolean" use="required"/>
            <xs:attribute name="parentId" type="xs:int"/>
            <xs:attribute name="type" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="paymentGet">
        <xs:sequence>
          <xs:element name="paymentId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:payment" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentTypeTree">
        <xs:sequence>
          <xs:element name="editable" type="xs:int"/>
          <xs:element name="showEmptyRoot" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentTypeTreeResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:paymentTypeItem" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentTypeItem">
        <xs:complexContent>
          <xs:extension base="tns:abstractPaymentTypes">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractPaymentTypes">
        <xs:complexContent>
          <xs:extension base="tns:paymentType">
            <xs:sequence>
              <xs:element name="children" type="tns:abstractPaymentTypes" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="paymentDelete">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="paymentId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentDeleteResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
          <xs:element name="members" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:payment" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="holderTotalSum" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentTypeDelete">
        <xs:sequence>
          <xs:element name="paymentTypeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentTypeDeleteResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentTypeMove">
        <xs:sequence>
          <xs:element name="paymentTypeId" type="xs:int"/>
          <xs:element name="idList" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentTypeMoveResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="paymentTypeGet">
        <xs:sequence>
          <xs:element name="paymentTypeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentTypeGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:paymentType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentTypeUpdate">
        <xs:sequence>
          <xs:element name="paymentType" type="tns:paymentType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="paymentTypeUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>
</xsc:schema>
  </types>
  <message name="paymentGet">
    <part name="parameters" element="tns:paymentGet"/>
  </message>
  <message name="paymentGetResponse">
    <part name="parameters" element="tns:paymentGetResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="paymentList">
    <part name="parameters" element="tns:paymentList"/>
  </message>
  <message name="paymentListResponse">
    <part name="parameters" element="tns:paymentListResponse"/>
  </message>
  <message name="paymentDelete">
    <part name="parameters" element="tns:paymentDelete"/>
  </message>
  <message name="paymentDeleteResponse">
    <part name="parameters" element="tns:paymentDeleteResponse"/>
  </message>
  <message name="BGMessageException">
    <part name="fault" element="tns:BGMessageException"/>
  </message>
  <message name="paymentUpdate">
    <part name="parameters" element="tns:paymentUpdate"/>
  </message>
  <message name="paymentUpdateResponse">
    <part name="parameters" element="tns:paymentUpdateResponse"/>
  </message>
  <message name="paymentTypeGet">
    <part name="parameters" element="tns:paymentTypeGet"/>
  </message>
  <message name="paymentTypeGetResponse">
    <part name="parameters" element="tns:paymentTypeGetResponse"/>
  </message>
  <message name="paymentTypeList">
    <part name="parameters" element="tns:paymentTypeList"/>
  </message>
  <message name="paymentTypeListResponse">
    <part name="parameters" element="tns:paymentTypeListResponse"/>
  </message>
  <message name="paymentTypeTree">
    <part name="parameters" element="tns:paymentTypeTree"/>
  </message>
  <message name="paymentTypeTreeResponse">
    <part name="parameters" element="tns:paymentTypeTreeResponse"/>
  </message>
  <message name="paymentTypeUpdate">
    <part name="parameters" element="tns:paymentTypeUpdate"/>
  </message>
  <message name="paymentTypeUpdateResponse">
    <part name="parameters" element="tns:paymentTypeUpdateResponse"/>
  </message>
  <message name="paymentTypeDelete">
    <part name="parameters" element="tns:paymentTypeDelete"/>
  </message>
  <message name="paymentTypeDeleteResponse">
    <part name="parameters" element="tns:paymentTypeDeleteResponse"/>
  </message>
  <message name="paymentTypeMove">
    <part name="parameters" element="tns:paymentTypeMove"/>
  </message>
  <message name="paymentTypeMoveResponse">
    <part name="parameters" element="tns:paymentTypeMoveResponse"/>
  </message>
  <portType name="PaymentService">
    <operation name="paymentGet">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentGetRequest" message="tns:paymentGet"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentGetResponse" message="tns:paymentGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentGet/Fault/BGException"/>
    </operation>
    <operation name="paymentList">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentListRequest" message="tns:paymentList"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentListResponse" message="tns:paymentListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentList/Fault/BGException"/>
    </operation>
    <operation name="paymentDelete">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentDeleteRequest" message="tns:paymentDelete"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentDeleteResponse" message="tns:paymentDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentDelete/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentDelete/Fault/BGMessageException"/>
    </operation>
    <operation name="paymentUpdate">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentUpdateRequest" message="tns:paymentUpdate"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentUpdateResponse" message="tns:paymentUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentUpdate/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentUpdate/Fault/BGMessageException"/>
    </operation>
    <operation name="paymentTypeGet">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeGetRequest" message="tns:paymentTypeGet"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeGetResponse" message="tns:paymentTypeGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeGet/Fault/BGException"/>
    </operation>
    <operation name="paymentTypeList">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeListRequest" message="tns:paymentTypeList"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeListResponse" message="tns:paymentTypeListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeList/Fault/BGException"/>
    </operation>
    <operation name="paymentTypeTree">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeTreeRequest" message="tns:paymentTypeTree"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeTreeResponse" message="tns:paymentTypeTreeResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeTree/Fault/BGException"/>
    </operation>
    <operation name="paymentTypeUpdate">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeUpdateRequest" message="tns:paymentTypeUpdate"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeUpdateResponse" message="tns:paymentTypeUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeUpdate/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeUpdate/Fault/BGMessageException"/>
    </operation>
    <operation name="paymentTypeDelete">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeDeleteRequest" message="tns:paymentTypeDelete"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeDeleteResponse" message="tns:paymentTypeDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeDelete/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeDelete/Fault/BGMessageException"/>
    </operation>
    <operation name="paymentTypeMove">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeMoveRequest" message="tns:paymentTypeMove"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeMoveResponse" message="tns:paymentTypeMoveResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/PaymentService/paymentTypeMove/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="PaymentServiceBinding" type="tns:PaymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="paymentGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="paymentList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="paymentDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
    </operation>
    <operation name="paymentUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
    </operation>
    <operation name="paymentTypeGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="paymentTypeList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="paymentTypeTree">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="paymentTypeUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
    </operation>
    <operation name="paymentTypeDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
    </operation>
    <operation name="paymentTypeMove">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="PaymentService">
    <port name="PaymentService" binding="tns:PaymentServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

