kernel/src/main/wsdl/PlugincfgService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://common.plugincfg.admin.kernel.bgbilling.bitel.ru/" name="PlugincfgService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://common.plugincfg.admin.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://common.plugincfg.admin.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="getPlugin" type="tns:getPlugin"/>

      <xs:element name="getPluginResponse" type="tns:getPluginResponse"/>

      <xs:element name="getPlugins" type="tns:getPlugins"/>

      <xs:element name="getPluginsResponse" type="tns:getPluginsResponse"/>

      <xs:element name="updatePlugin" type="tns:updatePlugin"/>

      <xs:element name="updatePluginResponse" type="tns:updatePluginResponse"/>

      <xs:complexType name="updatePlugin">
        <xs:sequence>
          <xs:element name="arg0" type="tns:pluginItem" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="pluginItem">
        <xs:sequence>
          <xs:element name="config" type="xs:string" minOccurs="0"/>
          <xs:element name="enabled" type="xs:boolean"/>
          <xs:element name="id" type="xs:int"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updatePluginResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getPlugins">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getPluginsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:pluginItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getPlugin">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getPluginResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:pluginItem" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="getPlugins">
    <part name="parameters" element="tns:getPlugins"/>
  </message>
  <message name="getPluginsResponse">
    <part name="parameters" element="tns:getPluginsResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="getPlugin">
    <part name="parameters" element="tns:getPlugin"/>
  </message>
  <message name="getPluginResponse">
    <part name="parameters" element="tns:getPluginResponse"/>
  </message>
  <message name="updatePlugin">
    <part name="parameters" element="tns:updatePlugin"/>
  </message>
  <message name="updatePluginResponse">
    <part name="parameters" element="tns:updatePluginResponse"/>
  </message>
  <portType name="PlugincfgService">
    <operation name="getPlugins">
      <input wsam:Action="http://common.plugincfg.admin.kernel.bgbilling.bitel.ru/PlugincfgService/getPluginsRequest" message="tns:getPlugins"/>
      <output wsam:Action="http://common.plugincfg.admin.kernel.bgbilling.bitel.ru/PlugincfgService/getPluginsResponse" message="tns:getPluginsResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.plugincfg.admin.kernel.bgbilling.bitel.ru/PlugincfgService/getPlugins/Fault/BGException"/>
    </operation>
    <operation name="getPlugin">
      <input wsam:Action="http://common.plugincfg.admin.kernel.bgbilling.bitel.ru/PlugincfgService/getPluginRequest" message="tns:getPlugin"/>
      <output wsam:Action="http://common.plugincfg.admin.kernel.bgbilling.bitel.ru/PlugincfgService/getPluginResponse" message="tns:getPluginResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.plugincfg.admin.kernel.bgbilling.bitel.ru/PlugincfgService/getPlugin/Fault/BGException"/>
    </operation>
    <operation name="updatePlugin">
      <input wsam:Action="http://common.plugincfg.admin.kernel.bgbilling.bitel.ru/PlugincfgService/updatePluginRequest" message="tns:updatePlugin"/>
      <output wsam:Action="http://common.plugincfg.admin.kernel.bgbilling.bitel.ru/PlugincfgService/updatePluginResponse" message="tns:updatePluginResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.plugincfg.admin.kernel.bgbilling.bitel.ru/PlugincfgService/updatePlugin/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="PlugincfgServiceBinding" type="tns:PlugincfgService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getPlugins">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPlugin">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="updatePlugin">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="PlugincfgService">
    <port name="PlugincfgService" binding="tns:PlugincfgServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

