kernel/src/main/wsdl/ReserveService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://common.balance.contract.kernel.bgbilling.bitel.ru/" name="ReserveService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://common.balance.contract.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://common.balance.contract.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="BGMessageException" type="tns:BGMessageException"/>

      <xs:element name="closeReserve" type="tns:closeReserve"/>

      <xs:element name="closeReserveResponse" type="tns:closeReserveResponse"/>

      <xs:element name="reserveList" type="tns:reserveList"/>

      <xs:element name="reserveListResponse" type="tns:reserveListResponse"/>

      <xs:element name="reserveSum" type="tns:reserveSum"/>

      <xs:element name="reserveSumResponse" type="tns:reserveSumResponse"/>

      <xs:element name="reserveTypeDelete" type="tns:reserveTypeDelete"/>

      <xs:element name="reserveTypeDeleteResponse" type="tns:reserveTypeDeleteResponse"/>

      <xs:element name="reserveTypeGet" type="tns:reserveTypeGet"/>

      <xs:element name="reserveTypeGetResponse" type="tns:reserveTypeGetResponse"/>

      <xs:element name="reserveTypeList" type="tns:reserveTypeList"/>

      <xs:element name="reserveTypeListResponse" type="tns:reserveTypeListResponse"/>

      <xs:element name="reserveTypeUpdate" type="tns:reserveTypeUpdate"/>

      <xs:element name="reserveTypeUpdateResponse" type="tns:reserveTypeUpdateResponse"/>

      <xs:element name="updateReserve" type="tns:updateReserve"/>

      <xs:element name="updateReserveResponse" type="tns:updateReserveResponse"/>

      <xs:complexType name="reserveTypeList">
        <xs:sequence>
          <xs:element name="used" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="reserveTypeListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:reserveType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="reserveType">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence/>
            <xs:attribute name="used" type="xs:boolean" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="reserveTypeUpdate">
        <xs:sequence>
          <xs:element name="reserveType" type="tns:reserveType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="reserveTypeUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="reserveList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
          <xs:element name="reserveMembers" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="reserveListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:reserve" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="reserve">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="period" type="ns1:period" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="comment" type="xs:string"/>
            <xs:attribute name="contractId" type="xs:int" use="required"/>
            <xs:attribute name="dateClose" type="xs:dateTime"/>
            <xs:attribute name="sum" type="xs:decimal"/>
            <xs:attribute name="typeId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="reserveTypeGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="reserveTypeGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:reserveType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="closeReserve">
        <xs:sequence>
          <xs:element name="reserveId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="closeReserveResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="reserveTypeDelete">
        <xs:sequence>
          <xs:element name="reserveTypeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="reserveTypeDeleteResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGMessageException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="reserveSum">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="reserveSumResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateReserve">
        <xs:sequence>
          <xs:element name="reserve" type="tns:reserve" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateReserveResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="reserveList">
    <part name="parameters" element="tns:reserveList"/>
  </message>
  <message name="reserveListResponse">
    <part name="parameters" element="tns:reserveListResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="updateReserve">
    <part name="parameters" element="tns:updateReserve"/>
  </message>
  <message name="updateReserveResponse">
    <part name="parameters" element="tns:updateReserveResponse"/>
  </message>
  <message name="closeReserve">
    <part name="parameters" element="tns:closeReserve"/>
  </message>
  <message name="closeReserveResponse">
    <part name="parameters" element="tns:closeReserveResponse"/>
  </message>
  <message name="reserveSum">
    <part name="parameters" element="tns:reserveSum"/>
  </message>
  <message name="reserveSumResponse">
    <part name="parameters" element="tns:reserveSumResponse"/>
  </message>
  <message name="reserveTypeGet">
    <part name="parameters" element="tns:reserveTypeGet"/>
  </message>
  <message name="reserveTypeGetResponse">
    <part name="parameters" element="tns:reserveTypeGetResponse"/>
  </message>
  <message name="reserveTypeList">
    <part name="parameters" element="tns:reserveTypeList"/>
  </message>
  <message name="reserveTypeListResponse">
    <part name="parameters" element="tns:reserveTypeListResponse"/>
  </message>
  <message name="reserveTypeUpdate">
    <part name="parameters" element="tns:reserveTypeUpdate"/>
  </message>
  <message name="reserveTypeUpdateResponse">
    <part name="parameters" element="tns:reserveTypeUpdateResponse"/>
  </message>
  <message name="reserveTypeDelete">
    <part name="parameters" element="tns:reserveTypeDelete"/>
  </message>
  <message name="reserveTypeDeleteResponse">
    <part name="parameters" element="tns:reserveTypeDeleteResponse"/>
  </message>
  <message name="BGMessageException">
    <part name="fault" element="tns:BGMessageException"/>
  </message>
  <portType name="ReserveService">
    <operation name="reserveList">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveListRequest" message="tns:reserveList"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveListResponse" message="tns:reserveListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveList/Fault/BGException"/>
    </operation>
    <operation name="updateReserve">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/updateReserveRequest" message="tns:updateReserve"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/updateReserveResponse" message="tns:updateReserveResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/updateReserve/Fault/BGException"/>
    </operation>
    <operation name="closeReserve">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/closeReserveRequest" message="tns:closeReserve"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/closeReserveResponse" message="tns:closeReserveResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/closeReserve/Fault/BGException"/>
    </operation>
    <operation name="reserveSum">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveSumRequest" message="tns:reserveSum"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveSumResponse" message="tns:reserveSumResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveSum/Fault/BGException"/>
    </operation>
    <operation name="reserveTypeGet">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveTypeGetRequest" message="tns:reserveTypeGet"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveTypeGetResponse" message="tns:reserveTypeGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveTypeGet/Fault/BGException"/>
    </operation>
    <operation name="reserveTypeList">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveTypeListRequest" message="tns:reserveTypeList"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveTypeListResponse" message="tns:reserveTypeListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveTypeList/Fault/BGException"/>
    </operation>
    <operation name="reserveTypeUpdate">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveTypeUpdateRequest" message="tns:reserveTypeUpdate"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveTypeUpdateResponse" message="tns:reserveTypeUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveTypeUpdate/Fault/BGException"/>
    </operation>
    <operation name="reserveTypeDelete">
      <input wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveTypeDeleteRequest" message="tns:reserveTypeDelete"/>
      <output wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveTypeDeleteResponse" message="tns:reserveTypeDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveTypeDelete/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://common.balance.contract.kernel.bgbilling.bitel.ru/ReserveService/reserveTypeDelete/Fault/BGMessageException"/>
    </operation>
  </portType>
  <binding name="ReserveServiceBinding" type="tns:ReserveService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="reserveList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateReserve">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="closeReserve">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="reserveSum">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="reserveTypeGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="reserveTypeList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="reserveTypeUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="reserveTypeDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ReserveService">
    <port name="ReserveService" binding="tns:ReserveServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

