kernel/src/main/wsdl/ScriptService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://common.script.kernel.bgbilling.bitel.ru/" name="ScriptService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://common.script.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://common.script.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="backup" type="tns:backup"/>

      <xs:element name="backupResponse" type="tns:backupResponse"/>

      <xs:element name="deleteBackup" type="tns:deleteBackup"/>

      <xs:element name="deleteBackupResponse" type="tns:deleteBackupResponse"/>

      <xs:element name="deleteLibrary" type="tns:deleteLibrary"/>

      <xs:element name="deleteLibraryResponse" type="tns:deleteLibraryResponse"/>

      <xs:element name="getBackup" type="tns:getBackup"/>

      <xs:element name="getBackupResponse" type="tns:getBackupResponse"/>

      <xs:element name="getLibrary" type="tns:getLibrary"/>

      <xs:element name="getLibraryResponse" type="tns:getLibraryResponse"/>

      <xs:element name="getRevision" type="tns:getRevision"/>

      <xs:element name="getRevisionResponse" type="tns:getRevisionResponse"/>

      <xs:element name="list" type="tns:list"/>

      <xs:element name="listBackup" type="tns:listBackup"/>

      <xs:element name="listBackupResponse" type="tns:listBackupResponse"/>

      <xs:element name="listResponse" type="tns:listResponse"/>

      <xs:element name="pureList" type="tns:pureList"/>

      <xs:element name="pureListResponse" type="tns:pureListResponse"/>

      <xs:element name="test" type="tns:test"/>

      <xs:element name="testResponse" type="tns:testResponse"/>

      <xs:element name="update" type="tns:update"/>

      <xs:element name="updateResponse" type="tns:updateResponse"/>

      <xs:complexType name="test">
        <xs:sequence>
          <xs:element name="value" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="testResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getLibrary">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getLibraryResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:scriptLibrary" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="scriptLibrary">
        <xs:complexContent>
          <xs:extension base="tns:script">
            <xs:sequence/>
            <xs:attribute name="name" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="script">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="revision" type="tns:revision" minOccurs="0"/>
              <xs:element name="script" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="timeRevision" type="xs:dateTime"/>
            <xs:attribute name="userId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="revision">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence/>
            <xs:attribute name="timeRevision" type="xs:dateTime"/>
            <xs:attribute name="userId" type="xs:int" use="required"/>
            <xs:attribute name="userName" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteBackup">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteBackupResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="deleteLibrary">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteLibraryResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="backup">
        <xs:sequence>
          <xs:element name="arg0" type="tns:scriptBackup" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="scriptBackup">
        <xs:complexContent>
          <xs:extension base="tns:script">
            <xs:sequence>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="scriptId" type="xs:int"/>
              <xs:element name="type" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="backupResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="listBackup">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listBackupResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:scriptBackup" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="list">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="listResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:scriptLibrary" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getRevision">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getRevisionResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:revision" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getBackup">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getBackupResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:scriptBackup" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="pureList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="pureListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:scriptLibrary" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="update">
        <xs:sequence>
          <xs:element name="arg0" type="tns:scriptLibrary" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:revision" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="pureList">
    <part name="parameters" element="tns:pureList"/>
  </message>
  <message name="pureListResponse">
    <part name="parameters" element="tns:pureListResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="getLibrary">
    <part name="parameters" element="tns:getLibrary"/>
  </message>
  <message name="getLibraryResponse">
    <part name="parameters" element="tns:getLibraryResponse"/>
  </message>
  <message name="getRevision">
    <part name="parameters" element="tns:getRevision"/>
  </message>
  <message name="getRevisionResponse">
    <part name="parameters" element="tns:getRevisionResponse"/>
  </message>
  <message name="deleteLibrary">
    <part name="parameters" element="tns:deleteLibrary"/>
  </message>
  <message name="deleteLibraryResponse">
    <part name="parameters" element="tns:deleteLibraryResponse"/>
  </message>
  <message name="backup">
    <part name="parameters" element="tns:backup"/>
  </message>
  <message name="backupResponse">
    <part name="parameters" element="tns:backupResponse"/>
  </message>
  <message name="listBackup">
    <part name="parameters" element="tns:listBackup"/>
  </message>
  <message name="listBackupResponse">
    <part name="parameters" element="tns:listBackupResponse"/>
  </message>
  <message name="deleteBackup">
    <part name="parameters" element="tns:deleteBackup"/>
  </message>
  <message name="deleteBackupResponse">
    <part name="parameters" element="tns:deleteBackupResponse"/>
  </message>
  <message name="getBackup">
    <part name="parameters" element="tns:getBackup"/>
  </message>
  <message name="getBackupResponse">
    <part name="parameters" element="tns:getBackupResponse"/>
  </message>
  <message name="update">
    <part name="parameters" element="tns:update"/>
  </message>
  <message name="updateResponse">
    <part name="parameters" element="tns:updateResponse"/>
  </message>
  <message name="list">
    <part name="parameters" element="tns:list"/>
  </message>
  <message name="listResponse">
    <part name="parameters" element="tns:listResponse"/>
  </message>
  <message name="test">
    <part name="parameters" element="tns:test"/>
  </message>
  <message name="testResponse">
    <part name="parameters" element="tns:testResponse"/>
  </message>
  <portType name="ScriptService">
    <operation name="pureList">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/pureListRequest" message="tns:pureList"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/pureListResponse" message="tns:pureListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/pureList/Fault/BGException"/>
    </operation>
    <operation name="getLibrary">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/getLibraryRequest" message="tns:getLibrary"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/getLibraryResponse" message="tns:getLibraryResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/getLibrary/Fault/BGException"/>
    </operation>
    <operation name="getRevision">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/getRevisionRequest" message="tns:getRevision"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/getRevisionResponse" message="tns:getRevisionResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/getRevision/Fault/BGException"/>
    </operation>
    <operation name="deleteLibrary">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/deleteLibraryRequest" message="tns:deleteLibrary"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/deleteLibraryResponse" message="tns:deleteLibraryResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/deleteLibrary/Fault/BGException"/>
    </operation>
    <operation name="backup">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/backupRequest" message="tns:backup"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/backupResponse" message="tns:backupResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/backup/Fault/BGException"/>
    </operation>
    <operation name="listBackup">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/listBackupRequest" message="tns:listBackup"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/listBackupResponse" message="tns:listBackupResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/listBackup/Fault/BGException"/>
    </operation>
    <operation name="deleteBackup">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/deleteBackupRequest" message="tns:deleteBackup"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/deleteBackupResponse" message="tns:deleteBackupResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/deleteBackup/Fault/BGException"/>
    </operation>
    <operation name="getBackup">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/getBackupRequest" message="tns:getBackup"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/getBackupResponse" message="tns:getBackupResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/getBackup/Fault/BGException"/>
    </operation>
    <operation name="update">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/updateRequest" message="tns:update"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/updateResponse" message="tns:updateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/update/Fault/BGException"/>
    </operation>
    <operation name="list">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/listRequest" message="tns:list"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/listResponse" message="tns:listResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/list/Fault/BGException"/>
    </operation>
    <operation name="test">
      <input wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/testRequest" message="tns:test"/>
      <output wsam:Action="http://common.script.kernel.bgbilling.bitel.ru/ScriptService/testResponse" message="tns:testResponse"/>
    </operation>
  </portType>
  <binding name="ScriptServiceBinding" type="tns:ScriptService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="pureList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getLibrary">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getRevision">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteLibrary">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="backup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="listBackup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteBackup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="getBackup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="update">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="list">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="test">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ScriptService">
    <port name="ScriptService" binding="tns:ScriptServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

