kernel/src/main/wsdl/ServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.module.kernel.bgbilling.bitel.ru/" name="ServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.module.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.module.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="serviceDelete" type="tns:serviceDelete"/>

      <xs:element name="serviceDeleteResponse" type="tns:serviceDeleteResponse"/>

      <xs:element name="serviceGet" type="tns:serviceGet"/>

      <xs:element name="serviceGetResponse" type="tns:serviceGetResponse"/>

      <xs:element name="serviceList" type="tns:serviceList"/>

      <xs:element name="serviceListResponse" type="tns:serviceListResponse"/>

      <xs:element name="serviceUpdate" type="tns:serviceUpdate"/>

      <xs:element name="serviceUpdateResponse" type="tns:serviceUpdateResponse"/>

      <xs:complexType name="serviceGet">
        <xs:sequence>
          <xs:element name="serivceId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="serviceGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:service" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="service">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence/>
            <xs:attribute name="moduleId" type="xs:int" use="required"/>
            <xs:attribute name="unit" type="xs:int" use="required"/>
            <xs:attribute name="using" type="xs:boolean" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="serviceUpdate">
        <xs:sequence>
          <xs:element name="service" type="tns:service" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="serviceUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="serviceDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="serviceDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="serviceList">
        <xs:sequence>
          <xs:element name="moduleId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="serviceListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:service" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
</xsc:schema>
  </types>
  <message name="serviceGet">
    <part name="parameters" element="tns:serviceGet"/>
  </message>
  <message name="serviceGetResponse">
    <part name="parameters" element="tns:serviceGetResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="serviceList">
    <part name="parameters" element="tns:serviceList"/>
  </message>
  <message name="serviceListResponse">
    <part name="parameters" element="tns:serviceListResponse"/>
  </message>
  <message name="serviceUpdate">
    <part name="parameters" element="tns:serviceUpdate"/>
  </message>
  <message name="serviceUpdateResponse">
    <part name="parameters" element="tns:serviceUpdateResponse"/>
  </message>
  <message name="serviceDelete">
    <part name="parameters" element="tns:serviceDelete"/>
  </message>
  <message name="serviceDeleteResponse">
    <part name="parameters" element="tns:serviceDeleteResponse"/>
  </message>
  <portType name="ServiceService">
    <operation name="serviceGet">
      <input wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ServiceService/serviceGetRequest" message="tns:serviceGet"/>
      <output wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ServiceService/serviceGetResponse" message="tns:serviceGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ServiceService/serviceGet/Fault/BGException"/>
    </operation>
    <operation name="serviceList">
      <input wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ServiceService/serviceListRequest" message="tns:serviceList"/>
      <output wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ServiceService/serviceListResponse" message="tns:serviceListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ServiceService/serviceList/Fault/BGException"/>
    </operation>
    <operation name="serviceUpdate">
      <input wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ServiceService/serviceUpdateRequest" message="tns:serviceUpdate"/>
      <output wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ServiceService/serviceUpdateResponse" message="tns:serviceUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ServiceService/serviceUpdate/Fault/BGException"/>
    </operation>
    <operation name="serviceDelete">
      <input wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ServiceService/serviceDeleteRequest" message="tns:serviceDelete"/>
      <output wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ServiceService/serviceDeleteResponse" message="tns:serviceDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ServiceService/serviceDelete/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="ServiceServiceBinding" type="tns:ServiceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="serviceGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="serviceList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="serviceUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="serviceDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ServiceService">
    <port name="ServiceService" binding="tns:ServiceServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

