kernel/src/main/wsdl/TariffOptionService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/" name="TariffOptionService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="contractTariffOptionActivate" type="tns:contractTariffOptionActivate"/>

      <xs:element name="contractTariffOptionActivateResponse" type="tns:contractTariffOptionActivateResponse"/>

      <xs:element name="contractTariffOptionActivateWhithSum" type="tns:contractTariffOptionActivateWhithSum"/>

      <xs:element name="contractTariffOptionActivateWhithSumResponse" type="tns:contractTariffOptionActivateWhithSumResponse"/>

      <xs:element name="contractTariffOptionDeactivate" type="tns:contractTariffOptionDeactivate"/>

      <xs:element name="contractTariffOptionDeactivateResponse" type="tns:contractTariffOptionDeactivateResponse"/>

      <xs:element name="contractTariffOptionDelete" type="tns:contractTariffOptionDelete"/>

      <xs:element name="contractTariffOptionDeleteResponse" type="tns:contractTariffOptionDeleteResponse"/>

      <xs:element name="contractTariffOptionHistory" type="tns:contractTariffOptionHistory"/>

      <xs:element name="contractTariffOptionHistoryResponse" type="tns:contractTariffOptionHistoryResponse"/>

      <xs:element name="contractTariffOptionList" type="tns:contractTariffOptionList"/>

      <xs:element name="contractTariffOptionListResponse" type="tns:contractTariffOptionListResponse"/>

      <xs:element name="contractTariffOptionListWeb" type="tns:contractTariffOptionListWeb"/>

      <xs:element name="contractTariffOptionListWebResponse" type="tns:contractTariffOptionListWebResponse"/>

      <xs:element name="contractTariffOptionReactivate" type="tns:contractTariffOptionReactivate"/>

      <xs:element name="contractTariffOptionReactivateResponse" type="tns:contractTariffOptionReactivateResponse"/>

      <xs:element name="tariffOptionActivateModeGet" type="tns:tariffOptionActivateModeGet"/>

      <xs:element name="tariffOptionActivateModeGetResponse" type="tns:tariffOptionActivateModeGetResponse"/>

      <xs:element name="tariffOptionActivateModeList" type="tns:tariffOptionActivateModeList"/>

      <xs:element name="tariffOptionActivateModeListResponse" type="tns:tariffOptionActivateModeListResponse"/>

      <xs:element name="tariffOptionDelete" type="tns:tariffOptionDelete"/>

      <xs:element name="tariffOptionDeleteResponse" type="tns:tariffOptionDeleteResponse"/>

      <xs:element name="tariffOptionGet" type="tns:tariffOptionGet"/>

      <xs:element name="tariffOptionGetResponse" type="tns:tariffOptionGetResponse"/>

      <xs:element name="tariffOptionList" type="tns:tariffOptionList"/>

      <xs:element name="tariffOptionListAvailable" type="tns:tariffOptionListAvailable"/>

      <xs:element name="tariffOptionListAvailableResponse" type="tns:tariffOptionListAvailableResponse"/>

      <xs:element name="tariffOptionListResponse" type="tns:tariffOptionListResponse"/>

      <xs:element name="tariffOptionUpdate" type="tns:tariffOptionUpdate"/>

      <xs:element name="tariffOptionUpdateResponse" type="tns:tariffOptionUpdateResponse"/>

      <xs:element name="tariffOptionWebList" type="tns:tariffOptionWebList"/>

      <xs:element name="tariffOptionWebListResponse" type="tns:tariffOptionWebListResponse"/>

      <xs:complexType name="contractTariffOptionList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffOptionListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contractTariffOption" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffOption">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence/>
            <xs:attribute name="activatedMode" type="xs:int" use="required"/>
            <xs:attribute name="activatedTime" type="xs:string"/>
            <xs:attribute name="chargeId" type="xs:int" use="required"/>
            <xs:attribute name="contractId" type="xs:int" use="required"/>
            <xs:attribute name="deactivatedTime" type="xs:string"/>
            <xs:attribute name="optionId" type="xs:int" use="required"/>
            <xs:attribute name="optionTitle" type="xs:string"/>
            <xs:attribute name="summa" type="xs:decimal"/>
            <xs:attribute name="timeFrom" type="xs:string"/>
            <xs:attribute name="timeTo" type="xs:string"/>
            <xs:attribute name="userId" type="xs:int" use="required"/>
            <xs:attribute name="userTitle" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffOptionDeactivate">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="contractOptionId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffOptionDeactivateResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="tariffOptionDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffOptionDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="contractTariffOptionActivateWhithSum">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="optionId" type="xs:int"/>
          <xs:element name="modeId" type="xs:int"/>
          <xs:element name="chargeSum" type="xs:decimal" minOccurs="0"/>
          <xs:element name="web" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffOptionActivateWhithSumResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffOptionDelete">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="id" type="xs:int"/>
          <xs:element name="customer" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffOptionDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="contractTariffOptionListWeb">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="contractTariffOptionList" type="tns:contractTariffOption" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffOptionListWebResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contractTariffOption" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffOptionActivateModeGet">
        <xs:sequence>
          <xs:element name="optionId" type="xs:int"/>
          <xs:element name="modeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffOptionActivateModeGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:tariffOptionActivateMode" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffOptionActivateMode">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence/>
            <xs:attribute name="chargeProportional" type="xs:boolean" use="required"/>
            <xs:attribute name="chargeSumma" type="xs:decimal"/>
            <xs:attribute name="chargeTypeId" type="xs:int" use="required"/>
            <xs:attribute name="chargeTypeTitle" type="xs:string"/>
            <xs:attribute name="dateFrom" type="xs:dateTime"/>
            <xs:attribute name="dateTo" type="xs:dateTime"/>
            <xs:attribute name="deactivationMode" type="xs:int" use="required"/>
            <xs:attribute name="deleteChargeMode" type="xs:int" use="required"/>
            <xs:attribute name="deleteMode" type="xs:int" use="required"/>
            <xs:attribute name="modeTitle" type="xs:string"/>
            <xs:attribute name="optionId" type="xs:int" use="required"/>
            <xs:attribute name="periodCol" type="xs:int" use="required"/>
            <xs:attribute name="periodMode" type="xs:int" use="required"/>
            <xs:attribute name="reactivationMode" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="tariffOptionUpdate">
        <xs:sequence>
          <xs:element name="tariffOption" type="tns:tariffOption" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffOption">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="modeList" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="item" type="tns:tariffOptionActivateMode" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="depends" minOccurs="0">
                <xs:simpleType>
                  <xs:list itemType="xs:int"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="incompatible" minOccurs="0">
                <xs:simpleType>
                  <xs:list itemType="xs:int"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="tariffIdSet" minOccurs="0">
                <xs:simpleType>
                  <xs:list itemType="xs:int"/>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="comment" type="xs:string"/>
            <xs:attribute name="contractGroups" type="xs:long" use="required"/>
            <xs:attribute name="dateFrom" type="xs:dateTime"/>
            <xs:attribute name="dateTo" type="xs:dateTime"/>
            <xs:attribute name="enable" type="xs:boolean" use="required"/>
            <xs:attribute name="hideForContractGroups" type="xs:long" use="required"/>
            <xs:attribute name="hideForContractGroupsMode" type="xs:int" use="required"/>
            <xs:attribute name="hideForWeb" type="xs:boolean" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="tariffOptionUpdateResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="tariffOptionActivateModeList">
        <xs:sequence>
          <xs:element name="optionId" type="xs:int"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffOptionActivateModeListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:tariffOptionActivateMode" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffOptionActivate">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="optionId" type="xs:int"/>
          <xs:element name="modeId" type="xs:int"/>
          <xs:element name="web" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffOptionActivateResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="tariffOptionWebList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="fullOptionList" type="tns:tariffOption" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffOptionWebListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:tariffOption" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffOptionGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffOptionGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:tariffOption" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffOptionReactivate">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="contractOptionId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffOptionReactivateResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="contractTariffOptionHistory">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="web" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractTariffOptionHistoryResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:contractTariffOption" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffOptionList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="tariffOptionListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:tariffOption" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffOptionListAvailable">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="currentContractOptionList" type="tns:contractTariffOption" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="onlyAvailable" type="xs:boolean"/>
          <xs:element name="web" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffOptionListAvailableResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:tariffOption" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
</xsc:schema>
  </types>
  <message name="tariffOptionGet">
    <part name="parameters" element="tns:tariffOptionGet"/>
  </message>
  <message name="tariffOptionGetResponse">
    <part name="parameters" element="tns:tariffOptionGetResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="tariffOptionList">
    <part name="parameters" element="tns:tariffOptionList"/>
  </message>
  <message name="tariffOptionListResponse">
    <part name="parameters" element="tns:tariffOptionListResponse"/>
  </message>
  <message name="tariffOptionListAvailable">
    <part name="parameters" element="tns:tariffOptionListAvailable"/>
  </message>
  <message name="tariffOptionListAvailableResponse">
    <part name="parameters" element="tns:tariffOptionListAvailableResponse"/>
  </message>
  <message name="tariffOptionWebList">
    <part name="parameters" element="tns:tariffOptionWebList"/>
  </message>
  <message name="tariffOptionWebListResponse">
    <part name="parameters" element="tns:tariffOptionWebListResponse"/>
  </message>
  <message name="tariffOptionUpdate">
    <part name="parameters" element="tns:tariffOptionUpdate"/>
  </message>
  <message name="tariffOptionUpdateResponse">
    <part name="parameters" element="tns:tariffOptionUpdateResponse"/>
  </message>
  <message name="tariffOptionDelete">
    <part name="parameters" element="tns:tariffOptionDelete"/>
  </message>
  <message name="tariffOptionDeleteResponse">
    <part name="parameters" element="tns:tariffOptionDeleteResponse"/>
  </message>
  <message name="tariffOptionActivateModeList">
    <part name="parameters" element="tns:tariffOptionActivateModeList"/>
  </message>
  <message name="tariffOptionActivateModeListResponse">
    <part name="parameters" element="tns:tariffOptionActivateModeListResponse"/>
  </message>
  <message name="tariffOptionActivateModeGet">
    <part name="parameters" element="tns:tariffOptionActivateModeGet"/>
  </message>
  <message name="tariffOptionActivateModeGetResponse">
    <part name="parameters" element="tns:tariffOptionActivateModeGetResponse"/>
  </message>
  <message name="contractTariffOptionList">
    <part name="parameters" element="tns:contractTariffOptionList"/>
  </message>
  <message name="contractTariffOptionListResponse">
    <part name="parameters" element="tns:contractTariffOptionListResponse"/>
  </message>
  <message name="contractTariffOptionListWeb">
    <part name="parameters" element="tns:contractTariffOptionListWeb"/>
  </message>
  <message name="contractTariffOptionListWebResponse">
    <part name="parameters" element="tns:contractTariffOptionListWebResponse"/>
  </message>
  <message name="contractTariffOptionActivate">
    <part name="parameters" element="tns:contractTariffOptionActivate"/>
  </message>
  <message name="contractTariffOptionActivateResponse">
    <part name="parameters" element="tns:contractTariffOptionActivateResponse"/>
  </message>
  <message name="contractTariffOptionActivateWhithSum">
    <part name="parameters" element="tns:contractTariffOptionActivateWhithSum"/>
  </message>
  <message name="contractTariffOptionActivateWhithSumResponse">
    <part name="parameters" element="tns:contractTariffOptionActivateWhithSumResponse"/>
  </message>
  <message name="contractTariffOptionDeactivate">
    <part name="parameters" element="tns:contractTariffOptionDeactivate"/>
  </message>
  <message name="contractTariffOptionDeactivateResponse">
    <part name="parameters" element="tns:contractTariffOptionDeactivateResponse"/>
  </message>
  <message name="contractTariffOptionReactivate">
    <part name="parameters" element="tns:contractTariffOptionReactivate"/>
  </message>
  <message name="contractTariffOptionReactivateResponse">
    <part name="parameters" element="tns:contractTariffOptionReactivateResponse"/>
  </message>
  <message name="contractTariffOptionHistory">
    <part name="parameters" element="tns:contractTariffOptionHistory"/>
  </message>
  <message name="contractTariffOptionHistoryResponse">
    <part name="parameters" element="tns:contractTariffOptionHistoryResponse"/>
  </message>
  <message name="contractTariffOptionDelete">
    <part name="parameters" element="tns:contractTariffOptionDelete"/>
  </message>
  <message name="contractTariffOptionDeleteResponse">
    <part name="parameters" element="tns:contractTariffOptionDeleteResponse"/>
  </message>
  <portType name="TariffOptionService">
    <operation name="tariffOptionGet">
      <input wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionGetRequest" message="tns:tariffOptionGet"/>
      <output wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionGetResponse" message="tns:tariffOptionGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionGet/Fault/BGException"/>
    </operation>
    <operation name="tariffOptionList">
      <input wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionListRequest" message="tns:tariffOptionList"/>
      <output wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionListResponse" message="tns:tariffOptionListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionList/Fault/BGException"/>
    </operation>
    <operation name="tariffOptionListAvailable">
      <input wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionListAvailableRequest" message="tns:tariffOptionListAvailable"/>
      <output wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionListAvailableResponse" message="tns:tariffOptionListAvailableResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionListAvailable/Fault/BGException"/>
    </operation>
    <operation name="tariffOptionWebList">
      <input wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionWebListRequest" message="tns:tariffOptionWebList"/>
      <output wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionWebListResponse" message="tns:tariffOptionWebListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionWebList/Fault/BGException"/>
    </operation>
    <operation name="tariffOptionUpdate">
      <input wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionUpdateRequest" message="tns:tariffOptionUpdate"/>
      <output wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionUpdateResponse" message="tns:tariffOptionUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionUpdate/Fault/BGException"/>
    </operation>
    <operation name="tariffOptionDelete">
      <input wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionDeleteRequest" message="tns:tariffOptionDelete"/>
      <output wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionDeleteResponse" message="tns:tariffOptionDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionDelete/Fault/BGException"/>
    </operation>
    <operation name="tariffOptionActivateModeList">
      <input wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionActivateModeListRequest" message="tns:tariffOptionActivateModeList"/>
      <output wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionActivateModeListResponse" message="tns:tariffOptionActivateModeListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionActivateModeList/Fault/BGException"/>
    </operation>
    <operation name="tariffOptionActivateModeGet">
      <input wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionActivateModeGetRequest" message="tns:tariffOptionActivateModeGet"/>
      <output wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionActivateModeGetResponse" message="tns:tariffOptionActivateModeGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/tariffOptionActivateModeGet/Fault/BGException"/>
    </operation>
    <operation name="contractTariffOptionList">
      <input wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionListRequest" message="tns:contractTariffOptionList"/>
      <output wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionListResponse" message="tns:contractTariffOptionListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionList/Fault/BGException"/>
    </operation>
    <operation name="contractTariffOptionListWeb">
      <input wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionListWebRequest" message="tns:contractTariffOptionListWeb"/>
      <output wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionListWebResponse" message="tns:contractTariffOptionListWebResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionListWeb/Fault/BGException"/>
    </operation>
    <operation name="contractTariffOptionActivate">
      <input wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionActivateRequest" message="tns:contractTariffOptionActivate"/>
      <output wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionActivateResponse" message="tns:contractTariffOptionActivateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionActivate/Fault/BGException"/>
    </operation>
    <operation name="contractTariffOptionActivateWhithSum">
      <input wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionActivateWhithSumRequest" message="tns:contractTariffOptionActivateWhithSum"/>
      <output wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionActivateWhithSumResponse" message="tns:contractTariffOptionActivateWhithSumResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionActivateWhithSum/Fault/BGException"/>
    </operation>
    <operation name="contractTariffOptionDeactivate">
      <input wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionDeactivateRequest" message="tns:contractTariffOptionDeactivate"/>
      <output wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionDeactivateResponse" message="tns:contractTariffOptionDeactivateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionDeactivate/Fault/BGException"/>
    </operation>
    <operation name="contractTariffOptionReactivate">
      <input wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionReactivateRequest" message="tns:contractTariffOptionReactivate"/>
      <output wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionReactivateResponse" message="tns:contractTariffOptionReactivateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionReactivate/Fault/BGException"/>
    </operation>
    <operation name="contractTariffOptionHistory">
      <input wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionHistoryRequest" message="tns:contractTariffOptionHistory"/>
      <output wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionHistoryResponse" message="tns:contractTariffOptionHistoryResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionHistory/Fault/BGException"/>
    </operation>
    <operation name="contractTariffOptionDelete">
      <input wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionDeleteRequest" message="tns:contractTariffOptionDelete"/>
      <output wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionDeleteResponse" message="tns:contractTariffOptionDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.option.tariff.kernel.bgbilling.bitel.ru/TariffOptionService/contractTariffOptionDelete/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="TariffOptionServiceBinding" type="tns:TariffOptionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="tariffOptionGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="tariffOptionList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="tariffOptionListAvailable">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="tariffOptionWebList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="tariffOptionUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="tariffOptionDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="tariffOptionActivateModeList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="tariffOptionActivateModeGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffOptionList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffOptionListWeb">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffOptionActivate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffOptionActivateWhithSum">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffOptionDeactivate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffOptionReactivate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffOptionHistory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractTariffOptionDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="TariffOptionService">
    <port name="TariffOptionService" binding="tns:TariffOptionServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

