kernel/src/main/wsdl/TariffService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.tariff.kernel.bgbilling.bitel.ru/" name="TariffService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.tariff.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.tariff.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://jaxb.dev.java.net/array" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:import namespace="http://jaxb.dev.java.net/array"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="searchTariffPlans" type="tns:searchTariffPlans"/>

      <xs:element name="searchTariffPlansResponse" type="tns:searchTariffPlansResponse"/>

      <xs:element name="tariffGroupDelete" type="tns:tariffGroupDelete"/>

      <xs:element name="tariffGroupDeleteResponse" type="tns:tariffGroupDeleteResponse"/>

      <xs:element name="tariffGroupGet" type="tns:tariffGroupGet"/>

      <xs:element name="tariffGroupGetResponse" type="tns:tariffGroupGetResponse"/>

      <xs:element name="tariffGroupList" type="tns:tariffGroupList"/>

      <xs:element name="tariffGroupListResponse" type="tns:tariffGroupListResponse"/>

      <xs:element name="tariffGroupUpdate" type="tns:tariffGroupUpdate"/>

      <xs:element name="tariffGroupUpdateResponse" type="tns:tariffGroupUpdateResponse"/>

      <xs:element name="tariffPlanDelete" type="tns:tariffPlanDelete"/>

      <xs:element name="tariffPlanDeleteResponse" type="tns:tariffPlanDeleteResponse"/>

      <xs:element name="tariffPlanGet" type="tns:tariffPlanGet"/>

      <xs:element name="tariffPlanGetResponse" type="tns:tariffPlanGetResponse"/>

      <xs:element name="tariffPlanList" type="tns:tariffPlanList"/>

      <xs:element name="tariffPlanListResponse" type="tns:tariffPlanListResponse"/>

      <xs:element name="tariffPlanUpdate" type="tns:tariffPlanUpdate"/>

      <xs:element name="tariffPlanUpdateResponse" type="tns:tariffPlanUpdateResponse"/>

      <xs:complexType name="tariffPlanUpdate">
        <xs:sequence>
          <xs:element name="tariffPlan" type="tns:tariffPlan" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffPlan">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="config" type="xs:string" minOccurs="0"/>
              <xs:element name="filterFace" type="xs:int"/>
              <xs:element name="filterGroups" type="xs:long"/>
              <xs:element name="filterMask" type="xs:string" minOccurs="0"/>
              <xs:element name="titleWeb" type="xs:string" minOccurs="0"/>
              <xs:element name="useTitleInWeb" type="xs:boolean"/>
              <xs:element name="used" type="xs:boolean"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="tariffPlanUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchTariffPlans">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="arg1" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="arg2" type="xs:int"/>
          <xs:element name="arg3" type="ns1:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchTariffPlansResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:searchResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffGroupList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="tariffGroupListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:tariffGroup" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffGroup">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="daysForward" type="xs:int"/>
              <xs:element name="planList" type="tns:tariffGroupTariff" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="pos" type="xs:int"/>
              <xs:element name="transferMode" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="tariffGroupTariff">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence/>
            <xs:attribute name="date1" type="xs:dateTime"/>
            <xs:attribute name="date2" type="xs:dateTime"/>
            <xs:attribute name="title" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="tariffPlanDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffPlanDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="tariffGroupUpdate">
        <xs:sequence>
          <xs:element name="tariffGroup" type="tns:tariffGroup" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffGroupUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffGroupGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffGroupGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:tariffGroup" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffPlanList">
        <xs:sequence>
          <xs:element name="groupMask" type="xs:long"/>
          <xs:element name="personType" type="xs:int" minOccurs="0"/>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffPlanListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:tariffPlan" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffPlanGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffPlanGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:tariffPlan" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffGroupDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tariffGroupDeleteResponse">
        <xs:sequence/>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:ns3="http://jaxb.dev.java.net/array" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:import namespace="http://jaxb.dev.java.net/array"/>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="searchResult">
        <xsc:sequence>
          <xsc:element name="attributes" type="ns3:stringArray" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="list" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="page" type="tns:page" minOccurs="0"/>
          <xsc:element name="period" type="tns:period" minOccurs="0"/>
          <xsc:element name="sort" type="xsc:string" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="sum" type="xsc:decimal" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="stringArray" final="#all">
        <xs:sequence>
          <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="searchTariffPlans">
    <part name="parameters" element="tns:searchTariffPlans"/>
  </message>
  <message name="searchTariffPlansResponse">
    <part name="parameters" element="tns:searchTariffPlansResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="tariffPlanList">
    <part name="parameters" element="tns:tariffPlanList"/>
  </message>
  <message name="tariffPlanListResponse">
    <part name="parameters" element="tns:tariffPlanListResponse"/>
  </message>
  <message name="tariffPlanGet">
    <part name="parameters" element="tns:tariffPlanGet"/>
  </message>
  <message name="tariffPlanGetResponse">
    <part name="parameters" element="tns:tariffPlanGetResponse"/>
  </message>
  <message name="tariffPlanDelete">
    <part name="parameters" element="tns:tariffPlanDelete"/>
  </message>
  <message name="tariffPlanDeleteResponse">
    <part name="parameters" element="tns:tariffPlanDeleteResponse"/>
  </message>
  <message name="tariffPlanUpdate">
    <part name="parameters" element="tns:tariffPlanUpdate"/>
  </message>
  <message name="tariffPlanUpdateResponse">
    <part name="parameters" element="tns:tariffPlanUpdateResponse"/>
  </message>
  <message name="tariffGroupGet">
    <part name="parameters" element="tns:tariffGroupGet"/>
  </message>
  <message name="tariffGroupGetResponse">
    <part name="parameters" element="tns:tariffGroupGetResponse"/>
  </message>
  <message name="tariffGroupDelete">
    <part name="parameters" element="tns:tariffGroupDelete"/>
  </message>
  <message name="tariffGroupDeleteResponse">
    <part name="parameters" element="tns:tariffGroupDeleteResponse"/>
  </message>
  <message name="tariffGroupUpdate">
    <part name="parameters" element="tns:tariffGroupUpdate"/>
  </message>
  <message name="tariffGroupUpdateResponse">
    <part name="parameters" element="tns:tariffGroupUpdateResponse"/>
  </message>
  <message name="tariffGroupList">
    <part name="parameters" element="tns:tariffGroupList"/>
  </message>
  <message name="tariffGroupListResponse">
    <part name="parameters" element="tns:tariffGroupListResponse"/>
  </message>
  <portType name="TariffService">
    <operation name="searchTariffPlans">
      <input wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/searchTariffPlansRequest" message="tns:searchTariffPlans"/>
      <output wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/searchTariffPlansResponse" message="tns:searchTariffPlansResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/searchTariffPlans/Fault/BGException"/>
    </operation>
    <operation name="tariffPlanList">
      <input wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffPlanListRequest" message="tns:tariffPlanList"/>
      <output wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffPlanListResponse" message="tns:tariffPlanListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffPlanList/Fault/BGException"/>
    </operation>
    <operation name="tariffPlanGet">
      <input wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffPlanGetRequest" message="tns:tariffPlanGet"/>
      <output wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffPlanGetResponse" message="tns:tariffPlanGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffPlanGet/Fault/BGException"/>
    </operation>
    <operation name="tariffPlanDelete">
      <input wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffPlanDeleteRequest" message="tns:tariffPlanDelete"/>
      <output wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffPlanDeleteResponse" message="tns:tariffPlanDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffPlanDelete/Fault/BGException"/>
    </operation>
    <operation name="tariffPlanUpdate">
      <input wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffPlanUpdateRequest" message="tns:tariffPlanUpdate"/>
      <output wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffPlanUpdateResponse" message="tns:tariffPlanUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffPlanUpdate/Fault/BGException"/>
    </operation>
    <operation name="tariffGroupGet">
      <input wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffGroupGetRequest" message="tns:tariffGroupGet"/>
      <output wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffGroupGetResponse" message="tns:tariffGroupGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffGroupGet/Fault/BGException"/>
    </operation>
    <operation name="tariffGroupDelete">
      <input wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffGroupDeleteRequest" message="tns:tariffGroupDelete"/>
      <output wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffGroupDeleteResponse" message="tns:tariffGroupDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffGroupDelete/Fault/BGException"/>
    </operation>
    <operation name="tariffGroupUpdate">
      <input wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffGroupUpdateRequest" message="tns:tariffGroupUpdate"/>
      <output wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffGroupUpdateResponse" message="tns:tariffGroupUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffGroupUpdate/Fault/BGException"/>
    </operation>
    <operation name="tariffGroupList">
      <input wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffGroupListRequest" message="tns:tariffGroupList"/>
      <output wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffGroupListResponse" message="tns:tariffGroupListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.tariff.kernel.bgbilling.bitel.ru/TariffService/tariffGroupList/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="TariffServiceBinding" type="tns:TariffService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="searchTariffPlans">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="tariffPlanList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="tariffPlanGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="tariffPlanDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="tariffPlanUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="tariffGroupGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="tariffGroupDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="tariffGroupUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="tariffGroupList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="TariffService">
    <port name="TariffService" binding="tns:TariffServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

