kernel/src/main/wsdl/WiFiActivateService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.wifi.kernel.bgbilling.bitel.ru/" name="WiFiActivateService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.wifi.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.wifi.kernel.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="BGMessageException" type="tns:BGMessageException"/>

      <xs:element name="activate" type="tns:activate"/>

      <xs:element name="activateResponse" type="tns:activateResponse"/>

      <xs:element name="activateWithForward" type="tns:activateWithForward"/>

      <xs:element name="activateWithForwardResponse" type="tns:activateWithForwardResponse"/>

      <xs:complexType name="activateWithForward">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:string"/>
                      <xs:element name="value" minOccurs="0" type="xs:string"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="activateWithForwardResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGMessageException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="activate">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:string"/>
                      <xs:element name="value" minOccurs="0" type="xs:string"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="activateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="activateWithForward">
    <part name="parameters" element="tns:activateWithForward"/>
  </message>
  <message name="activateWithForwardResponse">
    <part name="parameters" element="tns:activateWithForwardResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="BGMessageException">
    <part name="fault" element="tns:BGMessageException"/>
  </message>
  <message name="activate">
    <part name="parameters" element="tns:activate"/>
  </message>
  <message name="activateResponse">
    <part name="parameters" element="tns:activateResponse"/>
  </message>
  <portType name="WiFiActivateService">
    <operation name="activateWithForward">
      <input wsam:Action="http://service.common.wifi.kernel.bgbilling.bitel.ru/WiFiActivateService/activateWithForwardRequest" message="tns:activateWithForward"/>
      <output wsam:Action="http://service.common.wifi.kernel.bgbilling.bitel.ru/WiFiActivateService/activateWithForwardResponse" message="tns:activateWithForwardResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.wifi.kernel.bgbilling.bitel.ru/WiFiActivateService/activateWithForward/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.wifi.kernel.bgbilling.bitel.ru/WiFiActivateService/activateWithForward/Fault/BGMessageException"/>
    </operation>
    <operation name="activate">
      <input wsam:Action="http://service.common.wifi.kernel.bgbilling.bitel.ru/WiFiActivateService/activateRequest" message="tns:activate"/>
      <output wsam:Action="http://service.common.wifi.kernel.bgbilling.bitel.ru/WiFiActivateService/activateResponse" message="tns:activateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.wifi.kernel.bgbilling.bitel.ru/WiFiActivateService/activate/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.wifi.kernel.bgbilling.bitel.ru/WiFiActivateService/activate/Fault/BGMessageException"/>
    </operation>
  </portType>
  <binding name="WiFiActivateServiceBinding" type="tns:WiFiActivateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="activateWithForward">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
    </operation>
    <operation name="activate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="WiFiActivateService">
    <port name="WiFiActivateService" binding="tns:WiFiActivateServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

