soap/kernel/src/main/wsdl/original/ru/bitel/bgbilling/kernel/module/common/service/ModuleService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.module.kernel.bgbilling.bitel.ru/" name="ModuleService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.module.kernel.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.module.kernel.bgbilling.bitel.ru/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      
      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="contractModuleIds" type="tns:contractModuleIds"/>

      <xs:element name="contractModuleIdsResponse" type="tns:contractModuleIdsResponse"/>

      <xs:element name="installedClientModuleList" type="tns:installedClientModuleList"/>

      <xs:element name="installedClientModuleListResponse" type="tns:installedClientModuleListResponse"/>

      <xs:element name="installedClientModulePacketGet" type="tns:installedClientModulePacketGet"/>

      <xs:element name="installedClientModulePacketGetResponse" type="tns:installedClientModulePacketGetResponse"/>

      <xs:element name="installedModuleList" type="tns:installedModuleList"/>

      <xs:element name="installedModuleListResponse" type="tns:installedModuleListResponse"/>

      <xs:element name="moduleAdd" type="tns:moduleAdd"/>

      <xs:element name="moduleAddResponse" type="tns:moduleAddResponse"/>

      <xs:element name="moduleDelete" type="tns:moduleDelete"/>

      <xs:element name="moduleDeleteResponse" type="tns:moduleDeleteResponse"/>

      <xs:element name="moduleList" type="tns:moduleList"/>

      <xs:element name="moduleListResponse" type="tns:moduleListResponse"/>

      <xs:element name="moduleUpdate" type="tns:moduleUpdate"/>

      <xs:element name="moduleUpdateResponse" type="tns:moduleUpdateResponse"/>

      <xs:complexType name="moduleDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="moduleDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="moduleList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="moduleListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:bgModule" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="bgModule">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="baseModule" type="tns:bgInstalledModule" minOccurs="0"/>
              <xs:element name="configId" type="xs:int"/>
              <xs:element name="ID" type="xs:int"/>
              <xs:element name="installedModule" type="tns:bgInstalledModule" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="bgInstalledModule">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="build" type="xs:string" minOccurs="0"/>
              <xs:element name="enabled" type="xs:boolean"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="packageClient" type="xs:string" minOccurs="0"/>
              <xs:element name="packageServer" type="xs:string" minOccurs="0"/>
              <xs:element name="type" type="xs:string" minOccurs="0"/>
              <xs:element name="version" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="installedModuleList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="installedModuleListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:bgInstalledModule" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="installedClientModuleList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="installedClientModuleListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:bgInstalledModule" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="installedClientModulePacketGet">
        <xs:sequence>
          <xs:element name="module" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="installedClientModulePacketGetResponse">
        <xs:sequence>
          <xs:element name="data" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractModuleIds">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contractModuleIdsResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="moduleUpdate">
        <xs:sequence>
          <xs:element name="module" type="tns:bgModule" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="moduleUpdateResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="moduleAdd">
        <xs:sequence>
          <xs:element name="module" type="xs:string" minOccurs="0"/>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="moduleAddResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="moduleAdd">
    <part name="parameters" element="tns:moduleAdd"/>
  </message>
  <message name="moduleAddResponse">
    <part name="parameters" element="tns:moduleAddResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="moduleUpdate">
    <part name="parameters" element="tns:moduleUpdate"/>
  </message>
  <message name="moduleUpdateResponse">
    <part name="parameters" element="tns:moduleUpdateResponse"/>
  </message>
  <message name="moduleDelete">
    <part name="parameters" element="tns:moduleDelete"/>
  </message>
  <message name="moduleDeleteResponse">
    <part name="parameters" element="tns:moduleDeleteResponse"/>
  </message>
  <message name="moduleList">
    <part name="parameters" element="tns:moduleList"/>
  </message>
  <message name="moduleListResponse">
    <part name="parameters" element="tns:moduleListResponse"/>
  </message>
  <message name="installedModuleList">
    <part name="parameters" element="tns:installedModuleList"/>
  </message>
  <message name="installedModuleListResponse">
    <part name="parameters" element="tns:installedModuleListResponse"/>
  </message>
  <message name="contractModuleIds">
    <part name="parameters" element="tns:contractModuleIds"/>
  </message>
  <message name="contractModuleIdsResponse">
    <part name="parameters" element="tns:contractModuleIdsResponse"/>
  </message>
  <message name="installedClientModuleList">
    <part name="parameters" element="tns:installedClientModuleList"/>
  </message>
  <message name="installedClientModuleListResponse">
    <part name="parameters" element="tns:installedClientModuleListResponse"/>
  </message>
  <message name="installedClientModulePacketGet">
    <part name="parameters" element="tns:installedClientModulePacketGet"/>
  </message>
  <message name="installedClientModulePacketGetResponse">
    <part name="parameters" element="tns:installedClientModulePacketGetResponse"/>
  </message>
  <portType name="ModuleService">
    <operation name="moduleAdd">
      <input wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/moduleAddRequest" message="tns:moduleAdd"/>
      <output wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/moduleAddResponse" message="tns:moduleAddResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/moduleAdd/Fault/BGException"/>
    </operation>
    <operation name="moduleUpdate">
      <input wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/moduleUpdateRequest" message="tns:moduleUpdate"/>
      <output wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/moduleUpdateResponse" message="tns:moduleUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/moduleUpdate/Fault/BGException"/>
    </operation>
    <operation name="moduleDelete">
      <input wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/moduleDeleteRequest" message="tns:moduleDelete"/>
      <output wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/moduleDeleteResponse" message="tns:moduleDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/moduleDelete/Fault/BGException"/>
    </operation>
    <operation name="moduleList">
      <input wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/moduleListRequest" message="tns:moduleList"/>
      <output wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/moduleListResponse" message="tns:moduleListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/moduleList/Fault/BGException"/>
    </operation>
    <operation name="installedModuleList">
      <input wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/installedModuleListRequest" message="tns:installedModuleList"/>
      <output wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/installedModuleListResponse" message="tns:installedModuleListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/installedModuleList/Fault/BGException"/>
    </operation>
    <operation name="contractModuleIds">
      <input wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/contractModuleIdsRequest" message="tns:contractModuleIds"/>
      <output wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/contractModuleIdsResponse" message="tns:contractModuleIdsResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/contractModuleIds/Fault/BGException"/>
    </operation>
    <operation name="installedClientModuleList">
      <input wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/installedClientModuleListRequest" message="tns:installedClientModuleList"/>
      <output wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/installedClientModuleListResponse" message="tns:installedClientModuleListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/installedClientModuleList/Fault/BGException"/>
    </operation>
    <operation name="installedClientModulePacketGet">
      <input wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/installedClientModulePacketGetRequest" message="tns:installedClientModulePacketGet"/>
      <output wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/installedClientModulePacketGetResponse" message="tns:installedClientModulePacketGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.module.kernel.bgbilling.bitel.ru/ModuleService/installedClientModulePacketGet/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="ModuleServiceBinding" type="tns:ModuleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="moduleAdd">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="moduleUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="moduleDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="moduleList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="installedModuleList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="contractModuleIds">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="installedClientModuleList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="installedClientModulePacketGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ModuleService">
    <port name="ModuleService" binding="tns:ModuleServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

