qiwi/src/main/wsdl/QiwiService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.qiwi.modules.bgbilling.bitel.ru/" name="QiwiService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.qiwi.modules.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="stringArray" final="#all">
        <xs:sequence>
          <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.qiwi.modules.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://jaxb.dev.java.net/array" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:import namespace="http://jaxb.dev.java.net/array"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="BGIllegalAccessException" type="tns:BGIllegalAccessException"/>

      <xs:element name="BGIllegalArgumentException" type="tns:BGIllegalArgumentException"/>

      <xs:element name="BGMessageException" type="tns:BGMessageException"/>

      <xs:element name="beginTransaction" type="tns:beginTransaction"/>

      <xs:element name="beginTransactionResponse" type="tns:beginTransactionResponse"/>

      <xs:element name="cancelTransaction" type="tns:cancelTransaction"/>

      <xs:element name="cancelTransactionResponse" type="tns:cancelTransactionResponse"/>

      <xs:element name="checkPayment" type="tns:checkPayment"/>

      <xs:element name="checkPaymentResponse" type="tns:checkPaymentResponse"/>

      <xs:element name="checkRefundStatus" type="tns:checkRefundStatus"/>

      <xs:element name="checkRefundStatusResponse" type="tns:checkRefundStatusResponse"/>

      <xs:element name="endTransaction" type="tns:endTransaction"/>

      <xs:element name="endTransactionResponse" type="tns:endTransactionResponse"/>

      <xs:element name="refundTransaction" type="tns:refundTransaction"/>

      <xs:element name="refundTransactionResponse" type="tns:refundTransactionResponse"/>

      <xs:element name="searchTransactionList" type="tns:searchTransactionList"/>

      <xs:element name="searchTransactionListResponse" type="tns:searchTransactionListResponse"/>

      <xs:complexType name="transaction">
        <xs:complexContent>
          <xs:extension base="tns:bgAbstractTransaction">
            <xs:sequence>
              <xs:element name="additionalKey" type="xs:string" minOccurs="0"/>
              <xs:element name="endDate" type="xs:string" minOccurs="0"/>
              <xs:element name="paymentDate" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="refundId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="bgAbstractTransaction">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="autopayment" type="xs:boolean"/>
              <xs:element name="contractComment" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="contractId" type="xs:int" use="required"/>
            <xs:attribute name="contractTitle" type="xs:string"/>
            <xs:attribute name="createDate" type="xs:dateTime"/>
            <xs:attribute name="paymentId" type="xs:int" use="required"/>
            <xs:attribute name="status" type="xs:string"/>
            <xs:attribute name="sum" type="xs:decimal"/>
            <xs:attribute name="transactionDate" type="xs:dateTime"/>
            <xs:attribute name="transactionId" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="endTransaction">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="amount" type="xs:decimal" minOccurs="0"/>
          <xs:element name="url" type="xs:string" minOccurs="0"/>
          <xs:element name="mode" type="xs:string" minOccurs="0"/>
          <xs:element name="params" type="ns1:mapHolder" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="map">
        <xs:sequence>
          <xs:element name="entry" type="tns:entry" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="entry" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="key" type="xs:anyType" minOccurs="0"/>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractMapEntry" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="sortedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="linkedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="list" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="mapEntry">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="collection" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="endTransactionResponse">
        <xs:sequence>
          <xs:element name="url" type="xs:string" minOccurs="0"/>
          <xs:element name="mode" type="xs:string" minOccurs="0"/>
          <xs:element name="params" type="ns1:mapHolder" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGMessageException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGIllegalArgumentException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGIllegalAccessException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="checkRefundStatus">
        <xs:sequence>
          <xs:element name="transactionId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="checkRefundStatusResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="searchTransactionList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="contractTitle" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="xs:string" minOccurs="0"/>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
          <xs:element name="page" type="ns1:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchTransactionListResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:searchResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="cancelTransaction">
        <xs:sequence>
          <xs:element name="transactionId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="cancelTransactionResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="beginTransaction">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="amount" type="xs:decimal" minOccurs="0"/>
          <xs:element name="url" type="xs:string" minOccurs="0"/>
          <xs:element name="mode" type="xs:string" minOccurs="0"/>
          <xs:element name="params" type="ns1:mapHolder" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="beginTransactionResponse">
        <xs:sequence>
          <xs:element name="url" type="xs:string" minOccurs="0"/>
          <xs:element name="mode" type="xs:string" minOccurs="0"/>
          <xs:element name="params" type="ns1:mapHolder" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="checkPayment">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="period" type="ns1:period" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="checkPaymentResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="refundTransaction">
        <xs:sequence>
          <xs:element name="transactionId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="refundTransactionResponse">
        <xs:sequence/>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:ns4="http://jaxb.dev.java.net/array" xmlns:ns3="http://service.common.qiwi.modules.bgbilling.bitel.ru/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:import namespace="http://service.common.qiwi.modules.bgbilling.bitel.ru/"/>

      <xsc:import namespace="http://jaxb.dev.java.net/array"/>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="mapHolder">
        <xsc:sequence>
          <xsc:element name="data" type="ns3:map" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>

      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="searchResult">
        <xsc:sequence>
          <xsc:element name="attributes" type="ns4:stringArray" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="list" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="page" type="tns:page" minOccurs="0"/>
          <xsc:element name="period" type="tns:period" minOccurs="0"/>
          <xsc:element name="sort" type="xsc:string" minOccurs="0" maxOccurs="unbounded"/>
          <xsc:element name="sum" type="xsc:decimal" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>
</xsc:schema>
  </types>
  <message name="checkPayment">
    <part name="parameters" element="tns:checkPayment"/>
  </message>
  <message name="checkPaymentResponse">
    <part name="parameters" element="tns:checkPaymentResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="searchTransactionList">
    <part name="parameters" element="tns:searchTransactionList"/>
  </message>
  <message name="searchTransactionListResponse">
    <part name="parameters" element="tns:searchTransactionListResponse"/>
  </message>
  <message name="cancelTransaction">
    <part name="parameters" element="tns:cancelTransaction"/>
  </message>
  <message name="cancelTransactionResponse">
    <part name="parameters" element="tns:cancelTransactionResponse"/>
  </message>
  <message name="refundTransaction">
    <part name="parameters" element="tns:refundTransaction"/>
  </message>
  <message name="refundTransactionResponse">
    <part name="parameters" element="tns:refundTransactionResponse"/>
  </message>
  <message name="checkRefundStatus">
    <part name="parameters" element="tns:checkRefundStatus"/>
  </message>
  <message name="checkRefundStatusResponse">
    <part name="parameters" element="tns:checkRefundStatusResponse"/>
  </message>
  <message name="beginTransaction">
    <part name="parameters" element="tns:beginTransaction"/>
  </message>
  <message name="beginTransactionResponse">
    <part name="parameters" element="tns:beginTransactionResponse"/>
  </message>
  <message name="BGMessageException">
    <part name="fault" element="tns:BGMessageException"/>
  </message>
  <message name="BGIllegalArgumentException">
    <part name="fault" element="tns:BGIllegalArgumentException"/>
  </message>
  <message name="BGIllegalAccessException">
    <part name="fault" element="tns:BGIllegalAccessException"/>
  </message>
  <message name="endTransaction">
    <part name="parameters" element="tns:endTransaction"/>
  </message>
  <message name="endTransactionResponse">
    <part name="parameters" element="tns:endTransactionResponse"/>
  </message>
  <portType name="QiwiService">
    <operation name="checkPayment">
      <input wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/checkPaymentRequest" message="tns:checkPayment"/>
      <output wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/checkPaymentResponse" message="tns:checkPaymentResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/checkPayment/Fault/BGException"/>
    </operation>
    <operation name="searchTransactionList">
      <input wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/searchTransactionListRequest" message="tns:searchTransactionList"/>
      <output wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/searchTransactionListResponse" message="tns:searchTransactionListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/searchTransactionList/Fault/BGException"/>
    </operation>
    <operation name="cancelTransaction">
      <input wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/cancelTransactionRequest" message="tns:cancelTransaction"/>
      <output wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/cancelTransactionResponse" message="tns:cancelTransactionResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/cancelTransaction/Fault/BGException"/>
    </operation>
    <operation name="refundTransaction">
      <input wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/refundTransactionRequest" message="tns:refundTransaction"/>
      <output wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/refundTransactionResponse" message="tns:refundTransactionResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/refundTransaction/Fault/BGException"/>
    </operation>
    <operation name="checkRefundStatus">
      <input wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/checkRefundStatusRequest" message="tns:checkRefundStatus"/>
      <output wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/checkRefundStatusResponse" message="tns:checkRefundStatusResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/checkRefundStatus/Fault/BGException"/>
    </operation>
    <operation name="beginTransaction">
      <input wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/beginTransactionRequest" message="tns:beginTransaction"/>
      <output wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/beginTransactionResponse" message="tns:beginTransactionResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/beginTransaction/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/beginTransaction/Fault/BGMessageException"/>
      <fault message="tns:BGIllegalArgumentException" name="BGIllegalArgumentException" wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/beginTransaction/Fault/BGIllegalArgumentException"/>
      <fault message="tns:BGIllegalAccessException" name="BGIllegalAccessException" wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/beginTransaction/Fault/BGIllegalAccessException"/>
    </operation>
    <operation name="endTransaction">
      <input wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/endTransactionRequest" message="tns:endTransaction"/>
      <output wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/endTransactionResponse" message="tns:endTransactionResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/endTransaction/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/endTransaction/Fault/BGMessageException"/>
      <fault message="tns:BGIllegalArgumentException" name="BGIllegalArgumentException" wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/endTransaction/Fault/BGIllegalArgumentException"/>
      <fault message="tns:BGIllegalAccessException" name="BGIllegalAccessException" wsam:Action="http://service.common.qiwi.modules.bgbilling.bitel.ru/QiwiService/endTransaction/Fault/BGIllegalAccessException"/>
    </operation>
  </portType>
  <binding name="QiwiServiceBinding" type="tns:QiwiService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="checkPayment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="searchTransactionList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="cancelTransaction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="refundTransaction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="checkRefundStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="beginTransaction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
      <fault name="BGIllegalArgumentException">
        <soap:fault name="BGIllegalArgumentException" use="literal"/>
      </fault>
      <fault name="BGIllegalAccessException">
        <soap:fault name="BGIllegalAccessException" use="literal"/>
      </fault>
    </operation>
    <operation name="endTransaction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
      <fault name="BGIllegalArgumentException">
        <soap:fault name="BGIllegalArgumentException" use="literal"/>
      </fault>
      <fault name="BGIllegalAccessException">
        <soap:fault name="BGIllegalAccessException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="QiwiService">
    <port name="QiwiService" binding="tns:QiwiServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

