soap/oss/src/main/wsdl/handmade-patched/PhoneResourceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.common.resource.inventory.systems.oss.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.common.resource.inventory.systems.oss.bitel.ru/" name="PhoneResourceService">
  <types>
    <xs:schema xmlns:tns="http://service.common.resource.inventory.systems.oss.bitel.ru/" xmlns:ns1="http://common.bitel.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.common.resource.inventory.systems.oss.bitel.ru/">
      <xs:element name="BGException" type="tns:BGException"/>
      <xs:element name="BGMessageException" type="tns:BGMessageException"/>
      <xs:element name="phoneCategoryDelete" type="tns:phoneCategoryDelete"/>
      <xs:element name="phoneCategoryDeleteResponse" type="tns:phoneCategoryDeleteResponse"/>
      <xs:element name="phoneCategoryRoot" type="tns:phoneCategoryRoot"/>
      <xs:element name="phoneCategoryRootResponse" type="tns:phoneCategoryRootResponse"/>
      <xs:element name="phoneCategoryUpdate" type="tns:phoneCategoryUpdate"/>
      <xs:element name="phoneCategoryUpdateResponse" type="tns:phoneCategoryUpdateResponse"/>
      <xs:element name="phoneFreeList" type="tns:phoneFreeList"/>
      <xs:element name="phoneFreeListResponse" type="tns:phoneFreeListResponse"/>
      <xs:element name="phoneResourceDelete" type="tns:phoneResourceDelete"/>
      <xs:element name="phoneResourceDeleteResponse" type="tns:phoneResourceDeleteResponse"/>
      <xs:element name="phoneResourceList" type="tns:phoneResourceList"/>
      <xs:element name="phoneResourceListResponse" type="tns:phoneResourceListResponse"/>
      <xs:element name="phoneResourceSubscribe" type="tns:phoneResourceSubscribe"/>
      <xs:element name="phoneResourceSubscribeResponse" type="tns:phoneResourceSubscribeResponse"/>
      <xs:element name="phoneResourceUnsubscribe" type="tns:phoneResourceUnsubscribe"/>
      <xs:element name="phoneResourceUnsubscribeResponse" type="tns:phoneResourceUnsubscribeResponse"/>
      <xs:element name="phoneResourceUpdate" type="tns:phoneResourceUpdate"/>
      <xs:element name="phoneResourceUpdateResponse" type="tns:phoneResourceUpdateResponse"/>
      <xs:element name="phoneSubscriptionList" type="tns:phoneSubscriptionList"/>
      <xs:element name="phoneSubscriptionListResponse" type="tns:phoneSubscriptionListResponse"/>
      <xs:complexType name="phoneResourceSubscription">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="phone" type="xs:long"/>
              <xs:element name="phoneResourseId" type="xs:int"/>
              <xs:element name="subscriberId" type="xs:int"/>
              <xs:element name="subscriberTitle" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="phoneResource">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="categoryId" type="xs:int"/>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="phoneFrom" type="xs:long"/>
              <xs:element name="phoneTo" type="xs:long"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="phoneResourceUpdate">
        <xs:sequence>
          <xs:element name="arg0" type="tns:phoneResource" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneResourceUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneCategoryUpdate">
        <xs:sequence>
          <xs:element name="arg0" type="tns:phoneCategory" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneCategory">
        <xs:complexContent>
          <xs:extension base="ns1:abstractTreeNode">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="phoneCategoryUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneResourceDelete">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneResourceDeleteResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="phoneFreeList">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int" minOccurs="0"/>
          <xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg2" type="xs:long" minOccurs="0"/>
          <xs:element name="arg3" type="xs:long" minOccurs="0"/>
          <xs:element name="arg4" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneFreeListResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneCategoryDelete">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneCategoryDeleteResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="BGMessageException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneResourceSubscribe">
        <xs:sequence>
          <xs:element name="arg0" type="xs:long"/>
          <xs:element name="arg1" type="xs:int"/>
          <xs:element name="arg2" type="xs:string" minOccurs="0"/>
          <xs:element name="arg3" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg4" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneResourceSubscribeResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneCategoryRoot">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="phoneCategoryRootResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:phoneCategory" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneSubscriptionList">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg3" type="ns1:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneSubscriptionListResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:result" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="list" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mapEntry">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractMapEntry" abstract="true">
        <xs:sequence/>
      </xs:complexType>

<!-- alexanderfefelov
      <xs:complexType name="map">
        <xs:sequence>
          <xs:element name="entry" type="tns:entry" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
-->

      <xs:complexType name="entry" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="key" type="xs:anyType" minOccurs="0"/>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

<!-- alexanderfefelov
      <xs:complexType name="sortedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="linkedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
-->

      <xs:complexType name="collection" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneResourceList">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneResourceListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:phoneResource" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneResourceUnsubscribe">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneResourceUnsubscribeResponse">
        <xs:sequence/>
      </xs:complexType>
    </xs:schema>
    <xsc:schema xmlns:tns="http://common.bitel.ru" xmlns:ns1="http://service.common.resource.inventory.systems.oss.bitel.ru/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:common="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru">
      <xsc:import namespace="http://service.common.resource.inventory.systems.oss.bitel.ru/"/>
      <xsc:element name="result" type="tns:result"/>
      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
      <xsc:complexType name="abstractTreeNode" abstract="true">
        <xsc:complexContent>
          <xsc:extension base="tns:idTitle">
            <xsc:sequence>
              <xsc:element name="children" minOccurs="0">
                <xsc:complexType>
                  <xsc:sequence>
                    <xsc:element name="child" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
                  </xsc:sequence>
                </xsc:complexType>
              </xsc:element>
            </xsc:sequence>
            <xsc:attribute name="parentId" type="xsc:int" use="required"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>
      <xsc:complexType name="result">
        <xsc:sequence>
          <xsc:element name="data" minOccurs="0">
            <xsc:complexType>
              <xsc:sequence>
                <xsc:element name="item" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
              </xsc:sequence>
            </xsc:complexType>
          </xsc:element>
          <xsc:element name="page" type="tns:page" minOccurs="0"/>
          <xsc:element name="attributes" type="ns1:list" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>
    </xsc:schema>
  </types>
  <message name="phoneFreeList">
    <part name="parameters" element="tns:phoneFreeList">
    </part>
  </message>
  <message name="phoneFreeListResponse">
    <part name="parameters" element="tns:phoneFreeListResponse">
    </part>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException">
    </part>
  </message>
  <message name="phoneCategoryRoot">
    <part name="parameters" element="tns:phoneCategoryRoot">
    </part>
  </message>
  <message name="phoneCategoryRootResponse">
    <part name="parameters" element="tns:phoneCategoryRootResponse">
    </part>
  </message>
  <message name="phoneCategoryUpdate">
    <part name="parameters" element="tns:phoneCategoryUpdate">
    </part>
  </message>
  <message name="phoneCategoryUpdateResponse">
    <part name="parameters" element="tns:phoneCategoryUpdateResponse">
    </part>
  </message>
  <message name="phoneCategoryDelete">
    <part name="parameters" element="tns:phoneCategoryDelete">
    </part>
  </message>
  <message name="phoneCategoryDeleteResponse">
    <part name="parameters" element="tns:phoneCategoryDeleteResponse">
    </part>
  </message>
  <message name="BGMessageException">
    <part name="fault" element="tns:BGMessageException">
    </part>
  </message>
  <message name="phoneResourceList">
    <part name="parameters" element="tns:phoneResourceList">
    </part>
  </message>
  <message name="phoneResourceListResponse">
    <part name="parameters" element="tns:phoneResourceListResponse">
    </part>
  </message>
  <message name="phoneResourceDelete">
    <part name="parameters" element="tns:phoneResourceDelete">
    </part>
  </message>
  <message name="phoneResourceDeleteResponse">
    <part name="parameters" element="tns:phoneResourceDeleteResponse">
    </part>
  </message>
  <message name="phoneResourceUpdate">
    <part name="parameters" element="tns:phoneResourceUpdate">
    </part>
  </message>
  <message name="phoneResourceUpdateResponse">
    <part name="parameters" element="tns:phoneResourceUpdateResponse">
    </part>
  </message>
  <message name="phoneSubscriptionList">
    <part name="parameters" element="tns:phoneSubscriptionList">
    </part>
  </message>
  <message name="phoneSubscriptionListResponse">
    <part name="parameters" element="tns:phoneSubscriptionListResponse">
    </part>
  </message>
  <message name="phoneResourceSubscribe">
    <part name="parameters" element="tns:phoneResourceSubscribe">
    </part>
  </message>
  <message name="phoneResourceSubscribeResponse">
    <part name="parameters" element="tns:phoneResourceSubscribeResponse">
    </part>
  </message>
  <message name="phoneResourceUnsubscribe">
    <part name="parameters" element="tns:phoneResourceUnsubscribe">
    </part>
  </message>
  <message name="phoneResourceUnsubscribeResponse">
    <part name="parameters" element="tns:phoneResourceUnsubscribeResponse">
    </part>
  </message>
  <portType name="PhoneResourceService">
    <operation name="phoneFreeList">
      <input wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneFreeListRequest" message="tns:phoneFreeList">
      </input>
      <output wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneFreeListResponse" message="tns:phoneFreeListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneFreeList/Fault/BGException">
      </fault>
    </operation>
    <operation name="phoneCategoryRoot">
      <input wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneCategoryRootRequest" message="tns:phoneCategoryRoot">
      </input>
      <output wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneCategoryRootResponse" message="tns:phoneCategoryRootResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneCategoryRoot/Fault/BGException">
      </fault>
    </operation>
    <operation name="phoneCategoryUpdate">
      <input wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneCategoryUpdateRequest" message="tns:phoneCategoryUpdate">
      </input>
      <output wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneCategoryUpdateResponse" message="tns:phoneCategoryUpdateResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneCategoryUpdate/Fault/BGException">
      </fault>
    </operation>
    <operation name="phoneCategoryDelete">
      <input wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneCategoryDeleteRequest" message="tns:phoneCategoryDelete">
      </input>
      <output wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneCategoryDeleteResponse" message="tns:phoneCategoryDeleteResponse">
      </output>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneCategoryDelete/Fault/BGMessageException">
      </fault>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneCategoryDelete/Fault/BGException">
      </fault>
    </operation>
    <operation name="phoneResourceList">
      <input wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneResourceListRequest" message="tns:phoneResourceList">
      </input>
      <output wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneResourceListResponse" message="tns:phoneResourceListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneResourceList/Fault/BGException">
      </fault>
    </operation>
    <operation name="phoneResourceDelete">
      <input wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneResourceDeleteRequest" message="tns:phoneResourceDelete">
      </input>
      <output wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneResourceDeleteResponse" message="tns:phoneResourceDeleteResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneResourceDelete/Fault/BGException">
      </fault>
    </operation>
    <operation name="phoneResourceUpdate">
      <input wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneResourceUpdateRequest" message="tns:phoneResourceUpdate">
      </input>
      <output wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneResourceUpdateResponse" message="tns:phoneResourceUpdateResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneResourceUpdate/Fault/BGException">
      </fault>
    </operation>
    <operation name="phoneSubscriptionList">
      <input wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneSubscriptionListRequest" message="tns:phoneSubscriptionList">
      </input>
      <output wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneSubscriptionListResponse" message="tns:phoneSubscriptionListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneSubscriptionList/Fault/BGException">
      </fault>
    </operation>
    <operation name="phoneResourceSubscribe">
      <input wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneResourceSubscribeRequest" message="tns:phoneResourceSubscribe">
      </input>
      <output wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneResourceSubscribeResponse" message="tns:phoneResourceSubscribeResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneResourceSubscribe/Fault/BGException">
      </fault>
    </operation>
    <operation name="phoneResourceUnsubscribe">
      <input wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneResourceUnsubscribeRequest" message="tns:phoneResourceUnsubscribe">
      </input>
      <output wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneResourceUnsubscribeResponse" message="tns:phoneResourceUnsubscribeResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.resource.inventory.systems.oss.bitel.ru/PhoneResourceService/phoneResourceUnsubscribe/Fault/BGException">
      </fault>
    </operation>
  </portType>
  <binding name="PhoneResourceServiceBinding" type="tns:PhoneResourceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document">
    </soap:binding>
    <operation name="phoneFreeList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="phoneCategoryRoot">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="phoneCategoryUpdate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="phoneCategoryDelete">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal">
        </soap:fault>
      </fault>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="phoneResourceList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="phoneResourceDelete">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="phoneResourceUpdate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="phoneSubscriptionList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="phoneResourceSubscribe">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="phoneResourceUnsubscribe">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
  </binding>
  <service name="PhoneResourceService">
    <port name="PhoneResourceService" binding="tns:PhoneResourceServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL">
      </soap:address>
    </port>
  </service>
</definitions>
