soap/oss/src/main/wsdl/handmade-patched/ProductService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.common.product.inventory.systems.oss.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.common.product.inventory.systems.oss.bitel.ru/" name="ProductService">
  <types>
    <xs:schema xmlns:tns="http://service.common.product.inventory.systems.oss.bitel.ru/" xmlns:ns1="http://common.bitel.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.common.product.inventory.systems.oss.bitel.ru/">
      <xs:element name="BGException" type="tns:BGException"/>
      <xs:element name="productDelete" type="tns:productDelete"/>
      <xs:element name="productDeleteResponse" type="tns:productDeleteResponse"/>
      <xs:element name="productGet" type="tns:productGet"/>
      <xs:element name="productGetResponse" type="tns:productGetResponse"/>
      <xs:element name="productList" type="tns:productList"/>
      <xs:element name="productListOld" type="tns:productListOld"/>
      <xs:element name="productListOldResponse" type="tns:productListOldResponse"/>
      <xs:element name="productListResponse" type="tns:productListResponse"/>
      <xs:element name="productPeriodDelete" type="tns:productPeriodDelete"/>
      <xs:element name="productPeriodDeleteResponse" type="tns:productPeriodDeleteResponse"/>
      <xs:element name="productPeriodList" type="tns:productPeriodList"/>
      <xs:element name="productPeriodListResponse" type="tns:productPeriodListResponse"/>
      <xs:element name="productPeriodUpdate" type="tns:productPeriodUpdate"/>
      <xs:element name="productPeriodUpdateResponse" type="tns:productPeriodUpdateResponse"/>
      <xs:element name="productSpecActivationModeList" type="tns:productSpecActivationModeList"/>
      <xs:element name="productSpecActivationModeListResponse" type="tns:productSpecActivationModeListResponse"/>
      <xs:element name="productSpecDelete" type="tns:productSpecDelete"/>
      <xs:element name="productSpecDeleteResponse" type="tns:productSpecDeleteResponse"/>
      <xs:element name="productSpecGet" type="tns:productSpecGet"/>
      <xs:element name="productSpecGetByIdentifier" type="tns:productSpecGetByIdentifier"/>
      <xs:element name="productSpecGetByIdentifierResponse" type="tns:productSpecGetByIdentifierResponse"/>
      <xs:element name="productSpecGetResponse" type="tns:productSpecGetResponse"/>
      <xs:element name="productSpecList" type="tns:productSpecList"/>
      <xs:element name="productSpecListResponse" type="tns:productSpecListResponse"/>
      <xs:element name="productSpecMove" type="tns:productSpecMove"/>
      <xs:element name="productSpecMoveResponse" type="tns:productSpecMoveResponse"/>
      <xs:element name="productSpecTree" type="tns:productSpecTree"/>
      <xs:element name="productSpecTreeResponse" type="tns:productSpecTreeResponse"/>
      <xs:element name="productSpecUpdate" type="tns:productSpecUpdate"/>
      <xs:element name="productSpecUpdateResponse" type="tns:productSpecUpdateResponse"/>
      <xs:element name="productUpdate" type="tns:productUpdate"/>
      <xs:element name="productUpdateResponse" type="tns:productUpdateResponse"/>
      <xs:element name="serviceLinkList" type="tns:serviceLinkList"/>
      <xs:element name="serviceLinkListResponse" type="tns:serviceLinkListResponse"/>
      <xs:element name="serviceLinkUpdate" type="tns:serviceLinkUpdate"/>
      <xs:element name="serviceLinkUpdateResponse" type="tns:serviceLinkUpdateResponse"/>
      <xs:complexType name="productSpecActivationModeList">
        <xs:sequence>
          <xs:element name="productSpecId" type="xs:int"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productSpecActivationModeListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:productSpecActivationMode" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productSpecActivationMode">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence/>
            <xs:attribute name="dateFrom" type="xs:dateTime"/>
            <xs:attribute name="dateTo" type="xs:dateTime"/>
            <xs:attribute name="deactivationMode" type="xs:int" use="required"/>
            <xs:attribute name="periodAmount" type="xs:int" use="required"/>
            <xs:attribute name="periodMode" type="xs:int" use="required"/>
            <xs:attribute name="productSpecId" type="xs:int" use="required"/>
            <xs:attribute name="reactivationMode" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productUpdate">
        <xs:sequence>
          <xs:element name="product" type="tns:product" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="product">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="serviceList" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="service" type="tns:service" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="accountId" type="xs:int" use="required"/>
            <xs:attribute name="activationModeId" type="xs:int" use="required"/>
            <xs:attribute name="activationPrice" type="xs:decimal"/>
            <xs:attribute name="activationTime" type="xs:string"/>
            <xs:attribute name="contractId" type="xs:int" use="required"/>
            <xs:attribute name="deactivationTime" type="xs:string"/>
            <xs:attribute name="description" type="xs:string"/>
            <xs:attribute name="devProductId" type="xs:string"/>
            <xs:attribute name="devState" type="xs:short" use="required"/>
            <xs:attribute name="productSpecId" type="xs:int" use="required"/>
            <xs:attribute name="productSpecTitle" type="xs:string"/>
            <xs:attribute name="subscriptionTimeFrom" type="xs:string"/>
            <xs:attribute name="subscriptionTimeTo" type="xs:string"/>
            <xs:attribute name="timeFrom" type="xs:string"/>
            <xs:attribute name="timeTo" type="xs:string"/>
            <xs:attribute name="userId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="service">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence/>
            <xs:attribute name="accountId" type="xs:int" use="required"/>
            <xs:attribute name="contractId" type="xs:int" use="required"/>
            <xs:attribute name="deviceState" type="xs:short" use="required"/>
            <xs:attribute name="productId" type="xs:int" use="required"/>
            <xs:attribute name="serviceSpecId" type="xs:int" use="required"/>
            <xs:attribute name="serviceSpecTitle" type="xs:string"/>
            <xs:attribute name="timeFrom" type="xs:dateTime"/>
            <xs:attribute name="timeTo" type="xs:dateTime"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="productUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productSpecGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productSpecGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:productSpec" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productSpec">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element name="activationModeList" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="productSpecActivationMode" type="tns:productSpecActivationMode" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="children" type="tns:productSpec" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="activationByCustomer" type="xs:boolean" use="required"/>
            <xs:attribute name="contractGroups" type="xs:long" use="required"/>
            <xs:attribute name="dateFrom" type="xs:dateTime"/>
            <xs:attribute name="dateTo" type="xs:dateTime"/>
            <xs:attribute name="deactivationByCustomer" type="xs:boolean" use="required"/>
            <xs:attribute name="depends">
              <xs:simpleType>
                <xs:list itemType="xs:int"/>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="hideForContractGroups" type="xs:long" use="required"/>
            <xs:attribute name="hideForContractGroupsMode" type="xs:int" use="required"/>
            <xs:attribute name="hideForCustomer" type="xs:boolean" use="required"/>
            <xs:attribute name="identifier" type="xs:string"/>
            <xs:attribute name="incompatible">
              <xs:simpleType>
                <xs:list itemType="xs:int"/>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="moduleId" type="xs:int" use="required"/>
            <xs:attribute name="notRealtime" type="xs:boolean" use="required"/>
            <xs:attribute name="parentId" type="xs:int" use="required"/>
            <xs:attribute name="periodic" type="xs:boolean" use="required"/>
            <xs:attribute name="priority" type="xs:int" use="required"/>
            <xs:attribute name="tariffIds">
              <xs:simpleType>
                <xs:list itemType="xs:int"/>
              </xs:simpleType>
            </xs:attribute>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="entity" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractEntity">
            <xs:sequence/>
            <xs:attribute name="entityId" type="xs:int" use="required"/>
            <xs:attribute name="entityTitle" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractEntity" abstract="true">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="entityAttributes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="key" minOccurs="0" type="xs:int"/>
                          <xs:element name="value" minOccurs="0" type="tns:entityAttr"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="entitySpecId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="entityAttr" abstract="true">
        <xs:sequence>
          <xs:element name="entityId" type="xs:int"/>
          <xs:element name="entitySpecAttrId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="entityAttrText">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="entityAttrInt">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="entityAttrList">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="entityAttrDate">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:dateTime"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="entityAttrAddress">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence>
              <xs:element name="formatKey" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="comment" type="xs:string"/>
            <xs:attribute name="flat" type="xs:string"/>
            <xs:attribute name="floor" type="xs:int" use="required"/>
            <xs:attribute name="houseId" type="xs:int" use="required"/>
            <xs:attribute name="pod" type="xs:int" use="required"/>
            <xs:attribute name="room" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="entityAttrEmail">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="entityAttrContract">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="entityAttrBoolean">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:boolean" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="serviceLinkUpdate">
        <xs:sequence>
          <xs:element name="productSpecId" type="xs:int"/>
          <xs:element name="linkList" type="tns:productSpecServiceLink" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productSpecServiceLink">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="dateFrom" type="xs:dateTime"/>
            <xs:attribute name="dateTo" type="xs:dateTime"/>
            <xs:attribute name="productSpecId" type="xs:int" use="required"/>
            <xs:attribute name="serviceSpecId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="serviceLinkUpdateResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="productPeriodDelete">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="productPeriodId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productPeriodDeleteResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="productSpecMove">
        <xs:sequence>
          <xs:element name="parentId" type="xs:int"/>
          <xs:element name="ids" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productSpecMoveResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="serviceLinkList">
        <xs:sequence>
          <xs:element name="productSpecId" type="xs:int"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceLinkListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:productSpecServiceLink" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productPeriodList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="productId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productPeriodListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:productPeriod" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productPeriod">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence/>
            <xs:attribute name="accountId" type="xs:int" use="required"/>
            <xs:attribute name="activationTime" type="xs:string"/>
            <xs:attribute name="contractId" type="xs:int" use="required"/>
            <xs:attribute name="flags" type="xs:int" use="required"/>
            <xs:attribute name="productId" type="xs:int" use="required"/>
            <xs:attribute name="productSpecId" type="xs:int" use="required"/>
            <xs:attribute name="prolongationTime" type="xs:string"/>
            <xs:attribute name="timeFrom" type="xs:string"/>
            <xs:attribute name="timeTo" type="xs:string"/>
            <xs:attribute name="version" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="productSpecUpdate">
        <xs:sequence>
          <xs:element name="productSpec" type="tns:productSpec" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productSpecUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productPeriodUpdate">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="productPeriod" type="tns:productPeriod" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productPeriodUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productListOld">
        <xs:sequence>
          <xs:element name="moduleId" type="xs:int"/>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="accountId" type="xs:int"/>
          <xs:element name="kernel" type="xs:boolean"/>
          <xs:element name="timeFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="timeTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="intersectTimeFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="intersectTimeTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="nonActive" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productListOldResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productList">
        <xs:sequence>
          <xs:element name="moduleId" type="xs:int"/>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="accountId" type="xs:int"/>
          <xs:element name="kernel" type="xs:boolean"/>
          <xs:element name="timeFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="timeTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="intersectTimeFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="intersectTimeTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="nonActive" type="xs:boolean"/>
          <xs:element name="needProductPeriods" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productSpecTree">
        <xs:sequence>
          <xs:element name="moduleId" type="xs:int" minOccurs="0"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
          <xs:element name="entityFilter" type="tns:filterEntityAttr" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="filterEntityAttr" abstract="true">
        <xs:sequence/>
        <xs:attribute name="entitySpecAttrIds">
          <xs:simpleType>
            <xs:list itemType="xs:int"/>
          </xs:simpleType>
        </xs:attribute>
      </xs:complexType>
      <xs:complexType name="filterEntityAttrAddress">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="cityId" type="xs:int" use="required"/>
            <xs:attribute name="flat" type="xs:string"/>
            <xs:attribute name="frac" type="xs:string"/>
            <xs:attribute name="house" type="xs:string"/>
            <xs:attribute name="pod" type="xs:int" use="required"/>
            <xs:attribute name="room" type="xs:string"/>
            <xs:attribute name="streetId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="filterEntityAttrDate">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="periodFrom" type="xs:dateTime"/>
            <xs:attribute name="periodTo" type="xs:dateTime"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="filterEntityAttrHouse">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="filterEntityAttrInt">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="filterEntityAttrList">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="filterEntityAttrMultiList">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttrList">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="filterEntityAttrText">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="filterEntityAttrEmail">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="filterEntityAttrContract">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="filterEntityAttrBoolean">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:boolean" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="productSpecTreeResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:productSpec" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productDelete">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="productId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productDeleteResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="productGet">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="productId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:product" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productSpecGetByIdentifier">
        <xs:sequence>
          <xs:element name="identifier" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productSpecGetByIdentifierResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:productSpec" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productSpecDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productSpecDeleteResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="productSpecList">
        <xs:sequence>
          <xs:element name="moduleId" type="xs:int" minOccurs="0"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
          <xs:element name="entityFilter" type="tns:filterEntityAttr" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productSpecListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:productSpec" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xsc:schema xmlns:tns="http://common.bitel.ru" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:common="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru">
      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
    </xsc:schema>
  </types>
  <message name="productSpecGetByIdentifier">
    <part name="parameters" element="tns:productSpecGetByIdentifier">
    </part>
  </message>
  <message name="productSpecGetByIdentifierResponse">
    <part name="parameters" element="tns:productSpecGetByIdentifierResponse">
    </part>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException">
    </part>
  </message>
  <message name="productSpecTree">
    <part name="parameters" element="tns:productSpecTree">
    </part>
  </message>
  <message name="productSpecTreeResponse">
    <part name="parameters" element="tns:productSpecTreeResponse">
    </part>
  </message>
  <message name="productSpecUpdate">
    <part name="parameters" element="tns:productSpecUpdate">
    </part>
  </message>
  <message name="productSpecUpdateResponse">
    <part name="parameters" element="tns:productSpecUpdateResponse">
    </part>
  </message>
  <message name="productSpecDelete">
    <part name="parameters" element="tns:productSpecDelete">
    </part>
  </message>
  <message name="productSpecDeleteResponse">
    <part name="parameters" element="tns:productSpecDeleteResponse">
    </part>
  </message>
  <message name="productSpecActivationModeList">
    <part name="parameters" element="tns:productSpecActivationModeList">
    </part>
  </message>
  <message name="productSpecActivationModeListResponse">
    <part name="parameters" element="tns:productSpecActivationModeListResponse">
    </part>
  </message>
  <message name="productSpecMove">
    <part name="parameters" element="tns:productSpecMove">
    </part>
  </message>
  <message name="productSpecMoveResponse">
    <part name="parameters" element="tns:productSpecMoveResponse">
    </part>
  </message>
  <message name="serviceLinkList">
    <part name="parameters" element="tns:serviceLinkList">
    </part>
  </message>
  <message name="serviceLinkListResponse">
    <part name="parameters" element="tns:serviceLinkListResponse">
    </part>
  </message>
  <message name="serviceLinkUpdate">
    <part name="parameters" element="tns:serviceLinkUpdate">
    </part>
  </message>
  <message name="serviceLinkUpdateResponse">
    <part name="parameters" element="tns:serviceLinkUpdateResponse">
    </part>
  </message>
  <message name="productDelete">
    <part name="parameters" element="tns:productDelete">
    </part>
  </message>
  <message name="productDeleteResponse">
    <part name="parameters" element="tns:productDeleteResponse">
    </part>
  </message>
  <message name="productPeriodUpdate">
    <part name="parameters" element="tns:productPeriodUpdate">
    </part>
  </message>
  <message name="productPeriodUpdateResponse">
    <part name="parameters" element="tns:productPeriodUpdateResponse">
    </part>
  </message>
  <message name="productPeriodDelete">
    <part name="parameters" element="tns:productPeriodDelete">
    </part>
  </message>
  <message name="productPeriodDeleteResponse">
    <part name="parameters" element="tns:productPeriodDeleteResponse">
    </part>
  </message>
  <message name="productPeriodList">
    <part name="parameters" element="tns:productPeriodList">
    </part>
  </message>
  <message name="productPeriodListResponse">
    <part name="parameters" element="tns:productPeriodListResponse">
    </part>
  </message>
  <message name="productSpecList">
    <part name="parameters" element="tns:productSpecList">
    </part>
  </message>
  <message name="productSpecListResponse">
    <part name="parameters" element="tns:productSpecListResponse">
    </part>
  </message>
  <message name="productListOld">
    <part name="parameters" element="tns:productListOld">
    </part>
  </message>
  <message name="productListOldResponse">
    <part name="parameters" element="tns:productListOldResponse">
    </part>
  </message>
  <message name="productList">
    <part name="parameters" element="tns:productList">
    </part>
  </message>
  <message name="productListResponse">
    <part name="parameters" element="tns:productListResponse">
    </part>
  </message>
  <message name="productSpecGet">
    <part name="parameters" element="tns:productSpecGet">
    </part>
  </message>
  <message name="productSpecGetResponse">
    <part name="parameters" element="tns:productSpecGetResponse">
    </part>
  </message>
  <message name="productUpdate">
    <part name="parameters" element="tns:productUpdate">
    </part>
  </message>
  <message name="productUpdateResponse">
    <part name="parameters" element="tns:productUpdateResponse">
    </part>
  </message>
  <message name="productGet">
    <part name="parameters" element="tns:productGet">
    </part>
  </message>
  <message name="productGetResponse">
    <part name="parameters" element="tns:productGetResponse">
    </part>
  </message>
  <portType name="ProductService">
    <operation name="productSpecGetByIdentifier">
      <input wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecGetByIdentifierRequest" message="tns:productSpecGetByIdentifier">
      </input>
      <output wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecGetByIdentifierResponse" message="tns:productSpecGetByIdentifierResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecGetByIdentifier/Fault/BGException">
      </fault>
    </operation>
    <operation name="productSpecTree">
      <input wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecTreeRequest" message="tns:productSpecTree">
      </input>
      <output wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecTreeResponse" message="tns:productSpecTreeResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecTree/Fault/BGException">
      </fault>
    </operation>
    <operation name="productSpecUpdate">
      <input wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecUpdateRequest" message="tns:productSpecUpdate">
      </input>
      <output wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecUpdateResponse" message="tns:productSpecUpdateResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecUpdate/Fault/BGException">
      </fault>
    </operation>
    <operation name="productSpecDelete">
      <input wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecDeleteRequest" message="tns:productSpecDelete">
      </input>
      <output wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecDeleteResponse" message="tns:productSpecDeleteResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecDelete/Fault/BGException">
      </fault>
    </operation>
    <operation name="productSpecActivationModeList">
      <input wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecActivationModeListRequest" message="tns:productSpecActivationModeList">
      </input>
      <output wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecActivationModeListResponse" message="tns:productSpecActivationModeListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecActivationModeList/Fault/BGException">
      </fault>
    </operation>
    <operation name="productSpecMove">
      <input wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecMoveRequest" message="tns:productSpecMove">
      </input>
      <output wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecMoveResponse" message="tns:productSpecMoveResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecMove/Fault/BGException">
      </fault>
    </operation>
    <operation name="serviceLinkList">
      <input wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/serviceLinkListRequest" message="tns:serviceLinkList">
      </input>
      <output wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/serviceLinkListResponse" message="tns:serviceLinkListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/serviceLinkList/Fault/BGException">
      </fault>
    </operation>
    <operation name="serviceLinkUpdate">
      <input wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/serviceLinkUpdateRequest" message="tns:serviceLinkUpdate">
      </input>
      <output wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/serviceLinkUpdateResponse" message="tns:serviceLinkUpdateResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/serviceLinkUpdate/Fault/BGException">
      </fault>
    </operation>
    <operation name="productDelete">
      <input wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productDeleteRequest" message="tns:productDelete">
      </input>
      <output wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productDeleteResponse" message="tns:productDeleteResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productDelete/Fault/BGException">
      </fault>
    </operation>
    <operation name="productPeriodUpdate">
      <input wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productPeriodUpdateRequest" message="tns:productPeriodUpdate">
      </input>
      <output wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productPeriodUpdateResponse" message="tns:productPeriodUpdateResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productPeriodUpdate/Fault/BGException">
      </fault>
    </operation>
    <operation name="productPeriodDelete">
      <input wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productPeriodDeleteRequest" message="tns:productPeriodDelete">
      </input>
      <output wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productPeriodDeleteResponse" message="tns:productPeriodDeleteResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productPeriodDelete/Fault/BGException">
      </fault>
    </operation>
    <operation name="productPeriodList">
      <input wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productPeriodListRequest" message="tns:productPeriodList">
      </input>
      <output wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productPeriodListResponse" message="tns:productPeriodListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productPeriodList/Fault/BGException">
      </fault>
    </operation>
    <operation name="productSpecList">
      <input wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecListRequest" message="tns:productSpecList">
      </input>
      <output wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecListResponse" message="tns:productSpecListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecList/Fault/BGException">
      </fault>
    </operation>
    <operation name="productListOld">
      <input wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productListOldRequest" message="tns:productListOld">
      </input>
      <output wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productListOldResponse" message="tns:productListOldResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productListOld/Fault/BGException">
      </fault>
    </operation>
    <operation name="productList">
      <input wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productListRequest" message="tns:productList">
      </input>
      <output wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productListResponse" message="tns:productListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productList/Fault/BGException">
      </fault>
    </operation>
    <operation name="productSpecGet">
      <input wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecGetRequest" message="tns:productSpecGet">
      </input>
      <output wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecGetResponse" message="tns:productSpecGetResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productSpecGet/Fault/BGException">
      </fault>
    </operation>
    <operation name="productUpdate">
      <input wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productUpdateRequest" message="tns:productUpdate">
      </input>
      <output wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productUpdateResponse" message="tns:productUpdateResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productUpdate/Fault/BGException">
      </fault>
    </operation>
    <operation name="productGet">
      <input wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productGetRequest" message="tns:productGet">
      </input>
      <output wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productGetResponse" message="tns:productGetResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.product.inventory.systems.oss.bitel.ru/ProductService/productGet/Fault/BGException">
      </fault>
    </operation>
  </portType>
  <binding name="ProductServiceBinding" type="tns:ProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document">
    </soap:binding>
    <operation name="productSpecGetByIdentifier">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="productSpecTree">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="productSpecUpdate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="productSpecDelete">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="productSpecActivationModeList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="productSpecMove">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="serviceLinkList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="serviceLinkUpdate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="productDelete">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="productPeriodUpdate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="productPeriodDelete">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="productPeriodList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="productSpecList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="productListOld">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="productList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="productSpecGet">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="productUpdate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="productGet">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
  </binding>
  <service name="ProductService">
    <port name="ProductService" binding="tns:ProductServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL">
      </soap:address>
    </port>
  </service>
</definitions>
