soap/oss/src/main/wsdl/handmade-patched/ResourceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://common.resource.inventory.systems.oss.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://common.resource.inventory.systems.oss.bitel.ru/" name="ResourceService">
  <types>
    <xs:schema xmlns:tns="http://common.resource.inventory.systems.oss.bitel.ru/" xmlns:ns1="http://common.bitel.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://common.resource.inventory.systems.oss.bitel.ru/">
      <xs:element name="BGException" type="tns:BGException"/>
      <xs:element name="freeIpResourceNetList" type="tns:freeIpResourceNetList"/>
      <xs:element name="freeIpResourceNetListResponse" type="tns:freeIpResourceNetListResponse"/>
      <xs:element name="freeIpResourceRangeList" type="tns:freeIpResourceRangeList"/>
      <xs:element name="freeIpResourceRangeListOld" type="tns:freeIpResourceRangeListOld"/>
      <xs:element name="freeIpResourceRangeListOldResponse" type="tns:freeIpResourceRangeListOldResponse"/>
      <xs:element name="freeIpResourceRangeListResponse" type="tns:freeIpResourceRangeListResponse"/>
      <xs:element name="freeVlan" type="tns:freeVlan"/>
      <xs:element name="freeVlanResponse" type="tns:freeVlanResponse"/>
      <xs:element name="ipCategoryDelete" type="tns:ipCategoryDelete"/>
      <xs:element name="ipCategoryDeleteResponse" type="tns:ipCategoryDeleteResponse"/>
      <xs:element name="ipCategoryList" type="tns:ipCategoryList"/>
      <xs:element name="ipCategoryListResponse" type="tns:ipCategoryListResponse"/>
      <xs:element name="ipCategoryRoot" type="tns:ipCategoryRoot"/>
      <xs:element name="ipCategoryRootResponse" type="tns:ipCategoryRootResponse"/>
      <xs:element name="ipCategoryUpdate" type="tns:ipCategoryUpdate"/>
      <xs:element name="ipCategoryUpdateResponse" type="tns:ipCategoryUpdateResponse"/>
      <xs:element name="ipResourceDelete" type="tns:ipResourceDelete"/>
      <xs:element name="ipResourceDeleteResponse" type="tns:ipResourceDeleteResponse"/>

<!-- alexanderfefelov: scalaxb 1.5.2 won't compile

[error] xmlprotocol.scala:7767: type mismatch
...
[error] xmlprotocol.scala:7770: value toSeq is not a member of Any

      <xs:element name="ipResourceList" type="tns:ipResourceList"/>
-->

      <xs:element name="ipResourceListResponse" type="tns:ipResourceListResponse"/>
      <xs:element name="ipResourceSubscribe" type="tns:ipResourceSubscribe"/>
      <xs:element name="ipResourceSubscribeResponse" type="tns:ipResourceSubscribeResponse"/>
      <xs:element name="ipResourceUnsubscribe" type="tns:ipResourceUnsubscribe"/>
      <xs:element name="ipResourceUnsubscribeResponse" type="tns:ipResourceUnsubscribeResponse"/>
      <xs:element name="ipResourceUpdate" type="tns:ipResourceUpdate"/>
      <xs:element name="ipResourceUpdateResponse" type="tns:ipResourceUpdateResponse"/>
      <xs:element name="ipSubscriptionList" type="tns:ipSubscriptionList"/>
      <xs:element name="ipSubscriptionListResponse" type="tns:ipSubscriptionListResponse"/>
      <xs:element name="nextFreeVlan" type="tns:nextFreeVlan"/>
      <xs:element name="nextFreeVlanResponse" type="tns:nextFreeVlanResponse"/>
      <xs:element name="vlanCategoryDelete" type="tns:vlanCategoryDelete"/>
      <xs:element name="vlanCategoryDeleteResponse" type="tns:vlanCategoryDeleteResponse"/>
      <xs:element name="vlanCategoryRoot" type="tns:vlanCategoryRoot"/>
      <xs:element name="vlanCategoryRootResponse" type="tns:vlanCategoryRootResponse"/>
      <xs:element name="vlanCategoryUpdate" type="tns:vlanCategoryUpdate"/>
      <xs:element name="vlanCategoryUpdateResponse" type="tns:vlanCategoryUpdateResponse"/>
      <xs:element name="vlanResourceDelete" type="tns:vlanResourceDelete"/>
      <xs:element name="vlanResourceDeleteResponse" type="tns:vlanResourceDeleteResponse"/>
      <xs:element name="vlanResourceGet" type="tns:vlanResourceGet"/>
      <xs:element name="vlanResourceGetResponse" type="tns:vlanResourceGetResponse"/>
      <xs:element name="vlanResourceList" type="tns:vlanResourceList"/>
      <xs:element name="vlanResourceListResponse" type="tns:vlanResourceListResponse"/>
      <xs:element name="vlanResourceSubscribe" type="tns:vlanResourceSubscribe"/>
      <xs:element name="vlanResourceSubscribeResponse" type="tns:vlanResourceSubscribeResponse"/>
      <xs:element name="vlanResourceUnsubscribe" type="tns:vlanResourceUnsubscribe"/>
      <xs:element name="vlanResourceUnsubscribeResponse" type="tns:vlanResourceUnsubscribeResponse"/>
      <xs:element name="vlanResourceUpdate" type="tns:vlanResourceUpdate"/>
      <xs:element name="vlanResourceUpdateResponse" type="tns:vlanResourceUpdateResponse"/>
      <xs:element name="vlanSubscriptionList" type="tns:vlanSubscriptionList"/>
      <xs:element name="vlanSubscriptionList1" type="tns:vlanSubscriptionList1"/>
      <xs:element name="vlanSubscriptionList1Response" type="tns:vlanSubscriptionList1Response"/>
      <xs:element name="vlanSubscriptionListResponse" type="tns:vlanSubscriptionListResponse"/>
      <xs:complexType name="ipResourceSubscription">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="subscriberTitle" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="addrFrom" type="xs:base64Binary"/>
            <xs:attribute name="addrTo" type="xs:base64Binary"/>
            <xs:attribute name="dateFrom" type="xs:dateTime"/>
            <xs:attribute name="dateTo" type="xs:dateTime"/>
            <xs:attribute name="ipResId" type="xs:int" use="required"/>
            <xs:attribute name="subscriberId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="vlanResourceGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vlanResourceGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:vlanResource" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vlanResource">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="categoryId" type="xs:int"/>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="dateFrom" type="xs:dateTime"/>
            <xs:attribute name="dateTo" type="xs:dateTime"/>
            <xs:attribute name="vlanFrom" type="xs:int" use="required"/>
            <xs:attribute name="vlanTo" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="nextFreeVlan">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:int"/>
          <xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg3" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="nextFreeVlanResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ipResourceDelete">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="skipSubscriptionCheck" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ipResourceDeleteResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="ipResourceUpdate">
        <xs:sequence>
          <xs:element name="resource" type="tns:ipResource" minOccurs="0"/>
          <xs:element name="skipSubscriptionCheck" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ipResource">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="config" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="addressFrom" type="xs:base64Binary"/>
            <xs:attribute name="addressTo" type="xs:base64Binary"/>
            <xs:attribute name="categoryId" type="xs:int" use="required"/>
            <xs:attribute name="dateFrom" type="xs:dateTime"/>
            <xs:attribute name="dateTo" type="xs:dateTime"/>
            <xs:attribute name="dns" type="xs:string"/>
            <xs:attribute name="router" type="xs:string"/>
            <xs:attribute name="subnetMask" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ipResourceUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="freeVlan">
        <xs:sequence>
          <xs:element name="vlanResourceCategoryIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="freeVlanResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="freeIpResourceRangeList">
        <xs:sequence>
          <xs:element name="ipResourceCategoryIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="ipResourceIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="range" type="xs:int"/>
          <xs:element name="max" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="freeIpResourceRangeListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:ipResourceRange" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ipResourceRange">
        <xs:complexContent>
          <xs:extension base="tns:ipRange">
            <xs:sequence/>
            <xs:attribute name="resId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ipRange">
        <xs:sequence/>
        <xs:attribute name="from" type="xs:base64Binary"/>
        <xs:attribute name="to" type="xs:base64Binary"/>
      </xs:complexType>
      <xs:complexType name="freeIpResourceRangeListOld">
        <xs:sequence>
          <xs:element name="deviceId" type="xs:int"/>
          <xs:element name="interfaceId" type="xs:int"/>
          <xs:element name="ipResourceCategoryIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="ipResourceIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="range" type="xs:int"/>
          <xs:element name="max" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="freeIpResourceRangeListOldResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:ipResourceRange" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="freeIpResourceNetList">
        <xs:sequence>
          <xs:element name="ipResourceCategoryIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="ipResourceIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="mask" type="xs:int"/>
          <xs:element name="max" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="freeIpResourceNetListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:ipResourceNet" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ipResourceNet">
        <xs:complexContent>
          <xs:extension base="tns:ipNet">
            <xs:sequence/>
            <xs:attribute name="resId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ipNet">
        <xs:sequence/>
        <xs:attribute name="mask" type="xs:int" use="required"/>
        <xs:attribute name="net" type="xs:base64Binary"/>
      </xs:complexType>
      <xs:complexType name="vlanCategoryUpdate">
        <xs:sequence>
          <xs:element name="category" type="tns:vlanCategory" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vlanCategory">
        <xs:complexContent>
          <xs:extension base="ns1:abstractTreeNode">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="vlanCategoryUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ipCategoryList">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="ipCategoryListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:ipCategory" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ipCategory">
        <xs:complexContent>
          <xs:extension base="ns1:abstractTreeNode">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="vlanResourceSubscribe">
        <xs:sequence>
          <xs:element name="vlan" type="xs:int"/>
          <xs:element name="subscriberId" type="xs:int"/>
          <xs:element name="subscriberTitle" type="xs:string" minOccurs="0"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="vlanResourceCategoryIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="isVlanPersonal" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vlanResourceSubscribeResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

<!-- alexanderfefelov
      <xs:complexType name="ipResourceList">
        <xs:sequence>
          <xs:element name="categoryIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
-->

      <xs:complexType name="ipResourceListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:ipResource" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vlanResourceUpdate">
        <xs:sequence>
          <xs:element name="vlan" type="tns:vlanResource" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vlanResourceUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vlanResourceDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vlanResourceDeleteResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="ipCategoryRoot">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="ipCategoryRootResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:ipCategory" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vlanCategoryDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vlanCategoryDeleteResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="vlanResourceUnsubscribe">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vlanResourceUnsubscribeResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="vlanSubscriptionList1">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vlanSubscriptionList1Response">
        <xs:sequence>
          <xs:element name="return" type="tns:vlanResourceSubscription" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vlanResourceSubscription">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence/>
            <xs:attribute name="dateFrom" type="xs:dateTime"/>
            <xs:attribute name="dateTo" type="xs:dateTime"/>
            <xs:attribute name="subscriberId" type="xs:int" use="required"/>
            <xs:attribute name="subscriberTitle" type="xs:string"/>
            <xs:attribute name="vlan" type="xs:int" use="required"/>
            <xs:attribute name="vlanResourseId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="vlanResourceList">
        <xs:sequence>
          <xs:element name="categoryId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vlanResourceListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:vlanResource" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ipResourceUnsubscribe">
        <xs:sequence>
          <xs:element name="subscriberId" type="xs:int"/>
          <xs:element name="ipResourceSubscriptionId" type="xs:int"/>
          <xs:element name="addressFrom" type="xs:base64Binary" nillable="true" minOccurs="0"/>
          <xs:element name="addressTo" type="xs:base64Binary" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ipResourceUnsubscribeResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="ipCategoryDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ipCategoryDeleteResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="ipSubscriptionList">
        <xs:sequence>
          <xs:element name="ipResourceId" type="xs:int"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="page" type="ns1:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ipSubscriptionListResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:result" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="list" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mapEntry">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractMapEntry" abstract="true">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="map">
        <xs:sequence>
          <xs:element name="entry" type="tns:entry" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="entry" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="key" type="xs:anyType" minOccurs="0"/>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="sortedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="linkedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="collection" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ipResourceSubscribe">
        <xs:sequence>
          <xs:element name="subscriberId" type="xs:int"/>
          <xs:element name="subscriberTitle" type="xs:string" minOccurs="0"/>
          <xs:element name="ipResourceCategoryIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="ipResourceId" type="xs:int"/>
          <xs:element name="addressFrom" type="xs:base64Binary" nillable="true" minOccurs="0"/>
          <xs:element name="addressTo" type="xs:base64Binary" nillable="true" minOccurs="0"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ipResourceSubscribeResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:ipResourceSubscription" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ipCategoryUpdate">
        <xs:sequence>
          <xs:element name="category" type="tns:ipCategory" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ipCategoryUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vlanSubscriptionList">
        <xs:sequence>
          <xs:element name="vlanResourceId" type="xs:int"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="page" type="ns1:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vlanSubscriptionListResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:result" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vlanCategoryRoot">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="vlanCategoryRootResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:vlanCategory" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xsc:schema xmlns:tns="http://common.bitel.ru" xmlns:ns1="http://common.resource.inventory.systems.oss.bitel.ru/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:common="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru">
      <xsc:import namespace="http://common.resource.inventory.systems.oss.bitel.ru/"/>
      <xsc:element name="result" type="tns:result"/>
      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
      <xsc:complexType name="abstractTreeNode" abstract="true">
        <xsc:complexContent>
          <xsc:extension base="tns:idTitle">
            <xsc:sequence>
              <xsc:element name="children" minOccurs="0">
                <xsc:complexType>
                  <xsc:sequence>
                    <xsc:element name="child" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
                  </xsc:sequence>
                </xsc:complexType>
              </xsc:element>
            </xsc:sequence>
            <xsc:attribute name="parentId" type="xsc:int" use="required"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>
      <xsc:complexType name="result">
        <xsc:sequence>
          <xsc:element name="data" minOccurs="0">
            <xsc:complexType>
              <xsc:sequence>
                <xsc:element name="item" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
              </xsc:sequence>
            </xsc:complexType>
          </xsc:element>
          <xsc:element name="page" type="tns:page" minOccurs="0"/>
          <xsc:element name="attributes" type="ns1:list" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>
    </xsc:schema>
  </types>
  <message name="vlanResourceUnsubscribe">
    <part name="parameters" element="tns:vlanResourceUnsubscribe">
    </part>
  </message>
  <message name="vlanResourceUnsubscribeResponse">
    <part name="parameters" element="tns:vlanResourceUnsubscribeResponse">
    </part>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException">
    </part>
  </message>
  <message name="vlanSubscriptionList1">
    <part name="parameters" element="tns:vlanSubscriptionList1">
    </part>
  </message>
  <message name="vlanSubscriptionList1Response">
    <part name="parameters" element="tns:vlanSubscriptionList1Response">
    </part>
  </message>
  <message name="vlanSubscriptionList">
    <part name="parameters" element="tns:vlanSubscriptionList">
    </part>
  </message>
  <message name="vlanSubscriptionListResponse">
    <part name="parameters" element="tns:vlanSubscriptionListResponse">
    </part>
  </message>
  <message name="vlanCategoryRoot">
    <part name="parameters" element="tns:vlanCategoryRoot">
    </part>
  </message>
  <message name="vlanCategoryRootResponse">
    <part name="parameters" element="tns:vlanCategoryRootResponse">
    </part>
  </message>
  <message name="vlanCategoryUpdate">
    <part name="parameters" element="tns:vlanCategoryUpdate">
    </part>
  </message>
  <message name="vlanCategoryUpdateResponse">
    <part name="parameters" element="tns:vlanCategoryUpdateResponse">
    </part>
  </message>
  <message name="vlanCategoryDelete">
    <part name="parameters" element="tns:vlanCategoryDelete">
    </part>
  </message>
  <message name="vlanCategoryDeleteResponse">
    <part name="parameters" element="tns:vlanCategoryDeleteResponse">
    </part>
  </message>
  <message name="ipCategoryRoot">
    <part name="parameters" element="tns:ipCategoryRoot">
    </part>
  </message>
  <message name="ipCategoryRootResponse">
    <part name="parameters" element="tns:ipCategoryRootResponse">
    </part>
  </message>
  <message name="ipCategoryList">
    <part name="parameters" element="tns:ipCategoryList">
    </part>
  </message>
  <message name="ipCategoryListResponse">
    <part name="parameters" element="tns:ipCategoryListResponse">
    </part>
  </message>

<!-- alexanderfefelov
  <message name="ipResourceList">
    <part name="parameters" element="tns:ipResourceList">
    </part>
  </message>
-->

  <message name="ipResourceListResponse">
    <part name="parameters" element="tns:ipResourceListResponse">
    </part>
  </message>
  <message name="ipCategoryUpdate">
    <part name="parameters" element="tns:ipCategoryUpdate">
    </part>
  </message>
  <message name="ipCategoryUpdateResponse">
    <part name="parameters" element="tns:ipCategoryUpdateResponse">
    </part>
  </message>
  <message name="ipCategoryDelete">
    <part name="parameters" element="tns:ipCategoryDelete">
    </part>
  </message>
  <message name="ipCategoryDeleteResponse">
    <part name="parameters" element="tns:ipCategoryDeleteResponse">
    </part>
  </message>
  <message name="ipResourceUpdate">
    <part name="parameters" element="tns:ipResourceUpdate">
    </part>
  </message>
  <message name="ipResourceUpdateResponse">
    <part name="parameters" element="tns:ipResourceUpdateResponse">
    </part>
  </message>
  <message name="ipResourceDelete">
    <part name="parameters" element="tns:ipResourceDelete">
    </part>
  </message>
  <message name="ipResourceDeleteResponse">
    <part name="parameters" element="tns:ipResourceDeleteResponse">
    </part>
  </message>
  <message name="freeIpResourceNetList">
    <part name="parameters" element="tns:freeIpResourceNetList">
    </part>
  </message>
  <message name="freeIpResourceNetListResponse">
    <part name="parameters" element="tns:freeIpResourceNetListResponse">
    </part>
  </message>
  <message name="vlanResourceGet">
    <part name="parameters" element="tns:vlanResourceGet">
    </part>
  </message>
  <message name="vlanResourceGetResponse">
    <part name="parameters" element="tns:vlanResourceGetResponse">
    </part>
  </message>
  <message name="vlanResourceUpdate">
    <part name="parameters" element="tns:vlanResourceUpdate">
    </part>
  </message>
  <message name="vlanResourceUpdateResponse">
    <part name="parameters" element="tns:vlanResourceUpdateResponse">
    </part>
  </message>
  <message name="nextFreeVlan">
    <part name="parameters" element="tns:nextFreeVlan">
    </part>
  </message>
  <message name="nextFreeVlanResponse">
    <part name="parameters" element="tns:nextFreeVlanResponse">
    </part>
  </message>
  <message name="vlanResourceDelete">
    <part name="parameters" element="tns:vlanResourceDelete">
    </part>
  </message>
  <message name="vlanResourceDeleteResponse">
    <part name="parameters" element="tns:vlanResourceDeleteResponse">
    </part>
  </message>
  <message name="vlanResourceSubscribe">
    <part name="parameters" element="tns:vlanResourceSubscribe">
    </part>
  </message>
  <message name="vlanResourceSubscribeResponse">
    <part name="parameters" element="tns:vlanResourceSubscribeResponse">
    </part>
  </message>
  <message name="ipResourceSubscribe">
    <part name="parameters" element="tns:ipResourceSubscribe">
    </part>
  </message>
  <message name="ipResourceSubscribeResponse">
    <part name="parameters" element="tns:ipResourceSubscribeResponse">
    </part>
  </message>
  <message name="ipResourceUnsubscribe">
    <part name="parameters" element="tns:ipResourceUnsubscribe">
    </part>
  </message>
  <message name="ipResourceUnsubscribeResponse">
    <part name="parameters" element="tns:ipResourceUnsubscribeResponse">
    </part>
  </message>
  <message name="ipSubscriptionList">
    <part name="parameters" element="tns:ipSubscriptionList">
    </part>
  </message>
  <message name="ipSubscriptionListResponse">
    <part name="parameters" element="tns:ipSubscriptionListResponse">
    </part>
  </message>
  <message name="vlanResourceList">
    <part name="parameters" element="tns:vlanResourceList">
    </part>
  </message>
  <message name="vlanResourceListResponse">
    <part name="parameters" element="tns:vlanResourceListResponse">
    </part>
  </message>
  <message name="freeVlan">
    <part name="parameters" element="tns:freeVlan">
    </part>
  </message>
  <message name="freeVlanResponse">
    <part name="parameters" element="tns:freeVlanResponse">
    </part>
  </message>
  <message name="freeIpResourceRangeList">
    <part name="parameters" element="tns:freeIpResourceRangeList">
    </part>
  </message>
  <message name="freeIpResourceRangeListResponse">
    <part name="parameters" element="tns:freeIpResourceRangeListResponse">
    </part>
  </message>
  <message name="freeIpResourceRangeListOld">
    <part name="parameters" element="tns:freeIpResourceRangeListOld">
    </part>
  </message>
  <message name="freeIpResourceRangeListOldResponse">
    <part name="parameters" element="tns:freeIpResourceRangeListOldResponse">
    </part>
  </message>
  <portType name="ResourceService">
    <operation name="vlanResourceUnsubscribe">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanResourceUnsubscribeRequest" message="tns:vlanResourceUnsubscribe">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanResourceUnsubscribeResponse" message="tns:vlanResourceUnsubscribeResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanResourceUnsubscribe/Fault/BGException">
      </fault>
    </operation>
    <operation name="vlanSubscriptionList1">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanSubscriptionList1Request" message="tns:vlanSubscriptionList1">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanSubscriptionList1Response" message="tns:vlanSubscriptionList1Response">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanSubscriptionList1/Fault/BGException">
      </fault>
    </operation>
    <operation name="vlanSubscriptionList">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanSubscriptionListRequest" message="tns:vlanSubscriptionList">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanSubscriptionListResponse" message="tns:vlanSubscriptionListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanSubscriptionList/Fault/BGException">
      </fault>
    </operation>
    <operation name="vlanCategoryRoot">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanCategoryRootRequest" message="tns:vlanCategoryRoot">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanCategoryRootResponse" message="tns:vlanCategoryRootResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanCategoryRoot/Fault/BGException">
      </fault>
    </operation>
    <operation name="vlanCategoryUpdate">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanCategoryUpdateRequest" message="tns:vlanCategoryUpdate">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanCategoryUpdateResponse" message="tns:vlanCategoryUpdateResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanCategoryUpdate/Fault/BGException">
      </fault>
    </operation>
    <operation name="vlanCategoryDelete">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanCategoryDeleteRequest" message="tns:vlanCategoryDelete">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanCategoryDeleteResponse" message="tns:vlanCategoryDeleteResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanCategoryDelete/Fault/BGException">
      </fault>
    </operation>
    <operation name="ipCategoryRoot">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipCategoryRootRequest" message="tns:ipCategoryRoot">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipCategoryRootResponse" message="tns:ipCategoryRootResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipCategoryRoot/Fault/BGException">
      </fault>
    </operation>
    <operation name="ipCategoryList">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipCategoryListRequest" message="tns:ipCategoryList">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipCategoryListResponse" message="tns:ipCategoryListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipCategoryList/Fault/BGException">
      </fault>
    </operation>

<!-- alexanderfefelov
    <operation name="ipResourceList">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipResourceListRequest" message="tns:ipResourceList">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipResourceListResponse" message="tns:ipResourceListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipResourceList/Fault/BGException">
      </fault>
    </operation>
-->

    <operation name="ipCategoryUpdate">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipCategoryUpdateRequest" message="tns:ipCategoryUpdate">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipCategoryUpdateResponse" message="tns:ipCategoryUpdateResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipCategoryUpdate/Fault/BGException">
      </fault>
    </operation>
    <operation name="ipCategoryDelete">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipCategoryDeleteRequest" message="tns:ipCategoryDelete">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipCategoryDeleteResponse" message="tns:ipCategoryDeleteResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipCategoryDelete/Fault/BGException">
      </fault>
    </operation>
    <operation name="ipResourceUpdate">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipResourceUpdateRequest" message="tns:ipResourceUpdate">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipResourceUpdateResponse" message="tns:ipResourceUpdateResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipResourceUpdate/Fault/BGException">
      </fault>
    </operation>
    <operation name="ipResourceDelete">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipResourceDeleteRequest" message="tns:ipResourceDelete">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipResourceDeleteResponse" message="tns:ipResourceDeleteResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipResourceDelete/Fault/BGException">
      </fault>
    </operation>
    <operation name="freeIpResourceNetList">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/freeIpResourceNetListRequest" message="tns:freeIpResourceNetList">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/freeIpResourceNetListResponse" message="tns:freeIpResourceNetListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/freeIpResourceNetList/Fault/BGException">
      </fault>
    </operation>
    <operation name="vlanResourceGet">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanResourceGetRequest" message="tns:vlanResourceGet">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanResourceGetResponse" message="tns:vlanResourceGetResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanResourceGet/Fault/BGException">
      </fault>
    </operation>
    <operation name="vlanResourceUpdate">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanResourceUpdateRequest" message="tns:vlanResourceUpdate">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanResourceUpdateResponse" message="tns:vlanResourceUpdateResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanResourceUpdate/Fault/BGException">
      </fault>
    </operation>
    <operation name="nextFreeVlan">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/nextFreeVlanRequest" message="tns:nextFreeVlan">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/nextFreeVlanResponse" message="tns:nextFreeVlanResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/nextFreeVlan/Fault/BGException">
      </fault>
    </operation>
    <operation name="vlanResourceDelete">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanResourceDeleteRequest" message="tns:vlanResourceDelete">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanResourceDeleteResponse" message="tns:vlanResourceDeleteResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanResourceDelete/Fault/BGException">
      </fault>
    </operation>
    <operation name="vlanResourceSubscribe">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanResourceSubscribeRequest" message="tns:vlanResourceSubscribe">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanResourceSubscribeResponse" message="tns:vlanResourceSubscribeResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanResourceSubscribe/Fault/BGException">
      </fault>
    </operation>
    <operation name="ipResourceSubscribe">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipResourceSubscribeRequest" message="tns:ipResourceSubscribe">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipResourceSubscribeResponse" message="tns:ipResourceSubscribeResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipResourceSubscribe/Fault/BGException">
      </fault>
    </operation>
    <operation name="ipResourceUnsubscribe">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipResourceUnsubscribeRequest" message="tns:ipResourceUnsubscribe">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipResourceUnsubscribeResponse" message="tns:ipResourceUnsubscribeResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipResourceUnsubscribe/Fault/BGException">
      </fault>
    </operation>
    <operation name="ipSubscriptionList">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipSubscriptionListRequest" message="tns:ipSubscriptionList">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipSubscriptionListResponse" message="tns:ipSubscriptionListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/ipSubscriptionList/Fault/BGException">
      </fault>
    </operation>
    <operation name="vlanResourceList">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanResourceListRequest" message="tns:vlanResourceList">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanResourceListResponse" message="tns:vlanResourceListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/vlanResourceList/Fault/BGException">
      </fault>
    </operation>
    <operation name="freeVlan">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/freeVlanRequest" message="tns:freeVlan">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/freeVlanResponse" message="tns:freeVlanResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/freeVlan/Fault/BGException">
      </fault>
    </operation>
    <operation name="freeIpResourceRangeList">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/freeIpResourceRangeListRequest" message="tns:freeIpResourceRangeList">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/freeIpResourceRangeListResponse" message="tns:freeIpResourceRangeListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/freeIpResourceRangeList/Fault/BGException">
      </fault>
    </operation>
    <operation name="freeIpResourceRangeListOld">
      <input wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/freeIpResourceRangeListOldRequest" message="tns:freeIpResourceRangeListOld">
      </input>
      <output wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/freeIpResourceRangeListOldResponse" message="tns:freeIpResourceRangeListOldResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://common.resource.inventory.systems.oss.bitel.ru/ResourceService/freeIpResourceRangeListOld/Fault/BGException">
      </fault>
    </operation>
  </portType>
  <binding name="ResourceServiceBinding" type="tns:ResourceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document">
    </soap:binding>
    <operation name="vlanResourceUnsubscribe">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="vlanSubscriptionList1">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="vlanSubscriptionList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="vlanCategoryRoot">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="vlanCategoryUpdate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="vlanCategoryDelete">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="ipCategoryRoot">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="ipCategoryList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>

<!-- alexanderfefelov
    <operation name="ipResourceList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
-->

    <operation name="ipCategoryUpdate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="ipCategoryDelete">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="ipResourceUpdate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="ipResourceDelete">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="freeIpResourceNetList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="vlanResourceGet">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="vlanResourceUpdate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="nextFreeVlan">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="vlanResourceDelete">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="vlanResourceSubscribe">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="ipResourceSubscribe">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="ipResourceUnsubscribe">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="ipSubscriptionList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="vlanResourceList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="freeVlan">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="freeIpResourceRangeList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="freeIpResourceRangeListOld">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
  </binding>
  <service name="ResourceService">
    <port name="ResourceService" binding="tns:ResourceServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL">
      </soap:address>
    </port>
  </service>
</definitions>
