soap/oss/src/main/wsdl/handmade-patched/ServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.common.service.inventory.systems.oss.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.common.service.inventory.systems.oss.bitel.ru/" name="ServiceService">
  <types>
    <xs:schema xmlns:tns="http://service.common.service.inventory.systems.oss.bitel.ru/" xmlns:ns1="http://common.bitel.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.common.service.inventory.systems.oss.bitel.ru/">
      <xs:element name="BGException" type="tns:BGException"/>
      <xs:element name="serviceDelete" type="tns:serviceDelete"/>
      <xs:element name="serviceDeleteByProduct" type="tns:serviceDeleteByProduct"/>
      <xs:element name="serviceDeleteByProductResponse" type="tns:serviceDeleteByProductResponse"/>
      <xs:element name="serviceDeleteResponse" type="tns:serviceDeleteResponse"/>
      <xs:element name="serviceList" type="tns:serviceList"/>
      <xs:element name="serviceListResponse" type="tns:serviceListResponse"/>
      <xs:element name="serviceSpecDelete" type="tns:serviceSpecDelete"/>
      <xs:element name="serviceSpecDeleteResponse" type="tns:serviceSpecDeleteResponse"/>
      <xs:element name="serviceSpecGet" type="tns:serviceSpecGet"/>
      <xs:element name="serviceSpecGetResponse" type="tns:serviceSpecGetResponse"/>
      <xs:element name="serviceSpecList" type="tns:serviceSpecList"/>
      <xs:element name="serviceSpecListResponse" type="tns:serviceSpecListResponse"/>
      <xs:element name="serviceSpecMove" type="tns:serviceSpecMove"/>
      <xs:element name="serviceSpecMoveResponse" type="tns:serviceSpecMoveResponse"/>
      <xs:element name="serviceSpecTree" type="tns:serviceSpecTree"/>
      <xs:element name="serviceSpecTreeResponse" type="tns:serviceSpecTreeResponse"/>
      <xs:element name="serviceSpecUpdate" type="tns:serviceSpecUpdate"/>
      <xs:element name="serviceSpecUpdateResponse" type="tns:serviceSpecUpdateResponse"/>
      <xs:element name="serviceUpdate" type="tns:serviceUpdate"/>
      <xs:element name="serviceUpdateResponse" type="tns:serviceUpdateResponse"/>
      <xs:complexType name="serviceList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="productId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:service" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="service">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence/>
            <xs:attribute name="accountId" type="xs:int" use="required"/>
            <xs:attribute name="contractId" type="xs:int" use="required"/>
            <xs:attribute name="deviceState" type="xs:short" use="required"/>
            <xs:attribute name="productId" type="xs:int" use="required"/>
            <xs:attribute name="serviceSpecId" type="xs:int" use="required"/>
            <xs:attribute name="serviceSpecTitle" type="xs:string"/>
            <xs:attribute name="timeFrom" type="xs:dateTime"/>
            <xs:attribute name="timeTo" type="xs:dateTime"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceUpdate">
        <xs:sequence>
          <xs:element name="service" type="tns:service" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceDelete">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceDeleteResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="serviceDeleteByProduct">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="productId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceDeleteByProductResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="serviceSpecDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceSpecDeleteResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="serviceSpecMove">
        <xs:sequence>
          <xs:element name="parentId" type="xs:int"/>
          <xs:element name="ids" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceSpecMoveResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="serviceSpecTree">
        <xs:sequence>
          <xs:element name="moduleId" type="xs:int" minOccurs="0"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceSpecTreeResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:serviceSpec" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceSpec">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element name="children" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="child" type="tns:serviceSpec" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="dateFrom" type="xs:dateTime"/>
            <xs:attribute name="dateTo" type="xs:dateTime"/>
            <xs:attribute name="identifier" type="xs:string"/>
            <xs:attribute name="moduleId" type="xs:int" use="required"/>
            <xs:attribute name="parentId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="entity" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractEntity">
            <xs:sequence/>
            <xs:attribute name="entityId" type="xs:int" use="required"/>
            <xs:attribute name="entityTitle" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractEntity" abstract="true">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="entityAttributes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="key" minOccurs="0" type="xs:int"/>
                          <xs:element name="value" minOccurs="0" type="tns:entityAttr"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="entitySpecId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="entityAttr" abstract="true">
        <xs:sequence>
          <xs:element name="entityId" type="xs:int"/>
          <xs:element name="entitySpecAttrId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="entityAttrText">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="entityAttrInt">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="entityAttrList">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="entityAttrDate">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:dateTime"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="entityAttrAddress">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence>
              <xs:element name="formatKey" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="comment" type="xs:string"/>
            <xs:attribute name="flat" type="xs:string"/>
            <xs:attribute name="floor" type="xs:int" use="required"/>
            <xs:attribute name="houseId" type="xs:int" use="required"/>
            <xs:attribute name="pod" type="xs:int" use="required"/>
            <xs:attribute name="room" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="entityAttrEmail">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="entityAttrContract">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="entityAttrBoolean">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:boolean" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="serviceSpecGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceSpecGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:serviceSpec" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceSpecList">
        <xs:sequence>
          <xs:element name="moduleId" type="xs:int" minOccurs="0"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceSpecListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:serviceSpec" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceSpecUpdate">
        <xs:sequence>
          <xs:element name="serviceSpec" type="tns:serviceSpec" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceSpecUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xsc:schema xmlns:tns="http://common.bitel.ru" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:common="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru">
      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
    </xsc:schema>
  </types>
  <message name="serviceUpdate">
    <part name="parameters" element="tns:serviceUpdate">
    </part>
  </message>
  <message name="serviceUpdateResponse">
    <part name="parameters" element="tns:serviceUpdateResponse">
    </part>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException">
    </part>
  </message>
  <message name="serviceDelete">
    <part name="parameters" element="tns:serviceDelete">
    </part>
  </message>
  <message name="serviceDeleteResponse">
    <part name="parameters" element="tns:serviceDeleteResponse">
    </part>
  </message>
  <message name="serviceSpecList">
    <part name="parameters" element="tns:serviceSpecList">
    </part>
  </message>
  <message name="serviceSpecListResponse">
    <part name="parameters" element="tns:serviceSpecListResponse">
    </part>
  </message>
  <message name="serviceDeleteByProduct">
    <part name="parameters" element="tns:serviceDeleteByProduct">
    </part>
  </message>
  <message name="serviceDeleteByProductResponse">
    <part name="parameters" element="tns:serviceDeleteByProductResponse">
    </part>
  </message>
  <message name="serviceSpecTree">
    <part name="parameters" element="tns:serviceSpecTree">
    </part>
  </message>
  <message name="serviceSpecTreeResponse">
    <part name="parameters" element="tns:serviceSpecTreeResponse">
    </part>
  </message>
  <message name="serviceSpecGet">
    <part name="parameters" element="tns:serviceSpecGet">
    </part>
  </message>
  <message name="serviceSpecGetResponse">
    <part name="parameters" element="tns:serviceSpecGetResponse">
    </part>
  </message>
  <message name="serviceSpecUpdate">
    <part name="parameters" element="tns:serviceSpecUpdate">
    </part>
  </message>
  <message name="serviceSpecUpdateResponse">
    <part name="parameters" element="tns:serviceSpecUpdateResponse">
    </part>
  </message>
  <message name="serviceSpecDelete">
    <part name="parameters" element="tns:serviceSpecDelete">
    </part>
  </message>
  <message name="serviceSpecDeleteResponse">
    <part name="parameters" element="tns:serviceSpecDeleteResponse">
    </part>
  </message>
  <message name="serviceSpecMove">
    <part name="parameters" element="tns:serviceSpecMove">
    </part>
  </message>
  <message name="serviceSpecMoveResponse">
    <part name="parameters" element="tns:serviceSpecMoveResponse">
    </part>
  </message>
  <message name="serviceList">
    <part name="parameters" element="tns:serviceList">
    </part>
  </message>
  <message name="serviceListResponse">
    <part name="parameters" element="tns:serviceListResponse">
    </part>
  </message>
  <portType name="ServiceService">
    <operation name="serviceUpdate">
      <input wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceUpdateRequest" message="tns:serviceUpdate">
      </input>
      <output wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceUpdateResponse" message="tns:serviceUpdateResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceUpdate/Fault/BGException">
      </fault>
    </operation>
    <operation name="serviceDelete">
      <input wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceDeleteRequest" message="tns:serviceDelete">
      </input>
      <output wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceDeleteResponse" message="tns:serviceDeleteResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceDelete/Fault/BGException">
      </fault>
    </operation>
    <operation name="serviceSpecList">
      <input wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceSpecListRequest" message="tns:serviceSpecList">
      </input>
      <output wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceSpecListResponse" message="tns:serviceSpecListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceSpecList/Fault/BGException">
      </fault>
    </operation>
    <operation name="serviceDeleteByProduct">
      <input wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceDeleteByProductRequest" message="tns:serviceDeleteByProduct">
      </input>
      <output wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceDeleteByProductResponse" message="tns:serviceDeleteByProductResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceDeleteByProduct/Fault/BGException">
      </fault>
    </operation>
    <operation name="serviceSpecTree">
      <input wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceSpecTreeRequest" message="tns:serviceSpecTree">
      </input>
      <output wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceSpecTreeResponse" message="tns:serviceSpecTreeResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceSpecTree/Fault/BGException">
      </fault>
    </operation>
    <operation name="serviceSpecGet">
      <input wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceSpecGetRequest" message="tns:serviceSpecGet">
      </input>
      <output wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceSpecGetResponse" message="tns:serviceSpecGetResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceSpecGet/Fault/BGException">
      </fault>
    </operation>
    <operation name="serviceSpecUpdate">
      <input wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceSpecUpdateRequest" message="tns:serviceSpecUpdate">
      </input>
      <output wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceSpecUpdateResponse" message="tns:serviceSpecUpdateResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceSpecUpdate/Fault/BGException">
      </fault>
    </operation>
    <operation name="serviceSpecDelete">
      <input wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceSpecDeleteRequest" message="tns:serviceSpecDelete">
      </input>
      <output wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceSpecDeleteResponse" message="tns:serviceSpecDeleteResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceSpecDelete/Fault/BGException">
      </fault>
    </operation>
    <operation name="serviceSpecMove">
      <input wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceSpecMoveRequest" message="tns:serviceSpecMove">
      </input>
      <output wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceSpecMoveResponse" message="tns:serviceSpecMoveResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceSpecMove/Fault/BGException">
      </fault>
    </operation>
    <operation name="serviceList">
      <input wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceListRequest" message="tns:serviceList">
      </input>
      <output wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceListResponse" message="tns:serviceListResponse">
      </output>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.service.inventory.systems.oss.bitel.ru/ServiceService/serviceList/Fault/BGException">
      </fault>
    </operation>
  </portType>
  <binding name="ServiceServiceBinding" type="tns:ServiceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document">
    </soap:binding>
    <operation name="serviceUpdate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="serviceDelete">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="serviceSpecList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="serviceDeleteByProduct">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="serviceSpecTree">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="serviceSpecGet">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="serviceSpecUpdate">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="serviceSpecDelete">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="serviceSpecMove">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="serviceList">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal">
        </soap:fault>
      </fault>
    </operation>
  </binding>
  <service name="ServiceService">
    <port name="ServiceService" binding="tns:ServiceServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL">
      </soap:address>
    </port>
  </service>
</definitions>
