soap/inet/src/main/wsdl/original/AccountingPeriodService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/" name="AccountingPeriodService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="periodDelete" type="tns:periodDelete"/>

      <xs:element name="periodDeleteResponse" type="tns:periodDeleteResponse"/>

      <xs:element name="periodList" type="tns:periodList"/>

      <xs:element name="periodListResponse" type="tns:periodListResponse"/>

      <xs:element name="periodUpdate" type="tns:periodUpdate"/>

      <xs:element name="periodUpdateResponse" type="tns:periodUpdateResponse"/>

      <xs:element name="periodWrap" type="tns:periodWrap"/>

      <xs:element name="periodWrapResponse" type="tns:periodWrapResponse"/>

      <xs:complexType name="periodDelete">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="periodDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="periodList">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="periodListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetAccountingPeriod" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetAccountingPeriod">
        <xs:complexContent>
          <xs:extension base="ns1:id">
            <xs:sequence>
              <xs:element name="userId" type="xs:int"/>
            </xs:sequence>
            <xs:attribute name="cid" type="xs:int" use="required"/>
            <xs:attribute name="dateFrom" type="xs:string"/>
            <xs:attribute name="dateTo" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="periodUpdate">
        <xs:sequence>
          <xs:element name="arg0" type="tns:inetAccountingPeriod" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="periodUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="periodWrap">
        <xs:sequence>
          <xs:element name="arg0" type="tns:inetAccountingPeriod" minOccurs="0"/>
          <xs:element name="arg1" type="xs:int"/>
          <xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="periodWrapResponse">
        <xs:sequence/>
      </xs:complexType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
</xsc:schema>
  </types>
  <message name="periodList">
    <part name="parameters" element="tns:periodList"/>
  </message>
  <message name="periodListResponse">
    <part name="parameters" element="tns:periodListResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="periodUpdate">
    <part name="parameters" element="tns:periodUpdate"/>
  </message>
  <message name="periodUpdateResponse">
    <part name="parameters" element="tns:periodUpdateResponse"/>
  </message>
  <message name="periodDelete">
    <part name="parameters" element="tns:periodDelete"/>
  </message>
  <message name="periodDeleteResponse">
    <part name="parameters" element="tns:periodDeleteResponse"/>
  </message>
  <message name="periodWrap">
    <part name="parameters" element="tns:periodWrap"/>
  </message>
  <message name="periodWrapResponse">
    <part name="parameters" element="tns:periodWrapResponse"/>
  </message>
  <portType name="AccountingPeriodService">
    <operation name="periodList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/AccountingPeriodService/periodListRequest" message="tns:periodList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/AccountingPeriodService/periodListResponse" message="tns:periodListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/AccountingPeriodService/periodList/Fault/BGException"/>
    </operation>
    <operation name="periodUpdate">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/AccountingPeriodService/periodUpdateRequest" message="tns:periodUpdate"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/AccountingPeriodService/periodUpdateResponse" message="tns:periodUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/AccountingPeriodService/periodUpdate/Fault/BGException"/>
    </operation>
    <operation name="periodDelete">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/AccountingPeriodService/periodDeleteRequest" message="tns:periodDelete"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/AccountingPeriodService/periodDeleteResponse" message="tns:periodDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/AccountingPeriodService/periodDelete/Fault/BGException"/>
    </operation>
    <operation name="periodWrap">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/AccountingPeriodService/periodWrapRequest" message="tns:periodWrap"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/AccountingPeriodService/periodWrapResponse" message="tns:periodWrapResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/AccountingPeriodService/periodWrap/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="AccountingPeriodServiceBinding" type="tns:AccountingPeriodService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="periodList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="periodUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="periodDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="periodWrap">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AccountingPeriodService">
    <port name="AccountingPeriodService" binding="tns:AccountingPeriodServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

