soap/inet/src/main/wsdl/original/ru/bitel/bgbilling/modules/inet/api/common/service/InetDeviceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/" name="InetDeviceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="BGIllegalAccessException" type="tns:BGIllegalAccessException"/>

      <xs:element name="BGMessageException" type="tns:BGMessageException"/>

      <xs:element name="deviceConfigPreview" type="tns:deviceConfigPreview"/>

      <xs:element name="deviceConfigPreviewResponse" type="tns:deviceConfigPreviewResponse"/>

      <xs:element name="deviceDelete" type="tns:deviceDelete"/>

      <xs:element name="deviceDeleteResponse" type="tns:deviceDeleteResponse"/>

      <xs:element name="deviceGet" type="tns:deviceGet"/>

      <xs:element name="deviceGetResponse" type="tns:deviceGetResponse"/>

      <xs:element name="deviceGroupDelete" type="tns:deviceGroupDelete"/>

      <xs:element name="deviceGroupDeleteResponse" type="tns:deviceGroupDeleteResponse"/>

      <xs:element name="deviceGroupGet" type="tns:deviceGroupGet"/>

      <xs:element name="deviceGroupGetResponse" type="tns:deviceGroupGetResponse"/>

      <xs:element name="deviceGroupRoot" type="tns:deviceGroupRoot"/>

      <xs:element name="deviceGroupRootResponse" type="tns:deviceGroupRootResponse"/>

      <xs:element name="deviceGroupUpdate" type="tns:deviceGroupUpdate"/>

      <xs:element name="deviceGroupUpdateResponse" type="tns:deviceGroupUpdateResponse"/>

      <xs:element name="deviceList" type="tns:deviceList"/>

      <xs:element name="deviceListResponse" type="tns:deviceListResponse"/>

      <xs:element name="deviceManage" type="tns:deviceManage"/>

      <xs:element name="deviceManageResponse" type="tns:deviceManageResponse"/>

      <xs:element name="deviceManagerMethodList" type="tns:deviceManagerMethodList"/>

      <xs:element name="deviceManagerMethodListResponse" type="tns:deviceManagerMethodListResponse"/>

      <xs:element name="deviceMove" type="tns:deviceMove"/>

      <xs:element name="deviceMoveResponse" type="tns:deviceMoveResponse"/>

      <xs:element name="deviceReload" type="tns:deviceReload"/>

      <xs:element name="deviceReloadOld" type="tns:deviceReloadOld"/>

      <xs:element name="deviceReloadOldResponse" type="tns:deviceReloadOldResponse"/>

      <xs:element name="deviceReloadResponse" type="tns:deviceReloadResponse"/>

      <xs:element name="deviceRoot" type="tns:deviceRoot"/>

      <xs:element name="deviceRootResponse" type="tns:deviceRootResponse"/>

      <xs:element name="deviceSaReinit" type="tns:deviceSaReinit"/>

      <xs:element name="deviceSaReinitResponse" type="tns:deviceSaReinitResponse"/>

      <xs:element name="deviceSourceList" type="tns:deviceSourceList"/>

      <xs:element name="deviceSourceListResponse" type="tns:deviceSourceListResponse"/>

      <xs:element name="deviceSourceRoot" type="tns:deviceSourceRoot"/>

      <xs:element name="deviceSourceRootResponse" type="tns:deviceSourceRootResponse"/>

      <xs:element name="deviceTypeDelete" type="tns:deviceTypeDelete"/>

      <xs:element name="deviceTypeDeleteResponse" type="tns:deviceTypeDeleteResponse"/>

      <xs:element name="deviceTypeGet" type="tns:deviceTypeGet"/>

      <xs:element name="deviceTypeGetResponse" type="tns:deviceTypeGetResponse"/>

      <xs:element name="deviceTypeList" type="tns:deviceTypeList"/>

      <xs:element name="deviceTypeListResponse" type="tns:deviceTypeListResponse"/>

      <xs:element name="deviceTypeUpdate" type="tns:deviceTypeUpdate"/>

      <xs:element name="deviceTypeUpdateResponse" type="tns:deviceTypeUpdateResponse"/>

      <xs:element name="deviceUpdate" type="tns:deviceUpdate"/>

      <xs:element name="deviceUpdateResponse" type="tns:deviceUpdateResponse"/>

      <xs:element name="getContracts" type="tns:getContracts"/>

      <xs:element name="getContractsResponse" type="tns:getContractsResponse"/>

      <xs:element name="inetDeviceDelete" type="tns:inetDeviceDelete"/>

      <xs:element name="inetDeviceDeleteResponse" type="tns:inetDeviceDeleteResponse"/>

      <xs:element name="inetDeviceGet" type="tns:inetDeviceGet"/>

      <xs:element name="inetDeviceGetResponse" type="tns:inetDeviceGetResponse"/>

      <xs:element name="inetDeviceList" type="tns:inetDeviceList"/>

      <xs:element name="inetDeviceListResponse" type="tns:inetDeviceListResponse"/>

      <xs:element name="inetDeviceMove" type="tns:inetDeviceMove"/>

      <xs:element name="inetDeviceMoveResponse" type="tns:inetDeviceMoveResponse"/>

      <xs:element name="inetDeviceRoot" type="tns:inetDeviceRoot"/>

      <xs:element name="inetDeviceRootResponse" type="tns:inetDeviceRootResponse"/>

      <xs:element name="inetDeviceUpdate" type="tns:inetDeviceUpdate"/>

      <xs:element name="inetDeviceUpdateResponse" type="tns:inetDeviceUpdateResponse"/>

      <xs:element name="isUniqueInterface" type="tns:isUniqueInterface"/>

      <xs:element name="isUniqueInterfaceResponse" type="tns:isUniqueInterfaceResponse"/>

      <xs:element name="svlanResourceCategoryIds" type="tns:svlanResourceCategoryIds"/>

      <xs:element name="svlanResourceCategoryIdsResponse" type="tns:svlanResourceCategoryIdsResponse"/>

      <xs:complexType name="inetDevice">
        <xs:complexContent>
          <xs:extension base="tns:device">
            <xs:sequence>
              <xs:element name="invConfig" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="invDeviceGroupIds">
              <xs:simpleType>
                <xs:list itemType="xs:int"/>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="invDeviceId" type="xs:int" use="required"/>
            <xs:attribute name="invDeviceTypeId" type="xs:int" use="required"/>
            <xs:attribute name="invHost" type="xs:string"/>
            <xs:attribute name="invIdent" type="xs:string"/>
            <xs:attribute name="invTitle" type="xs:string"/>
            <xs:attribute name="svlan" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="device" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element name="children" type="tns:device" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="config" type="xs:string" minOccurs="0"/>
              <xs:element name="host" type="xs:string" minOccurs="0"/>
              <xs:element name="uptime" type="xs:string" minOccurs="0"/>
              <xs:element name="uptimeTime" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="username" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="dateFrom" type="xs:string"/>
            <xs:attribute name="dateTo" type="xs:string"/>
            <xs:attribute name="deviceGroupIds">
              <xs:simpleType>
                <xs:list itemType="xs:int"/>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="deviceTypeId" type="xs:int" use="required"/>
            <xs:attribute name="ident" type="xs:string"/>
            <xs:attribute name="omDisabled" type="xs:boolean" use="required"/>
            <xs:attribute name="parentId" type="xs:int" use="required"/>
            <xs:attribute name="password" type="xs:string"/>
            <xs:attribute name="secret" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entity" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractEntity">
            <xs:sequence/>
            <xs:attribute name="entityId" type="xs:int" use="required"/>
            <xs:attribute name="entityTitle" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractEntity" abstract="true">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="entityAttributes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="key" minOccurs="0" type="xs:int"/>
                          <xs:element name="value" minOccurs="0" type="tns:entityAttr"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="entitySpecId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttr" abstract="true">
        <xs:sequence>
          <xs:element name="entityId" type="xs:int"/>
          <xs:element name="entitySpecAttrId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="entityAttrText">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrInt">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrList">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="customValue" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrDate">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:dateTime"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrAddress">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence>
              <xs:element name="formatKey" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="comment" type="xs:string"/>
            <xs:attribute name="flat" type="xs:string"/>
            <xs:attribute name="floor" type="xs:int" use="required"/>
            <xs:attribute name="houseId" type="xs:int" use="required"/>
            <xs:attribute name="pod" type="xs:int" use="required"/>
            <xs:attribute name="room" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrEmail">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence>
              <xs:element name="data" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="emailContact">
        <xs:sequence/>
        <xs:attribute name="address" type="xs:string"/>
        <xs:attribute name="name" type="xs:string"/>
      </xs:complexType>

      <xs:complexType name="entityAttrContract">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrBoolean">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:boolean" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="entityAttrPhone">
        <xs:complexContent>
          <xs:extension base="tns:entityAttr">
            <xs:sequence>
              <xs:element name="contactList" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="contact" type="tns:phoneContact" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="data" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="phoneContact">
        <xs:sequence/>
        <xs:attribute name="comment" type="xs:string"/>
        <xs:attribute name="phone" type="xs:string"/>
      </xs:complexType>

      <xs:complexType name="invDevice">
        <xs:complexContent>
          <xs:extension base="tns:device">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="inetDeviceType">
        <xs:complexContent>
          <xs:extension base="tns:deviceType">
            <xs:sequence>
              <xs:element name="deviceType" type="tns:deviceType" minOccurs="0"/>
              <xs:element name="interfaceList" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="interfaceList" type="tns:inetInterface" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="configId" type="xs:int" use="required"/>
            <xs:attribute name="scriptId" type="xs:int" use="required"/>
            <xs:attribute name="uniqueInterfaces" type="xs:boolean" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="deviceType" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="config" type="xs:string" minOccurs="0"/>
              <xs:element name="managmentType" type="xs:int"/>
              <xs:element name="serviceActivationType" type="xs:int"/>
              <xs:element name="source" type="xs:boolean"/>
            </xs:sequence>
            <xs:attribute name="activeConfigId" type="xs:int" use="required"/>
            <xs:attribute name="deviceEntitySpecId" type="xs:int" use="required"/>
            <xs:attribute name="deviceManagerClass" type="xs:string"/>
            <xs:attribute name="protocolHandlerClass" type="xs:string"/>
            <xs:attribute name="saHandlerClass" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="inetInterface">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence/>
            <xs:attribute name="deviceTypeId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="deviceGroupRoot">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="deviceGroupRootResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:deviceGroup" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceGroup">
        <xs:complexContent>
          <xs:extension base="ns1:idTitle">
            <xs:sequence>
              <xs:element name="children" type="tns:deviceGroup" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="cityId" type="xs:int"/>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="parentId" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceGroupUpdate">
        <xs:sequence>
          <xs:element name="arg0" type="tns:deviceGroup" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceGroupUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceSourceList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="deviceSourceListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetDevice" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetDeviceRoot">
        <xs:sequence>
          <xs:element name="identifier" type="xs:string" minOccurs="0"/>
          <xs:element name="host" type="xs:string" minOccurs="0"/>
          <xs:element name="deviceTypeIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="deviceGroupIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="intersectDateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="intersectDateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="entityFilter" type="tns:filterEntityAttr" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="loadDeviceGroupIds" type="xs:boolean"/>
          <xs:element name="loadAncestors" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filterEntityAttr" abstract="true">
        <xs:sequence/>
        <xs:attribute name="entitySpecAttrIds">
          <xs:simpleType>
            <xs:list itemType="xs:int"/>
          </xs:simpleType>
        </xs:attribute>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrAddress">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="cityId" type="xs:int" use="required"/>
            <xs:attribute name="flat" type="xs:string"/>
            <xs:attribute name="frac" type="xs:string"/>
            <xs:attribute name="house" type="xs:string"/>
            <xs:attribute name="pod" type="xs:int" use="required"/>
            <xs:attribute name="room" type="xs:string"/>
            <xs:attribute name="streetId" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrDate">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="periodFrom" type="xs:dateTime"/>
            <xs:attribute name="periodTo" type="xs:dateTime"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrHouse">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrInt">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrList">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrMultiList">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttrList">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrText">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrEmail">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrContract">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="filterEntityAttrBoolean">
        <xs:complexContent>
          <xs:extension base="tns:filterEntityAttr">
            <xs:sequence/>
            <xs:attribute name="value" type="xs:boolean" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="inetDeviceRootResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetDevice" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceSourceRoot">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="deviceSourceRootResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetDevice" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetDeviceList">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetDeviceListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetDevice" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetDeviceUpdate">
        <xs:sequence>
          <xs:element name="inetDevice" type="tns:inetDevice" minOccurs="0"/>
          <xs:element name="updateInvDevice" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetDeviceUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetDeviceDelete">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetDeviceDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="deviceGroupDelete">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceGroupDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="deviceManagerMethodList">
        <xs:sequence>
          <xs:element name="deviceTypeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceManagerMethodListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:deviceManagerMethod" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceManagerMethod">
        <xs:sequence>
          <xs:element name="method" type="xs:string" minOccurs="0"/>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
          <xs:element name="types" type="tns:deviceManagerMethodType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceDelete">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="deviceGroupGet">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceGroupGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:deviceGroup" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceGet">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:device" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetDeviceMove">
        <xs:sequence>
          <xs:element name="newParentId" type="xs:int"/>
          <xs:element name="ids" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetDeviceMoveResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="deviceUpdate">
        <xs:sequence>
          <xs:element name="arg0" type="tns:device" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetDeviceGet">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetDeviceGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetDevice" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceMove">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceMoveResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="deviceReloadOld">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="deviceReloadOldResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="deviceReload">
        <xs:sequence>
          <xs:element name="rootDeviceId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceReloadResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="deviceConfigPreview">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceConfigPreviewResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceSaReinit">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceSaReinitResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getContracts">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getContractsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:inetServ" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetServ" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="ns1:abstractTreeNode">
            <xs:sequence>
              <xs:element name="accessCodeTitle" type="xs:string" minOccurs="0"/>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="config" type="xs:string" minOccurs="0"/>
              <xs:element name="identifierList" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="identifier" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="macList" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="mac" type="xs:base64Binary" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="accessCode" type="xs:int" use="required"/>
            <xs:attribute name="addrFrom" type="xs:base64Binary"/>
            <xs:attribute name="addrTo" type="xs:base64Binary"/>
            <xs:attribute name="contractComment" type="xs:string"/>
            <xs:attribute name="cid" type="xs:int" use="required"/>
            <xs:attribute name="coid" type="xs:int" use="required"/>
            <xs:attribute name="contractTitle" type="xs:string"/>
            <xs:attribute name="dateFrom" type="xs:dateTime"/>
            <xs:attribute name="dateTo" type="xs:dateTime"/>
            <xs:attribute name="did" type="xs:int" use="required"/>
            <xs:attribute name="devOpts">
              <xs:simpleType>
                <xs:list itemType="xs:int"/>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="devState" type="xs:short" use="required"/>
            <xs:attribute name="deviceTitle" type="xs:string"/>
            <xs:attribute name="ifaceId" type="xs:int" use="required"/>
            <xs:attribute name="interfaceTitle" type="xs:string"/>
            <xs:attribute name="ipResId" type="xs:int" use="required"/>
            <xs:attribute name="ipResSubsriptionId" type="xs:int" use="required"/>
            <xs:attribute name="uname" type="xs:string"/>
            <xs:attribute name="passw" type="xs:string"/>
            <xs:attribute name="sessCntLimit" type="xs:int" use="required"/>
            <xs:attribute name="status" type="xs:int" use="required"/>
            <xs:attribute name="scid" type="xs:int" use="required"/>
            <xs:attribute name="typeId" type="xs:int" use="required"/>
            <xs:attribute name="typeTitle" type="xs:string"/>
            <xs:attribute name="vlan" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="isUniqueInterface">
        <xs:sequence>
          <xs:element name="deviceTypeId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="isUniqueInterfaceResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceRoot">
        <xs:sequence>
          <xs:element name="identifier" type="xs:string" minOccurs="0"/>
          <xs:element name="host" type="xs:string" minOccurs="0"/>
          <xs:element name="deviceTypeIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="deviceGroupIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="intersectDateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="intersectDateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="entityFilter" type="tns:filterEntityAttr" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="loadDeviceGroupLink" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceRootResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:device" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceTypeUpdate">
        <xs:sequence>
          <xs:element name="arg0" type="tns:deviceType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceTypeUpdateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceList">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:device" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceTypeDelete">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceTypeDeleteResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="deviceTypeGet">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceTypeGetResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:deviceType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="svlanResourceCategoryIds">
        <xs:sequence>
          <xs:element name="deviceId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="svlanResourceCategoryIdsResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGMessageException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGIllegalAccessException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceManage">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
          <xs:element name="operation" type="xs:string" minOccurs="0"/>
          <xs:element name="servId" type="xs:int"/>
          <xs:element name="connectionId" type="xs:int"/>
          <xs:element name="timeout" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceManageResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deviceTypeList">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="deviceTypeListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:deviceType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="deviceManagerMethodType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DEVICE"/>
          <xs:enumeration value="ACCOUNT"/>
          <xs:enumeration value="CONNECTION"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="abstractTreeNode" abstract="true">
        <xsc:complexContent>
          <xsc:extension base="tns:idTitle">
            <xsc:sequence>
              <xsc:element name="children" minOccurs="0">
                <xsc:complexType>
                  <xsc:sequence>
                    <xsc:element name="child" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
                  </xsc:sequence>
                </xsc:complexType>
              </xsc:element>
            </xsc:sequence>
            <xsc:attribute name="parentId" type="xsc:int" use="required"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>
</xsc:schema>
  </types>
  <message name="inetDeviceList">
    <part name="parameters" element="tns:inetDeviceList"/>
  </message>
  <message name="inetDeviceListResponse">
    <part name="parameters" element="tns:inetDeviceListResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="deviceReloadOld">
    <part name="parameters" element="tns:deviceReloadOld"/>
  </message>
  <message name="deviceReloadOldResponse">
    <part name="parameters" element="tns:deviceReloadOldResponse"/>
  </message>
  <message name="deviceReload">
    <part name="parameters" element="tns:deviceReload"/>
  </message>
  <message name="deviceReloadResponse">
    <part name="parameters" element="tns:deviceReloadResponse"/>
  </message>
  <message name="deviceSaReinit">
    <part name="parameters" element="tns:deviceSaReinit"/>
  </message>
  <message name="deviceSaReinitResponse">
    <part name="parameters" element="tns:deviceSaReinitResponse"/>
  </message>
  <message name="deviceManage">
    <part name="parameters" element="tns:deviceManage"/>
  </message>
  <message name="deviceManageResponse">
    <part name="parameters" element="tns:deviceManageResponse"/>
  </message>
  <message name="BGMessageException">
    <part name="fault" element="tns:BGMessageException"/>
  </message>
  <message name="BGIllegalAccessException">
    <part name="fault" element="tns:BGIllegalAccessException"/>
  </message>
  <message name="getContracts">
    <part name="parameters" element="tns:getContracts"/>
  </message>
  <message name="getContractsResponse">
    <part name="parameters" element="tns:getContractsResponse"/>
  </message>
  <message name="inetDeviceUpdate">
    <part name="parameters" element="tns:inetDeviceUpdate"/>
  </message>
  <message name="inetDeviceUpdateResponse">
    <part name="parameters" element="tns:inetDeviceUpdateResponse"/>
  </message>
  <message name="inetDeviceGet">
    <part name="parameters" element="tns:inetDeviceGet"/>
  </message>
  <message name="inetDeviceGetResponse">
    <part name="parameters" element="tns:inetDeviceGetResponse"/>
  </message>
  <message name="inetDeviceDelete">
    <part name="parameters" element="tns:inetDeviceDelete"/>
  </message>
  <message name="inetDeviceDeleteResponse">
    <part name="parameters" element="tns:inetDeviceDeleteResponse"/>
  </message>
  <message name="inetDeviceMove">
    <part name="parameters" element="tns:inetDeviceMove"/>
  </message>
  <message name="inetDeviceMoveResponse">
    <part name="parameters" element="tns:inetDeviceMoveResponse"/>
  </message>
  <message name="inetDeviceRoot">
    <part name="parameters" element="tns:inetDeviceRoot"/>
  </message>
  <message name="inetDeviceRootResponse">
    <part name="parameters" element="tns:inetDeviceRootResponse"/>
  </message>
  <message name="deviceSourceRoot">
    <part name="parameters" element="tns:deviceSourceRoot"/>
  </message>
  <message name="deviceSourceRootResponse">
    <part name="parameters" element="tns:deviceSourceRootResponse"/>
  </message>
  <message name="deviceSourceList">
    <part name="parameters" element="tns:deviceSourceList"/>
  </message>
  <message name="deviceSourceListResponse">
    <part name="parameters" element="tns:deviceSourceListResponse"/>
  </message>
  <message name="isUniqueInterface">
    <part name="parameters" element="tns:isUniqueInterface"/>
  </message>
  <message name="isUniqueInterfaceResponse">
    <part name="parameters" element="tns:isUniqueInterfaceResponse"/>
  </message>
  <message name="svlanResourceCategoryIds">
    <part name="parameters" element="tns:svlanResourceCategoryIds"/>
  </message>
  <message name="svlanResourceCategoryIdsResponse">
    <part name="parameters" element="tns:svlanResourceCategoryIdsResponse"/>
  </message>
  <message name="deviceTypeGet">
    <part name="parameters" element="tns:deviceTypeGet"/>
  </message>
  <message name="deviceTypeGetResponse">
    <part name="parameters" element="tns:deviceTypeGetResponse"/>
  </message>
  <message name="deviceTypeUpdate">
    <part name="parameters" element="tns:deviceTypeUpdate"/>
  </message>
  <message name="deviceTypeUpdateResponse">
    <part name="parameters" element="tns:deviceTypeUpdateResponse"/>
  </message>
  <message name="deviceTypeDelete">
    <part name="parameters" element="tns:deviceTypeDelete"/>
  </message>
  <message name="deviceTypeDeleteResponse">
    <part name="parameters" element="tns:deviceTypeDeleteResponse"/>
  </message>
  <message name="deviceGet">
    <part name="parameters" element="tns:deviceGet"/>
  </message>
  <message name="deviceGetResponse">
    <part name="parameters" element="tns:deviceGetResponse"/>
  </message>
  <message name="deviceConfigPreview">
    <part name="parameters" element="tns:deviceConfigPreview"/>
  </message>
  <message name="deviceConfigPreviewResponse">
    <part name="parameters" element="tns:deviceConfigPreviewResponse"/>
  </message>
  <message name="deviceUpdate">
    <part name="parameters" element="tns:deviceUpdate"/>
  </message>
  <message name="deviceUpdateResponse">
    <part name="parameters" element="tns:deviceUpdateResponse"/>
  </message>
  <message name="deviceDelete">
    <part name="parameters" element="tns:deviceDelete"/>
  </message>
  <message name="deviceDeleteResponse">
    <part name="parameters" element="tns:deviceDeleteResponse"/>
  </message>
  <message name="deviceGroupDelete">
    <part name="parameters" element="tns:deviceGroupDelete"/>
  </message>
  <message name="deviceGroupDeleteResponse">
    <part name="parameters" element="tns:deviceGroupDeleteResponse"/>
  </message>
  <message name="deviceList">
    <part name="parameters" element="tns:deviceList"/>
  </message>
  <message name="deviceListResponse">
    <part name="parameters" element="tns:deviceListResponse"/>
  </message>
  <message name="deviceGroupGet">
    <part name="parameters" element="tns:deviceGroupGet"/>
  </message>
  <message name="deviceGroupGetResponse">
    <part name="parameters" element="tns:deviceGroupGetResponse"/>
  </message>
  <message name="deviceGroupRoot">
    <part name="parameters" element="tns:deviceGroupRoot"/>
  </message>
  <message name="deviceGroupRootResponse">
    <part name="parameters" element="tns:deviceGroupRootResponse"/>
  </message>
  <message name="deviceGroupUpdate">
    <part name="parameters" element="tns:deviceGroupUpdate"/>
  </message>
  <message name="deviceGroupUpdateResponse">
    <part name="parameters" element="tns:deviceGroupUpdateResponse"/>
  </message>
  <message name="deviceTypeList">
    <part name="parameters" element="tns:deviceTypeList"/>
  </message>
  <message name="deviceTypeListResponse">
    <part name="parameters" element="tns:deviceTypeListResponse"/>
  </message>
  <message name="deviceRoot">
    <part name="parameters" element="tns:deviceRoot"/>
  </message>
  <message name="deviceRootResponse">
    <part name="parameters" element="tns:deviceRootResponse"/>
  </message>
  <message name="deviceMove">
    <part name="parameters" element="tns:deviceMove"/>
  </message>
  <message name="deviceMoveResponse">
    <part name="parameters" element="tns:deviceMoveResponse"/>
  </message>
  <message name="deviceManagerMethodList">
    <part name="parameters" element="tns:deviceManagerMethodList"/>
  </message>
  <message name="deviceManagerMethodListResponse">
    <part name="parameters" element="tns:deviceManagerMethodListResponse"/>
  </message>
  <portType name="InetDeviceService">
    <operation name="inetDeviceList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/inetDeviceListRequest" message="tns:inetDeviceList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/inetDeviceListResponse" message="tns:inetDeviceListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/inetDeviceList/Fault/BGException"/>
    </operation>
    <operation name="deviceReloadOld">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceReloadOldRequest" message="tns:deviceReloadOld"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceReloadOldResponse" message="tns:deviceReloadOldResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceReloadOld/Fault/BGException"/>
    </operation>
    <operation name="deviceReload">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceReloadRequest" message="tns:deviceReload"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceReloadResponse" message="tns:deviceReloadResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceReload/Fault/BGException"/>
    </operation>
    <operation name="deviceSaReinit">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceSaReinitRequest" message="tns:deviceSaReinit"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceSaReinitResponse" message="tns:deviceSaReinitResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceSaReinit/Fault/BGException"/>
    </operation>
    <operation name="deviceManage">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceManageRequest" message="tns:deviceManage"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceManageResponse" message="tns:deviceManageResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceManage/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceManage/Fault/BGMessageException"/>
      <fault message="tns:BGIllegalAccessException" name="BGIllegalAccessException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceManage/Fault/BGIllegalAccessException"/>
    </operation>
    <operation name="getContracts">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/getContractsRequest" message="tns:getContracts"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/getContractsResponse" message="tns:getContractsResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/getContracts/Fault/BGException"/>
    </operation>
    <operation name="inetDeviceUpdate">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/inetDeviceUpdateRequest" message="tns:inetDeviceUpdate"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/inetDeviceUpdateResponse" message="tns:inetDeviceUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/inetDeviceUpdate/Fault/BGException"/>
    </operation>
    <operation name="inetDeviceGet">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/inetDeviceGetRequest" message="tns:inetDeviceGet"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/inetDeviceGetResponse" message="tns:inetDeviceGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/inetDeviceGet/Fault/BGException"/>
    </operation>
    <operation name="inetDeviceDelete">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/inetDeviceDeleteRequest" message="tns:inetDeviceDelete"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/inetDeviceDeleteResponse" message="tns:inetDeviceDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/inetDeviceDelete/Fault/BGException"/>
    </operation>
    <operation name="inetDeviceMove">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/inetDeviceMoveRequest" message="tns:inetDeviceMove"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/inetDeviceMoveResponse" message="tns:inetDeviceMoveResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/inetDeviceMove/Fault/BGException"/>
    </operation>
    <operation name="inetDeviceRoot">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/inetDeviceRootRequest" message="tns:inetDeviceRoot"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/inetDeviceRootResponse" message="tns:inetDeviceRootResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/inetDeviceRoot/Fault/BGException"/>
    </operation>
    <operation name="deviceSourceRoot">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceSourceRootRequest" message="tns:deviceSourceRoot"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceSourceRootResponse" message="tns:deviceSourceRootResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceSourceRoot/Fault/BGException"/>
    </operation>
    <operation name="deviceSourceList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceSourceListRequest" message="tns:deviceSourceList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceSourceListResponse" message="tns:deviceSourceListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceSourceList/Fault/BGException"/>
    </operation>
    <operation name="isUniqueInterface">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/isUniqueInterfaceRequest" message="tns:isUniqueInterface"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/isUniqueInterfaceResponse" message="tns:isUniqueInterfaceResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/isUniqueInterface/Fault/BGException"/>
    </operation>
    <operation name="svlanResourceCategoryIds">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/svlanResourceCategoryIdsRequest" message="tns:svlanResourceCategoryIds"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/svlanResourceCategoryIdsResponse" message="tns:svlanResourceCategoryIdsResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/svlanResourceCategoryIds/Fault/BGException"/>
      <fault message="tns:BGMessageException" name="BGMessageException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/svlanResourceCategoryIds/Fault/BGMessageException"/>
      <fault message="tns:BGIllegalAccessException" name="BGIllegalAccessException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/svlanResourceCategoryIds/Fault/BGIllegalAccessException"/>
    </operation>
    <operation name="deviceTypeGet">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceTypeGetRequest" message="tns:deviceTypeGet"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceTypeGetResponse" message="tns:deviceTypeGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceTypeGet/Fault/BGException"/>
    </operation>
    <operation name="deviceTypeUpdate">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceTypeUpdateRequest" message="tns:deviceTypeUpdate"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceTypeUpdateResponse" message="tns:deviceTypeUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceTypeUpdate/Fault/BGException"/>
    </operation>
    <operation name="deviceTypeDelete">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceTypeDeleteRequest" message="tns:deviceTypeDelete"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceTypeDeleteResponse" message="tns:deviceTypeDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceTypeDelete/Fault/BGException"/>
    </operation>
    <operation name="deviceGet">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceGetRequest" message="tns:deviceGet"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceGetResponse" message="tns:deviceGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceGet/Fault/BGException"/>
    </operation>
    <operation name="deviceConfigPreview">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceConfigPreviewRequest" message="tns:deviceConfigPreview"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceConfigPreviewResponse" message="tns:deviceConfigPreviewResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceConfigPreview/Fault/BGException"/>
    </operation>
    <operation name="deviceUpdate">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceUpdateRequest" message="tns:deviceUpdate"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceUpdateResponse" message="tns:deviceUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceUpdate/Fault/BGException"/>
    </operation>
    <operation name="deviceDelete">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceDeleteRequest" message="tns:deviceDelete"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceDeleteResponse" message="tns:deviceDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceDelete/Fault/BGException"/>
    </operation>
    <operation name="deviceGroupDelete">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceGroupDeleteRequest" message="tns:deviceGroupDelete"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceGroupDeleteResponse" message="tns:deviceGroupDeleteResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceGroupDelete/Fault/BGException"/>
    </operation>
    <operation name="deviceList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceListRequest" message="tns:deviceList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceListResponse" message="tns:deviceListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceList/Fault/BGException"/>
    </operation>
    <operation name="deviceGroupGet">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceGroupGetRequest" message="tns:deviceGroupGet"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceGroupGetResponse" message="tns:deviceGroupGetResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceGroupGet/Fault/BGException"/>
    </operation>
    <operation name="deviceGroupRoot">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceGroupRootRequest" message="tns:deviceGroupRoot"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceGroupRootResponse" message="tns:deviceGroupRootResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceGroupRoot/Fault/BGException"/>
    </operation>
    <operation name="deviceGroupUpdate">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceGroupUpdateRequest" message="tns:deviceGroupUpdate"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceGroupUpdateResponse" message="tns:deviceGroupUpdateResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceGroupUpdate/Fault/BGException"/>
    </operation>
    <operation name="deviceTypeList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceTypeListRequest" message="tns:deviceTypeList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceTypeListResponse" message="tns:deviceTypeListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceTypeList/Fault/BGException"/>
    </operation>
    <operation name="deviceRoot">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceRootRequest" message="tns:deviceRoot"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceRootResponse" message="tns:deviceRootResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceRoot/Fault/BGException"/>
    </operation>
    <operation name="deviceMove">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceMoveRequest" message="tns:deviceMove"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceMoveResponse" message="tns:deviceMoveResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceMove/Fault/BGException"/>
    </operation>
    <operation name="deviceManagerMethodList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceManagerMethodListRequest" message="tns:deviceManagerMethodList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceManagerMethodListResponse" message="tns:deviceManagerMethodListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetDeviceService/deviceManagerMethodList/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="InetDeviceServiceBinding" type="tns:InetDeviceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="inetDeviceList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceReloadOld">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceReload">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceSaReinit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceManage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
      <fault name="BGIllegalAccessException">
        <soap:fault name="BGIllegalAccessException" use="literal"/>
      </fault>
    </operation>
    <operation name="getContracts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetDeviceUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetDeviceGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetDeviceDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetDeviceMove">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetDeviceRoot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceSourceRoot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceSourceList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="isUniqueInterface">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="svlanResourceCategoryIds">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
      <fault name="BGMessageException">
        <soap:fault name="BGMessageException" use="literal"/>
      </fault>
      <fault name="BGIllegalAccessException">
        <soap:fault name="BGIllegalAccessException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceTypeGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceTypeUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceTypeDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceConfigPreview">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceGroupDelete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceGroupGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceGroupRoot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceGroupUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceTypeList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceRoot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceMove">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="deviceManagerMethodList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="InetDeviceService">
    <port name="InetDeviceService" binding="tns:InetDeviceServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

