soap/inet/src/main/wsdl/original/ru/bitel/bgbilling/modules/inet/api/common/service/InetSessionService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/" name="InetSessionService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:import namespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/"/>

      <xsc:element name="result" type="tns:result"/>

      <xsc:complexType name="dataMap">
        <xsc:sequence>
          <xsc:element name="data" type="ns1:map" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>

      <xsc:complexType name="pair">
        <xsc:sequence>
          <xsc:element name="first" type="xsc:anyType" minOccurs="0"/>
          <xsc:element name="second" type="xsc:anyType" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="abstractTreeNode" abstract="true">
        <xsc:complexContent>
          <xsc:extension base="tns:idTitle">
            <xsc:sequence>
              <xsc:element name="children" minOccurs="0">
                <xsc:complexType>
                  <xsc:sequence>
                    <xsc:element name="child" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
                  </xsc:sequence>
                </xsc:complexType>
              </xsc:element>
            </xsc:sequence>
            <xsc:attribute name="parentId" type="xsc:int" use="required"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="result">
        <xsc:sequence>
          <xsc:element name="data" minOccurs="0">
            <xsc:complexType>
              <xsc:sequence>
                <xsc:element name="item" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
              </xsc:sequence>
            </xsc:complexType>
          </xsc:element>
          <xsc:element name="page" type="tns:page" minOccurs="0"/>
          <xsc:element name="attributes" type="ns1:list" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>

      <xsc:complexType name="period">
        <xsc:sequence/>
        <xsc:attribute name="dateFrom" type="xsc:dateTime"/>
        <xsc:attribute name="dateTo" type="xsc:dateTime"/>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      
      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="connectionClose" type="tns:connectionClose"/>

      <xs:element name="connectionCloseOld" type="tns:connectionCloseOld"/>

      <xs:element name="connectionCloseOldResponse" type="tns:connectionCloseOldResponse"/>

      <xs:element name="connectionCloseResponse" type="tns:connectionCloseResponse"/>

      <xs:element name="connectionFind" type="tns:connectionFind"/>

      <xs:element name="connectionFindResponse" type="tns:connectionFindResponse"/>

      <xs:element name="connectionFinish" type="tns:connectionFinish"/>

      <xs:element name="connectionFinishOld" type="tns:connectionFinishOld"/>

      <xs:element name="connectionFinishOldResponse" type="tns:connectionFinishOldResponse"/>

      <xs:element name="connectionFinishResponse" type="tns:connectionFinishResponse"/>

      <xs:element name="connectionRebind" type="tns:connectionRebind"/>

      <xs:element name="connectionRebindResponse" type="tns:connectionRebindResponse"/>

      <xs:element name="connectionsStop" type="tns:connectionsStop"/>

      <xs:element name="connectionsStopResponse" type="tns:connectionsStopResponse"/>

      <xs:element name="inetContractTraffic" type="tns:inetContractTraffic"/>

      <xs:element name="inetContractTrafficResponse" type="tns:inetContractTrafficResponse"/>

      <xs:element name="inetSessionAccountSums" type="tns:inetSessionAccountSums"/>

      <xs:element name="inetSessionAccountSumsResponse" type="tns:inetSessionAccountSumsResponse"/>

      <xs:element name="inetSessionAliveContractList" type="tns:inetSessionAliveContractList"/>

      <xs:element name="inetSessionAliveContractListResponse" type="tns:inetSessionAliveContractListResponse"/>

      <xs:element name="inetSessionAliveList" type="tns:inetSessionAliveList"/>

      <xs:element name="inetSessionAliveListResponse" type="tns:inetSessionAliveListResponse"/>

      <xs:element name="inetSessionDetail" type="tns:inetSessionDetail"/>

      <xs:element name="inetSessionDetailResponse" type="tns:inetSessionDetailResponse"/>

      <xs:element name="inetSessionExport" type="tns:inetSessionExport"/>

      <xs:element name="inetSessionExportOld" type="tns:inetSessionExportOld"/>

      <xs:element name="inetSessionExportOldResponse" type="tns:inetSessionExportOldResponse"/>

      <xs:element name="inetSessionExportResponse" type="tns:inetSessionExportResponse"/>

      <xs:element name="inetSessionExportSendToEmail" type="tns:inetSessionExportSendToEmail"/>

      <xs:element name="inetSessionExportSendToEmailResponse" type="tns:inetSessionExportSendToEmailResponse"/>

      <xs:element name="inetSessionLogContractList" type="tns:inetSessionLogContractList"/>

      <xs:element name="inetSessionLogContractListExport" type="tns:inetSessionLogContractListExport"/>

      <xs:element name="inetSessionLogContractListExportResponse" type="tns:inetSessionLogContractListExportResponse"/>

      <xs:element name="inetSessionLogContractListResponse" type="tns:inetSessionLogContractListResponse"/>

      <xs:element name="inetSessionLogList" type="tns:inetSessionLogList"/>

      <xs:element name="inetSessionLogListResponse" type="tns:inetSessionLogListResponse"/>

      <xs:element name="inetSessionPeriodDetail" type="tns:inetSessionPeriodDetail"/>

      <xs:element name="inetSessionPeriodDetailResponse" type="tns:inetSessionPeriodDetailResponse"/>

      <xs:element name="inetSessionTraffic" type="tns:inetSessionTraffic"/>

      <xs:element name="inetSessionTrafficMax" type="tns:inetSessionTrafficMax"/>

      <xs:element name="inetSessionTrafficMaxResponse" type="tns:inetSessionTrafficMaxResponse"/>

      <xs:element name="inetSessionTrafficRange" type="tns:inetSessionTrafficRange"/>

      <xs:element name="inetSessionTrafficRangeResponse" type="tns:inetSessionTrafficRangeResponse"/>

      <xs:element name="inetSessionTrafficResponse" type="tns:inetSessionTrafficResponse"/>

      <xs:complexType name="inetSessionLog">
        <xs:complexContent>
          <xs:extension base="tns:inetSession">
            <xs:sequence>
              <xs:element name="accountMap">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="key" minOccurs="0" type="xs:int"/>
                          <xs:element name="value" minOccurs="0" type="tns:inetSessionLogAccount"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="children" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="child" type="tns:inetSessionLog" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="routeList" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="route" type="tns:ipNet" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="serviceTitle" type="xs:string" minOccurs="0"/>
              <xs:element name="trafficMap">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="key" minOccurs="0" type="xs:int"/>
                          <xs:element name="value" minOccurs="0" type="xs:long"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="accessCode" type="xs:int" use="required"/>
            <xs:attribute name="acctSessId" type="xs:string"/>
            <xs:attribute name="agentDeviceId" type="xs:int" use="required"/>
            <xs:attribute name="cdsId" type="xs:string"/>
            <xs:attribute name="cnsId" type="xs:string"/>
            <xs:attribute name="crctId" type="xs:string"/>
            <xs:attribute name="connectionStart" type="xs:dateTime"/>
            <xs:attribute name="contractComment" type="xs:string"/>
            <xs:attribute name="cid" type="xs:int" use="required"/>
            <xs:attribute name="contractTitle" type="xs:string"/>
            <xs:attribute name="deviceId" type="xs:int" use="required"/>
            <xs:attribute name="devOpts">
              <xs:simpleType>
                <xs:list itemType="xs:int"/>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="devicePort" type="xs:int" use="required"/>
            <xs:attribute name="ip" type="xs:string"/>
            <xs:attribute name="ipBytes" type="xs:base64Binary"/>
            <xs:attribute name="ipResId" type="xs:int" use="required"/>
            <xs:attribute name="parConId" type="xs:long" use="required"/>
            <xs:attribute name="realm" type="xs:string"/>
            <xs:attribute name="servId" type="xs:int" use="required"/>
            <xs:attribute name="statusName" type="xs:string"/>
            <xs:attribute name="type" type="xs:int" use="required"/>
            <xs:attribute name="username" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="inetSession">
        <xs:sequence/>
        <xs:attribute name="conId" type="xs:long" use="required"/>
        <xs:attribute name="devState" type="xs:short" use="required"/>
        <xs:attribute name="id" type="xs:long" use="required"/>
        <xs:attribute name="last" type="xs:string"/>
        <xs:attribute name="parentId" type="xs:long" use="required"/>
        <xs:attribute name="cost" type="xs:decimal"/>
        <xs:attribute name="start" type="xs:string"/>
        <xs:attribute name="stop" type="xs:string"/>
        <xs:attribute name="time" type="xs:long" use="required"/>
        <xs:attribute name="splittedId" type="xs:long" use="required"/>
        <xs:attribute name="status" type="xs:int" use="required"/>
      </xs:complexType>

      <xs:complexType name="inetSessionLogAccount">
        <xs:sequence/>
        <xs:attribute name="account" type="xs:decimal"/>
        <xs:attribute name="amount" type="xs:long" use="required"/>
      </xs:complexType>

      <xs:complexType name="ipNet">
        <xs:sequence/>
        <xs:attribute name="mask" type="xs:int" use="required"/>
        <xs:attribute name="net" type="xs:base64Binary"/>
      </xs:complexType>

      <xs:complexType name="map">
        <xs:sequence>
          <xs:element name="entry" type="tns:entry" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="entry" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="key" type="xs:anyType" minOccurs="0"/>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractMapEntry" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="sortedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="linkedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="list" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="mapEntry">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="collection" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficRangeDetailReport">
        <xs:sequence>
          <xs:element name="detailValueList" type="tns:trafficRangeDetailValue" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="maxAmount" type="xs:long" use="required"/>
        <xs:attribute name="mode" type="xs:int" use="required"/>
        <xs:attribute name="tariffOptionId" type="xs:int" use="required"/>
        <xs:attribute name="title" type="xs:string"/>
        <xs:attribute name="treeNodeId" type="xs:long" use="required"/>
        <xs:attribute name="type" type="xs:int" use="required"/>
      </xs:complexType>

      <xs:complexType name="trafficRangeDetailValue">
        <xs:sequence>
          <xs:element name="accountingPeriod" type="tns:inetAccountingPeriod" minOccurs="0"/>
          <xs:element name="contractTariffOption" type="tns:contractTariffOption" minOccurs="0"/>
          <xs:element name="detailList" type="tns:trafficRangeDetail" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="amount" type="xs:long" use="required"/>
        <xs:attribute name="maxAmount" type="xs:long" use="required"/>
        <xs:attribute name="rangeKey" type="xs:long" use="required"/>
      </xs:complexType>

      <xs:complexType name="inetAccountingPeriod">
        <xs:complexContent>
          <xs:extension base="ns2:id">
            <xs:sequence>
              <xs:element name="userId" type="xs:int"/>
            </xs:sequence>
            <xs:attribute name="cid" type="xs:int" use="required"/>
            <xs:attribute name="dateFrom" type="xs:string"/>
            <xs:attribute name="dateTo" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="contractTariffOption">
        <xs:complexContent>
          <xs:extension base="ns2:id">
            <xs:sequence/>
            <xs:attribute name="activatedMode" type="xs:int" use="required"/>
            <xs:attribute name="activatedTime" type="xs:string"/>
            <xs:attribute name="chargeId" type="xs:int" use="required"/>
            <xs:attribute name="contractId" type="xs:int" use="required"/>
            <xs:attribute name="deactivatedTime" type="xs:string"/>
            <xs:attribute name="optionId" type="xs:int" use="required"/>
            <xs:attribute name="optionTitle" type="xs:string"/>
            <xs:attribute name="summa" type="xs:decimal"/>
            <xs:attribute name="timeFrom" type="xs:string"/>
            <xs:attribute name="timeTo" type="xs:string"/>
            <xs:attribute name="userId" type="xs:int" use="required"/>
            <xs:attribute name="userTitle" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="trafficRangeDetail">
        <xs:sequence/>
        <xs:attribute name="amount" type="xs:long" use="required"/>
        <xs:attribute name="day" type="xs:int" use="required"/>
        <xs:attribute name="hour" type="xs:int" use="required"/>
      </xs:complexType>

      <xs:complexType name="inetServ" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="ns2:abstractTreeNode">
            <xs:sequence>
              <xs:element name="accessCodeTitle" type="xs:string" minOccurs="0"/>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
              <xs:element name="config" type="xs:string" minOccurs="0"/>
              <xs:element name="identifierList" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="identifier" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="macList" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="mac" type="xs:base64Binary" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="accessCode" type="xs:int" use="required"/>
            <xs:attribute name="addrFrom" type="xs:base64Binary"/>
            <xs:attribute name="addrTo" type="xs:base64Binary"/>
            <xs:attribute name="contractComment" type="xs:string"/>
            <xs:attribute name="cid" type="xs:int" use="required"/>
            <xs:attribute name="coid" type="xs:int" use="required"/>
            <xs:attribute name="contractTitle" type="xs:string"/>
            <xs:attribute name="dateFrom" type="xs:dateTime"/>
            <xs:attribute name="dateTo" type="xs:dateTime"/>
            <xs:attribute name="did" type="xs:int" use="required"/>
            <xs:attribute name="devOpts">
              <xs:simpleType>
                <xs:list itemType="xs:int"/>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="devState" type="xs:short" use="required"/>
            <xs:attribute name="deviceTitle" type="xs:string"/>
            <xs:attribute name="ifaceId" type="xs:int" use="required"/>
            <xs:attribute name="interfaceTitle" type="xs:string"/>
            <xs:attribute name="ipResId" type="xs:int" use="required"/>
            <xs:attribute name="ipResSubsriptionId" type="xs:int" use="required"/>
            <xs:attribute name="uname" type="xs:string"/>
            <xs:attribute name="passw" type="xs:string"/>
            <xs:attribute name="sessCntLimit" type="xs:int" use="required"/>
            <xs:attribute name="status" type="xs:int" use="required"/>
            <xs:attribute name="scid" type="xs:int" use="required"/>
            <xs:attribute name="typeId" type="xs:int" use="required"/>
            <xs:attribute name="typeTitle" type="xs:string"/>
            <xs:attribute name="vlan" type="xs:int" use="required"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="inetConnection">
        <xs:sequence>
          <xs:element name="routeList" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="route" type="tns:ipNet" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="accessCode" type="xs:int" use="required"/>
        <xs:attribute name="acctSessId" type="xs:string"/>
        <xs:attribute name="agentDeviceId" type="xs:int" use="required"/>
        <xs:attribute name="cdsId" type="xs:string"/>
        <xs:attribute name="cnsId" type="xs:string"/>
        <xs:attribute name="crctId" type="xs:string"/>
        <xs:attribute name="start" type="xs:dateTime"/>
        <xs:attribute name="connectionStatus" type="xs:int" use="required"/>
        <xs:attribute name="stop" type="xs:dateTime"/>
        <xs:attribute name="cid" type="xs:int" use="required"/>
        <xs:attribute name="deviceId" type="xs:int" use="required"/>
        <xs:attribute name="devOpts">
          <xs:simpleType>
            <xs:list itemType="xs:int"/>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="devicePort" type="xs:int" use="required"/>
        <xs:attribute name="devState" type="xs:short" use="required"/>
        <xs:attribute name="id" type="xs:long" use="required"/>
        <xs:attribute name="ip" type="xs:base64Binary"/>
        <xs:attribute name="ipResId" type="xs:int" use="required"/>
        <xs:attribute name="parConId" type="xs:long" use="required"/>
        <xs:attribute name="servId" type="xs:int" use="required"/>
        <xs:attribute name="type" type="xs:int" use="required"/>
        <xs:attribute name="username" type="xs:string"/>
      </xs:complexType>

      <xs:complexType name="inetSessionLogContractList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="servIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="trafficTypeIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="serviceIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="page" type="ns2:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionLogContractListResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:result" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionAccountSums">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="inetServIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="period" type="ns2:period" minOccurs="0"/>
          <xs:element name="serviceIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="isActive" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionAccountSumsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:trafficAccountDetail" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficAccountDetail">
        <xs:sequence>
          <xs:element name="accountMap">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:int"/>
                      <xs:element name="value" minOccurs="0" type="tns:trafficAccount"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="day" type="xs:int" use="required"/>
        <xs:attribute name="hour" type="xs:int" use="required"/>
      </xs:complexType>

      <xs:complexType name="trafficAccount">
        <xs:sequence/>
        <xs:attribute name="account" type="xs:decimal"/>
        <xs:attribute name="amount" type="xs:long" use="required"/>
      </xs:complexType>

      <xs:complexType name="inetSessionAliveContractList">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="servIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="trafficTypeIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="serviceIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="page" type="ns2:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionAliveContractListResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:result" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="connectionsStop">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="connectionsStopResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetSessionExportSendToEmail">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="servIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="period" type="ns2:period" minOccurs="0"/>
          <xs:element name="trafficTypeIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="serviceIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="alive" type="xs:boolean"/>
          <xs:element name="format" type="xs:string" minOccurs="0"/>
          <xs:element name="orderBy" type="xs:string" minOccurs="0"/>
          <xs:element name="unit" type="xs:long"/>
          <xs:element name="emails" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionExportSendToEmailResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="connectionFind">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="arg1" type="xs:string" minOccurs="0"/>
          <xs:element name="arg2" type="xs:string" minOccurs="0"/>
          <xs:element name="arg3" type="xs:string" minOccurs="0"/>
          <xs:element name="arg4" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="connectionFindResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:pair" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionDetail">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="sessionStart" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="email" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionDetailResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetSessionTrafficRange">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="tariffOptionId" type="xs:int"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="unit" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionTrafficRangeResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:trafficRangeDetailReport" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="connectionFinish">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="connectionId" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="connectionFinishResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="connectionFinishOld">
        <xs:sequence>
          <xs:element name="connectionId" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="connectionFinishOldResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetSessionExportOld">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="servIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="trafficTypeIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="serviceIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="page" type="ns2:page" minOccurs="0"/>
          <xs:element name="arg7" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
          <xs:element name="alive" type="xs:boolean"/>
          <xs:element name="format" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionExportOldResponse">
        <xs:sequence>
          <xs:element name="arg7" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionExport">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="servIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="trafficTypeIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="serviceIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="page" type="ns2:page" minOccurs="0"/>
          <xs:element name="arg7" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
          <xs:element name="alive" type="xs:boolean"/>
          <xs:element name="format" type="xs:string" minOccurs="0"/>
          <xs:element name="orderBy" type="xs:string" minOccurs="0"/>
          <xs:element name="unit" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionExportResponse">
        <xs:sequence>
          <xs:element name="arg7" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionTrafficMax">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="inetServIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="unit" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionTrafficMaxResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:trafficMaxDetailReport" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficMaxDetailReport">
        <xs:sequence>
          <xs:element name="mode" type="xs:int"/>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
          <xs:element name="trafficMaxDetailList" type="tns:trafficMaxDetail" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="trafficTypeId1" type="xs:int"/>
          <xs:element name="trafficTypeId2" type="xs:int"/>
          <xs:element name="treeNodeId" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficMaxDetail">
        <xs:sequence>
          <xs:element name="amount1" type="xs:long"/>
          <xs:element name="amount2" type="xs:long"/>
          <xs:element name="amountMax" type="xs:long"/>
          <xs:element name="day" type="xs:int"/>
          <xs:element name="hour" type="xs:int"/>
          <xs:element name="maxKey" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionLogContractListExport">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="servIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="trafficTypeIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="serviceIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="arg6" type="xs:base64Binary" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionLogContractListExportResponse">
        <xs:sequence>
          <xs:element name="arg6" type="xs:base64Binary" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="connectionRebind">
        <xs:sequence>
          <xs:element name="arg0" type="xs:long"/>
          <xs:element name="arg1" type="xs:int"/>
          <xs:element name="arg2" type="xs:int"/>
          <xs:element name="arg3" type="xs:short"/>
          <xs:element name="arg4" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="connectionRebindResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetSessionLogList">
        <xs:sequence>
          <xs:element name="deviceIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="contractIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="contract" type="xs:string" minOccurs="0"/>
          <xs:element name="login" type="xs:string" minOccurs="0"/>
          <xs:element name="ip" type="xs:string" minOccurs="0"/>
          <xs:element name="callingStation" type="xs:string" minOccurs="0"/>
          <xs:element name="timeFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="timeTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="page" type="ns2:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionLogListResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:result" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionTraffic">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="inetServIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="sessionId" type="xs:int"/>
          <xs:element name="trafficTypeIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="unit" type="xs:long"/>
          <xs:element name="byDay" type="xs:boolean"/>
          <xs:element name="continuous" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionTrafficResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:trafficAmount" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="trafficAmount">
        <xs:sequence>
          <xs:element name="period" type="xs:string" minOccurs="0"/>
          <xs:element name="periodDay" type="xs:int"/>
          <xs:element name="periodHour" type="xs:int"/>
          <xs:element name="trafficMap">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:int"/>
                      <xs:element name="value" minOccurs="0" type="xs:long"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="connectionClose">
        <xs:sequence>
          <xs:element name="contractId" type="xs:int"/>
          <xs:element name="connectionId" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="connectionCloseResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="connectionCloseOld">
        <xs:sequence>
          <xs:element name="connectionId" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="connectionCloseOldResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetSessionPeriodDetail">
        <xs:sequence>
          <xs:element name="inetServId" type="xs:int"/>
          <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="email" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionPeriodDetailResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetSessionAliveList">
        <xs:sequence>
          <xs:element name="deviceIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="contractIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="contract" type="xs:string" minOccurs="0"/>
          <xs:element name="login" type="xs:string" minOccurs="0"/>
          <xs:element name="ip" type="xs:string" minOccurs="0"/>
          <xs:element name="callingStation" type="xs:string" minOccurs="0"/>
          <xs:element name="timeFrom" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="timeTo" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="page" type="ns2:page" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetSessionAliveListResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:result" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetContractTraffic">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg3" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg4" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="arg5" type="xs:int"/>
          <xs:element name="arg6" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetContractTrafficResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:trafficAmount" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="inetSessionAliveList">
    <part name="parameters" element="tns:inetSessionAliveList"/>
  </message>
  <message name="inetSessionAliveListResponse">
    <part name="parameters" element="tns:inetSessionAliveListResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="inetSessionLogList">
    <part name="parameters" element="tns:inetSessionLogList"/>
  </message>
  <message name="inetSessionLogListResponse">
    <part name="parameters" element="tns:inetSessionLogListResponse"/>
  </message>
  <message name="inetSessionAliveContractList">
    <part name="parameters" element="tns:inetSessionAliveContractList"/>
  </message>
  <message name="inetSessionAliveContractListResponse">
    <part name="parameters" element="tns:inetSessionAliveContractListResponse"/>
  </message>
  <message name="inetSessionLogContractList">
    <part name="parameters" element="tns:inetSessionLogContractList"/>
  </message>
  <message name="inetSessionLogContractListResponse">
    <part name="parameters" element="tns:inetSessionLogContractListResponse"/>
  </message>
  <message name="connectionClose">
    <part name="parameters" element="tns:connectionClose"/>
  </message>
  <message name="connectionCloseResponse">
    <part name="parameters" element="tns:connectionCloseResponse"/>
  </message>
  <message name="connectionCloseOld">
    <part name="parameters" element="tns:connectionCloseOld"/>
  </message>
  <message name="connectionCloseOldResponse">
    <part name="parameters" element="tns:connectionCloseOldResponse"/>
  </message>
  <message name="connectionFinish">
    <part name="parameters" element="tns:connectionFinish"/>
  </message>
  <message name="connectionFinishResponse">
    <part name="parameters" element="tns:connectionFinishResponse"/>
  </message>
  <message name="connectionFinishOld">
    <part name="parameters" element="tns:connectionFinishOld"/>
  </message>
  <message name="connectionFinishOldResponse">
    <part name="parameters" element="tns:connectionFinishOldResponse"/>
  </message>
  <message name="inetSessionExportSendToEmail">
    <part name="parameters" element="tns:inetSessionExportSendToEmail"/>
  </message>
  <message name="inetSessionExportSendToEmailResponse">
    <part name="parameters" element="tns:inetSessionExportSendToEmailResponse"/>
  </message>
  <message name="inetSessionExportOld">
    <part name="parameters" element="tns:inetSessionExportOld"/>
  </message>
  <message name="inetSessionExportOldResponse">
    <part name="parameters" element="tns:inetSessionExportOldResponse"/>
  </message>
  <message name="inetSessionExport">
    <part name="parameters" element="tns:inetSessionExport"/>
  </message>
  <message name="inetSessionExportResponse">
    <part name="parameters" element="tns:inetSessionExportResponse"/>
  </message>
  <message name="inetSessionLogContractListExport">
    <part name="parameters" element="tns:inetSessionLogContractListExport"/>
  </message>
  <message name="inetSessionLogContractListExportResponse">
    <part name="parameters" element="tns:inetSessionLogContractListExportResponse"/>
  </message>
  <message name="inetSessionDetail">
    <part name="parameters" element="tns:inetSessionDetail"/>
  </message>
  <message name="inetSessionDetailResponse">
    <part name="parameters" element="tns:inetSessionDetailResponse"/>
  </message>
  <message name="inetSessionPeriodDetail">
    <part name="parameters" element="tns:inetSessionPeriodDetail"/>
  </message>
  <message name="inetSessionPeriodDetailResponse">
    <part name="parameters" element="tns:inetSessionPeriodDetailResponse"/>
  </message>
  <message name="inetSessionTraffic">
    <part name="parameters" element="tns:inetSessionTraffic"/>
  </message>
  <message name="inetSessionTrafficResponse">
    <part name="parameters" element="tns:inetSessionTrafficResponse"/>
  </message>
  <message name="inetSessionTrafficMax">
    <part name="parameters" element="tns:inetSessionTrafficMax"/>
  </message>
  <message name="inetSessionTrafficMaxResponse">
    <part name="parameters" element="tns:inetSessionTrafficMaxResponse"/>
  </message>
  <message name="inetSessionTrafficRange">
    <part name="parameters" element="tns:inetSessionTrafficRange"/>
  </message>
  <message name="inetSessionTrafficRangeResponse">
    <part name="parameters" element="tns:inetSessionTrafficRangeResponse"/>
  </message>
  <message name="inetContractTraffic">
    <part name="parameters" element="tns:inetContractTraffic"/>
  </message>
  <message name="inetContractTrafficResponse">
    <part name="parameters" element="tns:inetContractTrafficResponse"/>
  </message>
  <message name="inetSessionAccountSums">
    <part name="parameters" element="tns:inetSessionAccountSums"/>
  </message>
  <message name="inetSessionAccountSumsResponse">
    <part name="parameters" element="tns:inetSessionAccountSumsResponse"/>
  </message>
  <message name="connectionFind">
    <part name="parameters" element="tns:connectionFind"/>
  </message>
  <message name="connectionFindResponse">
    <part name="parameters" element="tns:connectionFindResponse"/>
  </message>
  <message name="connectionRebind">
    <part name="parameters" element="tns:connectionRebind"/>
  </message>
  <message name="connectionRebindResponse">
    <part name="parameters" element="tns:connectionRebindResponse"/>
  </message>
  <message name="connectionsStop">
    <part name="parameters" element="tns:connectionsStop"/>
  </message>
  <message name="connectionsStopResponse">
    <part name="parameters" element="tns:connectionsStopResponse"/>
  </message>
  <portType name="InetSessionService">
    <operation name="inetSessionAliveList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionAliveListRequest" message="tns:inetSessionAliveList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionAliveListResponse" message="tns:inetSessionAliveListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionAliveList/Fault/BGException"/>
    </operation>
    <operation name="inetSessionLogList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionLogListRequest" message="tns:inetSessionLogList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionLogListResponse" message="tns:inetSessionLogListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionLogList/Fault/BGException"/>
    </operation>
    <operation name="inetSessionAliveContractList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionAliveContractListRequest" message="tns:inetSessionAliveContractList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionAliveContractListResponse" message="tns:inetSessionAliveContractListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionAliveContractList/Fault/BGException"/>
    </operation>
    <operation name="inetSessionLogContractList">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionLogContractListRequest" message="tns:inetSessionLogContractList"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionLogContractListResponse" message="tns:inetSessionLogContractListResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionLogContractList/Fault/BGException"/>
    </operation>
    <operation name="connectionClose">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionCloseRequest" message="tns:connectionClose"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionCloseResponse" message="tns:connectionCloseResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionClose/Fault/BGException"/>
    </operation>
    <operation name="connectionCloseOld">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionCloseOldRequest" message="tns:connectionCloseOld"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionCloseOldResponse" message="tns:connectionCloseOldResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionCloseOld/Fault/BGException"/>
    </operation>
    <operation name="connectionFinish">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionFinishRequest" message="tns:connectionFinish"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionFinishResponse" message="tns:connectionFinishResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionFinish/Fault/BGException"/>
    </operation>
    <operation name="connectionFinishOld">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionFinishOldRequest" message="tns:connectionFinishOld"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionFinishOldResponse" message="tns:connectionFinishOldResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionFinishOld/Fault/BGException"/>
    </operation>
    <operation name="inetSessionExportSendToEmail">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionExportSendToEmailRequest" message="tns:inetSessionExportSendToEmail"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionExportSendToEmailResponse" message="tns:inetSessionExportSendToEmailResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionExportSendToEmail/Fault/BGException"/>
    </operation>
    <operation name="inetSessionExportOld">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionExportOldRequest" message="tns:inetSessionExportOld"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionExportOldResponse" message="tns:inetSessionExportOldResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionExportOld/Fault/BGException"/>
    </operation>
    <operation name="inetSessionExport">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionExportRequest" message="tns:inetSessionExport"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionExportResponse" message="tns:inetSessionExportResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionExport/Fault/BGException"/>
    </operation>
    <operation name="inetSessionLogContractListExport">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionLogContractListExportRequest" message="tns:inetSessionLogContractListExport"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionLogContractListExportResponse" message="tns:inetSessionLogContractListExportResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionLogContractListExport/Fault/BGException"/>
    </operation>
    <operation name="inetSessionDetail">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionDetailRequest" message="tns:inetSessionDetail"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionDetailResponse" message="tns:inetSessionDetailResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionDetail/Fault/BGException"/>
    </operation>
    <operation name="inetSessionPeriodDetail">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionPeriodDetailRequest" message="tns:inetSessionPeriodDetail"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionPeriodDetailResponse" message="tns:inetSessionPeriodDetailResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionPeriodDetail/Fault/BGException"/>
    </operation>
    <operation name="inetSessionTraffic">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionTrafficRequest" message="tns:inetSessionTraffic"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionTrafficResponse" message="tns:inetSessionTrafficResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionTraffic/Fault/BGException"/>
    </operation>
    <operation name="inetSessionTrafficMax">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionTrafficMaxRequest" message="tns:inetSessionTrafficMax"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionTrafficMaxResponse" message="tns:inetSessionTrafficMaxResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionTrafficMax/Fault/BGException"/>
    </operation>
    <operation name="inetSessionTrafficRange">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionTrafficRangeRequest" message="tns:inetSessionTrafficRange"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionTrafficRangeResponse" message="tns:inetSessionTrafficRangeResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionTrafficRange/Fault/BGException"/>
    </operation>
    <operation name="inetContractTraffic">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetContractTrafficRequest" message="tns:inetContractTraffic"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetContractTrafficResponse" message="tns:inetContractTrafficResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetContractTraffic/Fault/BGException"/>
    </operation>
    <operation name="inetSessionAccountSums">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionAccountSumsRequest" message="tns:inetSessionAccountSums"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionAccountSumsResponse" message="tns:inetSessionAccountSumsResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/inetSessionAccountSums/Fault/BGException"/>
    </operation>
    <operation name="connectionFind">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionFindRequest" message="tns:connectionFind"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionFindResponse" message="tns:connectionFindResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionFind/Fault/BGException"/>
    </operation>
    <operation name="connectionRebind">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionRebindRequest" message="tns:connectionRebind"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionRebindResponse" message="tns:connectionRebindResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionRebind/Fault/BGException"/>
    </operation>
    <operation name="connectionsStop">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionsStopRequest" message="tns:connectionsStop"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionsStopResponse" message="tns:connectionsStopResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetSessionService/connectionsStop/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="InetSessionServiceBinding" type="tns:InetSessionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="inetSessionAliveList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetSessionLogList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetSessionAliveContractList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetSessionLogContractList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="connectionClose">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="connectionCloseOld">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="connectionFinish">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="connectionFinishOld">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetSessionExportSendToEmail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetSessionExportOld">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetSessionExport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetSessionLogContractListExport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetSessionDetail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetSessionPeriodDetail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetSessionTraffic">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetSessionTrafficMax">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetSessionTrafficRange">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetContractTraffic">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetSessionAccountSums">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="connectionFind">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="connectionRebind">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="connectionsStop">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="InetSessionService">
    <port name="InetSessionService" binding="tns:InetSessionServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

