soap/inet/src/main/wsdl/original/ru/bitel/bgbilling/modules/inet/api/common/service/InetLogManagementService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/" name="InetLogManagementService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsc:schema elementFormDefault="unqualified" version="1.0" targetNamespace="http://common.bitel.ru" xmlns:common="http://common.bitel.ru" xmlns:tns="http://common.bitel.ru" xmlns:xsc="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

      <xsc:import namespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/"/>

      <xsc:element name="result" type="tns:result"/>

      <xsc:complexType name="result">
        <xsc:sequence>
          <xsc:element name="data" minOccurs="0">
            <xsc:complexType>
              <xsc:sequence>
                <xsc:element name="item" type="xsc:anyType" minOccurs="0" maxOccurs="unbounded"/>
              </xsc:sequence>
            </xsc:complexType>
          </xsc:element>
          <xsc:element name="page" type="tns:page" minOccurs="0"/>
          <xsc:element name="attributes" type="ns1:list" minOccurs="0"/>
        </xsc:sequence>
      </xsc:complexType>

      <xsc:complexType name="page">
        <xsc:sequence/>
        <xsc:attribute name="pageCount" type="xsc:int" use="required"/>
        <xsc:attribute name="pageIndex" type="xsc:int" use="required"/>
        <xsc:attribute name="pageSize" type="xsc:int" use="required"/>
        <xsc:attribute name="recordCount" type="xsc:int" use="required"/>
      </xsc:complexType>

      <xsc:complexType name="idTitle">
        <xsc:complexContent>
          <xsc:extension base="tns:id">
            <xsc:sequence/>
            <xsc:attribute name="title" type="xsc:string"/>
          </xsc:extension>
        </xsc:complexContent>
      </xsc:complexType>

      <xsc:complexType name="id">
        <xsc:sequence/>
        <xsc:attribute name="id" type="xsc:int" use="required"/>
      </xsc:complexType>
</xsc:schema>
    <xs:schema version="1.0" targetNamespace="http://service.common.api.inet.modules.bgbilling.bitel.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://common.bitel.ru">

      <xs:import namespace="http://common.bitel.ru"/>

      <xs:element name="BGException" type="tns:BGException"/>

      <xs:element name="inetAddCreateSessions" type="tns:inetAddCreateSessions"/>

      <xs:element name="inetAddCreateSessionsResponse" type="tns:inetAddCreateSessionsResponse"/>

      <xs:element name="inetAddProcessLogs" type="tns:inetAddProcessLogs"/>

      <xs:element name="inetAddProcessLogsResponse" type="tns:inetAddProcessLogsResponse"/>

      <xs:element name="inetDeleteCreateSessions" type="tns:inetDeleteCreateSessions"/>

      <xs:element name="inetDeleteCreateSessionsResponse" type="tns:inetDeleteCreateSessionsResponse"/>

      <xs:element name="inetDeleteProcessLogs" type="tns:inetDeleteProcessLogs"/>

      <xs:element name="inetDeleteProcessLogsResponse" type="tns:inetDeleteProcessLogsResponse"/>

      <xs:element name="inetLogExist" type="tns:inetLogExist"/>

      <xs:element name="inetLogExistResponse" type="tns:inetLogExistResponse"/>

      <xs:element name="inetLogLoading" type="tns:inetLogLoading"/>

      <xs:element name="inetLogLoadingResponse" type="tns:inetLogLoadingResponse"/>

      <xs:element name="inetLogSessionCreating" type="tns:inetLogSessionCreating"/>

      <xs:element name="inetLogSessionCreatingResponse" type="tns:inetLogSessionCreatingResponse"/>

      <xs:complexType name="inetLogExist">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int" minOccurs="0"/>
          <xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetLogExistResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:result" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="list" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="mapEntry">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string"/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractMapEntry" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="map">
        <xs:sequence>
          <xs:element name="entry" type="tns:entry" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="entry" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:abstractMapEntry">
            <xs:sequence>
              <xs:element name="key" type="xs:anyType" minOccurs="0"/>
              <xs:element name="value" type="xs:anyType" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="sortedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="linkedMap" final="extension restriction">
        <xs:complexContent>
          <xs:extension base="tns:map">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="collection" final="extension restriction">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BGException">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetAddProcessLogs">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int" minOccurs="0"/>
          <xs:element name="arg1" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetAddProcessLogsResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetDeleteCreateSessions">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int" minOccurs="0"/>
          <xs:element name="arg1" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetDeleteCreateSessionsResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetLogSessionCreating">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int" minOccurs="0"/>
          <xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetLogSessionCreatingResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:dataProcessRecord" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="dataProcessRecord">
        <xs:complexContent>
          <xs:extension base="ns2:id">
            <xs:sequence>
              <xs:element name="curentHour" type="xs:int"/>
              <xs:element name="day" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="deviceId" type="xs:int"/>
              <xs:element name="startTime" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="type" type="xs:byte"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="inetAddCreateSessions">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int" minOccurs="0"/>
          <xs:element name="arg1" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetAddCreateSessionsResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="inetLogLoading">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int" minOccurs="0"/>
          <xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetLogLoadingResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:dataProcessRecord" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetDeleteProcessLogs">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int" minOccurs="0"/>
          <xs:element name="arg1" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="inetDeleteProcessLogsResponse">
        <xs:sequence/>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="intArray" final="#all">
        <xs:sequence>
          <xs:element name="item" type="xs:int" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="inetLogExist">
    <part name="parameters" element="tns:inetLogExist"/>
  </message>
  <message name="inetLogExistResponse">
    <part name="parameters" element="tns:inetLogExistResponse"/>
  </message>
  <message name="BGException">
    <part name="fault" element="tns:BGException"/>
  </message>
  <message name="inetLogLoading">
    <part name="parameters" element="tns:inetLogLoading"/>
  </message>
  <message name="inetLogLoadingResponse">
    <part name="parameters" element="tns:inetLogLoadingResponse"/>
  </message>
  <message name="inetAddProcessLogs">
    <part name="parameters" element="tns:inetAddProcessLogs"/>
  </message>
  <message name="inetAddProcessLogsResponse">
    <part name="parameters" element="tns:inetAddProcessLogsResponse"/>
  </message>
  <message name="inetDeleteProcessLogs">
    <part name="parameters" element="tns:inetDeleteProcessLogs"/>
  </message>
  <message name="inetDeleteProcessLogsResponse">
    <part name="parameters" element="tns:inetDeleteProcessLogsResponse"/>
  </message>
  <message name="inetAddCreateSessions">
    <part name="parameters" element="tns:inetAddCreateSessions"/>
  </message>
  <message name="inetAddCreateSessionsResponse">
    <part name="parameters" element="tns:inetAddCreateSessionsResponse"/>
  </message>
  <message name="inetDeleteCreateSessions">
    <part name="parameters" element="tns:inetDeleteCreateSessions"/>
  </message>
  <message name="inetDeleteCreateSessionsResponse">
    <part name="parameters" element="tns:inetDeleteCreateSessionsResponse"/>
  </message>
  <message name="inetLogSessionCreating">
    <part name="parameters" element="tns:inetLogSessionCreating"/>
  </message>
  <message name="inetLogSessionCreatingResponse">
    <part name="parameters" element="tns:inetLogSessionCreatingResponse"/>
  </message>
  <portType name="InetLogManagementService">
    <operation name="inetLogExist">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetLogExistRequest" message="tns:inetLogExist"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetLogExistResponse" message="tns:inetLogExistResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetLogExist/Fault/BGException"/>
    </operation>
    <operation name="inetLogLoading">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetLogLoadingRequest" message="tns:inetLogLoading"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetLogLoadingResponse" message="tns:inetLogLoadingResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetLogLoading/Fault/BGException"/>
    </operation>
    <operation name="inetAddProcessLogs">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetAddProcessLogsRequest" message="tns:inetAddProcessLogs"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetAddProcessLogsResponse" message="tns:inetAddProcessLogsResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetAddProcessLogs/Fault/BGException"/>
    </operation>
    <operation name="inetDeleteProcessLogs">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetDeleteProcessLogsRequest" message="tns:inetDeleteProcessLogs"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetDeleteProcessLogsResponse" message="tns:inetDeleteProcessLogsResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetDeleteProcessLogs/Fault/BGException"/>
    </operation>
    <operation name="inetAddCreateSessions">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetAddCreateSessionsRequest" message="tns:inetAddCreateSessions"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetAddCreateSessionsResponse" message="tns:inetAddCreateSessionsResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetAddCreateSessions/Fault/BGException"/>
    </operation>
    <operation name="inetDeleteCreateSessions">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetDeleteCreateSessionsRequest" message="tns:inetDeleteCreateSessions"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetDeleteCreateSessionsResponse" message="tns:inetDeleteCreateSessionsResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetDeleteCreateSessions/Fault/BGException"/>
    </operation>
    <operation name="inetLogSessionCreating">
      <input wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetLogSessionCreatingRequest" message="tns:inetLogSessionCreating"/>
      <output wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetLogSessionCreatingResponse" message="tns:inetLogSessionCreatingResponse"/>
      <fault message="tns:BGException" name="BGException" wsam:Action="http://service.common.api.inet.modules.bgbilling.bitel.ru/InetLogManagementService/inetLogSessionCreating/Fault/BGException"/>
    </operation>
  </portType>
  <binding name="InetLogManagementServiceBinding" type="tns:InetLogManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="inetLogExist">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetLogLoading">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetAddProcessLogs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetDeleteProcessLogs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetAddCreateSessions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetDeleteCreateSessions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
    <operation name="inetLogSessionCreating">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BGException">
        <soap:fault name="BGException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="InetLogManagementService">
    <port name="InetLogManagementService" binding="tns:InetLogManagementServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

